@import "../../bootstrap/config.bs";

#directorist.atbd_wrapper {
  padding: 18px 20px;

  * {
    box-sizing: border-box;
  }
  .iris-picker, .iris-picker * {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  #gmap {
    height: 350px;
  }
  label {
    margin-bottom: $label-margin-bottom;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    color: $dark;
  }
  .map_wrapper {
    position: relative;
    #floating-panel {
      position: absolute;
      z-index: 2;
      right: 59px;
      top: 10px;
    }
  }

  a.btn {
    text-decoration: none;
  }
  [data-toggle="tooltip"]{
    color: #a1a1a7;
    font-size: 12px;
    &:hover{
      color: $dark;
    }
  }
  .single_prv_attachment{
    text-align: center;
    div{
      position: relative;
      display: inline-block;
      .remove_prev_img{
        position: absolute;
        top: -5px;
        right: -5px;
        background: #d3d1ec;
        line-height: 26px;
        width: 26px;
        border-radius: 50%;
        transition: 0.2s;
        cursor: pointer;
        color: #ffffff;
        &:hover{
          color: #c81d1d;
        }
      }
    }
  }
  #listing_image_btn span {
    vertical-align: text-bottom;
  }
  .default_img {
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    small {
      color: $text-color;
      font-size: 13px;
    }
  }
  .atbd_pricing_options{
    margin-bottom: 15px;
    label{
      font-size: 13px;
    }
    .bor{
      margin: 0 15px;
    }
    small{
      font-size: 12px;
      vertical-align: top;
    }
  }
  .listing-img-container {
    text-align: center;
    padding: 10px 0 15px;
    p {
      margin-top: 15px;
      margin-bottom: 4px;
      color: #7a82a6;
      font-size: 16px;
    }
    small {
      color: $text-color;
      font-size: 13px;
    }
    .single_attachment {
      width: 208px;
      display: inline-block;
      position: relative;
      .remove_image {
        position: absolute;
        top: -5px;
        right: -5px;
        background: #d3d1ec;
        line-height: 26px;
        width: 26px;
        border-radius: 50%;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        cursor: pointer;
        color: $light;
        &:hover {
          color: $danger;
        }
      }
    }
  }
  .field-options {
    margin-bottom: 15px;
  }
  .hide-if-no-js {
    text-align: center;
    margin: 0;
  }
  .form-check {
    margin-bottom: 25px;
    input {
      vertical-align: top;
    }
    .form-check-label {
      margin: 0;
      font-size: 15px;
    }
  }
  .atbd_optional_field {
    margin-bottom: 15px;
  }
  .extension_detail{
    margin-top: 20px;
    .btn_wrapper{
      margin-top: 25px;
    }
    &.ext_d{
      height:195px;
      position: relative;
      p{
        margin: 0;
      }
      .btn_wrapper{
        width: 100%;
        position: absolute;
        margin: 0;
        left: 0;
        bottom: 0;
      }
    }
  }
  .ext_title {
    text-align: center;
    a{
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
      color: $dark;
      transition: 0.3s;
      display: block;
    }
    &:hover {
      a{
        color: #6e63ff;
      }
    }
    .text-center{
      text-align: center;
    }
  }
  .attc_extension_wrapper {
    margin-top: 30px;
    .col-md-4{
      .single_extension{
        .btn{
          padding: 3px 15px;
          font-size: 14px;
        }
      }
    }
    .single_extension {
      margin-bottom: 30px;
      background: #ffffff;
      box-shadow: 0px 5px 10px #e1e7f7;
      padding: 25px;
      img {
        width: 100%;
      }
      &.coming_soon{
        img{
          opacity: 0.6;
        }
        a{
          pointer-events: none !important;
        }
        .ext_title{
          a:after{
            content: '(Coming Soon)';
            color: #ff0000;
            font-size: 14px;
          }
          &:hover a{
            color: inherit;
          }
        }
        .btn{
          opacity: 0.5;
        }
      }
    }
  }
  .btn_wrapper {
    a + a {
      margin-left: 10px;
    }
  }
  &.atbd_help_support {
    .wrap_left {
      width: 70%;
    }
    h3{
      font-size: 24px;
    }
    a{
      color: #387dff;
      &:hover{
        text-decoration: underline;
      }
    }
    .postbox {
      padding: 30px;
      h3{
        margin-bottom: 20px;
      }
    }
    .wrap {
      display: inline-block;
      vertical-align: top;
    }
    .wrap_right {
      width: 27%;
      .postbox {
        background: #0073aa;
        border-radius: 3px;
        box-shadow: 0 10px 20px rgba(103, 103, 103, 0.27);
        h3{
          color: #fff;
          margin-bottom: 25px;
        }
      }
    }
  }
  .shortcode_table td {
    font-size: 14px;
    line-height: 22px;
  }
  ul.atbdp_pro_features {
    li {
      font-size: 16px;
      margin-bottom: 12px;
      a{
        color: #ededed;
        &:hover{
          color: #fff;
        }
      }
    }
  }

  .atbdp-radio-list,
  .atbdp-checkbox-list{
    li{
      label{
        text-transform: capitalize;
        font-size: 13px;
        input{
          margin-right: 7px;
        }
      }
    }
  }
  .single_thm{
    .ext_title{
      h4{
        text-align: center;
      }
    }
    .btn_wrapper{
      text-align: center;
    }
  }
  /***********************************************************
************************************************************
css for Custom Field
*************************************************************
**************************************************************/
  .postbox table.widefat {
    box-shadow: none;
    background: #eff2f5;
  }

  #atbdp-field-details td {
    color: #555;
    font-size: 17px;
    width: 8%;
  }
  #atbdp-field-options td {
    color: #555;
    font-size: 17px;
    width: 8%;
  }
  .atbdp-tick-cross{
    margin-left: 18px;
  }
  .atbdp-tick-cross2{
    margin-left: 25px;
  }

  /*
  for shortable field*/
  .ui-sortable tr:hover {
    cursor: move;
  }
  .ui-sortable tr.alternate {
    background-color: #F9F9F9;
  }
  .ui-sortable tr.ui-sortable-helper {
    background-color: #F9F9F9;
    border-top: 1px solid #DFDFDF;
  }
  .business-hour{
    label{
      margin-bottom: 0;
    }
  }
}

#directorist.atbd_wrapper .form-group {
  margin-bottom: 30px;
  & > label{
    margin-bottom: 10px;
  }
  .atbd_pricing_options{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    label{
      margin-bottom: 0;
    }
    small{
      margin-left: 5px;
    }
    input[type="checkbox"]{
      position: relative;
      top: -2px;
    }
  }
}

#directorist.atbd_wrapper #category_container .form-group{
  margin-bottom: 0;
}
#directorist.atbd_wrapper{
  .g_address_wrap{
    margin-bottom: 15px;
  }
  .atbd_map_title{
    margin-bottom: 15px;
  }
  .map_wrapper{
    .map_drag_info{
      display: block;
      font-size: 12px;
      margin-top: 10px;
    }
  }
  .map-coordinate{
    margin-top: 15px;
    margin-bottom: 15px;
    label{
      margin-bottom: 0;
    }
  }
  #hide_if_no_manual_cor{
    .form-group .form-group{
      margin-bottom: 20px;
    }
  }
  .atbd_map_hide{
    margin-bottom: 0;
    label{
      margin-bottom: 0;
    }
  }
  #atbdp-custom-fields-list{
    margin: 13px 0 0 0;
  }
}
#_listing_video_gallery #directorist.atbd_wrapper{
  .form-group{
    margin-bottom: 0;
  }
}

@media (min-width: 1199px) and (max-width: 1510px), (min-width: 768px) and (max-width: 1187px), (min-width: 576px) and (max-width: 694px), (min-width: 320px) and (max-width: 373px){
  #directorist.atbd_wrapper{
    .btn.demo, .btn.get{
      display: block;
      margin: 0;
    }
    .btn.get{
      margin-top: 10px;
    }
  }
}

#directorist.atbd_wrapper #addNewSocial{
  margin-bottom: 15px;
}

#directorist.atbd_wrapper .atbdp_social_field_wrapper .form-group{
   margin-bottom: 15px;
}

.atbdp_social_field_wrapper select.form-control{
  height: 35px !important;
}

#atbdp-categories-image-wrapper{
  img{
    width: 150px;
  }
}
.vp-wrap .vp-checkbox .field label{
  display: block;
  margin-right: 0;
}
.vp-wrap .vp-section>h3 {
  color: #01b0ff;
  font-size: 15px;
  padding: 10px 20px;
  margin: 0;
  top: 12px;
  border: 1px solid #eee;
  left: 20px;
  background: #f2f4f7;
  z-index: 1;
}

#shortcode-updated .input label span{
  background: #008EC2;
  width: 160px;
  position: relative;
  border-radius: 3px;
  margin-top: 10px;
  &:before{
    content: 'Upgrade/Regenerate';
    position: absolute;
    color: #fff;
    left: 50%;
    top: 48%;
    transform:translate(-50%, -50%);
    border-radius: 3px;
  }
}
#shortcode-updated + #success_msg{
  color: #4caf50;
  padding-left: 15px;
}
.olControlAttribution{
  right: 10px !important;
  bottom: 10px !important;
}
.g_address_wrap ul{
  margin-top: 15px !important;
  li{
    margin-bottom: 8px;
    border-bottom: 1px solid #e3e6ef;
    padding-bottom: 8px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.plupload-thumbs .thumb{
  float: none !important;
}

#atbdp-categories-image-wrapper{
  position: relative;
  display: inline-block;
  .remove_cat_img{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #c4c4c4;
    right: -5px;
    top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s ease;
    &:hover{
      background: #ff0000;
      color: #fff;
    }
  }
}

@media (max-width: 400px) {
  #_listing_contact_info #directorist.atbd_wrapper{
    .form-check{
      padding-left: 40px;
    }
    .form-check-input{
      margin-left: -40px;
    }
    .map-coordinate {
      #manual_coordinate{
        display: inline-block;
      }
      .cor-wrap{
        label{
          display: inline;
        }
      }
    }
  }
  #delete-custom-img{
    margin-top: 10px;
  }
  .enable247hour{
    label{
      display: inline !important;
    }
  }
}