.directorist-setup-wizard-vh-none {
  height: auto;
}
.directorist-setup-wizard-wrapper {
  padding: 100px 0;
}
.atbdp-setup-content {
  font-family: Arial;
  width: 700px;
  color: #3e3e3e;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(146, 153, 184, 0.2);
  background-color: #fff;
  overflow: hidden;
}

.atbdp-setup-content .atbdp-c-header {
  padding: 32px 40px 23px;
  border-bottom: 1px solid #f1f2f6;
}

.atbdp-setup-content .atbdp-c-header h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.atbdp-setup-content .atbdp-c-body {
  padding: 30px 40px 50px;
}

.atbdp-setup-content .atbdp-c-logo {
  text-align: center;
  margin-bottom: 40px;
  img {
    width: 200px;
  }
}

.atbdp-setup-content .atbdp-c-body p {
  font-size: 16px;
  line-height: 26px;
  color: #5a5f7d;
}

.atbdp-setup-content .atbdp-c-body .atbdp-c-intro-title {
  font-size: 26px;
  font-weight: 500;
}

.wintro-text {
  margin-top: 100px;
}

.atbdp-setup-content .atbdp-c-footer {
  background-color: #f4f5f7;
  padding: 20px 40px;
  display: flex;
  justify-content: flex-end;
}

.atbdp-setup-content .atbdp-c-footer p {
  margin: 0;
}

.wbtn {
  padding: 0 20px;
  line-height: 48px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #e3e6ef;
  font-size: 15px;
  text-decoration: none;
  color: #5a5f7d;
  background-color: #fff;
  cursor: pointer;
}

.wbtn-primary {
  background-color: #4353ff;
  border-color: #4353ff;
  color: #fff;
  margin-left: 6px;
}

.w-skip-link {
  color: #5a5f7d;
  font-size: 15px;
  margin-right: 10px;
  display: inline-block;
  text-decoration: none;
}

.w-form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.w-form-group:last-child {
  margin-bottom: 0;
}

.w-form-group label {
  flex: 1;
  font-size: 15px;
  font-weight: 500;
}

.w-form-group div {
  flex: 1;
}

.w-form-group select,
.w-form-group input[type="text"] {
  width: 100%;
  height: 42px;
  border-radius: 4px;
  padding: 0 16px;
  border: 1px solid #c6d0dc;
  box-sizing: border-box;
  cursor: pointer;
}

.atbdp-sw-gmap-key small {
  display: block;
  margin-top: 4px;
  color: #9299b8;
}

.w-toggle-switch {
  position: relative;
  width: 48px;
  height: 26px;
}

.w-toggle-switch .w-switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0;
  font-size: 15px;
  left: 0;
  line-height: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 0;
  cursor: pointer;
}

.w-toggle-switch .w-switch:before,
.w-toggle-switch .w-switch:after {
  content: "";
  font-size: 15px;
  position: absolute;
}

.w-toggle-switch .w-switch:before {
  border-radius: 19px;
  background-color: #c8cadf;
  height: 26px;
  left: -4px;
  top: -3px;
  -webkit-transition: background-color 0.25s ease-out 0.1s;
  transition: background-color 0.25s ease-out 0.1s;
  width: 48px;
}

.w-toggle-switch .w-switch:after {
  box-shadow: 0 0 4px rgba(146, 155, 177, 0.15);
  border-radius: 50%;
  background-color: #fefefe;
  height: 18px;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.25s ease-out 0.1s;
  transition: -webkit-transform 0.25s ease-out 0.1s;
  transition: transform 0.25s ease-out 0.1s;
  transition: transform 0.25s ease-out 0.1s,
    -webkit-transform 0.25s ease-out 0.1s;
  width: 18px;
  top: 1px;
}

.w-toggle-switch .w-switch:checked:after {
  -webkit-transform: translate(20px, 0);
  transform: translate(20px, 0);
}

.w-toggle-switch .w-switch:checked:before {
  background-color: #4353ff;
}

.w-input-group {
  position: relative;
}

.w-input-group span {
  position: absolute;
  left: 1px;
  top: 1px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  padding: 0 12px;
  color: #9299b8;
  background-color: #eff0f3;
  border-radius: 4px 0 0 4px;
}

.w-input-group input {
  padding-left: 58px !important;
}

.wicon-done {
  display: inline-flex;
  font-size: 50px;
  background-color: #0fb73b;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 10px;
}

.wsteps-done {
  margin-top: 30px;
  text-align: center;
}

.wsteps-done h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}

.wbtn-outline-primary {
  border-color: #4353ff;
  color: #4353ff;
  margin-left: 6px;
}

.atbdp-c-footer-center {
  justify-content: center !important;
  padding: 30px !important;
}

.atbdp-c-footer-center a {
  color: #2c99ff;
}

.atbdp-none {
  display: none;
}

.directorist-importer__importing {
  position: relative;
}

.directorist-importer__importing h2 {
  margin-top: 0;
}

/* progressbar style */
.directorist-importer__importing progress {
  border-radius: 15px;
  width: 100%;
  height: 30px;
  overflow: hidden;
  position: relative;
}

.directorist-importer__importing .directorist-importer-wrapper {
  position: relative;
}

.directorist-importer__importing
  .directorist-importer-wrapper
  .directorist-importer-length {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.directorist-importer__importing
  .directorist-importer-wrapper
  .directorist-importer-length:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.25),
    transparent
  );
  animation: slideRight 2s linear infinite;
}

@keyframes slideRight {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}

.directorist-importer__importing progress::-webkit-progress-bar {
  background-color: #e8f0f8;
  border-radius: 15px;
}

.directorist-importer__importing progress::-webkit-progress-value {
  background-color: #2c99ff;
}

.directorist-importer__importing progress::-moz-progress-bar {
  background-color: #e8f0f8;
  border-radius: 15px;
  border: none;
  box-shadow: none;
}

.directorist-importer__importing progress[value]::-moz-progress-bar {
  background-color: #2c99ff;
}

.directorist-importer__importing span.importer-notice {
  display: block;
  color: #5a5f7d;
  font-size: 15px;
  padding-bottom: 13px;
}

.directorist-importer__importing span.importer-details {
  display: block;
  color: #5a5f7d;
  font-size: 15px;
  padding-top: 13px;
}

.directorist-importer__importing .spinner.is-active {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #ddd;
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  border-right-color: #4353ff;
  animation: swRotate 2s linear infinite;
}

@keyframes swRotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* custom select */
.w-form-group .select2-container--default .select2-selection--single {
  height: 40px;
  border: 1px solid #c6d0dc;
  border-radius: 4px;
}

.w-form-group
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #5a5f7d;
  line-height: 38px;
  padding: 0 15px;
}

.w-form-group
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 38px;
  right: 5px;
}

.w-form-group span.select2-selection.select2-selection--single:focus {
  outline: 0;
}

.select2-dropdown {
  border: 1px solid #c6d0dc !important;
  border-top: 0 none !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #eee !important;
}

.select2-container--default .select2-results__option--highlighted,
.select2-container--default
  .select2-results__option[aria-selected="true"].select2-results__option--highlighted {
  background-color: #4353ff !important;
}

.btn-hide {
  display: none;
}

// Wizard New Style
.directorist-setup-wizard {
  display: flex;
  align-items: flex-start;
  height: auto;
  margin: 0;
  font-family: 'Inter';
  @include e("wrapper") {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    background-color: #f4f5f7;
  }
  @include e("header") {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    @include e("step") {
      display: flex;
      flex: 1;
      gap: 15px;
      max-width: 700px;
      padding: 15px 0;
      flex-direction: column;
      align-items: center;
      @media (max-width: 767px) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 80px;
        width: 100%;
        padding: 15px 20px 0;
        box-sizing: border-box;
      }
      .atbdp-setup-steps {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        list-style: none;
        border-radius: 25px;
        overflow: hidden;
        li {
          display: flex;
          flex: 1;
          position: relative;
          &:after {
            content: "";
            display: inline-flex;
            width: 100%;
            height: 12px;
            background-color: #ebebeb;
          }
          &.done,
          &.active {
            &:after {
              background-color: #4353ff;
            }
          }
        }
      }
    }
  }
  @include e("logo") {
    display: flex;
    align-self: stretch;
    align-items: center;
    padding: 15px 25px;
    border-right: 1px solid #e7e7e7;
    @media (max-width: 767px) {
      border: none;
    }
    img {
      width: 140px;
    }
  }
  @include e("close") {
    display: flex;
    align-self: stretch;
    align-items: center;
    padding: 15px 25px;
    margin-inline-start: 138px;
    border-left: 1px solid #e7e7e7;
    @media (max-width: 1199px) {
      margin-inline-start: 0;
    }
    @include e("btn") {
      svg path {
        fill: #b7b7b7;
        transition: fill 0.3s ease;
      }
      &:hover {
        svg path {
          fill: #4353ff;
        }
      }
    }
  }
  @include e("footer") {
    display: flex;
    gap: 30px;
    padding: 15px 25px;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    @media (max-width: 375px) {
      gap: 20px;
      padding: 30px 20px;
    }
  }
  @include e("btn") {
    padding: 0 20px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    border-radius: 8px;
    font-size: 15px;
    background-color: #4353ff;
    border-color: #4353ff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.85;
    }
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
      cursor: not-allowed;
    }
    @media (max-width: 375px) {
      gap: 15px;
    }
    @include m("skip") {
      background: transparent;
      color: #000;
      padding: 0;
    }
    @include m("full") {
      width: 100%;
      text-align: center;
      box-sizing: border-box;
    }
    @include m("return") {
      color: #141414;
      background: #ebebeb;
    }
    @include m("next") {
      position: relative;
      gap: 10px;
      padding: 0 25px;
      @media (max-width: 375px) {
        padding: 0 20px;
      }
    }
    &.loading {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.5);
      }
      &:after {
        content: "";
        display: inline-flex;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #ffffff;
        border-top-color: #4353ff;
        position: absolute;
        top: 12px;
        right: 50%;
        transform: translateX(-50%);
        animation: spin 3s linear infinite;
      }
    }
  }
  @include e("next") {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    justify-content: flex-end;
    .directorist-setup-wizard__btn {
      height: 44px;
    }
    @media (max-width: 375px) {
      gap: 15px;
    }
  }
  @include e("back") {
    @include e("btn") {
      display: flex;
      gap: 10px;
      align-items: center;
      color: #000;
      &:hover {
        opacity: 0.85;
      }
    }
  }
  @include e("content") {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    @include e("title") {
      font-size: 30px;
      line-height: 36px;
      font-weight: 400;
      margin: 0 0 10px;
      color: #141414;
      @include m("section") {
        font-size: 24px;
        font-weight: 500;
        margin: 30px 0 15px;
      }
    }
    @include e("section-title") {
      font-size: 18px;
      line-height: 26px;
      font-weight: 600;
      margin: 0 0 15px;
      color: #141414;
    }
    @include e("desc") {
      font-size: 16px;
      font-weight: 400;
      margin: 0 0 10px;
      color: #484848;
    }
    @include e("header") {
      margin: 0 auto;
      text-align: center;
      @include m("listings") {
        max-width: 100%;
        text-align: center;
      }
      @include e("title") {
        font-size: 30px;
        line-height: 36px;
        font-weight: 400;
        margin: 0 0 10px;
        &:last-child {
          margin: 0;
        }
      }
      @include e("desc") {
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        margin: 0;
      }
    }
    @include e("items") {
      position: relative;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      padding: 40px;
      width: 100%;
      max-width: 720px;
      margin: 0 auto;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
      box-sizing: border-box;
      @media (max-width: 480px) {
        padding: 35px 25px;
      }
      @media (max-width: 375px) {
        padding: 30px 20px;
      }

      @include m("listings") {
        gap: 30px;
        padding: 40px 180px;
        flex-direction: column;
        @media (max-width: 991px) {
          padding: 40px 100px;
        }
        @media (max-width: 767px) {
          padding: 40px 50px;
        }
        @media (max-width: 480px) {
          padding: 35px 25px;
        }
        @media (max-width: 375) {
          padding: 30px 20px;
        }
      }
      @include m("completed") {
        flex-direction: column;
        text-align: center;
        gap: 0;
        padding: 40px 75px 50px;
        @media (max-width: 480px) {
          padding: 40px 30px 50px;
        }
        .congratulations-img {
          margin: 0 auto 10px;
        }
      }
    }
    @include e("import") {
      flex-direction: column;
      @include e("title") {
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        color: #141414;
      }
      @include e("wrapper") {
        display: flex;
        gap: 20px;
        flex-direction: column;
      }
      @include e("single") {
        label {
          font-size: 15px;
          font-weight: 400;
          position: relative;
          padding-left: 30px;
          color: #484848;
          cursor: pointer;
          &:before {
            content: "";
            display: inline-flex;
            width: 18px;
            height: 18px;
            border-radius: 4px;
            border: 1px solid #b7b7b7;
            position: absolute;
            left: 0;
            top: -1px;
          }
          &:after {
            content: "";
            background-image: url("../../../../images/check.svg");
            background-repeat: no-repeat;
            width: 9px;
            height: 7px;
            position: absolute;
            left: 5px;
            top: 6px;
            opacity: 0;
            transition: opacity 0.3s ease;
          }
        }
        input[type="checkbox"] {
          display: none;
          &:checked {
            ~ label {
              &:before {
                background-color: #4353ff;
                border-color: #4353ff;
              }
              &:after {
                opacity: 1;
              }
            }
          }
        }
      }
      @include e("btn") {
        margin-top: 20px;
      }
      @include e("notice") {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
      }
    }
    @include e("btns") {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      justify-content: center;
    }
    @include e("pricing") {
      @include e("checkbox") {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        .feature-title {
          font-size: 14px;
          color: #484848;
        }
        label {
          display: flex;
          position: relative;
          cursor: pointer;
          &:before {
            content: "";
            width: 40px;
            height: 20px;
            border-radius: 15px;
            border: 1px solid #4353ff;
            background: transparent;
            position: absolute;
            right: 0;
            top: 0;
          }
          &:after {
            content: "";
            position: absolute;
            right: 22px;
            top: 4px;
            width: 14px;
            height: 14px;
            border-radius: 100%;
            background-color: #4353ff;
            transition: all 0.3s ease;
          }
        }
        input[type="checkbox"] {
          display: none;
          &:checked {
            ~ label {
              &:before {
                background-color: #4353ff;
              }
              &:after {
                right: 5px;
                background-color: #ffffff;
              }
            }
            ~ .directorist-setup-wizard__content__pricing__amount {
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex: 0 0 100%;
            }
          }
        }
      }
      @include e("amount") {
        display: none;
        .price-title {
          font-size: 14px;
          color: #484848;
        }
        .price-amount {
          font-size: 14px;
          font-weight: 500;
          color: #141414;
          border-radius: 8px;
          background-color: #ebebeb;
          border: 1px solid #ebebeb;
          padding: 10px 15px;
          input {
            border: none;
            outline: none;
            box-shadow: none;
            padding: 0;
            max-width: 45px;
            background: transparent;
          }
        }
      }
    }
    @include e("gateway") {
      @include e("checkbox") {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 20px;
        &:last-child {
          margin: 0;
        }
        .gateway-title {
          font-size: 14px;
          color: #484848;
        }
        label {
          display: flex;
          position: relative;
          cursor: pointer;
          &:before {
            content: "";
            width: 40px;
            height: 20px;
            border-radius: 15px;
            border: 1px solid #4353ff;
            background: transparent;
            position: absolute;
            right: 0;
            top: 0;
          }
          &:after {
            content: "";
            position: absolute;
            right: 22px;
            top: 4px;
            width: 14px;
            height: 14px;
            border-radius: 100%;
            background-color: #4353ff;
            transition: all 0.3s ease;
          }
        }
        input[type="checkbox"] {
          display: none;
          &:checked {
            ~ label {
              &:before {
                background-color: #4353ff;
              }
              &:after {
                right: 5px;
                background-color: #ffffff;
              }
            }
          }
        }
        .enable-warning {
          flex: 0 0 100%;
          font-size: 12px;
          font-style: italic;
        }
      }
    }
    @include e("notice") {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 500;
      color: #484848;
      transition: color 0.3s eases;
      &:hover {
        color: #4353ff;
      }
    }
  }
  @include e("checkbox") {
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width: 480px) {
      width: 100%;
      label {
        width: 100%;
      }
    }
    @include m("custom") {
      flex: 0 0 100%;
      display: none;
    }
    label {
      position: relative;
      font-size: 14px;
      font-weight: 500;
      color: #141414;
      height: 40px;
      line-height: 38px;
      padding: 0 40px 0 15px;
      border-radius: 5px;
      border: 1px solid #d6d6d6;
      transition: background-color 0.3s ease;
      box-sizing: border-box;
      cursor: pointer;
      &:before {
        content: "";
        background-image: url("../../../../images/checkbox.svg");
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        opacity: 0;
      }
    }
    input[type="checkbox"] {
      display: none;
      &:checked {
        ~ label {
          background-color: #4353ff40;
          border-color: transparent;
          &::before {
            opacity: 1;
          }
        }
      }
      &:disabled {
        ~ label {
          background-color: #ebebeb;
          color: #b7b7b7;
          cursor: not-allowed;
        }
      }
    }
    input[type="text"] {
      width: 100%;
      height: 42px;
      border-radius: 4px;
      padding: 0 16px;
      background-color: #ebebeb;
      border: none;
      outline: none;
      box-sizing: border-box;
      &::placeholder {
        font-size: 14px;
        font-weight: 400;
        color: #787878;
      }
    }
  }
  @include e("counter") {
    width: 100%;
    text-align: left;
    @include e("title") {
      font-size: 20px;
      font-weight: 600;
      color: #141414;
      margin: 0 0 10px;
    }
    @include e("desc") {
      display: none;
      font-size: 14px;
      color: #404040;
      margin: 0 0 10px;
    }
    .selected_count {
      color: #4353ff;
    }
  }
  @include e("introduction") {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0 100px;
  }
  @include e("step") {
    display: flex;
    flex: 1;
    gap: 15px;
    padding: 50px 15px 100px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    @media (max-width: 767px) {
      padding-top: 100px;
    }
  }
  @include e("box") {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 30px 40px 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    @media (max-width: 480px) {
      padding: 30px 25px;
    }
    @media (max-width: 375px) {
      padding: 30px 20px;
    }
    @include e("content") {
      @include e("title") {
        font-size: 24px;
        font-weight: 400;
        margin: 0 0 5px;
        color: #141414;
        @include m("section") {
          font-size: 15px;
          font-weight: 400;
          color: #141414;
          margin: 0 0 10px;
        }
      }
      @include e("desc") {
        font-size: 15px;
        font-weight: 400;
        margin: 0 0 25px;
        color: #484848;
      }

      @include e("form") {
        position: relative;
        &:before {
          content: "";
          background-image: url("../../../../images/search.svg");
          background-repeat: no-repeat;
          width: 14px;
          height: 14px;
          position: absolute;
          left: 18px;
          top: 14px;
        }
        .address_result {
          background-color: #ffffff;
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        }
        &.directorist-search-field {
          .directorist-setup-wizard__box__content__input--clear {
            display: none;
          }
          &.input-is-focused {
            .directorist-setup-wizard__box__content__input--clear {
              display: block;
            }
          }
        }
        
      }
      @include e("input") {
        width: 100%;
        height: 44px;
        border-radius: 8px;
        padding: 0 40px;
        padding-right: 60px;
        outline: none;
        background-color: #ebebeb;
        border: 1px solid #ebebeb;
        box-sizing: border-box;
        @include m("clear") {
          position: absolute;
          right: 40px;
          top: 14px;
          .directorist-icon-mask::after {
            width: 16px;
            height: 16px;
            background-color: #484848;
          }
        }
      }
      @include e("location-icon") {
        position: absolute;
        right: 18px;
        top: 14px;
        .directorist-icon-mask::after {
          width: 16px;
          height: 16px;
          background-color: #484848;
        }
      }
    }
  }
  @include e("map") {
    margin-top: 20px;
    #gmap {
      height: 280px;
      border-radius: 8px;
    }
    .leaflet-touch .leaflet-bar a {
      background: #ffffff;
    }
    .leaflet-marker-icon .directorist-icon-mask:after {
      width: 30px;
      height: 30px;
      background-color: #e23636;
      mask-image: url("../../../../icons/font-awesome/svgs/solid/map-marker-alt.svg");
    }
  }
  @include e("notice") {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
    color: #f80718;
  }
}

// Keyframes
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* data Progressing */
.directorist-setup-wizard__step {
  .directorist-setup-wizard__content{
    &.hidden{
      display: none;
    }
  }
}
.middle-content {
  &.middle-content-import {
    background: white;
    padding: 40px;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05),
      0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    width: 600px;
    border-radius: 10px;
  }
  &.hidden{
    display: none;
  }
}


.directorist-import-progress-info-text {
  display: flex;
  align-items: center;
  align-content: center;
  grid-gap: 10px;
}

.directorist-import-progress,
.directorist-import-error {
  margin-top: 25px;
  .directorist-import-progress-bar-wrap {
    position: relative;
    overflow: hidden;
  }
  .import-progress-gap {
    span {
      background: white;
      height: 6px;
      position: absolute;
      width: 10px;
      top: -1px;
      &:nth-child(1) {
        left: calc(25% - 10px);
      }
      &:nth-child(2) {
        left: calc(50% - 10px);
      }
      &:nth-child(3) {
        left: calc(75% - 10px);
      }
    }
  }
  .directorist-import-progress-bar-bg {
    height: 4px;
    background: #e5e7eb;
    width: 100%;
    position: relative;
    .directorist-import-progress-bar {
      position: absolute;
      left: 0;
      top: 0;
      background: #2563eb;
      transition: all 1s;
      width: 0%;
      height: 100%;
      &.import-done {
        background: #38c172;
      }
    }
  }
  .directorist-import-progress-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.directorist-import-error {
  .directorist-import-error-box {
    overflow-y: scroll;
  }
  .directorist-import-progress-bar-bg {
    width: 100%;
    margin-bottom: 15px;
    .directorist-import-progress-bar {
      background: #2563eb;
    }
  }
}

.directorist-import-process-step-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img{
    width: 335px;
    text-align: center;
    display: inline-block;
    padding: 20px 10px 0;
  }
}

.import-done-congrats {
  display: flex;
  align-items: center;
  span {
    margin-left: 17px;
  }
}

.import-done-section {
  margin-top: 60px;
  .tweet-import-success {
    .tweet-text {
      background: #ffffff;
      border: 1px solid rgba(34, 101, 235, 0.1);
      border-radius: 4px;
      padding: 14px 21px 14px 21px;
    }
    .twitter-btn-wrap {
      display: flex;
      align-items: center;
      gap: 7px;
      right: 30px;
      position: absolute;
      margin-top: 8px;
      text-decoration: none;
    }
  }

  .import-done-text {
    margin-top: 60px;
    .import-done-counter {
      text-align: left;
    }
    .import-done-button {
      margin-top: 25px;
    }
  }
}

.directorist-import-done-inner,
.import-done-counter,
.import-done-section {
  display: none;
}
.import-done {
  .import-status-string,
  .directorist-import-text-inner {
    display: none;
  }
  .import-done-counter,
  .directorist-import-done-inner,
  .import-done-section {
    display: block;
  }
}

.import-progress-warning {
  position: relative;
  top: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #e91e63;
  display: block;
  text-align: center;
}
