# Global
*                                                                 @vairafiq

# Templates
/includes/model/                                                  @kowsar89
/templates/                                                       @kowsar89

# Elementor
/includes/elementor/                                              @kowsar89

# Gutenberg
/includes/gutenberg/                                              @obiPlabon

# Appsero
/includes/modules/appsero/                                        @obiPlabon

# Others
/includes/classes/class-shortcode.php                             @kowsar89
/includes/classes/class-template-hooks.php                        @kowsar89