.directorist-gb-fixed-control {
    .components-input-control__container {
        max-width: 120px;
    }

    .components-base-control__field {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .components-text-control__input {
            max-width: 60px;
        }
    }
}

.directorist-gb-cb-list-control ul {
    margin-top: 10px;
}

.wp-block-directorist-all-categories,
.wp-block-directorist-user-dashboard,
.wp-block-directorist-all-listing,
.wp-block-directorist-category,
.wp-block-directorist-location,
.wp-block-directorist-tag {
    &.is-hovered {
        position: relative;
    
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
        }
    }
}
