@import "../../vendor/bootstrap/config.bs.scss";
//base css
@import "./../../base/index";
//mixins
@import "./../../mixins/colors";
@import "./../../mixins/general";


// Component Import
// ----------------------------------
// Global Styles
@import "./../../component/add-listing.scss";
@import "./../../component/directorist-plupload";
@import "./../../component/openstreet-map/index.scss";

// Public Styles
@import "./../../component/plasma-slider";
@import "./../../component/plasma-slider-custom";
@import "./../../component/general";
@import "./../../component/widget";
@import "./../../component/button";
@import "./../../component/badge";
@import "./../../component/range-slider";
@import "./../../component/dropdown";
@import "./../../component/switch";
@import "./../../component/tooltip";
@import "./../../component/alert";
@import "./../../component/modal";
@import "./../../component/card";
@import "./../../component/color-picker";
@import "./../../component/form";
@import "./../../component/tab";
@import "./../../component/typography";
@import "./../../component/utility";
@import "./../../component/checkbox-radio";
@import "./../../component/author-profile";
@import "./../../component/location-category";
@import "./../../component/archive";
@import "./../../component/advanced-search";
@import "./../../component/search-home";
@import "./../../component/pagination";
@import "./../../component/category-location";
@import "./../../component/atmodal";
@import "./../../component/authentication";
@import "./../../component/all-authors";
@import "./../../component/select2-custom-control";

// Modules
@import "../../module/listings";
@import "../../module/listing-details";
@import "../../module/user-dashboard";
@import "../../module/home";

// Layouts
@import "./search-home";

// Payments
@import "./../../component/payment/checkout-receipt";


.directorist-iframe {
  border: none;
}

.ads-advanced .bottom-inputs {
  flex-grow: 1;
}

/*responsive css */
@media (min-width: 992px) and (max-width: 1199px) {

  .atbd_content_active .widget.atbd_widget,
  .atbd_content_active #directorist.atbd_wrapper .widget.atbd_widget {
    .atbd_categorized_listings {
      .cate_title {
        h4 {
          overflow: hidden;
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
        }
      }

      padding: 0 20px;
    }

    .atbdp,
    .directorist {
      padding: 20px 20px 15px;
    }
  }

  .atbd_content_active #directorist.atbd_wrapper .atbdp_column {
    width: 33.3333% !important;
  }

  #directorist.atbd_wrapper .atbdp_col-5 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .atbd_content_active #directorist.atbd_wrapper .atbdp_column {
    width: 50% !important;
  }

  .atbd_content_active #directorist.atbd_wrapper.dashboard_area .user_pro_img_area .user_img .ezmu__thumbnail-img {
    height: 114px;
    width: 114px !important;
  }
}

@media (max-width: 991px) {
  .ads-advanced .price-frequency {
    margin-left: -2px;
  }

  #directorist.atbd_wrapper .atbdp_col-5 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }

  .ads-advanced .atbdp-custom-fields-search .form-group {
    width: 50%;
  }

  .ads-advanced .atbd_seach_fields_wrapper .single_search_field {
    margin-bottom: 10px;
    margin-top: 0 !important;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_seach_fields_wrapper .atbdp-search-form {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (max-width: 767px) {
  .atbd_content_active #directorist.atbd_wrapper .atbd_seach_fields_wrapper .atbdp-search-form .single_search_field {
    flex: 0 0 100%;
    margin-top: 0;
    margin-top: 10px;

    &:last-child {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  #directorist.atbd_wrapper .atbd_seach_fields_wrapper .atbdp-search-form.atbdp-search-form-inline .single_search_field {
    border-right: 0;
  }

  #directorist.atbd_wrapper .atbd_seach_fields_wrapper .atbdp-search-form.atbdp-search-form-inline {
    padding-right: 0;
  }

  #directorist {
    .atbd_listing_details .atbd_area_title {
      margin-bottom: 15px;
    }
  }

  .atbd_content_active #directorist.atbd_wrapper .atbdp_column {
    width: 50% !important;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_auhor_profile_area {
    padding: 20px 15px;

    .atbd_author_meta {
      margin-top: 30px;
    }
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_all_categories .col-md-6 .atbd_category_single {
    height: 200px;
  }

  .ads-advanced .bottom-inputs>div {
    width: 50%;
  }

  #directorist.atbd_wrapper .atbdp_col-5 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_directry_gallery_wrapper .atbd_big_gallery img {
    width: 100%;
  }

  .atbd_content_active #directorist.atbd_wrapper.atbd_add_listing_wrapper {
    #atbdp_socialInFo {
      .atbdp_social_field_wrapper {
        .form-group {
          margin-bottom: 15px;
        }
      }
    }

    .atbdp_faqs_wrapper .form-group {
      margin-bottom: 15px;
    }
  }

  .atbd_content_active #directorist.atbd_wrapper.dashboard_area .user_pro_img_area {
    margin-bottom: 30px;
  }

  .ads-advanced .atbdp-custom-fields-search .form-group {
    width: 100%;
  }

  .ads-advanced .atbdp-custom-fields-search .form-group.atbdp_cf_select label,
  .ads-advanced .atbdp-custom-fields-search .form-group.atbdp_cf_date label,
  .ads-advanced .atbdp-custom-fields-search .form-group.atbdp_cf_time label,
  .ads-advanced .atbdp-custom-fields-search .form-group.atbdp_cf_color label {
    flex: none;
  }

  .ads-advanced .bdas-filter-actions {
    flex-wrap: wrap;
  }

  .edit_btn_wrap .atbdp_float_active {
    bottom: 80px;

    .btn {
      font-size: 15px !important;
      padding: 13px 30px !important;
      line-height: 20px !important;
    }
  }

  .nav_button {
    z-index: 0;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_seach_fields_wrapper .atbdp-search-form .single_search_field {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_content_module_title_area .atbd_listing_action_area .atbd_action.atbd_share:hover .atbd_directory_social_wrap,
  .atbd_content_active #directorist.atbd_wrapper .atbd_content_module__tittle_area .atbd_listing_action_area .atbd_action.atbd_share:hover .atbd_directory_social_wrap {
    left: auto;
    right: 0;
  }
}

@media (max-width: 650px) {
  .atbd_content_active #directorist.atbd_wrapper .atbd_auhor_profile_area {
    padding-top: 30px;
    padding-bottom: 27px;

    .atbd_author_avatar,
    .atbd_author_meta {
      flex: none;
      width: 100%;
      justify-content: center;
    }

    .atbd_author_avatar {
      align-items: center;
      flex-direction: column;
      text-align: center;

      img {
        width: 80px;
      }

      .atbd_auth_nd {
        margin: 10px 0 0;

        p {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 575px) {

  .atbd_content_active #directorist.atbd_wrapper .atbd_auhor_profile_area {
    .atbd_author_avatar {
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;

      .atbd_auth_nd {
        margin-top: 10px;
      }
    }

    .atbd_author_meta {
      width: 100%;
      justify-content: center;
    }
  }

  .atbd_content_active #directorist.atbd_wrapper.dashboard_area .atbd_saved_items_wrapper .atbd_single_saved_item {
    border: 0 none;
    padding: 0;

  }

  .atbd_content_active #directorist.atbd_wrapper .atbdp_column {
    width: 100% !important;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_author_listings_area {
    display: block;

    .atbd_author_filter_area {
      margin-top: 15px;
    }
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_auhor_profile_area .atbd_author_avatar .atbd_auth_nd {
    margin-left: 0;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_custom_fields>li {
    display: block;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_custom_fields .atbd_custom_field_title,
  .atbd_content_active #directorist.atbd_wrapper .atbd_custom_fields .atbd_custom_field_content {
    width: 100%;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_custom_fields .atbd_custom_field_content {
    border: 0 none;
    padding-top: 0;
    padding-right: 30px;
    padding-left: 30px;
  }

  .ads-advanced .bottom-inputs>div {
    width: 100%;
  }

  .ads-advanced .price_ranges,
  .ads-advanced .select-basic,
  .ads-advanced .bads-tags,
  .ads-advanced .bads-custom-checks,
  .ads-advanced .atbdp_custom_radios,
  .ads-advanced .wp-picker-container,
  .ads-advanced .form-group>.form-control,
  .ads-advanced .atbdp-custom-fields-search .form-group .form-control {
    flex: auto;
    width: 100% !important;
  }

  .ads-advanced .form-group label {
    margin-bottom: 10px !important;
  }

  .ads-advanced .more-less,
  .ads-advanced .more-or-less {
    text-align: left;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_generic_header .atbd_listing_action_btn {
    margin-left: 0;
    flex-wrap: wrap;
  }

  #directorist.atbd_wrapper .atbdp_col-5 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_generic_header {
    .atbd_generic_header_title {
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 5px 0;

      h3 {
        margin-right: 10px;
      }
    }

    .atbd_listing_action_btn {
      margin: 5px 0;
    }
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_contact_info ul li .atbd_info_title,
  .atbd_content_active #directorist.atbd_wrapper .atbd_contact_info ul li .atbd_info {
    width: 100%;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_contact_info ul li .atbd_info {
    padding-left: 45px;
    word-break: break-all;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_embeded_video {
    margin-bottom: 0;
  }

  .ads-advanced .bdas-filter-actions .btn {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }

  .atbdpr-range .atbd_slider-range-wrapper {
    margin: 0;
  }

  .atbdpr-range .atbd_slider-range-wrapper .atbd_slider-range,
  .atbdpr-range .atbd_slider-range-wrapper .d-flex {
    flex: none;
    width: 100%;
  }

  .atbdpr-range .atbd_slider-range-wrapper .atbd_slider-range {
    margin-left: 0;
    margin-right: 0;
  }

  .atbdpr-range .atbd_slider-range-wrapper .d-flex {
    padding: 0 !important;
    margin: 5px 0 0 !important;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_single_listing.atbd_listing_list .atbd_single_listing_wrapper {
    display: block;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_single_listing.atbd_listing_list .atbd_single_listing_wrapper .atbd_listing_thumbnail_area img {
    border-radius: 3px 3px 0 0;
  }

  .edit_btn_wrap .atbdp_float_active {
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;

    .btn {
      margin: 0 5px !important;
      font-size: 15px !important;
      padding: 10px 20px !important;
      line-height: 18px !important;
    }
  }

  .atbd_post_draft {
    padding-bottom: 80px;
  }

  .ads-advanced .atbd_seach_fields_wrapper .single_search_field {
    margin-bottom: 10px !important;
    margin-top: 0 !important;
  }

  .atbd-listing-tags .atbdb_content_module_contents ul li {
    flex: 0 0 50%;
  }

  #directorist.atbd_wrapper .atbd_seach_fields_wrapper .atbdp-search-form.atbdp-search-form-inline {
    padding-right: 0;
  }
}

/* Utility */
.adbdp-d-none {
  display: none;
}

.atbdp-px-5 {
  padding: 0 5px !important;
}

.atbdp-mx-5 {
  margin: 0 5px !important;
}

.atbdp-form-actions {
  margin: 30px 0;
  text-align: center;
}

.atbdp-icon {
  display: inline-block;
}

.atbdp-icon-large {
  display: block;
  margin-bottom: 20px;
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 400px) {

  .atbd_content_active #directorist.atbd_wrapper .atbd_contact_info ul li .atbd_info_title,
  .atbd_content_active #directorist.atbd_wrapper .atbd_contact_info ul li .atbd_info {
    width: 100%;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_contact_info ul li .atbd_info {
    padding-left: 45px;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_generic_header .atbd_generic_header_title .more-filter,
  .atbd_content_active #directorist.atbd_wrapper .atbd_generic_header .atbd_generic_header_title h3 {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .atbd_content_active #directorist.atbd_wrapper .widget.atbd_widget .atbd_categorized_listings ul li .atbd_right_content .atbd_cat_popup .atbd_cat_popup_wrapper,
  .atbd_content_active .widget.atbd_widget .atbd_categorized_listings ul li .atbd_right_content .atbd_cat_popup .atbd_cat_popup_wrapper {
    left: -90px;
  }

  .atbd_content_active #directorist.atbd_wrapper .widget.atbd_widget .atbd_listing_info .atbd_listing_category .atbd_cat_popup .atbd_cat_popup_wrapper:before,
  .atbd_content_active #directorist.atbd_wrapper .widget.atbd_widget .atbd_categorized_listings ul li .atbd_right_content .atbd_cat_popup .atbd_cat_popup_wrapper:before,
  .atbd_content_active .widget.atbd_widget .atbd_categorized_listings ul li .atbd_right_content .atbd_cat_popup .atbd_cat_popup_wrapper:before {
    left: auto;
    right: 15px;
  }

  .atbd_content_active #directorist.atbd_wrapper .at-modal .atm-contents-inner .dcl_pricing_plan .atbd_plan_core_features span {
    display: block;
    margin-right: 0;
    padding-right: 0;
    padding-left: 15px;

    &:after {
      content: '-' !important;
      right: auto;
      left: 0;
    }
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_saved_items_wrapper .thumb_title .img_wrapper img {
    max-width: none;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_content_module_title_area .atbd_listing_action_area .atbd_action.atbd_share:hover .atbd_directory_social_wrap,
  .atbd_content_active #directorist.atbd_wrapper .atbd_content_module__tittle_area .atbd_listing_action_area .atbd_action.atbd_share:hover .atbd_directory_social_wrap {
    right: -40px;
  }
}

@media (max-width: 340px) {
  .atbd_content_active #directorist.atbd_wrapper .atbd_generic_header .atbd_listing_action_btn {
    display: flex;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_listing_action_btn .dropdown {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .atbd_content_active #directorist.atbd_wrapper .atbd_listing_action_btn .dropdown+.dropdown {
    margin-left: 0;
  }

  .atbd-listing-tags .atbdb_content_module_contents ul li {
    flex: 0 0 100%;
  }
}



//responsive css
@import "./../../component/responsive";