// Search Home Styles
.directorist-search-top{
    text-align: center;
    margin-bottom: 34px;
    @include e(title){
        color: #51526E;
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 18px;
    }
    @include e(subtitle){
        color: #51526E;
        font-size: 18px;
        opacity: .80;
        text-align: center;
    }
}

.directorist-search-home-contents{
    background-size: cover;
    padding: 230px 0 265px;
    z-index: 2;
}
// Search Border Boder
.directorist-search-form-wrap{
    &.directorist-with-search-border{
        .directorist-search-form-top{
            border: 1px solid #ECECEC;
        }
    }
}

// Directorist Listing Type Selection
.directorist-listing-type-selection{
    display: flex;
    justify-content: center;
    align-items: center;
    .directorist-listing-type-selection__item{
        margin-bottom: 25px;
        &:not(:last-child){
            margin-right: 25px;
        }
        a{
            text-decoration: none;
            font-size: 15px;
            padding: 6px 0;
            font-weight: 500;
            display: block;
            color: #8F8E9F;
            position: relative;
            &::after{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                border-radius: 6px;
                content: '';
                opacity: 0;
                visibility: hidden;
                background-color: $dark;
            }
        }
        .directorist-listing-type-selection__link--current{
            color: $dark;
            &::after{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
// Directorist Search form top
.directorist-search-home-contents{
    .directorist-search-form-top{
        background-color: #fff;
        border-radius: 6px;
        padding: 10px 20px 10px 0;
        flex-wrap: wrap;
        margin: -5px 0;
        .directorist-search-field{
            flex: auto;
            flex-direction: column;
            align-items: flex-start;
            min-width: 200px;
            margin: 5px 0;
            &:not(:last-child){
                border-right: 1px solid $border-color;
            }
            .directorist-form-element{
                border: 0 none;
            }
            .directorist-select .directorist-select__label{
                border: 0 none;
            }
            >label{
                display: none;
            }
            .wp-picker-container{
                .wp-picker-input-wrap{
                    label{
                        display: none;
                    }
                }
            }
            .directorist-search-tags {
                flex-direction: column;
                padding: 10px 15px;
                .directorist-checkbox{
                    margin-bottom: 10px;
                }
            }
            .directorist-range-slider-wrap{
                padding: 10px 15px;
            }
            .directorist-btn-ml{
                font-size: 14px;
                color: #7a82a6;
                text-decoration: none;
            }
        }
        .directorist-search-form-action{
            display: flex;
            .directorist-btn.directorist-btn-lg{
                border-radius: 6px;
                font-weight: 400;
                line-height: 1.75;
                padding: 11px 15px;
            }
            button{
                text-decoration: none;
                text-transform: capitalize;
            }
            @include e(filter){
                .directorist-filter-btn{
                    background-color: #fff;
                }
            }
        }
    }
}

// Search Home Advance Filter
.directorist-search-home-contents{
    .directorist-advanced-filter{
        border: 1px solid #e3e6ef;
        margin-top: 25px;
        background: #fff;
    }
}

// Directorist listing Category
.directorist-listing-category-top{
    text-align: center;
    margin-top: 25px;
    ul{
        margin: -15px;
        display: flex;
        align-items: center;
        justify-content: center;
        li{
            margin: 15px;
            a{
                color: #51526E;
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
                display: flex;
                align-items: center;
                i,
                span.fa,
                span.la{
                    color: #8F8E9F;
                    margin-right: 4px;
                }
                p{
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 0;
                }
            }
        }
    }
}