// Search Home Styles
.directorist-search-top {
    text-align: center;
    margin-bottom: 34px;

    @include e(title) {
        color: #51526E;
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 18px;
    }

    @include e(subtitle) {
        color: #51526E;
        font-size: 18px;
        opacity: .80;
        text-align: center;
    }
}

.directorist-search-contents {
    background-size: cover;
    padding: 100px 0 120px;
    z-index: 2;
}

// Search Border Boder
.directorist-search-form-wrap {
    &.directorist-with-search-border {
        .directorist-search-form-top {
            border: 1px solid #ECECEC;
        }
    }

    .directorist-search-form-box {
        position: relative;

        &.atbdp-form-fade {
            &:before {
                position: absolute;
                content: '';
                width: 40px;
                height: 40px;
                border: 2px solid #0A0B1E;
                border-top-color: transparent;
                border-radius: 50%;
                z-index: 2;
                left: 50%;
                top: 50%;
                margin-left: -20px;
                margin-top: -20px;
                -webkit-animation: atbd_spin 2s linear infinite;
                /* Safari */
                animation: atbd_spin 2s linear infinite;
                z-index: 9999;
            }

            &:after {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: rgba(255, 255, 255, 0.8);
                z-index: 1;
            }
        }

        .directorist-search-query{
            padding-right: 2px;
        }

        .directorist-form-group{
            .directorist-form-element{
                background-image: none !important;
            }
        }
    }
}

// Directorist Listing Type Selection
.directorist-listing-type-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    .directorist-listing-type-selection__item {
        margin-bottom: 25px;

        &:not(:last-child) {
            margin-right: 25px;
        }

        a {
            text-decoration: none;
            font-size: 15px;
            padding: 6px 0;
            font-weight: 500;
            display: block;
            color: #8F8E9F;
            position: relative;

            &:focus {
                background-color: transparent;
            }

            &::after {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                border-radius: 6px;
                content: '';
                opacity: 0;
                visibility: hidden;
                background-color: $dark;
            }
        }

        .directorist-listing-type-selection__link--current {
            color: $dark;

            &::after {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

// Directorist Search form top
.directorist-search-contents {
    .directorist-search-form-top {
        background-color: #fff;
        border-radius: 6px;
        padding: 10px 20px 10px 0;
        flex-wrap: wrap;
        margin: -5px 0;

        .directorist-search-field {
            flex: auto;
            flex-direction: column;
            align-items: flex-start;
            min-width: 200px;
            margin: 5px 0;

            &:not(:last-child) {
                border-right: 1px solid $border-color;
            }

            .directorist-form-element {
                border: 0 none;
            }

            .directorist-select .directorist-select__label {
                border: 0 none;
            }

            >label {
                display: none;
            }

            .wp-picker-container {
                .wp-picker-input-wrap {
                    label {
                        display: none;
                    }
                }
            }

            .directorist-search-tags {
                flex-direction: column;
                padding: 10px 15px;

                .directorist-checkbox {
                    margin-bottom: 10px;
                }
            }

            .directorist-range-slider-wrap {
                padding: 10px 15px;
                min-width: 220px;
            }

            .directorist-btn-ml {
                font-size: 14px;
                color: #7a82a6;
                text-decoration: none;
            }
        }

        .directorist-search-form-action {
            display: flex;

            .directorist-btn.directorist-btn-lg {
                border-radius: 6px;
                font-weight: 400;
                line-height: 1.75;
                padding: 11px 15px;
            }

            button {
                text-decoration: none;
                text-transform: capitalize;
            }

            @include e(filter) {
                .directorist-filter-btn {
                    background-color: #fff;
                }
            }
        }
    }
}

// Search Home Advance Filter
.directorist-search-contents {
    .directorist-advanced-filter {
        border: 1px solid #e3e6ef;
        margin-top: 25px;
        background: #fff;

        .directorist-search-tags {
            flex-wrap: wrap;
            margin: -5px;

            .directorist-checkbox {
                margin: 5px;

                .directorist-checkbox__label {
                    margin-left: 0;
                }
            }
        }
    }


    .directorist-btn-ml {
        &::after {
            font-family: 'Line Awesome Free';
            content: '\f107';
            font-weight: 900;
            padding-left: 5px;
        }

        &.active {
            &:after {
                content: '\f106';
            }
        }
    }
}

// Directorist listing Category
.directorist-content-active .directorist-listing-category-top {
    text-align: center;
    margin-top: 25px;

    h3 {
        font-size: 18px;
        font-weight: 400;
        color: #51526E;
        margin-bottom: 0;
    }

    ul {
        margin: 5px -15px -15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        li {
            margin: 15px;

            a {
                color: #51526E;
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
                display: flex;
                align-items: center;

                i,
                span,
                span.las,
                span.lar,
                span.lab,
                span.fab,
                span.fas,
                span.la {
                    font-size: 18px;
                    color: #8F8E9F;
                    margin-right: 4px;
                }

                p {
                    font-size: 14px;
                    font-weight: 500;
                    margin: 0;
                    color: #51526E;
                }
            }
        }
    }
}

.directorist-search-field {
    #address {
        &+.address_result {
            position: absolute;
            width: 100%;
            left: 0;
            top: 45px;
            background: #fff;
            box-shadow: 0 5px 10px rgba($light-gray, 0.2);
            border-radius: 3px;
            z-index: 1;
            max-height: 300px;
            overflow-y: scroll;

            ul {
                li {
                    border-bottom: 1px solid $border-color;
                    padding: 10px 15px 10px !important;

                    a {
                        font-size: 14px;
                        color: #7a82a6;
                        line-height: 22px;
                        display: block;

                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}