/node_modules
/.vscode
/.idea
/package-lock.json
languages/directorist-en_GB-backup-202002180310410.po~
languages/directorist-en_GB.mo
languages/directorist-en_GB.po
languages/directorist-en_GB-backup-202002181356150.po~
