#directorist.atbd_wrapper{
  //a {
  //  color: $link-color;
  //  text-decoration: $link-decoration;
  //  -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.
  //
  //  @include hover {
  //    color: $link-hover-color;
  //  }
  //}

  ul{
    padding-left: 0;
    list-style-type: none;
    li{
      list-style: none;
    }
  }
}