@import "../bootstrap/config.bs";
@import "reboot";
//mixins
@import "mixins/colors";
//components
@import "component/general";
@import "component/search-result";
@import "component/listing-details";
@import "component/listing";
@import "component/widget";
@import "component/pricing";
@import "component/button";
@import "component/add-listing";
@import "component/user-dashboard";
@import "component/home";
@import "component/public-profile";
@import "component/location-category";

/*responsive css */
@media (min-width: 992px) and (max-width: 1199px) {
  .atbd_content_active .widget.atbd_widget,
  .atbd_content_active #directorist.atbd_wrapper .widget.atbd_widget {
    .atbd_categorized_listings {
      .cate_title {
        h4 {
          overflow: hidden;
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
        }
      }
      padding: 0 20px;
    }
    .atbdp, .directorist {
      padding: 20px 20px 15px;
    }
  }
  .atbd_content_active #directorist.atbd_wrapper .atbdp_column {
    width: 33.3333% !important;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .atbd_content_active #directorist.atbd_wrapper .atbdp_column {
    width: 50% !important;
  }
}

@media (max-width: 991px) {
  #directorist {
    .single_search_field {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 767px) {
  #directorist {
    .atbd_listing_details .atbd_area_title {
      margin-bottom: 15px;
    }
  }
  .atbd_content_active #directorist.atbd_wrapper .atbdp_column {
    width: 100% !important;
  }
  .atbd_content_active #directorist.atbd_wrapper .atbd_auhor_profile_area .atbd_author_meta{
    width: 100%;
    justify-content: center;
    margin-top: 30px;
  }
  .atbd_content_active #directorist.atbd_wrapper .atbd_all_categories .col-md-6 .atbd_category_single{
    height: 200px;
  }
}

@media (max-width: 575px) {
  .atbd_content_active #directorist.atbd_wrapper .atbd_auhor_profile_area .atbd_author_avatar{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    .atbd_auth_nd{
      margin-top: 10px;
    }
  }
  .atbd_content_active #directorist.atbd_wrapper .atbd_author_listings_area{
    display: block;
    .atbd_author_filter_area{
      margin-top: 15px;
    }
  }
  .atbd_content_active #directorist.atbd_wrapper .atbd_auhor_profile_area .atbd_author_avatar .atbd_auth_nd{
    margin-left: 0;
  }
  .atbd_content_active #directorist.atbd_wrapper .atbd_generic_header .atbd_generic_header_title{
    margin-bottom: 10px;
  }
  .atbd_content_active #directorist.atbd_wrapper .atbd_custom_fields > li{
    display: block;
  }
  .atbd_content_active #directorist.atbd_wrapper .atbd_custom_fields .atbd_custom_field_title p{
    padding-left: 0;
    padding-right: 0;
  }
  .atbd_content_active #directorist.atbd_wrapper .atbd_custom_fields .atbd_custom_field_title,
  .atbd_content_active #directorist.atbd_wrapper .atbd_custom_fields .atbd_custom_field_content{
    width: 100%;
  }
  .atbd_content_active #directorist.atbd_wrapper .atbd_custom_fields .atbd_custom_field_content{
    border: 0 none;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 400px) {
  .atbd_content_active #directorist.atbd_wrapper .atbd_contact_info ul li .atbd_info_title,
  .atbd_content_active #directorist.atbd_wrapper .atbd_contact_info ul li .atbd_info{
    width: 100%;
  }
  .atbd_content_active #directorist.atbd_wrapper .atbd_contact_info ul li .atbd_info{
    padding-left: 45px;
  }
}