@import "@wordpress/dataviews/build-style/style.css";

.wpmvc-header{
    .components-button{
        &:hover{
            svg{
                fill: var(--wpmvc-primary-500);
                path{
                    fill: var(--wpmvc-primary-500);
                }
            }
        }
        svg{
            width: 14px;
            height: 14px;;
        }
        &.has-icon{
            border-radius: 4px;
            border: 1px solid rgba(75, 85, 99, 0.10);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        }
    }
}
// Table Typograpphy Style
.dataviews-view-table{
    tr{
        td{
            color: var(--wpmvc-gray-900);
        }
        .dataviews-item-actions{
            .components-button:not(.dataviews-all-actions-button) {
                opacity: 1;
            }
        }
    }
    .directorist-table-text-light{
        color: var(--wpmvc-gray-500);
    }
}

.dataviews__search{
    .components-input-control__container{
        background-color: #F0F0F0;
        border-radius: 2px;
    }
}

// Table Badge Style
.wpmvc-dashboard-wrapper{
    .directorist-badge{
        padding: 6px 8px;
        text-transform: math-auto;
    }
}