#map.leaflet-container,
#gmap.leaflet-container {
    margin-bottom: 30px;

    .leaflet-popup {
        /*rtl:begin:ignore*/
        //left: -95px !important;
        /*rtl:end:ignore*/
    }

    .leaflet-popup-content-wrapper {
        border-radius: 3px;
        padding: 0;

        .leaflet-popup-content {
            margin: 0;
            width: 220px !important;

            .media-body {
                padding: 10px 15px;

                h3 a {
                    font-weight: 500;
                    line-height: 1.2;
                    color: #272b41;
                    letter-spacing: normal;
                    font-size: 18px;
                }
            }

            .atbdp-map {
                margin: 0;
            }

            .map-info-wrapper {
                img {
                    width: 100%;
                }

                .map-info-details {
                    padding: 15px;

                    h3 {
                        font-size: 16px;
                        margin-bottom: 0;
                    }

                    .miw-contents-footer {
                        .iw-close-btn {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .leaflet-popup-close-button {
        position: absolute;
        width: 25px;
        height: 25px;
        background: rgba(#444752, 0.5);
        border-radius: 50%;
        color: #fff;
        right: 10px;
        left: auto;
        top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        cursor: pointer;
        transition: 0.3s ease;
        line-height: inherit;
        padding: 0;

        &:hover {
            background: #444752;
        }
    }
}

.leaflet-popup-content-wrapper {
    .leaflet-popup-content {
        .map-info-wrapper {
            .map-info-details {
                .iw-close-btn {
                    display: none;
                }
            }
        }
    }
}

.myDivIcon {
    text-align: center !important;
    line-height: 20px !important;
    position: relative;
}

.myDivIcon div.atbd_map_shape {
    position: absolute;
    top: -38px;
    left: -15px;
}

.leaflet-pane .myDivIcon div.atbd_map_shape {
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -26px;
}

.map-icon-label i,
.atbd_map_shape>span {
    font-size: 17px !important;
    color: #444752;
    text-align: center;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    width: 40px !important;
    height: 40px !important;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.atbd_map_shape {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #444752;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -10px;

    &:before {
        position: absolute;
        content: '';
        border-top: 15px solid #444752;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        left: 50%;
        bottom: -11px;
        transform: translateX(-50%);
    }
}

.marker-cluster-shape {
    width: 35px;
    height: 35px;
    background: #444752;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    cursor: pointer;

    &:before {
        position: absolute;
        content: '';
        width: 47px;
        height: 47px;
        left: -6px;
        top: -6px;
        background: rgba(0, 0, 0, 0.15);
        border-radius: 50%;
    }
}

/*style the box*/
.atbdp-map,
.atbd_google_map,
.directorist-details-info-wrap {
    .gm-style .gm-style-iw {
        background-color: #fff !important;
        top: 0 !important;
        left: 0 !important;
        width: 250px !important;
        //height: 100% !important;
        min-height: auto !important;
        max-height: none !important;
        padding: 0 !important;
        display: block !important;
        border-radius: 5px !important;

        .gm-style-iw-d {
            height: 100% !important;
            max-height: 100% !important;
            overflow-y: scroll;
            margin-right: -18px;

            .map-info-img {
                display: block !important;
                padding-right: 0;
            }

            .map-info-img {
                text-align: center;
                margin-bottom: 10px;

                img {
                    border-radius: 3px 3px 0 0;
                }
            }

            .map-info-details {
                padding: 0 20px;

                .atbdp-listings-title-block {
                    margin-top: 0;

                    h3 {
                        font-size: 16px !important;
                        line-height: 18px;
                        font-weight: 500;
                        margin-top: 15px;
                    }
                }

                a.map-info-link {
                    font-size: 15px;
                    font-weight: 300;
                }

                .map_addr {
                    display: flex;
                    margin-bottom: 10px;

                    >span {
                        margin-right: 4px;
                    }
                }

                .map_get_dir {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;

                    a {
                        font-size: 13px !important;
                        font-weight: 500;
                        color: #444752 !important;
                    }

                    span {
                        font-size: 13px !important;
                        margin-left: 5px;
                    }
                }
            }

            img {
                width: 100%;
                max-height: none;
            }

            .miw-contents {
                padding: 10px 10px 10px 0;

                h3 {
                    font-size: 15px !important;
                    line-height: 18px !important;
                    font-weight: 500 !important;
                }

                address {
                    margin-bottom: 7px !important;
                }

                .miwl-rating {
                    display: flex;
                    align-items: center;

                    .atbd_meta {
                        margin-right: 5px;
                        background: $primary;
                        color: #fff;
                        padding: 3px 7px;
                        border-radius: 3px;

                        i {
                            margin-left: 3px;
                        }
                    }
                }

                .miw-contents-footer {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    a {
                        font-size: 14px !important;
                        font-weight: 500;
                    }
                }
            }
        }

        button.gm-ui-hover-effect {
            display: none !important;
        }

        .map-info-wrapper {
            .iw-close-btn {
                position: absolute;
                width: 25px;
                height: 25px;
                background: rgba(#444752, 0.5);
                border-radius: 50%;
                color: #fff;
                right: 10px;
                top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 13px;
                cursor: pointer;
                transition: 0.3s ease;

                &:hover {
                    background: #444752;
                }
            }
        }
    }
}