.directorist-payment-gateways {
    background: #fff;
}

.directorist-payment-action {
    text-align: right;
}

.atbd_payment_recipt .atbd_payment_summary {
    text-align: center;
    font-size: 18px;
    color: #202428;
    margin-bottom: 20px;
}