.directorist-checkout-card{
    box-shadow: 0 3px 15px rgba(0,0,0,.08);
    filter: none;
    tr{
        &:not(:last-child){
            td{
                padding-bottom: 15px;
                border-bottom: 1px solid var(--directorist-color-border);
            }
        }
        &:not(:first-child){
            td{
                padding-top: 15px;
            }
        }
    }
    .directorist-card__header{
        padding: 24px 40px;
        .directorist-card__header--title{
            font-size: 24px;
            font-weight: 600;
            @media (max-width: 575px) {
                font-size: 18px;
            }
        }
    }
    .directorist-card__body{
        padding: 20px 40px 40px;
    }

    .directorist-summery-label{
        font-size: 15px;
        font-weight: 500;
        color: var(--color-dark);
    }
    .directorist-summery-label-description{
        font-size: 13px;
        margin-top: 4px;
        color: var(--directorist-color-light-gray);
    }
    .directorist-summery-amount{
        font-size: 15px;
        font-weight: 500;
        color: var(--directorist-color-body);
    }
}

.directorist-summery-total{
    .directorist-summery-label,
    .directorist-summery-amount{
        font-size: 18px;
        font-weight: 500;
        color: var(--color-dark);
    }
}