.directorist-gap-y-55{
    gap: 55px 0 !important;
}

.directorist-mt-24{
    margin-top: 24px !important;
}

.directorist-mb-60{
    margin-bottom: 60px !important;
}

.directorist-mb-16{
    margin-bottom: 16px !important;
}

.font-inter{
    font-family: 'Inter', sans-serif;
}