.directorist-gap-y-55{
    gap: 55px 0;
}

.directorist-mt-24{
    margin-top: 24px;
}

.directorist-mb-60{
    margin-bottom: 60px;
}

.directorist-mb-16{
    margin-bottom: 16px;
}

.font-inter{
    font-family: 'Inter', sans-serif;
}