// author info module
#directorist.atbd_wrapper .author_info_module {
    .atbdb_content_module_contents {
        .atbd_avatar_wrapper {
            display: block;
    
            .atbd_review_avatar {
                height: 50px;
                width: 50px;
                overflow: hidden;
                display: inline-block;
                vertical-align: top;
        
                img {
                    border-radius: 50%;
                    width: 100%;
                    height: 50px;
                }
            }
    
            .atbd_name_time {
                display: inline-block;
                vertical-align: top;
                margin-left: 7px;
                width: calc(100% - 61px);
        
                .review_time {
                    margin-left: 0;
                }
            }
        }
    
        .atbd_name_time {
            display: inline-block;
        }
    
        .atbd_widget_contact_info {
            padding-top: 15px;
            padding-bottom: 0;
    
            ul li {
            margin-bottom: 6px;
            list-style-type: none !important;
    
            .atbd_info {
                padding-left: 10px;
                width: calc(100% - 43px);
                display: inline-block;
    
            }
    
            span.fa {
                    background: #f1f3f8;
                    line-height: 28px;
                    width: 28px;
                    text-align: center;
                    border-radius: 50%;
                    color: #7a82a6;
                    font-size: 12px;
                    vertical-align: top;
                }
            }
        }
    
        .atbd_social_wrap {
            margin-bottom: 0;
            padding: 12px 0 0;
    
            p {
                display: inline-block;
    
            &+p {
                margin-left: 10px;
            }
    
                a {
                    line-height: 34px;
                    width: 34px;
                    text-align: center;
                    background: #f1f3f8;
                    display: inline-block;
                    border-radius: 5px;
                    transition: 0.3s;
        
                    &:hover {
                        @extend .atbd_bg-primary;
                        color: $light;
                }
            }
            }
        }
    
        .btn {
            margin-top: 20px;
        }
    }
}

// Directorist Author
.directorist-single-author-info,
.atbd_author_info_widget {
  .atbd_avatar_wrapper {
    display: flex !important;
    align-items: center;
    margin-bottom: 10px;

    .atbd_review_avatar {
      margin-right: 10px;

      img {
        max-width: 50px;
        border-radius: 50%;
      }
    }

    .atbd_name_time {
      h4 {
        margin-bottom: 5px !important;
      }
    }
  }

  .atbd_widget_contact_info {
    padding-top: 4px !important;
    margin-bottom: 22px;

    ul {
      display: block !important;

      li {
        display: flex;
        align-items: center;

        .atbd_info {
          margin-left: 12px;
        }
      }
    }
  }

  .atbd_social_wrap {
    margin-bottom: 12px;
    margin: -5px -5px 12px -5px;

    p {
      display: inline-block;
      margin: -5px;

      a {
        margin: 5px;
        display: block;
        line-height: 35px;
        width: 35px;
        text-align: center;
        background-color: #444752 !important;
        border-radius: 4px;
        color: #ffffff !important;
        overflow: hidden;
        transition: all ease-in-out 300ms !important;
      }
    }
  }
}