.directorist-single-author-info {

    .diretorist-view-profile-btn {
        margin-top: 22px;
        padding: 0 14px;
        color: #fff !important;
    }
}

// Directorist Author Avatar
.directorist-single-author-avatar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .directorist-single-author-avatar-inner {
        margin-right: 10px;

        img {
            max-width: 50px;
            border-radius: 50%;
        }
    }

    .directorist-single-author-name {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.2;
            color: $dark;
            letter-spacing: normal;
            margin: 0 0 6px;
        }

        .directorist-single-author-membership {
            color: $body-color;
        }
    }
}

// DIrectorist Author Contact Info
.directorist-single-author-contact-info {
    margin-top: 20px;

    ul {
        flex-direction: column;

        li {
            width: 100%;
            flex: 100%;
            display: flex;
            align-items: center;

            span.la,
            span.fa,
            i {
                color: $body-color;
            }

            .directorist-single-author-contact-info-text {
                margin-left: 12px;
                color: $body-color;
                box-shadow: none;
            }
        }
    }
}

// Directorist Author Social
.directorist-single-author-info {
    .directorist-social-wrap {
        display: flex;
        margin: 25px -5px -5px;

        a {
            margin: 5px;
            display: block;
            line-height: 35px;
            width: 35px;
            text-align: center;
            background-color: #444752 !important;
            border-radius: 4px;
            color: #ffffff !important;
            overflow: hidden;
            transition: all ease-in-out 300ms !important;
        }
    }
}