// Directorist Single Info
.directorist-details-info-wrap {
    .directorist-single-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 15px;
        @media only screen and (max-width: 375px){
            flex-direction: column;
            align-items: flex-start;
        }
        &:not(:last-child) {
            margin-bottom: 12px;
            @media only screen and (max-width: 375px){
                margin-bottom: 15px;
            }
        }
        a {
            box-shadow: none;
        }
    }
    .directorist-single-info__label {
        display: flex;
        align-items: center;
        min-width: 180px;
        margin-right: 15px;
        color: var(--directorist-color-dark);

        @media only screen and (max-width: 375px){
            min-width: 100%;
            margin-bottom: 6px;
            margin-right: 0;
        }
    }

    .directorist-single-info__label-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        margin-right: 10px;
        font-size: 14px;
        text-align: center;
        flex: none;
        color: var(--directorist-color-light-gray);
        background: var(--directorist-color-bg-light);
    }

    .directorist-single-info__value {
        flex: 1;
        color: var(--directorist-color-body);
        a{
            color: var(--directorist-color-body);
        }
    }

    .directorist-social-links {
        a {
            text-decoration: none;
            color: var(--directorist-color-body);
        }
    }

    &.directorist-single-info-picker{
        .directorist-field-type-color{
            width: 30px;
            height: 30px;
            border-radius: 5px;
        }
    }
}

.directorist-social-links {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        margin-bottom: 5px;
        height: 35px;
        width: 35px;
        background: var(--directorist-color-primary) !important;
        border-radius: 4px;
        overflow: hidden;
        transition: all ease-in-out 300ms !important;

        .directorist-icon-mask{
            &:after{
                background-color: #fff;
            }
        }

        &.facebook:hover {
            background-color: #4267B2 !important;
        }

        &.twitter:hover {
            background-color: #1da1f2 !important;
        }

        &.youtube:hover,
        &.youtube-play:hover {
            background-color: #ff0000 !important;
        }

        &.instagram:hover {
            background-color: #c32aa3 !important;
        }

        &.linkedin:hover {
            background-color: #007bb5 !important;
        }

        &.google-plus:hover {
            background-color: #db4437 !important;
        }

        &.snapchat:hover,
        &.snapchat-ghost:hover {
            background-color: #eae800 !important;
        }

        &.reddit:hover {
            background-color: #ff4500 !important;
        }

        &.pinterest:hover {
            background-color: #bd081c !important;
        }

        &.tumblr:hover {
            background-color: #35465d !important;
        }

        &.flickr:hover {
            background-color: #f40083 !important;
        }

        &.vimeo:hover {
            background-color: #1ab7ea !important;
        }

        &.vine:hover {
            background-color: #00b489 !important;
        }

        &.github:hover {
            background-color: #444752 !important;
        }

        &.dribbble:hover {
            background-color: #ea4c89 !important;
        }

        &.behance:hover {
            background-color: #196EE3 !important;
        }

        &.soundcloud:hover {
            background-color: #ff5500 !important;
        }

        &.stack-overflow:hover {
            background-color: #ff5500 !important;
        }

        span.fa {
            line-height: inherit;
            font-size: 16px;
            font-family: "Font Awesome 5 Brands" !important;
        }
    }
}

// Directorist Owner Contact form
.directorist-contact-owner-form-inner {
    .directorist-form-group {
        margin-bottom: 15px;
    }

    .directorist-form-element {
        border-color: var(--directorist-color-border-gray);
    }

    textarea{
        resize: none;
    }

    .directorist-btn-submit {
        padding: 0 18px;
        text-decoration: none;
        text-transform: capitalize;
    }
}