// Listing Details Content
.atbd_content_active #directorist.atbd_wrapper {
    .atbd_listing_detail {
        padding-top: 30px;
    
        .atbd_data_info {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          margin-left: -8px;
          margin-right: -8px;
    
          .atbd-listing-location,
          .atbd_listing_price,
          .atbd_rating_count,
          .atbd_badges,
          .atbd_listing_category,
          .atbd_listing_rating {
            margin-left: 8px;
            margin-right: 8px;
            position: relative;
    
            &:not(:last-child) {
              &:before {
                position: absolute;
                content: '';
                width: 1px;
                height: 15px;
                background-color: #E9E9E9;
                right: -8px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
    
          .atbd_badges {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
    
            .atbd_badge {
              margin: 4px;
            }
          }
    
          .atbd_listing_meta {
            margin-top: 0;
            margin-right: 10px;
          }
    
          .atbd_rating_count {
            p {
              line-height: 20px;
    
              span {
                display: block;
                font-weight: 400;
                font-size: 13px;
                color: #7a82a6;
              }
            }
          }
    
          .atbd_listing_category {
            .directory_cats {
              display: flex;
              margin-bottom: 0 !important;
    
              >li {
                margin-right: 5px;
              }
            }
          }
    
          .atbd-listing-location {
            .directory_cats {
              margin-bottom: 0 !important;
            }
          }
    
          .atbd_listing_average_pricing {
            margin-right: 15px;
          }
    
          .atbd_listing_category .directory_tags {
            li {
              display: inline-block;
    
              .directory_tag,
              .directory_tag span a {
                color: $dark;
    
                &:hover {
                  color: $primary;
                }
              }
    
              &+li {
                margin-left: 8px;
              }
            }
          }
        }
    
        .atbd_listing_title {
          padding-bottom: 10px;
          padding-top: 18px;
    
          h2 {
            font-size: 30px;
            font-weight: 500;
            display: inline;
            margin: 0 15px 0 0;
          }
    
          .dcl_claimed {
            top: -5px;
            display: inline-block;
          }
    
          .atbd_sub_title {
            font-size: 16px;
            color: #7a82a6;
          }
        }
    
        .atbd_single_listing_tagline {
          margin-bottom: 15px;
        }
    
        .about_detail {
          margin-top: 10px;
    
          ul {
            padding: 15px 0 15px 30px;
    
            li {
              list-style: disc;
            }
          }
    
          code {
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow: scroll;
          }
    
          ol {
            padding-top: 15px;
    
            li {
              list-style: decimal;
            }
          }
    
          p {
            margin: 0 0 15px;
          }
        }
    }
}
// Category Content
.atbd_content_active #directorist.atbd_wrapper .atbd_listing_info .atbd_listing_category,
.atbd_content_active #directorist.atbd_wrapper .widget.atbd_widget .atbd_categorized_listings ul li .atbd_right_content,
.atbd_content_active .widget.atbd_widget .atbd_categorized_listings ul li .atbd_right_content {
  .atbd_cat {
    position: relative;
    padding-left: 25px;
    display: inline-block;
    word-break: break-all;

    &:before {
      position: absolute;
      content: "\f07c";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      left: 0;
      top: 0;
    }
  }

  .atbd_cat_popup {
    position: relative;
    display: inline-block;
    margin-left: 3px;
    color: #444752;
    font-size: 13px;
    cursor: pointer;

    .atbd_cat_popup_wrapper {
      display: block;
      position: absolute;
      width: 120px;
      visibility: hidden;
      opacity: 0;
      bottom: 25px;
      left: -5px;
      transition: 0.3s ease;
      background: #000000;
      line-break: auto;
      word-break: break-all;
      padding: 7px 10px;
      border-radius: 3px;

      span {
        display: block;
        color: #fff;

        a {
          color: rgba(#fff, 0.8);
          display: block;
          line-height: normal;

          &:last-child {
            span {
              display: none;
            }
          }

          &:hover {
            color: #fff;
          }

          span {
            display: inline-block;
          }
        }
      }

      &:before {
        position: absolute;
        content: '';
        border-top: 8px solid #000;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        bottom: -8px;
        left: 10px;
      }
    }

    &:hover .atbd_cat_popup_wrapper {
      visibility: visible;
      opacity: 1;
    }
  }

  .directory_tag {
    margin: 0;
  }

  .cate_title {
    line-height: 18px;
  }
}

// Directorist Contact
.atbdb_content_module_contents {
    .directorist-single-info {
      display: flex;
      align-items: center;
  
      &:not(:last-child) {
        margin-bottom: 10px;
      }
  
      .directorist-single-info-label {
        flex: 0 0 25%;
        display: flex;
        align-items: center;
        margin-right: 15px;
  
        .directorist-icon {
          line-height: 35px;
          width: 35px;
          border-radius: 50%;
          color: #444752;
          background: #f1f3f8;
          margin-right: 10px;
          font-size: 14px;
          text-align: center;
          flex: none;
        }
      }
  
      .directorist-single-info-value {
        flex: 0 0 75%;
      }
    }
}

  
.atbd_content_active {
    #directorist.atbd_wrapper {
      .atbd_listing_detail {
        padding-top: 0;
  
        .atbd_listing_price {
          font-size: 16px !important;
          background-color: #fff !important;
          color: #202428 !important;
          font-weight: 700;
          padding: 0 !important;
        }
  
        .atbd_listing_rating {
          padding: 0 !important;
          background-color: #fff !important;
          color: $dark !important;
  
          i,
          svg {
            font-size: 13px;
            margin: 0;
            color: $warning;
          }
  
          .atbd_listing_avg {
            font-size: 15px;
            font-weight: 600;
            color: $dark;
            margin: 0 3px 0 6px;
          }
        }
      }
    }
}