.directorist-signle-listing-top {
    margin-bottom: 15px;
    .directorist-return-back{
        text-decoration: none;
        margin: 0;
    }
}

// Directorist Single Listing Style
.directorist-single-wrapper {
    .directorist-card {
        margin-bottom: 35px;
        filter: none;
        box-shadow: 0 2px 15px rgba(0,0,0,.08);
        .directorist-card__body{
            padding: 30px;
        }
    }

    .directorist-card__header--title {
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--directorist-color-primary);
        margin: 0 -6px;

        #directorist-review-counter {
            margin-right: 10px;
        }
    }

    .directorist-card__header-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: var(--directorist-color-bg-light);
        .directorist-icon-mask{
            color: var(--directorist-color-dark);
            &:after{
                width: 14px;
                height: 14px;
            }
            
        }
    }
    .directorist-card__header-icon,
    .directorist-card__header-text{
        margin: 0 6px;
    }

    .directorist-details-info-wrap {
        a{
            font-size: 1rem;
            text-decoration: none;
            box-shadow: none;
            color: var(--directorist-color-body);
        }
        .directorist-icon-mask{
            &:after{
                background-color: #808080;
            }
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            margin: -0.8rem 0 0 0;
            list-style-type: none;
            padding: 0;
        }
        li {
            flex: 0 0 50%;
            margin: 0.8rem 0 0 0;
        }
    }

    .directorist-single-listing-slider .directorist-swiper__nav i:after {
        background-color: var(--directorist-color-white);
    }
}

.directorist-single-listing-header{
    margin-bottom: 25px;
}

// Single Listing Actions
.directorist-single-listing-quick-action {
    margin: -4px;

    .directorist-social-share {
        position: relative;
        &:hover {
            .directorist-social-share-links {
                opacity: 1;
                visibility: visible;
                top: calc(100% + 5px);
            }
        } 
    }
    .directorist-social-share-links {
        position: absolute;
        transition: all 0.2s ease-in-out;
        z-index: 2;
        visibility: hidden;
        opacity: 0;
        right: 0;
        top: calc(100% + 30px);
        background: #ffffff;
        border-radius: 10px;
        width: 150px;
        box-shadow: 0 5px 15px rgba(#000, 0.15);
        list-style-type: none;
        padding: 10px;
        margin: 0;
    }
    .directorist-social-links__item {
        padding-left: 0;
        margin: 0;
        a {
            padding: 8px 12px;
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 0.93rem;
            font-weight: 500;
            border: 0 none;
            border-radius: 8px;
            color: var(--directorist-color-body);
            transition: 0.3s ease;
            span.la,
            span.lab,
            span.fa,
            i {
                color: var(--directorist-color-body);
            }
            span.fa{
                font-family: "Font Awesome 5 Brands";
                font-weight: 900;
                font-size: 1rem;
            }
            &:hover{
                font-weight: 500;
                background: var(--directorist-color-light);
                color: var(--directorist-color-dark);
                span.la,
                span.fa,
                i{
                    color: var(--directorist-color-dark);
                }
            }
        }
    }
}

.directorist-single-listing-action {
    justify-content: center;
    font-size: 0.87rem;
    border: 0 none;
    border-radius: 8px;
    padding: 0 16px;
    margin: 4px;
    cursor: pointer;
    text-decoration: none;
    color: var(--directorist-color-body);
    transition: .2s background-color ease-in-out;

    .directorist-icon-mask.directorist-added-to-favorite::after{
        background-color: red;
    }

    .directorist-icon-mask::after{
        width: 15px;
        height: 15px;
        margin-right: 8px;
        color: var(--directorist-color-body);
    }

    a {
        box-shadow: none;
    }

    .atbdp-require-login,
    .directorist-action-report-not-loggedin {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        i,
        span.la,
        span.las,
        span.lab,
        span.fa,
        span.fas,
        span.fab {
            pointer-events: none;
        }
    }
}

// Listing Details
.directorist-listing-details {
    margin: 12px 0 0;

    .directorist-listing-single__info {
        padding: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .directorist-listing-details__text {
        p {
            margin: 0 0 15px;
            color: #7a82a6;
            line-height: 24px;
        }

        ul {
            list-style: disc;
            padding-left: 20px;
            margin-left: 0;

            li {
                list-style: disc;
            }
        }
    }
}
.directorist-listing-details__listing-title {
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
    margin: 30px 0 0;
}

.directorist-listing-details-tagline {
    margin: 10px 0 0;
    color: var(--directorist-color-body);
}

// Directorist Embaded Video
.directorist-single-wrapper .directorist-embaded-video {
    width: 100%;
    height: 400px;
    border: 0 none;
    border-radius: 16px;
    @media (max-width: 768px) {
        height: 56.25vw;
    }
}

// Directorist Map
.directorist-single-wrapper .directorist-single-map{
    border-radius: 16px;
    z-index: 1;
    .atbd_map_shape {
        .directorist-icon-mask:after {
            background-color: var(--directorist-color-white);
        }
    }
}

// Related Listing
.directorist-related-listing-header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.2rem;
        margin: 0 0 15px;
    }
}
