.directorist-single-listing-top {
  gap: 20px;
  margin: 15px 0 30px;
  align-items: flex-start;
  @media screen and (max-width: 575px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .directorist-return-back {
    gap: 8px;
    margin: 0;
    flex: unset;
    min-width: 120px;
    text-decoration: none;
    justify-content: flex-start;
    border: 2px solid var(--directorist-color-white);
    .directorist-single-listing-action__text {
      display: block;
    }
    @media screen and (max-width: 575px) {
      border: none;
    }
  }

  @include e("btn-wrapper") {
    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
  }

  @include e("btn-continue") {
    &.directorist-btn {
      height: 46px;
      border-radius: 10px;
      font-size: 15px;
      font-weight: 600;
      padding: 0 25px;
      background-color: #394dff !important;
      color: var(--directorist-color-white);
      &:hover {
        background-color: #2a3cd9 !important;
      }
      .directorist-single-listing-action__text {
        display: block;
      }
    }
  }
}

// Directorist Single Listing Style
.directorist-single-contents-area {
  box-sizing: border-box;
  .directorist-card {
    padding: 0;
    filter: none;
    margin-bottom: 35px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
    .directorist-card__body {
      padding: 30px;
      @media screen and (max-width: 575px) {
        padding: 20px 15px;
      }
    }
    .directorist-card__header {
      padding: 20px 30px;
      @media screen and (max-width: 575px) {
        padding: 15px 20px;
      }
    }
    .directorist-single-author-name h4 {
      margin: 0;
    }
  }

  .directorist-card__header__title {
    gap: 12px;
    font-size: 18px;
    font-weight: 500;
    color: var(--directorist-color-dark);

    #directorist-review-counter {
      margin-right: 10px;
    }
  }

  .directorist-card__header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--directorist-color-bg-light);
    .directorist-icon-mask {
      color: var(--directorist-color-dark);
      &:after {
        width: 14px;
        height: 14px;
      }
    }
  }

  .directorist-details-info-wrap {
    a {
      font-size: 15px;
      text-decoration: none;
      box-shadow: none;
      color: var(--directorist-color-body);
      &:hover {
        color: var(--directorist-color-primary);
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0 10px;
      margin: 0;
      list-style-type: none;
      padding: 0;
    }
    li {
      flex: 0 0 49%;
    }
    .directorist-social-links a:hover {
      background-color: var(--directorist-color-primary);
    }
    .directorist-single-map__location {
      padding-top: 18px;
    }
  }

  .directorist-single-info__label-icon .directorist-icon-mask:after {
    background-color: #808080;
  }

  .directorist-single-listing-slider .directorist-swiper__nav i:after {
    background-color: var(--directorist-color-white);
  }

  .directorist-related {
    padding: 0;
  }
}
.directorist-single-contents-area {
  margin-top: 50px;
  .directorist-single-wrapper .directorist-details-info-wrap {
    gap: 12px;
    display: flex;
    flex-direction: column;
    .directorist-single-info {
      margin: 0;
      .directorist-form-group__with-prefix {
        border: none;
        margin-top: 4px;
      }
      .directorist-form-group__prefix {
        height: auto;
        line-height: unset;
        color: var(--directorist-color-body);
      }
    }
  }
  .directorist-card {
    margin-bottom: 25px;
  }
}

.directorist-single-map {
  @include e(location) {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 0;
    justify-content: space-between;
    @media screen and (max-width: 575px) {
      padding: 20px 0 0;
    }
  }
  @include e(address) {
    gap: 10px;
    display: flex;
    font-size: 14px;
    i::after {
      width: 14px;
      height: 14px;
      margin-top: 4px;
    }
  }
  @include e(direction) {
    a {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}
.directorist-single-contents-area .directorist-single-map__direction a {
  font-size: 14px;
  color: var(--directorist-color-info);
  .directorist-icon-mask:after {
    background-color: var(--directorist-color-info);
  }
  &:hover {
    color: var(--directorist-color-primary);
    .directorist-icon-mask:after {
      background-color: var(--directorist-color-primary);
    }
  }
}
.directorist-single-contents-area
  .directorist-single-map__direction
  .directorist-icon-mask:after {
  width: 14px;
  height: 14px;
  background-color: var(--directorist-color-info);
}
.directorist-single-listing-header {
  margin-bottom: 25px;
  margin-top: -15px;
  padding: 0;
  .directorist-single-listing-slider-wrap {
    padding: 0;
    margin: 15px 0;
    &.background-contain {
      .directorist-single-listing-slider {
        .swiper-slide {
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}

// Single Listing Actions
.directorist-single-listing-quick-action {
  gap: 8px;
  flex-wrap: wrap;
  @media screen and (max-width: 767px){
    justify-content: flex-end;
  }
  @media screen and (max-width: 575px) {
    gap: 12px;
    justify-content: center;
  }
  .directorist-social-share {
    position: relative;
    &:hover {
      .directorist-social-share-links {
        opacity: 1;
        visibility: visible;
        top: calc(100% + 5px);
      }
    }
    @media screen and (max-width: 575px) {
      font-size: 0;
    }
  }
  .directorist-social-share-links {
    position: absolute;
    transition: all 0.2s ease-in-out;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    right: 0;
    top: calc(100% + 30px);
    background-color: var(--directorist-color-white);
    border-radius: 10px;
    width: 150px;
    box-shadow: 0 5px 15px rgba(var(--directorist-color-dark-rgb), 0.15);
    list-style-type: none;
    padding: 10px;
    margin: 0;
  }
  .directorist-social-links__item {
    padding-left: 0;
    margin: 0;
    a {
      padding: 8px 12px;
      display: flex;
      gap: 5px;
      align-items: center;
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      border: 0 none;
      border-radius: 8px;
      color: var(--directorist-color-body);
      transition: 0.3s ease;
      span.la,
      span.lab,
      span.fa,
      i {
        color: var(--directorist-color-body);
        &:after {
          width: 18px;
          height: 18px;
        }
      }
      .directorist-icon-mask:after {
        background-color: var(--directorist-color-body);
      }
      span.fa {
        font-family: "Font Awesome 5 Brands";
        font-weight: 900;
        font-size: 15px;
      }
      &:hover {
        font-weight: 500;
        background-color: rgba(var(--directorist-color-primary-rgb), 0.1);
        color: var(--directorist-color-primary);
        span.la,
        span.fa,
        i {
          color: var(--directorist-color-primary);
        }
        .directorist-icon-mask:after {
          background-color: var(--directorist-color-primary);
        }
      }
    }
  }
}

.directorist-single-listing-action {
  gap: 8px;
  justify-content: center;
  font-size: 13px;
  font-weight: 400;
  border: 0 none;
  border-radius: 8px;
  padding: 0 16px;
  cursor: pointer;
  text-decoration: none;
  color: var(--directorist-color-body);
  border: 2px solid var(--directorist-color-white) !important;
  transition: 0.2s background-color ease-in-out;
  &:hover{
    background-color: var(--directorist-color-white) !important;
    border-color: var(--directorist-color-primary) !important;
  }
  @media screen and (max-width: 575px) {
    gap: 0;
    border: none;
    &.directorist-btn.directorist-btn-light {
      background-color: transparent;
    }
    &.directorist-single-listing-top__btn-edit {
      .directorist-single-listing-action__text {
        display: none;
      }
    }
  }
  .directorist-icon-mask.directorist-added-to-favorite::after {
    background-color: var(--directorist-color-danger);
  }

  .directorist-icon-mask::after {
    width: 15px;
    height: 15px;
  }

  a {
    box-shadow: none;
  }

  .atbdp-require-login,
  .directorist-action-report-not-loggedin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    i{
      pointer-events: none;
    }
  }
}

// Listing Details
.directorist-listing-details {
  margin: 15px 0 30px;
  @include e("text") {
    p {
      margin: 0 0 15px;
      color: var(--directorist-color-body);
      line-height: 24px;
    }
    ul {
      list-style: disc;
      padding-left: 20px;
      margin-left: 0;
    }
    li {
      list-style: disc;
    }
  }
  @include e("listing-title") {
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    margin: 15px 0 0;
    color: var(--directorist-color-dark);
    @media screen and (max-width: 575px) {
      font-size: 24px;
    }
  }
  @include e("tagline") {
    margin: 10px 0;
    color: var(--directorist-color-body);
  }

  .directorist-pricing-meta .directorist-listing-price {
    padding: 5px 10px;
    border-radius: 6px;
    background-color: var(--directorist-color-light);
  }

  .directorist-listing-single__info {
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

// Directorist Embaded Video
.directorist-single-contents-area .directorist-embaded-video {
  width: 100%;
  height: 400px;
  border: 0 none;
  border-radius: 16px;
  @media (max-width: 768px) {
    height: 56.25vw;
  }
}

// Directorist Map
.directorist-single-contents-area .directorist-single-map {
  border-radius: 16px;
  z-index: 1;
  .directorist-info-item a {
    font-size: 14px;
  }
}

// Related Listing
.directorist-related-listing-header {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 18px;
    margin: 0 0 15px;
  }
}
