.atbd_content_active #directorist.atbd_wrapper {
    .single_image {
        img {
          float: none;
          width: 100%;
          margin: 0;
        }
    }
    .atbd_directry_gallery_wrapper {
        border-bottom: 1px solid $border-color;
    
        .atbd_big_gallery {
          position: relative;
    
          img {
            width: auto;
            display: inline-block;
          }
    
          .slick-track {
            display: flex;
            align-items: center;
          }
    
          .single_image {
            display: flex;
            justify-content: center;
            align-items: center;
    
            &:before {
              content: none;
            }
          }
        }
    
        .atbd_directory_image_thumbnail {
    
          .single_thumbnail {
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
    
        padding-bottom: 30px;
    
        .prev {
          left: 10px;
        }
    
        .next {
          right: 10px;
        }
    
        .prev,
        .next {
          position: absolute;
          font-size: 15px;
          width: 35px;
          height: 35px;
          background: rgba(#000, 0.4);
          border-radius: 50%;
          top: 50%;
          transition: $transition-base;
          cursor: pointer;
          color: #fff;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
    
          &:hover {
            color: $light;
            background: $primary;
            border-color: transparent;
          }
        }
    }
}

/* listing category & location style */

.atbd_listing_category,
.atbd-listing-location {
  .directory_cats {
    align-items: center;
    margin-bottom: 0 !important;
  }

  .directory_tag {
    span {
      display: flex;
      flex-wrap: wrap;

      a {
        margin-left: 5px;
      }
    }
  }
}

// Related Listing