// Report Modal
.directorist-report-abuse-modal {
    .directorist-modal__header {
        padding: 20px 0 !important;

        .directorist-modal-title {
            font-size: 1.75rem;
            margin: 0;
            margin-bottom: 0.5rem;
            font-weight: 500;
            line-height: 1.2;
            color: #272b41;
            letter-spacing: normal;
        }

        .directorist-modal-close {
            width: 32px;
            height: 32px;
            right: -40px !important;
            top: -30px !important;
            left: auto;
            position: absolute;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            background: #444752;
            color: #fff;
            border-radius: 300px;
            opacity: 1;
            font-weight: 300;
            z-index: 2;
            font-size: 16px;
            padding: 0;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }
    }

    .directorist-modal__body {
        padding: 20px 0 !important;

        label {
            font-size: 18px;
            margin-bottom: 12px;
            text-align: left;
            display: block;
        }

        textarea {
            min-height: 90px;
        }

        #directorist-report-abuse-message-display{
            color: $body-color;
            margin-top: 15px;
        }
    }

    .directorist-modal__footer {
        padding: 20px 0 !important;
        display: flex;
        justify-content: flex-end;

        .directorist-btn {
            text-transform: capitalize;
            padding: 0 15px;

            &.directorist-btn-loading {
                &:after {
                    content: "";
                    border: 2px solid #f3f3f3;
                    border-radius: 50%;
                    border-top: 2px solid #656a7a;
                    width: 20px;
                    height: 20px;
                    -webkit-animation: rotate360 2s linear infinite;
                    animation: rotate360 2s linear infinite;
                    display: inline-block;
                    margin: 0 0 0 10px;
                    position: relative;
                    top: 4px;
                }
            }
        }
    }

    .directorist-modal__content {
        padding: 20px 30px 20px;

        #directorist-report-abuse-form {
            text-align: left;
        }
    }
}

// Directorist Rated Stars
.directorist-rated-stars,
.atbd_rated_stars {
    ul {
        li {
            display: inline-block;

            span {
                color: #d4d3f3;

                &:before {
                    content: "\f005";
                    font-size: 14px;
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                }

                &.directorist-rate-active {
                    color: #fa8b0c;
                }
            }
        }
    }
}

.directorist-listing-details {
    .directorist-listing-single {
        border: 0 none;
    }
}

.directorist-single-listing-notice {
    margin-bottom: 15px;
}