
.atbdp-single-listing-tags {
    margin: 27px 0 0 !important;
    padding: 12px 0 0 !important;
    border-top: 1px solid #e9ebf4;
    font-size: 14px !important;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  
    span {
      flex: 1;
      margin-left: 5px;
    }
  
    a {
      font-size: 14px;
      display: inline-block;
      margin: 0 5px;
  
      &:hover {
        color: $dark;
        text-decoration: underline !important;
      }
    }
  }
  
  .atbd-listing-tags {
    .atbdb_content_module_contents {
      ul {
        display: flex;
        flex-wrap: wrap;
  
        li {
          flex: 0 0 33.33%;
        }
      }
    }
}

// Listing Tags
.directorist-single-wrapper {
    .atbdb_content_module_contents {
      ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px !important;
  
        li {
          flex: 33.333%;
  
          a {
            display: flex;
            align-items: center;
  
            span {
              margin-right: 5px;
            }
          }
        }
      }
    }
}