// Listing Details Thumbnail Style
.atbd_content_active #directorist.atbd_wrapper {
    .atbd_directory_image_thumbnail {
        margin-top: 15px;
    
        .single_thumbnail {
          margin: 0 10px;
          position: relative;
          cursor: pointer;
          outline: 0;
    
          img {
            width: 100%;
          }
    
          &.slick-current {
            &:before {
              position: absolute;
              content: '';
              width: 100%;
              height: 100%;
              background: rgba(#000, 0.5);
              left: 0;
              top: 0;
              transition: $transition-base;
            }
          }
        }
    }
}