/* typography */
#directorist.atbd_wrapper {
  padding: 18px 20px;
  /***********************************************************
************************************************************
css for Custom Field
*************************************************************
**************************************************************/
  /*
  for shortable field*/
}

#directorist.atbd_wrapper .atcc_pt_40 {
  padding-top: 40px;
}

#directorist.atbd_wrapper * {
  box-sizing: border-box;
}

#directorist.atbd_wrapper .iris-picker, #directorist.atbd_wrapper .iris-picker * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

#directorist.atbd_wrapper #gmap {
  height: 350px;
}

#directorist.atbd_wrapper label {
  margin-bottom: 8px;
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  color: #202428;
}

#directorist.atbd_wrapper .map_wrapper {
  position: relative;
}

#directorist.atbd_wrapper .map_wrapper #floating-panel {
  position: absolute;
  z-index: 2;
  right: 59px;
  top: 10px;
}

#directorist.atbd_wrapper a.btn {
  text-decoration: none;
}

#directorist.atbd_wrapper [data-toggle="tooltip"] {
  color: #a1a1a7;
  font-size: 12px;
}

#directorist.atbd_wrapper [data-toggle="tooltip"]:hover {
  color: #202428;
}

#directorist.atbd_wrapper .single_prv_attachment {
  text-align: center;
}

#directorist.atbd_wrapper .single_prv_attachment div {
  position: relative;
  display: inline-block;
}

#directorist.atbd_wrapper .single_prv_attachment div .remove_prev_img {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #d3d1ec;
  line-height: 26px;
  width: 26px;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
  color: #ffffff;
  padding: 0;
}

#directorist.atbd_wrapper .single_prv_attachment div .remove_prev_img:hover {
  color: #c81d1d;
}

#directorist.atbd_wrapper #listing_image_btn span {
  vertical-align: text-bottom;
}

#directorist.atbd_wrapper .default_img {
  margin-bottom: 10px;
  text-align: center;
  margin-top: 10px;
}

#directorist.atbd_wrapper .default_img small {
  color: #7a82a6;
  font-size: 13px;
}

#directorist.atbd_wrapper .atbd_pricing_options {
  margin-bottom: 15px;
}

#directorist.atbd_wrapper .atbd_pricing_options label {
  font-size: 13px;
}

#directorist.atbd_wrapper .atbd_pricing_options .bor {
  margin: 0 15px;
}

#directorist.atbd_wrapper .atbd_pricing_options small {
  font-size: 12px;
  vertical-align: top;
}

#directorist.atbd_wrapper .listing-img-container {
  text-align: center;
  padding: 10px 0 15px;
}

#directorist.atbd_wrapper .listing-img-container p {
  margin-top: 15px;
  margin-bottom: 4px;
  color: #7a82a6;
  font-size: 16px;
}

#directorist.atbd_wrapper .listing-img-container small {
  color: #7a82a6;
  font-size: 13px;
}

#directorist.atbd_wrapper .listing-img-container .single_attachment {
  width: 208px;
  display: inline-block;
  position: relative;
}

#directorist.atbd_wrapper .listing-img-container .single_attachment .remove_image {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #d3d1ec;
  line-height: 26px;
  width: 26px;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  color: #ffffff;
}

#directorist.atbd_wrapper .listing-img-container .single_attachment .remove_image:hover {
  color: #e23636;
}

#directorist.atbd_wrapper .field-options {
  margin-bottom: 15px;
}

#directorist.atbd_wrapper .hide-if-no-js {
  text-align: center;
  margin: 0;
}

#directorist.atbd_wrapper .form-check {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

#directorist.atbd_wrapper .form-check input {
  vertical-align: top;
  margin-top: 0;
}

#directorist.atbd_wrapper .form-check .form-check-label {
  margin: 0;
  font-size: 15px;
}

#directorist.atbd_wrapper .atbd_optional_field {
  margin-bottom: 15px;
}

#directorist.atbd_wrapper .extension_detail {
  margin-top: 20px;
}

#directorist.atbd_wrapper .extension_detail .btn_wrapper {
  margin-top: 25px;
}

#directorist.atbd_wrapper .extension_detail.ext_d {
  min-height: 140px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#directorist.atbd_wrapper .extension_detail.ext_d p {
  margin: 0;
}

#directorist.atbd_wrapper .extension_detail.ext_d .btn_wrapper {
  width: 100%;
  margin-top: auto;
}

#directorist.atbd_wrapper .extension_detail.ext_d > a, #directorist.atbd_wrapper .extension_detail.ext_d p, #directorist.atbd_wrapper .extension_detail.ext_d div {
  display: block;
}

#directorist.atbd_wrapper .extension_detail.ext_d > p {
  margin-bottom: 15px;
}

#directorist.atbd_wrapper .ext_title a {
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #202428;
  transition: 0.3s;
  display: block;
}

#directorist.atbd_wrapper .ext_title:hover a {
  color: #6e63ff;
}

#directorist.atbd_wrapper .ext_title .text-center {
  text-align: center;
}

#directorist.atbd_wrapper .attc_extension_wrapper {
  margin-top: 30px;
}

#directorist.atbd_wrapper .attc_extension_wrapper .col-md-4 .single_extension .btn {
  padding: 3px 15px;
  font-size: 14px;
}

#directorist.atbd_wrapper .attc_extension_wrapper .single_extension {
  margin-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 5px 10px #e1e7f7;
  padding: 25px;
}

#directorist.atbd_wrapper .attc_extension_wrapper .single_extension img {
  width: 100%;
}

#directorist.atbd_wrapper .attc_extension_wrapper .single_extension.coming_soon img {
  opacity: 0.6;
}

#directorist.atbd_wrapper .attc_extension_wrapper .single_extension.coming_soon a {
  pointer-events: none !important;
}

#directorist.atbd_wrapper .attc_extension_wrapper .single_extension.coming_soon .ext_title a:after {
  content: '(Coming Soon)';
  color: #ff0000;
  font-size: 14px;
}

#directorist.atbd_wrapper .attc_extension_wrapper .single_extension.coming_soon .ext_title:hover a {
  color: inherit;
}

#directorist.atbd_wrapper .attc_extension_wrapper .single_extension.coming_soon .btn {
  opacity: 0.5;
}

#directorist.atbd_wrapper .attc_extension_wrapper__heading {
  margin-bottom: 15px;
}

#directorist.atbd_wrapper .btn_wrapper a + a {
  margin-left: 10px;
}

#directorist.atbd_wrapper.atbd_help_support .wrap_left {
  width: 70%;
}

#directorist.atbd_wrapper.atbd_help_support h3 {
  font-size: 24px;
}

#directorist.atbd_wrapper.atbd_help_support a {
  color: #387dff;
}

#directorist.atbd_wrapper.atbd_help_support a:hover {
  text-decoration: underline;
}

#directorist.atbd_wrapper.atbd_help_support .postbox {
  padding: 30px;
}

#directorist.atbd_wrapper.atbd_help_support .postbox h3 {
  margin-bottom: 20px;
}

#directorist.atbd_wrapper.atbd_help_support .wrap {
  display: inline-block;
  vertical-align: top;
}

#directorist.atbd_wrapper.atbd_help_support .wrap_right {
  width: 27%;
}

#directorist.atbd_wrapper.atbd_help_support .wrap_right .postbox {
  background: #0073aa;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(103, 103, 103, 0.27);
}

#directorist.atbd_wrapper.atbd_help_support .wrap_right .postbox h3 {
  color: #fff;
  margin-bottom: 25px;
}

#directorist.atbd_wrapper .shortcode_table td {
  font-size: 14px;
  line-height: 22px;
}

#directorist.atbd_wrapper ul.atbdp_pro_features li {
  font-size: 16px;
  margin-bottom: 12px;
}

#directorist.atbd_wrapper ul.atbdp_pro_features li a {
  color: #ededed;
}

#directorist.atbd_wrapper ul.atbdp_pro_features li a:hover {
  color: #fff;
}

#directorist.atbd_wrapper .atbdp-radio-list li label,
#directorist.atbd_wrapper .atbdp-checkbox-list li label {
  text-transform: capitalize;
  font-size: 13px;
}

#directorist.atbd_wrapper .atbdp-radio-list li label input,
#directorist.atbd_wrapper .atbdp-checkbox-list li label input {
  margin-right: 7px;
}

#directorist.atbd_wrapper .single_thm .ext_title h4 {
  text-align: center;
}

#directorist.atbd_wrapper .single_thm .btn_wrapper {
  text-align: center;
}

#directorist.atbd_wrapper .postbox table.widefat {
  box-shadow: none;
  background: #eff2f5;
}

#directorist.atbd_wrapper #atbdp-field-details td {
  color: #555;
  font-size: 17px;
  width: 8%;
}

#directorist.atbd_wrapper #atbdp-field-options td {
  color: #555;
  font-size: 17px;
  width: 8%;
}

#directorist.atbd_wrapper .atbdp-tick-cross {
  margin-left: 18px;
}

#directorist.atbd_wrapper .atbdp-tick-cross2 {
  margin-left: 25px;
}

#directorist.atbd_wrapper .ui-sortable tr:hover {
  cursor: move;
}

#directorist.atbd_wrapper .ui-sortable tr.alternate {
  background-color: #F9F9F9;
}

#directorist.atbd_wrapper .ui-sortable tr.ui-sortable-helper {
  background-color: #F9F9F9;
  border-top: 1px solid #DFDFDF;
}

#directorist.atbd_wrapper .business-hour label {
  margin-bottom: 0;
}

#directorist.atbd_wrapper .form-group {
  margin-bottom: 30px;
}

#directorist.atbd_wrapper .form-group > label {
  margin-bottom: 10px;
}

#directorist.atbd_wrapper .form-group .atbd_pricing_options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#directorist.atbd_wrapper .form-group .atbd_pricing_options label {
  margin-bottom: 0;
}

#directorist.atbd_wrapper .form-group .atbd_pricing_options small {
  margin-left: 5px;
}

#directorist.atbd_wrapper .form-group .atbd_pricing_options input[type="checkbox"] {
  position: relative;
  top: -2px;
}

#directorist.atbd_wrapper #category_container .form-group {
  margin-bottom: 0;
}

#directorist.atbd_wrapper .g_address_wrap {
  margin-bottom: 15px;
}

#directorist.atbd_wrapper .atbd_map_title {
  margin-bottom: 15px;
}

#directorist.atbd_wrapper .map_wrapper .map_drag_info {
  display: block;
  font-size: 12px;
  margin-top: 10px;
}

#directorist.atbd_wrapper .map-coordinate {
  margin-top: 15px;
  margin-bottom: 15px;
}

#directorist.atbd_wrapper .map-coordinate label {
  margin-bottom: 0;
}

#directorist.atbd_wrapper #hide_if_no_manual_cor .form-group .form-group {
  margin-bottom: 20px;
}

#directorist.atbd_wrapper .atbd_map_hide {
  margin-bottom: 0;
}

#directorist.atbd_wrapper .atbd_map_hide label {
  margin-bottom: 0;
}

#directorist.atbd_wrapper #atbdp-custom-fields-list {
  margin: 13px 0 0 0;
}

#_listing_video_gallery #directorist.atbd_wrapper .form-group {
  margin-bottom: 0;
}

@media (min-width: 1199px) and (max-width: 1510px), (min-width: 768px) and (max-width: 1187px), (min-width: 576px) and (max-width: 694px), (min-width: 320px) and (max-width: 373px) {
  #directorist.atbd_wrapper .btn.demo, #directorist.atbd_wrapper .btn.get {
    display: block;
    margin: 0;
  }
  #directorist.atbd_wrapper .btn.get {
    margin-top: 10px;
  }
}

#directorist.atbd_wrapper #addNewSocial {
  margin-bottom: 15px;
}

#directorist.atbd_wrapper .atbdp_social_field_wrapper .form-group {
  margin-bottom: 15px;
}

.atbdp_social_field_wrapper select.form-control {
  height: 35px !important;
}

#atbdp-categories-image-wrapper img {
  width: 150px;
}

.vp-wrap .vp-checkbox .field label {
  display: block;
  margin-right: 0;
}

.vp-wrap .vp-section > h3 {
  color: #01b0ff;
  font-size: 15px;
  padding: 10px 20px;
  margin: 0;
  top: 12px;
  border: 1px solid #eee;
  left: 20px;
  background: #f2f4f7;
  z-index: 1;
}

#shortcode-updated .input label span {
  background: #008EC2;
  width: 160px;
  position: relative;
  border-radius: 3px;
  margin-top: 0;
}

#shortcode-updated .input label span:before {
  content: 'Upgrade/Regenerate';
  position: absolute;
  color: #fff;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

#shortcode-updated + #success_msg {
  color: #4caf50;
  padding-left: 15px;
}

.olControlAttribution {
  right: 10px !important;
  bottom: 10px !important;
}

.g_address_wrap ul {
  margin-top: 15px !important;
}

.g_address_wrap ul li {
  margin-bottom: 8px;
  border-bottom: 1px solid #e3e6ef;
  padding-bottom: 8px;
}

.g_address_wrap ul li:last-child {
  margin-bottom: 0;
}

.plupload-thumbs .thumb {
  float: none !important;
}

#atbdp-categories-image-wrapper {
  position: relative;
  display: inline-block;
}

#atbdp-categories-image-wrapper .remove_cat_img {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c4c4c4;
  right: -5px;
  top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.2s ease;
}

#atbdp-categories-image-wrapper .remove_cat_img:hover {
  background: #ff0000;
  color: #fff;
}

.plupload-thumbs .thumb {
  position: relative;
  height: auto !important;
}

.plupload-thumbs .thumb:hover .atbdp-thumb-actions {
  display: flex !important;
}

.plupload-thumbs .thumb .atbdp-thumb-actions {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin-top: 0;
  align-items: center;
  justify-content: center;
}

.plupload-thumbs .thumb .atbdp-thumb-actions .thumbremovelink {
  background: #000;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: .3s ease;
  font-size: 14px;
}

.plupload-thumbs .thumb .atbdp-thumb-actions .thumbremovelink:hover {
  background: #e23636;
}

.plupload-upload-uic {
  width: 420px;
  margin: 0 auto !important;
  border: 1px dashed #dbdee9;
  padding: 30px;
}

.plupload-upload-uic .atbdp-dropbox-title {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 15px;
}

.plupload-upload-uic .atbdp_button {
  border: 1px solid #e3e6ef;
  background: #f8f9fb;
  font-size: 14px;
  box-shadow: none;
  line-height: 40px !important;
  padding: 0 30px !important;
  height: auto !important;
  transition: 0.3s ease;
}

.plupload-upload-uic .atbdp-dropbox-file-types {
  margin-top: 10px;
  color: #9299b8;
}

@media (max-width: 575px) {
  .plupload-upload-uic {
    width: 100%;
  }
}

@media (max-width: 400px) {
  #_listing_contact_info #directorist.atbd_wrapper .form-check {
    padding-left: 40px;
  }
  #_listing_contact_info #directorist.atbd_wrapper .form-check-input {
    margin-left: -40px;
  }
  #_listing_contact_info #directorist.atbd_wrapper .map-coordinate #manual_coordinate {
    display: inline-block;
  }
  #_listing_contact_info #directorist.atbd_wrapper .map-coordinate .cor-wrap label {
    display: inline;
  }
  #delete-custom-img {
    margin-top: 10px;
  }
  .enable247hour label {
    display: inline !important;
  }
}

/* ATBD Tooltip */
.atbd_tooltip {
  position: relative;
}

.atbd_tooltip[aria-label]:before, .atbd_tooltip[aria-label]:after {
  position: absolute !important;
  bottom: 100%;
  display: none;
  -webkit-animation: showTooltip 0.3s ease;
  -o-animation: showTooltip 0.3s ease;
  animation: showTooltip 0.3s ease;
}

.atbd_tooltip[aria-label]:before {
  content: "";
  left: 50%;
  transform: translate(-50%, 7px);
  border: 6px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.8);
}

.atbd_tooltip[aria-label]:after {
  content: attr(aria-label);
  left: 50%;
  transform: translate(-50%, -5px);
  min-width: 150px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 5px 12px;
  border-radius: 0.2em;
  color: #fff;
}

.atbd_tooltip[aria-label]:hover:before, .atbd_tooltip[aria-label]:hover:after {
  display: block;
}

@keyframes showTooltip {
  from {
    opacity: 0;
  }
}

.vp-wrap .vp-field .label .description.atbdp_settings_description p strong {
  position: relative;
}

.vp-wrap .vp-field .label .description.atbdp_settings_description p strong:after {
  content: '\f1a7';
  font-family: "LineAwesome";
  color: #000;
  font-weight: normal;
  line-height: initial;
  cursor: pointer;
  position: absolute;
  right: -20px;
  bottom: 0;
  z-index: 999;
}

.business_time.column-business_time .atbdp-tick-cross2,
.web-link.column-web-link .atbdp-tick-cross2 {
  padding-left: 25px;
}

#atbdp-field-details .recurring_time_period {
  display: flex;
  align-items: center;
}

#atbdp-field-details .recurring_time_period > label {
  margin-right: 10px;
}

#atbdp-field-details .recurring_time_period #recurring_period {
  margin-right: 8px;
}

div#need_post_area {
  padding: 10px 0 15px 0;
}

div#need_post_area .atbd_listing_type_list {
  margin: 0 -7px;
}

div#need_post_area label {
  margin: 0 7px;
  font-size: 16px;
}

div#need_post_area label input:checked + span {
  font-weight: 600;
}

#pyn_service_budget label {
  display: flex !important;
  align-items: center;
}

#pyn_service_budget label #is_hourly {
  margin-right: 5px;
}

#titlediv #title {
  padding: 3px 8px 7px;
  font-size: 26px;
  height: 40px;
}

.req_password_notice,
.password_notice {
  padding-left: 20px;
  padding-right: 20px;
}

/* hide button example image top upload fields */
#primary_example,
#secondary_example,
#success_example,
#danger_example,
#priout_example,
#prioutlight_example,
#danout_example {
  display: flex;
  align-items: center;
}

#primary_example input[type="text"], #primary_example .button,
#secondary_example input[type="text"],
#secondary_example .button,
#success_example input[type="text"],
#success_example .button,
#danger_example input[type="text"],
#danger_example .button,
#priout_example input[type="text"],
#priout_example .button,
#prioutlight_example input[type="text"],
#prioutlight_example .button,
#danout_example input[type="text"],
#danout_example .button {
  display: none !important;
}

#directorist.atbd_wrapper .dbh-wrapper label {
  margin-bottom: 0 !important;
}

#directorist.atbd_wrapper .dbh-wrapper .disable-bh {
  margin-bottom: 5px;
}

#directorist.atbd_wrapper .dbh-wrapper .dbh-timezone .select2-container .select2-selection--single {
  height: 37px;
  padding-left: 15px;
  border-color: #ddd;
}

span.atbdp-tick-cross {
  padding-left: 20px;
}

.atbdp-timestamp-wrap select,
.atbdp-timestamp-wrap input {
  margin-bottom: 5px !important;
}

/* csv styles */
.csv-action-btns {
  margin-top: 30px;
}

.csv-action-btns a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  line-height: 44px;
  padding: 0 20px;
  background: #fff;
  border: 1px solid #E3E6EF;
  color: #272B41;
  border-radius: 5px;
  font-weight: 600;
  margin-right: 7px;
}

.csv-action-btns a span {
  color: #9299B8;
}

.csv-action-btns a:last-child {
  margin-right: 0;
}

.csv-action-btns a.btn-active {
  background: #2C99FF;
  color: #fff;
  border-color: #2C99FF;
}

.csv-action-btns a.btn-active span {
  color: rgba(255, 255, 255, 0.8);
}

.csv-action-steps ul {
  width: 700px;
  margin: 80px auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.csv-action-steps ul li {
  text-align: center;
  position: relative;
  text-align: center;
  width: 25%;
}

.csv-action-steps ul li:before {
  position: absolute;
  content: url(../images/csv-step.png);
  left: 112px;
  top: 8px;
  width: 125px;
  overflow: hidden;
}

.csv-action-steps ul li .step {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  color: #9299B8;
  box-shadow: 5px 0 10px rgba(146, 153, 184, 0.15);
  background: #fff;
}

.csv-action-steps ul li .step .dashicons {
  margin: 0;
  display: none;
}

.csv-action-steps ul li .step-text {
  display: block;
  margin-top: 15px;
  color: #9299B8;
  font-weight: 500;
}

.csv-action-steps ul li.active .step {
  background: #272B41;
  color: #fff;
}

.csv-action-steps ul li.active .step-text {
  color: #272B41;
}

.csv-action-steps ul li.done:before {
  content: url(../images/csv-step-done.png);
}

.csv-action-steps ul li.done .step {
  background: #0FB73B;
  color: #fff;
}

.csv-action-steps ul li.done .step .step-count {
  display: none;
}

.csv-action-steps ul li.done .step .dashicons {
  display: block;
}

.csv-action-steps ul li.done .step-text {
  color: #272B41;
}

.csv-action-steps ul li:last-child:before, .csv-action-steps ul li:last-child.done:before {
  content: none;
}

.csv-wrapper {
  margin-top: 20px;
}

.csv-wrapper .csv-center {
  width: 700px;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 8px rgba(146, 153, 184, 0.15);
}

.csv-wrapper form header {
  padding: 30px 30px 20px;
  border-bottom: 1px solid #F1F2F6;
}

.csv-wrapper form header h2 {
  margin: 0 0 15px 0;
  font-size: 22px;
  font-weight: 500;
}

.csv-wrapper form header p {
  color: #5A5F7D;
  margin: 0;
}

.csv-wrapper form .form-content {
  padding: 30px;
}

.csv-wrapper form .form-content .directorist-importer-options {
  margin: 0;
}

.csv-wrapper form .form-content .directorist-importer-options h4 {
  margin: 0 0 15px 0;
  font-size: 15px;
}

.csv-wrapper form .form-content .directorist-importer-options .csv-upload {
  position: relative;
}

.csv-wrapper form .form-content .directorist-importer-options .csv-upload #upload {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.csv-wrapper form .form-content .directorist-importer-options .csv-upload #upload + label {
  display: inline-block;
}

.csv-wrapper form .form-content .directorist-importer-options .csv-upload #upload + label .upload-btn {
  line-height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0 20px;
  background: #5A5F7D;
  color: #fff;
  font-weight: 500;
}

.csv-wrapper form .form-content .directorist-importer-options .csv-upload #upload + label .file-name {
  color: #9299B8;
  display: inline-block;
  margin-left: 5px;
}

.csv-wrapper form .form-content .directorist-importer-options .csv-upload small {
  font-size: 13px;
  color: #9299B8;
  display: block;
  margin-top: 10px;
}

.csv-wrapper form .form-content .directorist-importer-options .update-existing {
  padding-top: 30px;
}

.csv-wrapper form .form-content .directorist-importer-options .update-existing label.ue {
  font-size: 15px;
  font-weight: 500;
  color: #272B41;
  display: block;
  margin-bottom: 15px;
}

.csv-wrapper form .form-content .directorist-importer-options .csv-delimiter {
  padding-top: 30px;
}

.csv-wrapper form .form-content .directorist-importer-options .csv-delimiter label {
  font-size: 15px;
  font-weight: 500;
  color: #272B41;
  display: block;
  margin-bottom: 15px;
}

.csv-wrapper form .form-content .directorist-importer-options .csv-delimiter input {
  width: 120px;
  border-radius: 4px;
  border: 1px solid #C6D0DC;
  height: 36px;
}

.csv-wrapper form .form-content .atbdp-importer-mapping-table-wrapper h3 {
  margin-top: 0;
}

.csv-wrapper form .form-content .atbdp-importer-mapping-table-wrapper .atbdp-importer-mapping-table {
  border: 0 none;
  box-shadow: none;
}

.csv-wrapper form .form-content .atbdp-importer-mapping-table-wrapper .atbdp-importer-mapping-table thead {
  background: #F4F5F7;
}

.csv-wrapper form .form-content .atbdp-importer-mapping-table-wrapper .atbdp-importer-mapping-table thead th {
  border: 0 none;
  font-weight: 500;
  color: #272B41;
}

.csv-wrapper form .form-content .atbdp-importer-mapping-table-wrapper .atbdp-importer-mapping-table tbody .atbdp-importer-mapping-table-name {
  padding-top: 15px;
  padding-left: 0;
}

.csv-wrapper form .form-content .atbdp-importer-mapping-table-wrapper .atbdp-importer-mapping-table tbody .atbdp-importer-mapping-table-name p {
  margin: 0 0 5px;
  color: #272B41;
}

.csv-wrapper form .form-content .atbdp-importer-mapping-table-wrapper .atbdp-importer-mapping-table tbody .atbdp-importer-mapping-table-name .description {
  color: #9299b8;
}

.csv-wrapper form .form-content .atbdp-importer-mapping-table-wrapper .atbdp-importer-mapping-table tbody .atbdp-importer-mapping-table-field {
  padding-top: 20px;
  padding-right: 0;
}

.csv-wrapper form .form-content .atbdp-importer-mapping-table-wrapper .atbdp-importer-mapping-table tbody .atbdp-importer-mapping-table-field select {
  border: 1px solid #C6D0DC;
  border-radius: 4px;
  line-height: 40px;
  padding: 0 15px;
}

.csv-wrapper form .atbdp-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px;
  background: #F4F5F7;
}

.csv-wrapper form .atbdp-actions .button {
  background: #2C99FF;
  color: #fff;
  border: 0 none;
  line-height: 44px;
  padding: 0 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
}

.csv-wrapper .directorist-importer__importing header {
  padding: 30px 30px 20px;
  border-bottom: 1px solid #F1F2F6;
}

.csv-wrapper .directorist-importer__importing header h2 {
  margin: 0 0 15px 0;
  font-size: 22px;
  font-weight: 500;
}

.csv-wrapper .directorist-importer__importing header p {
  color: #5A5F7D;
  margin: 0;
}

.csv-wrapper .directorist-importer__importing section {
  padding: 25px 30px 30px;
}

.csv-wrapper .directorist-importer__importing span.importer-notice {
  display: block;
  color: #5A5F7D;
  font-size: 15px;
  padding-bottom: 13px;
}

.csv-wrapper .directorist-importer__importing span.importer-details {
  display: block;
  color: #5A5F7D;
  font-size: 15px;
  padding-top: 13px;
}

.csv-wrapper .directorist-importer__importing progress {
  border-radius: 15px;
  width: 100%;
  height: 30px;
  overflow: hidden;
}

.csv-wrapper .directorist-importer__importing progress::-webkit-progress-bar {
  background: #E8F0F8;
  border-radius: 15px;
}

.csv-wrapper .directorist-importer__importing progress::-webkit-progress-value {
  background: #2C99FF;
}

.csv-wrapper .directorist-importer__importing progress::-moz-progress-bar {
  background: #E8F0F8;
  border-radius: 15px;
  border: none;
  box-shadow: none;
}

.csv-wrapper .directorist-importer__importing progress[value]::-moz-progress-bar {
  background: #2C99FF;
}

.csv-wrapper .csv-import-done .wc-progress-form-content {
  padding: 100px 30px 80px;
}

.csv-wrapper .csv-import-done .wc-progress-form-content .wc-actions {
  text-align: center;
}

.csv-wrapper .csv-import-done .wc-progress-form-content .wc-actions .dashicons {
  width: 100px;
  height: 100px;
  display: inline-flex;
  border-radius: 50%;
  background: #0FB73B;
  font-size: 70px;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.csv-wrapper .csv-import-done .wc-progress-form-content .wc-actions p {
  color: #5A5F7D;
  font-size: 20px;
  margin: 10px 0 0;
}

.csv-wrapper .csv-import-done .wc-progress-form-content .wc-actions p strong {
  color: #272B41;
  font-weight: 600;
}

.csv-wrapper .csv-import-done .wc-progress-form-content .wc-actions .import-complete {
  font-size: 20px;
  color: #272B41;
  margin: 16px 0 0;
}

.csv-wrapper .csv-import-done .atbdp-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px;
  background: #F4F5F7;
}

.csv-wrapper .csv-import-done .atbdp-actions .button {
  background: #2C99FF;
  color: #fff;
  border: 0 none;
  line-height: 44px;
  padding: 0 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
}

.csv-wrapper .csv-center.csv-export {
  padding: 100px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.csv-wrapper .csv-center.csv-export .button-secondary {
  background: #2C99FF;
  color: #fff;
  border: 0 none;
  line-height: 44px;
  padding: 0 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
}

.iris-border .iris-palette-container .iris-palette {
  padding: 0 !important;
}

#csv_import .vp-input + span {
  background: #007cba;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  border-radius: 3px;
  color: #fff;
  background-image: none;
  width: auto;
  cursor: pointer;
}

#csv_import .vp-input + span:after {
  content: 'Run Importer';
}

.vp-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.vp-documentation-panel #directorist.atbd_wrapper {
  padding: 4px 0;
}

.vp-wrap .vp-menus ul.vp-menu-level-2 > li a i.fa, .fa {
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
}

#announcment_submit .vp-input ~ span {
  display: flex;
  background: #007cba;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  border-radius: 3px;
  color: #fff;
  background-image: none;
  width: auto;
  cursor: pointer;
}

#announcment_submit .vp-input ~ span:after {
  content: 'Send';
}

#announcement_submit .vp-input ~ span {
  display: flex;
  background: #007cba;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  border-radius: 3px;
  color: #fff;
  background-image: none;
  width: 80px;
  cursor: pointer;
}

#announcement_submit .vp-input ~ span:after {
  content: 'Send';
}

#announcement_submit .label {
  visibility: hidden;
}

.announcement-feedback {
  margin-bottom: 15px;
}

/*# sourceMappingURL=map/style.css.map */
