/* ads advance search */
.ads-advaced--wrapper {
    .ads_float {
      position: relative;
  
      .ads-advanced {
        border-radius: 3px;
        z-index: 10000;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: none;
        visibility: hidden;
      }
    }
  }
  
  .ads_float {
    .ads-advanced {
      overflow-y: scroll;
    }
  }
  
  .directory_search_area {
    .ads-advanced {
      padding: 20px 30px 30px;
    }
  }
  
  .ads_slide {
    .ads-advanced {
      display: none;
    }
  }
  
  .ads-advanced {
    border: 1px solid #e3e6ef;
    margin-top: 25px;
    background: #fff;
  
    &.ads_ov {
      display: block;
    }
  
    form {
      padding: 20px 30px 30px;
    }
  
    .form-group {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border-bottom: 1px solid #eef0f6;
      padding-bottom: 15px;
      margin-bottom: 15px !important;
      transition: 0.3s ease;
  
      &>label {
        margin: 0 !important;
        display: block;
        width: 150px;
      }
  
      label {
        font-weight: 500;
  
        &:before,
        &:after {
          content: none !important;
        }
      }
  
      .form-control {
        height: 44px;
      }
  
      .single_search_field {
        width: 100%;
      }
    }
  
    .form-control {
      box-shadow: none;
    }
  
    .custom-control {
      label {
        font-weight: normal;
        position: relative;
        z-index: 1;
      }
    }
  
    .price_ranges {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex: 1;
      margin: 0 -5px -10px;
  
      .range_single {
        padding: 0 5px;
        width: 145px;
        margin-bottom: 10px;
  
        input {
          height: 44px;
          margin-bottom: 0 !important;
        }
      }
    }
  
    .price-frequency {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-left: 7px;
      margin-bottom: 10px;
      width: auto;
  
      .pf-btn {
        margin-right: -1px !important;
        overflow: hidden;
        margin-bottom: 0 !important;
  
        &:first-child {
          border-radius: 3px 0 0 3px;
        }
  
        &:last-child {
          border-radius: 0 3px 3px 0;
        }
  
        span {
          border: 1px solid #e3e6ef;
          display: block;
          padding: 9px 15px;
          transition: .3s ease;
          cursor: pointer;
        }
  
        input {
          display: none;
  
          &:checked {
            &+span {
              background: #444752;
              color: #fff !important;
              border-color: #444752;
            }
          }
        }
      }
    }
  
    .select-basic {
      width: 250px !important;
    }
  
    .ads-filter-tags {
      align-items: flex-start;
    }
  
    .bads-tags,
    .bads-custom-checks {
      display: flex;
      flex-wrap: wrap;
      flex: 4;
      margin: 0 -5px;
  
      .custom-control {
        margin: 0 5px;
        width: 140px;
      }
  
      .fields_hidden {
        display: none;
      }
  
      label {
        line-height: normal;
      }
    }
  
    .atbdp_custom_radios {
      display: flex;
      flex-wrap: wrap;
      flex: 4;
    }
  
    .more-less,
    .more-or-less {
      flex: 1;
      text-align: right;
      color: #272b41;
      font-size: 13px !important;
  
      &:after {
        content: '\f107';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        padding-left: 5px;
      }
  
      &:focus {
        outline: 0;
      }
  
      &.ad {
        &:after {
          content: '\f107';
        }
      }
  
      &.active {
        &:after {
          content: '\f106';
        }
      }
    }
  
    .more-less:after {
      content: '\f106';
    }
  
    .wp-picker-container {
      border: 1px solid #e3e6ef;
      padding: 5px;
      border-radius: 3px;
  
      .button {
        height: 30px !important;
  
        .wp-color-result-text {
          height: 30px;
          border: 0 none;
          background: #fff;
          display: flex;
          align-items: center;
          margin: -1px -1px 0 0;
        }
      }
    }
  
    .bottom-inputs {
      margin-left: -5px;
      margin-right: -5px;
      margin-bottom: -10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
  
      &>div {
        width: 33.33%;
        padding-left: 5px;
        padding-right: 5px;
  
        .form-control {
          margin-bottom: 10px !important;
        }
      }
    }
  
    .bdas-filter-actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 15px -5px 0 -5px;
  
      .btn {
        padding: 8px 20px !important;
        margin: 0 5px !important;
      }
    }
  
    .atbdp-custom-fields-search {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-left: -15px;
      margin-right: -15px;
      border-bottom: 0;
      padding-bottom: 0;
  
      .form-group {
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
        border: 0 none !important;
        padding-bottom: 0 !important;
  
        >div {
          border-bottom: 1px solid $border-color;
          padding-bottom: 15px;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
  
          >label {
            width: 150px;
          }
        }
  
        &.atbdp_cf_checkbox,
        &.atbdp_cf_textarea,
        &.atbdp_cf_radio {
          width: 100%;
        }
  
        &.atbdp_cf_textarea {
          textarea.form-control {
            padding-top: 10px !important;
            height: 80px;
          }
        }
  
        &.atbdp_cf_select,
        &.atbdp_cf_date,
        &.atbdp_cf_time,
        &.atbdp_cf_color {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
  
          label {
            flex: 1;
          }
  
          .form-control {
            flex: 2;
          }
        }
  
        &.atbdp_cf_select {
          .select-basic {
            width: auto !important;
            flex: 1;
          }
        }
  
        &.atbdp_cf_text,
        &.atbdp_cf_number,
        .atbdp_cf_url {
          input {
            margin-bottom: 0 !important;
          }
        }
  
        .form-control {
          width: 100% !important;
        }
  
        .custom-control {
          width: 140px;
        }
  
        >label {
          margin-bottom: 5px !important;
        }
  
        &.atbdp_cf_checkbox {
          >div {
            align-items: flex-start;
          }
        }
      }
    }
  
    .atbdp_map_address_field {
      position: relative;
  
      .address_result {
        position: absolute;
        width: 96%;
        left: 2%;
        top: 45px;
        background: #fff;
        box-shadow: 0 5px 10px rgba($light-gray, 0.2);
        border-radius: 3px;
        z-index: 1;
        max-height: 300px;
        overflow-y: scroll;
  
        ul {
          li {
            border-bottom: 1px solid $border-color;
            padding: 10px 15px 10px;
          }
        }
      }
    }
  
    .atbd_seach_fields_wrapper {
      .atbdp_map_address_field {
        position: relative;
  
        .address_result {
          position: absolute;
          width: 100%;
          left: 0;
          top: 45px;
          background: #fff;
          box-shadow: 0 5px 10px rgba($light-gray, 0.2);
          border-radius: 3px;
          z-index: 2;
          max-height: 300px;
          overflow-y: scroll;
  
          ul {
            li {
              border-bottom: 1px solid $border-color;
              padding: 10px 15px 10px;
  
              a {
                font-size: 13px;
                line-height: 22px;
                display: block;
              }
            }
          }
        }
      }
  
      .atbdp_get_address_field {
        position: relative;
  
        #address {
          padding-right: 35px !important;
        }
  
        span.atbd_get_loc {
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
    }
  } 
  
  .atbd_seach_fields_wrapper .atbdp_map_address_field {
    position: relative;
  
    .address_result,
    &+.address_result {
      position: absolute;
      width: 100%;
      left: 0;
      top: 45px;
      background: #fff;
      box-shadow: 0 5px 10px rgba($light-gray, 0.2);
      border-radius: 3px;
      z-index: 1;
      max-height: 300px;
      overflow-y: scroll;
  
      ul {
        li {
          border-bottom: 1px solid $border-color;
          padding: 10px 15px 10px !important;
  
          a {
            font-size: 13px;
            line-height: 22px;
            display: block;
          }
        }
      }
    }
  
    .atbdp_get_address_field {
      position: relative;
  
      #address {
        padding-right: 35px !important;
      }
  
      span.atbd_get_loc {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
}

.atbd_header_bar .ads-advanced {
    margin-top: 0;
  
    .atbd_seach_fields_wrapper {
      border-bottom: 1px solid #eef0f6 !important;
      margin-bottom: 15px !important;
      padding: 0 0 15px 0 !important;
    }
}