.directorist-search-form-box {

    .directorist-search-location,
    .directorist-search-category {
        .select2-container {
            width: 100% !important;

            &.select2-container--default .select2-selection--single {
                border: 0 none;
            }
        }
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
}