.atbd_content_active #directorist.atbd_wrapper {
    .select2-selection {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 15px;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #dbdaf7;
        border-radius: 0.25rem;
        min-height: 44px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    &.directory_search_area {
        .select2-selection {
            height: 49px;
        }
    
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 47px;
        }
    }
    
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 41px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 35px;
        right: 10px;
        top: 0;
    }

    .select2-container--default .select2-selection--single .select2-selection__placeholder {
        color: $text-color;
    }
}