.atbd_content_active #directorist.atbd_wrapper {
    .atbd_search_title_area {
        text-align: center;
        margin-bottom: 8px;
    
        h2.title {
          font-size: 36px;
          color: #fff;
        }
    
        p.sub_title {
          font-size: 18px;
          color: #fff;
          opacity: .80;
          text-align: center;
        }
    }
}

.atbd_content_active #directorist.atbd_wrapper {
    .single_search_field {
        .search_fields {
          line-height: 35px;
          height: 43px;
        }
    
        .select2-container--default .select2-selection--single .select2-selection__arrow {
          height: 48px;
        }
      }
}

.atbd_content_active #directorist.atbd_wrapper {
    .atbd_seach_fields_wrapper {
        padding: 30px 30px 22px;
        border: 1px solid $border-color;
    
        .atbdp-search-form {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-left: -5px;
          margin-right: -5px;
          margin-top: -5px;
          margin-bottom: -5px;
          .single_search_field {
            min-width:200px;
            flex: auto;
            padding-left: 5px !important;
            padding-right: 5px !important;
            margin: 5px 0;
    
            .form-control {
              width: 100%;
            }
    
            .custom-control-input[type="checkbox"] {
              width: 20px;
              height: 20px;
            }
    
            .select2.select2-container {
              width: 100% !important;
            }
          }
        }
    }
}

.atbd_content_active #directorist.atbd_wrapper {
    .directory_home_category_area {
        text-align: center;
        margin-top: 60px;
    
        &.atbdp_search-category {
             margin-top: 0;
        }
    
        >p {
            margin-bottom: 25px;
            font-size: 18px;
            text-align: center;
        }
    
        .categories {
            li {
                display: inline-block;
                margin-bottom: 15px;
                margin-left: 14px;
                margin-right: 14px;
        
                a p {
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                }
        
                a {
                    display: inline-flex;
                    align-items: center;
        
                    span,
                    i {
                        color: #fff;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}

// Listing Type
#directorist.atbd_wrapper {
    &.directory_search_area {
      .directorist-listing-types {
        margin-bottom: 32px;
  
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
  
          li {
            &:not(:last-child) {
              a {
                margin-right: 24px;
              }
            }
  
            a {
              font-weight: 500;
              font-size: 15px;
              color: #fff;
              position: relative;
  
              &:after {
                position: absolute;
                left: 0;
                bottom: -8px;
                width: 100%;
                height: 2px;
                opacity: 0;
                visibility: hidden;
                background-color: #fff;
                content: '';
              }
  
              &.type_current {
                &::after {
                  opacity: 1;
                  visibility: visible;
                }
              }
  
              span,
              i {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
  
  // Search Form Inline
  #directorist.atbd_wrapper {
    .atbd_seach_fields_wrapper {
      border-bottom: 0 none;
  
      .atbdp-search-form {
        &.atbdp-search-form-inline {
          background-color: #fff;
          border-radius: 6px;
          padding: 10px 20px 10px 0;
          align-items: center;
  
          .atbd_submit_btn_wrapper {
            margin-top: 0;
          }
  
          label {
            font-size: 15px;
            color: #51526E;
            padding-left: 20px;
            margin-bottom: 0;
          }
  
          .form-control,
          .single_search_field .select2-selection,
          .single_search_field {
            border: 0 none;
            box-shadow: 0 0;
  
            &:focus {
              outline: none;
            }
          }
  
          .more-filter {
            font-size: 14px;
            font-weight: 500;
            color: #717398 !important;
            padding: 13px 6px;
            margin: 0;
            border: 0 none !important;
          }
  
          .single_search_field {
            border-right: 1px solid #EFF1F6;
          }
  
          .btn_search {
            font-size: 15px;
            line-height: 1.35;
            font-weight: 600;
            border-radius: 6px;
            background-color: #0A0B1E;
            color: #fff;
            margin: 0;
          }
  
          .atbd_submit_btn_wrapper {
            margin: -5px;
          }
  
          .atbd_filter_btn,
          .atbd_submit_btn {
            margin: 5px;
          }
  
          .atbd_filter_btn {
            margin-left: 15px;
          }
        }
      }
    }
  
    &.directory_search_area.atbdp-no-filter {
      .atbd_filter_btn {
        display: none;
      }
    }
  }
  
  #directorist.atbd_wrapper {
    &.directory_search_area.atbdp-bg-white {
      .atbd_search_title_area {
        .title {
          color: #51526E;
        }
  
        .sub_title {
          color: #51526E;
        }
      }
  
      .directorist-listing-types {
        ul {
          li {
            a {
              color: #8F8E9F;
              font-weight: 500;
              font-size: 15px;
  
              &.type_current {
                color: #0A0B1E;
              }
  
              &:after {
                background-color: #0A0B1E;
              }
            }
          }
        }
      }
  
      .atbdp_listing_top_category {
        li {
          a {
  
            i,
            span {
              color: #8F8E9F;
            }
  
            p {
              font-size: 14px;
              font-weight: 500;
              color: #51526E;
            }
          }
        }
      }
    }
  }
  
  // Meterial Style
  #directorist.atbd_wrapper {
    &.directory_search_area {
      &.atbdp-style-meterial {
        .atbdp-search-form {
          box-shadow: 0 10px 20px rgba(#A09EB9, .20);
        }
      }
    }
  }
  
  // Flat Style
  #directorist.atbd_wrapper {
    &.directory_search_area {
      &.atbdp-style-flat {
        .atbdp-search-form {
          border: 1px solid #E1E4EC;
        }
      }
    }
  }

.atbd_header_bar .header_bar_title {
    font-size: 15px !important;
    margin-bottom: 21px !important;
}

.atbdp-whole-search-form {
    transition: 0.3s ease;
    position: relative;
  
    &.atbdp-form-fade {
      &:before {
        position: absolute;
        content: '';
        width: 40px;
        height: 40px;
        border: 2px solid #0A0B1E;
        border-top: 0 none;
        border-right: 0 none;
        border-radius: 50%;
        z-index: 2;
        left: 50%;
        top: 50%;
        margin-left: -20px;
        margin-top: -20px;
        -webkit-animation: atbd_spin 2s linear infinite;
        /* Safari */
        animation: atbd_spin 2s linear infinite;
      }
  
      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(255, 255, 255, 0.8);
        z-index: 1;
      }
    }
}