@import '../mixins/general';

// Common Classes
.directorist-flex {
    display: flex;
}

.directorist-align-center {
    align-items: center;
}

.directorist-justify-content-center {
    justify-content: center;
}

.directorist-justify-content-between {
    justify-content: space-between;
}

.directorist-justify-content-around {
    justify-content: space-around;
}

.directorist-justify-content-start {
    justify-content: flex-start;
}

.directorist-justify-content-end {
    justify-content: flex-end;
}

// Error Class

.directorist-error {
    .directorist-error__msg {
        color: $danger;
        font-size: 14px;
    }
}

// General Classes
.entry-content {
    .directorist-search-contents {
        width: 100% !important;
        max-width: 100% !important;
    }
}

/* directorist module style */
.directorist-content-module {
    border: 1px solid #e3e6ef;

    @include e(title) {
        border-bottom: 1px solid #e3e6ef;
        display: flex;
        justify-content: space-between;
        padding: 20px 30px;
        align-items: center;
        flex-wrap: wrap;

        h4 {
            margin: 0 !important;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.2;
        }
    }

    @include e(contents) {
        padding: 30px;
    }
}

// General Style
.directorist-content-active {
    a {
        text-decoration: none !important;
    }

    p {
        font-size: 15px;
        color: #7a82a6;
        line-height: 24px;
    }

    .primary-menu>li {
        margin: 0.8rem 0 0 1.6rem;

        @media (min-width: 1220px) {
            margin: 0.8rem 0 0 2.5rem;
        }
    }
}

#directorist-dashboard-preloader {
    display: none;
}

/* form required */
.directorist-form-required {
    color: red !important;
}

// Login Registration Style

.directory_register_form_wrap {
    .dgr_show_recaptcha {
        margin-bottom: 20px;

        >p {
            font-size: 16px;
            color: #28303d;
            font-weight: 600;
            margin-bottom: 8px !important;
        }
    }
}
