@import '../mixins/general';

// Common Classes
.directorist-flex {
    display: flex;
}

.directorist-flex-wrap {
    flex-wrap: wrap;
}

.directorist-align-center {
    align-items: center;
}

.directorist-justify-content-center {
    justify-content: center;
}

.directorist-justify-content-between {
    justify-content: space-between;
}

.directorist-justify-content-around {
    justify-content: space-around;
}

.directorist-justify-content-start {
    justify-content: flex-start;
}

.directorist-justify-content-end {
    justify-content: flex-end;
}

.directorist-display-none {
    display: none;
}

.directorist-icon-mask {
    &:after {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        background-color: #444752;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-image: var(--directorist-icon);
    }
}

// Error Class

.directorist-error {
    .directorist-error__msg {
        color: $danger;
        font-size: 14px;
    }
}

// General Classes
.entry-content {
    .directorist-search-contents {
        width: 100% !important;
        max-width: 100% !important;
    }
}

/* directorist module style */
.directorist-content-module {
    border: 1px solid #e3e6ef;

    @include e(title) {
        border-bottom: 1px solid #e3e6ef;
        display: flex;
        justify-content: space-between;
        padding: 20px 30px;
        align-items: center;
        flex-wrap: wrap;

        h4 {
            margin: 0 !important;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.2;
        }
    }

    @include e(contents) {
        padding: 30px;
    }
}

.directorist-content-active {
    #directorist.atbd_wrapper {
        max-width: 100%;
    }

    #directorist.atbd_wrapper .atbd_header_bar {
        margin-bottom: 35px;
    }
}

// General Style

#directorist-dashboard-preloader {
    display: none;
}

/* form required */
.directorist-form-required {
    color: red !important;
}

// Login Registration Style

.directory_register_form_wrap {
    .dgr_show_recaptcha {
        margin-bottom: 20px;

        >p {
            font-size: 16px;
            color: #28303d;
            font-weight: 600;
            margin-bottom: 8px !important;
        }
    }

    a {
        text-decoration: none;
    }
}

.atbd_login_btn_wrapper {
    .directorist-btn {
        line-height: 2.55;
        padding-top: 0;
        padding-bottom: 0;
    }

    .keep_signed.directorist-checkbox {
        .directorist-checkbox__label {
            color: $dark;
        }
    }
}

.atbdp_login_form_shortcode {
    .directorist-form-group{
        label{
            display: inline-block;
            margin-bottom: 5px;
        }
    }
    a {
        text-decoration: none;
    }
}

.directory_register_form_wrap {
    .directorist-form-group{
        label{
            display: inline-block;
            margin-bottom: 5px;
        }
    }
    .directorist-btn {
        line-height: 2.55;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.atbd_success_mesage {
    > p {
        i {
            top: 2px;
            margin-right: 5px;
            position: relative;
            display: inline-block;
        }
    }
}

// Loader

.directorist-loader {
    position: relative;

    &:before {
        position: absolute;
        content: '';
        right: 20px;
        top: 31%;
        border: 2px solid #fff;
        border-radius: 50%;
        border-top: 2px solid #272B41;
        width: 20px;
        height: 20px;
        -webkit-animation: atbd_spin 2s linear infinite;
        /* Safari */
        animation: atbd_spin 2s linear infinite;
    }
}

#directorist-map-floating-panel {
    margin-bottom: 15px;
}

//file upload
.plupload-thumbs {
    .thumb {
        position: relative;
        img{
            width: 100%;
        }
        &:hover {
            .atbdp-thumb-actions {
                display: flex !important;
            }
        }

        .atbdp-thumb-actions {
            font-size: 15px !important;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            margin-top: 0;
            align-items: center;
            justify-content: center;

            .thumbremovelink {
                background: #000;
                height: 30px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transition: .3s ease;
                .directorist-icon-mask:after{
                    width: 14px;
                    height: 14px;
                    background-color: #fff;
                }
                &:hover {
                    background: #e23636;
                }

                i {
                    font-size: 14px;
                }
            }
        }
    }
}

.plupload-upload-uic {
    width: 420px;
    margin: 0 auto !important;
    border: 1px dashed #dbdee9;
    padding: 30px;

    .atbdp-dropbox-title {
        font-weight: 500;
        margin-bottom: 15px;
        font-size: 15px;
    }

    .atbdp_button {
        border: 1px solid $border-color;
        background: #f8f9fb;
        font-size: 14px;
        box-shadow: none;
        line-height: 40px !important;
        padding: 0 30px !important;
        height: auto !important;
        transition: 0.3s ease;
        color: inherit;
    }

    .atbdp-dropbox-file-types {
        margin-top: 10px;
        color: #9299b8;
    }
}

@media (max-width: 575px) {
    .plupload-upload-uic {
        width: 100%;
    }
}

.directorist-address-field,
.directorist-form-address-field {
    .address_result {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                margin-bottom: 0;
                border-bottom: 1px solid #eee;
                list-style: none;

                a {
                    color: $body-color;
                    display: block;
                    padding: 8px 10px;
                }
            }
        }
    }
}

// Login
p.status:empty {
    display: none;
}

.gateway_list {
    input[type=radio] {
        margin-right: 5px;
    }
}

//checkout
.directorist-checkout-form ul {
    list-style-type: none;
}

//select 2
.select2-container--open .select2-dropdown--above {
    top: 0;
    border-color: #ececec;
}
body.logged-in .select2-container--open .select2-dropdown--above {
    top: 32px;
}

.select2-container--default {
    .select2-search--dropdown .select2-search__field:focus {
        outline: 0;
    }

    .select2-results__option {
        margin: 0;
    }
}

.taxonomy-at_biz_dir-category .select2-container--open .select2-dropdown--above {
    top: 0;
}

.select2-container--default {
    .select2-selection--multiple {
        .select2-selection__rendered {
            li {
                margin-left: 0;
                margin-top: 8.5px;

                &.select2-search--inline {
                    &.form-group {
                        margin-bottom: 0;
                        padding: 0;

                        .form-control {
                            height: 24.5px;
                        }
                    }
                }

                .select2-search__field {
                    margin: 0;
                }
            }
        }
    }
}

// Directorist Custom Checkbox
.custom-checkbox {
    input {
        display: none;
    }

    input[type=checkbox]+.check--select+label,
    input[type=radio]+.radio--select+label {
        min-width: 18px;
        min-height: 18px;
        font-size: 14px;
        display: flex;
        flex-flow: column;
        position: relative;
        padding-left: 28px;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-bottom: 0;
        line-height: 1.2;
        font-weight: 400;
        color: #5A5F7D;

        &:before {
            position: absolute;
            font-size: 10px;
            left: 5px;
            top: 5px;
            font-weight: 900;
            font-family: 'Font Awesome 5 Free';
            content: "\f00c";
            display: block;
            opacity: 0;
            transition: all .3s ease 0s;
            z-index: 2;
        }

        &:after {
            position: absolute;
            left: 0;
            top: 3px;
            width: 18px;
            height: 18px;
            content: "";
            background-color: #fff;
            border: 2px solid #C6D0DC;
        }
    }

    input[type=radio]+.radio--select+label {
        &:before {
            top: 8px;
            font-size: 9px;
        }

        &:after {
            border-radius: 50%;
        }

        span {
            color: #eee;

            &.active {
                color: $rating-color;
            }
        }
    }

    input[type=checkbox]:checked+.check--select+label,
    input[type=radio]:checked+.radio--select+label {
        &:after {
            background-color: #00B158;
            border-color: #00B158;
        }

        &:before {
            opacity: 1;
            color: #fff;
        }
    }
}



