
input[type="radio"],
input[type="checkbox"]{
  height: auto;
}

body{
  font-size: 14px;
  color: $body-color;
}
a{
  text-decoration: none;
}
.directorist-wrapper{
  article{
    margin-bottom: 0;
    border: 0;
    padding-bottom: 0;
  }
  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    li{
      list-style: none;
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}
