.reset-pseudo-link {
    &:visited, &:active, &:focus {
        outline: none;
        box-shadow: none;
    }
}

// Spacing Classes
.directorist_mb-15{
    margin-bottom: 15px;
}
.directorist_mt-30{
    margin-top: 30px;
}