.reset-pseudo-link {
    &:visited,
    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.cptm-shortcodes {
    max-height: 300px;
    overflow: scroll;
}

.directorist-center-content {
    display: flex;
}

.directorist-center-content-inline {
    display: inline-flex;
}

.directorist-center-content,
.directorist-center-content-inline {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.directorist-text-right {
    text-align: right;
}

.directorist-text-center {
    text-align: center;
}

.directorist-text-left {
    text-align: left;
}

// Spacing Classes
.directorist-mt-0{
    margin-top: 0 !important;
}
.directorist-mt-5 {
    margin-top: 5px !important;
}

.directorist-mt-10 {
    margin-top: 10px !important;
}

.directorist-mt-15 {
    margin-top: 15px !important;
}

.directorist-mt-20 {
    margin-top: 20px !important;
}

.directorist-mt-30 {
    margin-top: 30px !important;
}

.directorist-mb-0 {
    margin-bottom: 0 !important;
}

.directorist-mb-20 {
    margin-bottom: 20px !important;
}

.directorist-mb-n20 {
    margin-bottom: -20px !important;
}

.directorist-mb-10 {
    margin-bottom: 10px !important;
}

.directorist-mb-15 {
    margin-bottom: 15px !important;
}

.directorist-mb-20 {
    margin-bottom: 20px !important;
}

.directorist-mb-30 {
    margin-bottom: 30px !important;
}

.directorist-mb-35 {
    margin-bottom: 35px !important;
}

.directorist-mb-40 {
    margin-bottom: 40px !important;
}

.directorist-pb-100 {
    padding-bottom: 100px !important;
}

// others
.directorist-w-100 {
    width: 100% !important;
    max-width: 100% !important;
}