/**
 * EZ Media Uploader
 * Company: Aazz Tech
 * Develoepr: Syed Galib Ahmed
 * Version: 1.0
 * Initial Release: 24 December, 2019
 * */

 .ez-media-uploader {
  margin: 10px auto;
  position: relative;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 250px;
  border: 3px dashed #ccc;
  background-color: #f2f2f2;
}

.ezmu__old-files {
  display: none;
}

.ezmu__media-picker-section,
.ezmu__preview-section,
.ezmu__status-section {
  display: none;
  width: 100%;
}

.ezmu__drop-zone-section {
  display: none;
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  background: #f2f2f2;
}

.ezmu__media-picker-section.--show,
.ezmu__preview-section.--show,
.ezmu__status-section.--show {
  position: relative;
}

.ezmu__media-picker-section.--show,
.ezmu__preview-section.--show,
.ezmu__status-section.--show {
  display: block;
}

.ez-media-uploader.highlight {
  border-color: #2b2b2b;
}

.ez-media-uploader.highlight *,
.ez-media-uploader.drag-enter * {
  pointer-events: none;
}

.ez-media-uploader.highlight .ezmu__drop-zone-section {
  display: flex;
}

.ezmu__media-picker-icon {
  font-size: 3rem;
  min-height: 72px;
  display: block;
  color: gray;
  text-align: center;
}

.ezmu__media-picker-icon-img {
  width: 60px;
  height: auto;
}

.ezmu__media-picker-icon-img-bg {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('../images/cloud-upload-alt-solid.svg');
}

.ezmu__media-picker-buttons {
  margin-top: 20px;
  text-align: center;
}

.ezmu__upload-button-wrap {
  margin-top: 10px;
  display: inline-block;
}
.ezmu__file-input {
  display: none;
}
.ezmu__file-input + .ezmu__input-label {
  cursor: pointer;
}

.ezmu__btn {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 8px 15px;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: all ease-in-out 300ms;
  background-color: #2b2b2b;
  background-color:#fff;
  color:#2b2b2b;
  box-shadow: 0 12px 8px -10px#ccc;
}

.ezmu__btn:hover {
  color: #fff !important;
  background-color: #007bff;
}

.ezmu__loading-section {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #f2f2f2;
  z-index: -99;
}

.ezmu__loading-section.--show {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.ezmu__loading-icon {
  font-size: 4rem;
}

.ezmu__loading-icon-img {
  width: 64px;
  height: auto;
  animation: ezmuSpin linear infinite 2s;
}

.ezmu__loading-icon-img-bg {
  width: 64px;
  height: 64px;
  display: inline-block;
  background-image: url('../images/spinner-solid.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: ezmuSpin linear infinite 2s;
}

@keyframes ezmuSpin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ezmu__thumbnail-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.ezmu__thumbnail-list-item {
  margin: 5px;
  width: 100%;
  max-width: 300px;
  flex-basis: 300px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.ezmu__thumbnail-list-item:first-child
  .ezmu__thumbnail-list-item_front::before {
  content: "Featured";
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px 10px;
  color: #000;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.8);
}

.ezmu__thumbnail-list-item_front {
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.ezmu__thumbnail-front-item {
  position: absolute;
}

.ezmu__front-item__close {
  right: 5px;
  top: 5px;
}
.ezmu__front-item__close-icon {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease-in-out 200ms;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url('../images/times-solid-dark.svg');
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
}

.ezmu__front-item__close-icon:hover {
  color: #fff;
  background-color: rgba(255, 0, 0, 0.7);
  background-image: url('../images/times-solid-light.svg');
}

.ezmu__front-item__close-icon-img {
  width: 12px;
}

.ezmu__front-item__close-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

.ezmu__front-item__featured {
  display: none;
  top: 5px;
  left: 5px;
}

.ezmu__front-item__featured.--show {
  display: block;
}

.ezmu__front-item__featured-text {
  position: static;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  color: #000;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
}

.ezmu__front-item__thumbnail-size {
  bottom: 5px;
  right: 5px;
}
.ezmu__front-item__thumbnail-size-text {
  position: static;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
}

.ezmu__front-item__sort-buttons {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.ezmu__front-item__sort-button {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: all ease-in-out 300ms;
  background-color: rgba(255, 255, 255, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
}

.ezmu__front-item__sort-button.--sort-up {
  background-image: url('../images/chevron-right-solid.svg');
}


.ezmu__front-item__sort-button.--sort-down {
  background-image: url('../images/chevron-left-solid.svg');
}

.ezmu__front-item__sort-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.ezmu__front-item__sort-button-skin {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}

.ezmu__thumbnail-list-item_back {
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #d4d4d4;
}
.ezmu__thumbnail-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ezmu__thumbnail-img-bg {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-image: url('../images/file-solid.svg');
}

.ezmu__thumbnail-icon {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.ezmu_alert {
  margin: 10px auto;
  max-width: 300px;
  width: 100%;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  color: gray;
  background-color:#fff;
  
}
.ezmu_alert_error {
  color:#600000;
  background-color:#fbb;
}

.ezmu__title-1 {
  display: block !important;
  font-size: 2rem !important;
  text-align: center !important;
}
.ezmu__title-2 {
  display: block !important;
  font-size: 1.5rem !important;
  text-align: center !important;
}
.ezmu__title-3 {
  display: block !important;
  font-size: 1.2rem !important;
  text-align: center !important;
}
