
/*****************************
    GENERAL STYLE
*****************************/
.screen-reader-text{
	display: none;
}

.directorist ul{
	padding: 0;
	margin: 0;
}
.directorist li{
	list-style: none;
}
.directorist a:hover, .directorist a:focus{
	text-decoration: none;
}
.directorist a:focus{
	outline: 0;
}
.directorist label {
	cursor: pointer;
}
.directorist img {
	max-width:100%;
}
/* TYPOGRAPHY */
.directorist p,
.directorist a{
	color: #676767;
}
.directorist .single_directory_post p{
	font-size: 14px;
	line-height: 26px;
}

.directorist h1,
.directorist h2,
.directorist h3,
.directorist h4,
.directorist h5,
.directorist h6{
	margin: 0;
	font-weight: 500;
	padding: 0;
	color: #333;
}

/* HELPER CLASSES */
.directorist .no-padding{
	padding: 0;
}
.directorist .no-margin{
	margin: 0;
}
.directorist .padding-left0{
	padding-left: 0;
}
.directorist .ltr{
	text-align: right;
}
.directorist .rtl{
	text-align: left;
}
.directorist .br_0{
	border-right: none!important;
}
.directorist .bt1{
	border-top: 1px solid #e4e4e4;
}
.directorist .v_middle{
	display: inline-block;
	vertical-align: middle;
	margin-right: -3px;
	float: none;
}
.directorist .directory_wrapper input:focus,
.directorist .days_time button{
	outline: 0;
	box-shadow: 0 0 0;
}


/* fallback styles in case form elements lack inherited style*/
.directorist input,
.directorist input,
.directorist input,
.directorist input,
.directorist input,
.directorist input,
.directorist input,
.directorist input,
.directorist input,
.directorist input,
.directorist input,
.directorist textarea,
.directorist select{
	line-height: 35px;
	width: 100%;
	border:1px solid #ccc;
	padding: 0 15px;
	border-radius: 2px;
}
input[type='checkbox']{
	display: inline-block;
	width: auto;
}
.directorist select{
	height: 35px;
}
.directorist .directory_btn span.fa{
	margin-right: 11px;
}


/* HOME PAGE AREA CSS */
.directorist .directory_search_area{
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}
.directorist .directory_search_area:before {
	position: absolute;
	height: 100%;
	width: 100%;
	content: '';
	background: rgba(27,38,39,0.8);
	top: 0;
}
.directorist .directory_main_content_area {
	/*padding: 200px 0;*/
}
.directorist .directory_search_area .menu_area .navbar-header{
	margin-top: 9px;
}
.directorist .directory_search_area .menu_area .navbar-default {
	background: none;
	border: 0;
	margin-bottom: 0;
	border-bottom: 1px solid rgba(255,255,255,0.20);
}
.directorist .directory_search_area .menu_area .navbar-nav{
	float: right;
}
.directorist .directory_search_area .menu_area .navbar-nav>li>a {
	line-height: 42px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	padding-top: 25px;
	padding-bottom: 25px;
}
.directorist .directory_main_content_area .search_area > .title_area {
	text-align: center;
	padding-bottom:10px;
}
.directorist .listing-img-container{
	text-align: center;
	padding:10px 10px 0 10px;
}
.directorist .directory_main_content_area .submit_btn {
	display: inline-block;
	width: 6%;
}
.directorist .directory_main_content_area .single_search_field{
	float: left;
	position: relative;
}

.directorist .directory_main_content_area .single_search_field > span.fa {
	position: absolute;
	right: 20px;
	font-size: 18px;
	color: #898989;
	transition: 0.3s;
	cursor: pointer;
	z-index: 11;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.directorist .directory_main_content_area .search_form_wrapper {
	position: relative;
}
.directorist .directory_main_content_area .single_search_field input:focus,
.directorist .directory_main_content_area .submit_btn button {
	-webkit-box-shadow:  0 0 0;
	-moz-box-shadow:  0 0 0;
	box-shadow:  0 0 0;
	outline: 0;
}
.directorist .directory_main_content_area .single_search_field input{
	line-height: 60px;
	height: 54px;
	padding:0 20px;
	width: 100%;
	font-size: 14px;
	border-color: #ccc;
}

/*Placeholder styles*/
.directorist ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #999;
}
.directorist ::-moz-placeholder { /* Firefox 19+ */
	color: #999;
}
.directorist :-ms-input-placeholder { /* IE 10+ */
	color: #999;
}
.directorist :-moz-placeholder { /* Firefox 18- */
	color: #999;
}

.directorist .directory_main_content_area .single_search_field.search_query,
.directorist .directory_custom_suggestion{
	width: 45%;
	position: relative;
}
.directorist .directory_main_content_area .single_search_field.search_query input{
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
}

.directorist .search_location .select2-selection--single:before{
	display: none;
}
.directorist .directory_main_content_area .single_search_field.search_location {
	width: 25%;
}
.directorist .directory_main_content_area .submit_btn button {
	line-height: 54px;
	padding: 0;
	border:0;
	font-size: 18px;
	width: 100%;
	box-shadow: 0 0 0;
	border-radius: 0 3px 3px 0;
}
.directorist .directory_main_content_area .single_search_field.search_category{
	width: 24%;
}
.directorist .directory_home_category_area ul.categories li {
	display: inline-block;
	margin: 10px;
	background: rgba(255,255,255,0.13);
	max-width: 20%;
	width: 15%;
	text-align: center;
}
.directorist .directory_home_category_area ul.categories li p,
.directorist .directory_home_category_area p{
	text-align: center;
}
.directorist .directory_home_category_area ul.categories li a{
	padding: 15px 0;
	display: block;
	border: 1px solid #ccc;
}
.directorist .directory_home_category_area ul.categories li span{
	font-size: 18px;
}
.directorist .directory_home_category_area {
	text-align: center;
	margin-top: 10px;
}
.directorist .directory_home_category_area ul.categories li > a p {
	font-size: 15px;
	padding-top: 3px;
	margin: 0;
}

.directorist .v_hide{
	visibility: hidden;
	opacity: 0;
}
.directorist .directory_home_category_area > span{
	font-size: 25px;
	line-height: 25px;
	font-weight: 400;
}
.directorist .directory_custom_suggestion {
	background: #fff;
	padding: 10px 0;
	position: absolute;
	width: 54.6%;
}
.directorist .directory_custom_suggestion ul li{
	padding: 5px 20px;
	cursor: pointer;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.directorist .directory_custom_suggestion ul li:hover span.fa,
.directorist .directory_custom_suggestion ul li:hover span.sug{
	color: #fff;
}
.directorist .directory_custom_suggestion ul li > span.fa{
	color: #3a3a3a;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	font-size: 18px;
	margin-right: 10px;
}
.directorist .directory_custom_suggestion ul li span.sug{
	font-size: 20px;
	cursor: pointer;
	font-weight: 400;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	color: #3a3a3a;
}
/*  */
.directorist .directory_container{
	padding: 0 15px;
	width: 100%;
}
.directorist .directory_title{
	padding-top: 33px;
	padding-bottom: 22px;
}
.directorist .directory_title h1{
	color: #333333;
	font-weight: 300;
	font-size: 30px;
	line-height: 80px;
}
.directorist .article_content ul li{
	display: inline-block;
}
.directorist .stars li i {
	color: #ea5c09;
	font-size: 14px;
}
.directorist .single_directory_post figure{
	position: relative;
	/*added new to prevent long excerpt from going up*/
	overflow: hidden;
	
}
.directorist .single_directory_post figcaption {
	text-align: center;
	background: rgba(69, 72, 72, 0.9);
	position: absolute;
	bottom: 0;
	opacity: 0;
	transition: 0.3s;
	color: #fff;
	width: 100%;
	padding: 25px 30px;
	visibility: hidden;
}
.directorist .single_directory_post {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.10);
}
.directorist .single_directory_post:hover  figcaption{
	opacity: 1;
	visibility: visible;
}
.directorist .single_directory_post figcaption p {
	color: #fff;
	font-weight: 400;
	margin: 0;
}
.directorist .post_img_wrapper img{
	width: 100%;
}
.directorist .single_directory_post .content_upper{
	text-align: center;
}
.directorist .single_directory_post .content_upper p{
	text-align: center;
}
.directorist .content_upper p{
	color: #676767;
	margin: 0;
}
.directorist .stars,
.directorist .directory_review_info,
.directorist .br-theme-css-stars{
	display: inline-block;
	vertical-align: middle;
}
.directorist .stars li{
	display: inline-block;
}
.directorist .directory_review_info .rating {
	color: #ea5c09;
	font-weight: 600;
	margin-right: 4px;
	margin-left: 6px;
}
.directorist .directory_review_info .rating_num{
	color: #666;
	
}
.directorist .article_content {
	padding: 17px 22px;
}
.directorist .article_content .directory_edit_btn{
	margin-bottom: 15px;
}
.directorist .article_content ul li .info_title {
	display: inline-block;
    /*
	width: 83px;
    */
	font-weight: 400;
	margin: 0;
	
	color: #676767;
	line-height: 33px;
}
.directorist .article_content ul li .infos{
	display: inline-block;
}
.directorist .article_content .stars li i{
	font-size: 14px;
}
.directorist .article_content .general_info ul li> span {
	
	color: #333;
	font-size: 14px;
	display: inline-block;
	line-height: 30px;
}
.directorist .general_info > ul > li{
	display: block;
}
.directorist .directory_tag {
	display: inline-block;
	background: #f0f0f0;
	padding: 4px 10px;
	border-radius: 3px;
	margin: 0;
	
}
.directorist .read_more_area{
	text-align: center;
}
.directorist .read_more_area .read_more {
	line-height: 36px;
	display: inline-block;
	padding: 0 15px;
	border-radius: 2px;
	background: #fff;
	transition: 0.3s;
	font-family: 'Roboto', sans-serif;
}
.directorist .read_more_area{
	margin-top: 22px;
}

.directorist .general_info {
	border-top: 1px solid #e6e6e6;
	padding-top: 20px;
	margin-top: 19px;
	padding-bottom: 8px;
	border-bottom: 1px solid #e6e6e6;
}
/*.general_info ul li:first-child{

}*/
.directory_tag span.fa{
	margin-right: 6px;
}
/*.directory_wrapper{
	background: #f3f3f3;
}*/
/*.directorist .add_listing_title,
.directorist .add_listing_form_wrapper{
	background: #f9f9f9;
}*/
.directorist .single_directory_post{
	margin-bottom: 30px;
}
/*---------------*/
.directorist .navigation.pagination{
	text-align: center;
	display: block;
}

.directorist .navigation.pagination .nav-links  {
	margin-right: 1px;
	display: inline-block;
}
.directorist .navigation.pagination .nav-links  a,
.directorist .navigation.pagination .nav-links  .current{
	padding: 0;
	line-height: 38px;
	background: transparent;
	width: 40px;
	display: inline-block;
	border: 1px solid #d8d8d8;
	border-radius: 3px;
	transition: 0.3s;
	color: #666666;
	text-align: center;
}

.directorist .navigation.pagination .nav-links  a:hover,
.directorist .navigation.pagination .nav-links  .current{
	background: #efefef;
	/*color: #fff;*/
	/*box-shadow: 0 2px 6px rgba(0,0,0,0.15);*/
}
.pagination-area .nav-links .prev{
	margin-right: 16px;
}
.pagination-area .nav-links .next{
	margin-left: 16px;
}
/*------------*/

.directory_wrapper .pagination_area .pagination li.prev{
	margin-right: 16px;
}
.directory_wrapper .pagination_area .pagination li.next{
	margin-left: 16px;
}
.header_form_wrapper {
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.10);
	padding: 17px 30px;
	margin-bottom: 30px;
}

.directory_field + .directory_field{
	margin-left: 37px;
}
.directory_search_field {
	display: inline-block;
	width: 25%;
}
.directory_search_field input{
	line-height: 41px;
	padding:0 20px;
	border: 1px solid #d5d5d5;
	-webkit-border-radius: 3px;
	width: 100%;
	
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.directory_search_field+.directory_search_field{
	margin-left: 20px;
}
.header_form_wrapper .directory_btn span.fa{
	margin-right: 0;
}
.header_form_wrapper > form {
	display: inline-block;
	width: 90%;
}
.header_form_wrapper .sorting {
	float: right;
	overflow: hidden;
	margin-top: 6px;
}
.sorting select{
	line-height: 35px;
	height: 35px;
	width: 100%;
	border: 1px solid #d5d5d5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.sorting select{
	color: #333;
}

.sorting select:focus{
	outline: 0;
}
.directory_field input{
	line-height: 40px;
	/*padding: 0 20px;*/
	border: 1px solid #d5d5d5;
	border-radius: 3px;
}
.header_form_wrapper .directory_field input:focus,
.header_form_wrapper .directory_field input:active{
	outline: 0;
}
.header_form_wrapper .directory_btn {
	line-height: 42px;
	background: #00bcd4;
	color: #fff;
	border: none;
	margin-left: 10px;
	padding: 0 20px;
	border-radius: 3px;
}

/* DIRECTORY DETAIL PAGER WRAPPER */
.listing_detail,
.review_form{
	padding: 30px 25px 25px;
	text-align: left;
    border: 1px solid #ededed;
}
.review_form{
    margin-bottom: 30px;
}
.directory_contact_area{
	padding: 0 15px;
}
/*#gmap{*/
	/*margin-left: 15px;*/
	/*margin-right: 15px;*/
/*}*/
.about_detail p{
	font-family: 'Roboto', sans-serif;
	color: #676767;
	margin-bottom: 33px;
	line-height: 26px;
}
/*.listing_title h2{
	color: #00bcd4;
	line-height: 30px;
	font-size: 30px;
	
}*/
.listing_title p {
	color: #676767;
	padding-top: 13px;
	margin-bottom: 15px;
}
.directory_tags{
	padding-top: 18px;
}
.about_detail{
	padding-top: 39px;
}
.director_social_wrap p{
	display: inline-block;
	margin: 0;
	
}
.director_social_wrap ul li{
	display: inline-block;
	line-height: 36px;
	text-align: center;
	margin-right: 8px;
	width: 38px;
}
.director_social_wrap ul li a{
	display: block;
	border: 1px solid #ddd;
	color: #333;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.director_social_wrap ul{
	display: inline-block;
	margin-left: 14px;
}
.single_listing_info,
.opening_hours,
.directory_contact_area,
.review_form,
.client_reviews,
.directory_user_area,
.categorized_listings,
.latest_reviews,
.add_listing_form_wrapper{
	/*box-shadow: 0 2px 5px rgba(0,0,0,0.10);
	margin-bottom: 30px;*/
}

.single_listing_info{
	margin-bottom: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
}
.directory_are_title h4 span {
	background: #dcdcdc;
	display: inline-block;
	line-height: 42px;
	width: 43px;
	margin-right: 10px;
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
}

.review_form,
.directory_user_area,
.categorized_listings
/*.directory_wrapper .widget*/{
	background: #fff;
	padding: 20px 30px;
}
.directory_are_title{
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 18px;
	margin-bottom: 18px;
}
.directory_open_hours>ul li,
.directory_contact_area > ul li{
	overflow: hidden;
	
	line-height: 30px;
}
.directory_open_hours ul li .time{
	float: right;
	color: #676767;
}
.directory_open_hours ul li .day{
	float: left;
	color: #333333;
}
.directory_open_hours {
	margin-bottom: 20px;
}
.directory_contact_area ul li .info_title {
	color: #333;
	width: calc(100% - 72%);
	display: inline-block;
}
.directory_contact_area ul li .info{
	color: #676767;
}
.directory_contact_area .director_social_wrap p {
	color: #333;
	width: calc(100% - 76%);
}
.directory_contact_area .director_social_wrap{
	margin-top: 12px;
}
.directory_contact_area .directory_btn {
	margin-top: 20px;
}

/* Map area css*/
#map{
	width: 100%;
	height: 300px;
}
.infoWindowWrap {
	padding: 20px;
}
.gm-style .gm-style-iw{
	width: 200px !important;
}

/* rating area css */
.directory_field{
	display: inline-block;
	width: 100%;
	background: #f2f2f2;
	border: 0;
	line-height: 43px;
	font-family: "Roboto",sans-serif;
	color: #888888;
	font-size: 14px;
	margin-bottom: 20px;
}
#wp-listing_content-wrap{
	margin-bottom: 20px;
}
.directorist .add_listing_form_wrapper .select2-container--default .select2-selection--single{
	background: #f2f2f2;
	border: none;
}
.directorist .add_listing_form_wrapper .select2-selection{
    /*
	margin-bottom: 20px;
    */
	border-radius: 4px;
	background: initial;
	padding: 5px 10px 0 10px;
}
.directorist .add_listing_form_wrapper .select2-container--default.select2-container--focus .select2-selection--single{
	border: none!important;
}
.review_form .directory_field[type='text']{
	width: 248px;
}
textarea.directory_field{
	height: 95px;
	line-height: 26px;
	padding-top: 10px;
}
.directory_field:focus{
	-webkit-box-shadow: 0;
	outline: 0;
	-moz-box-shadow: 0;
	box-shadow: 0;
}
.rating_label {
	font-size: 14px;
	margin: 0;
	
}
.review_form .directory_btn{
	margin-top: 0;
}
.current_rating ul{
	margin-bottom: 0;
}
#map{
	margin-bottom: 30px;
}
.rating {
	text-align: initial;
	float: none;
	margin-left: 11px;
}
.reviewer i,
.reviewer_avatar span{
	font-size: 24px;
	line-height: 38px;
	color: #fff;
	vertical-align: middle;
	width: 40px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin-right: 10px;
	border-radius: 50%;
	background: #ccc;
}
.review_top {
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 15px;
}
.review_content p {
	color: #676767;
	
	margin: 0;
}
.reviewer{
	display: inline-block;
}
.reviewer p,
.review_time{
	display: inline-block;
	margin: 0;
	
	vertical-align: middle;
}
.reviewer p{
	font-size: 16px;
	font-weight: 300;
}
.review_time {
	color: #838383;
	font-size: 14px;
	margin: 0 10px;
}
.review_top .stars{
	float: right;
}
.review_top .stars li i{
	line-height: 43px;
}
.review_content{
	padding-top: 10px;
	padding-bottom: 3px;
}
.single_review{
	padding: 25px 30px;
	border-bottom: 1px solid #e1e1e1;
}
.client_reviews {
	background: #fff;
}
.related_listing_title p,
.atbdp_reviews_title p
{
	font-size: 24px;
	font-weight: 300;
	position: relative;
	z-index: 1;
	padding-right: 20px;
	display: inline-block;
	margin: 0;
	
}
.related_listings .related_listing_title {
	margin: 0 0 30px;
}

.related_listing_title, .atbdp_reviews_title {
	position: relative;
	margin: 0 30px;
	border-bottom: 1px solid #e1e1e1;
	padding: 20px 0;
}
.related_listings {
	padding-top: 30px;
}

/* sidebar css */

.directory_user_area_form{
	text-align: center;
}
.directory_user_area_form .directory_btn.btn_bordered{
	margin-right: 32px;
}
.directory_user_area_form .directory_field{
	margin-left: 0;
	margin-bottom: 30px;
}
.directory_user_area_form form > .directory_btn{
	width: 150px;
}
.directory_user_area_form form{
	margin-top: 28px;
}
.listings li .left_img {
	display: inline-block;
	height: 90px;
	vertical-align: middle;
	width: 90px;
}
.listings li .left_img img{
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
	border-radius: 3px;
}
.right_content {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 94px);
	padding-left: 9px;
}
.right_content .stars{
	display: block;
}
/*.cate_title h4 {
	color: #00bcd4;
	font-weight: 300;
	
}*/
.right_content p.directory_tag {
	margin-bottom: 11px;
}
.right_content .cate_title{
	margin-bottom: 10px;
}
.listings > li+li{
	margin-top: 40px;
}
.categorized_listings{
	padding: 30px;
}
.latest_reviews {
	background: #fff;

}
.latest_reviews .directory_are_title{
	padding: 30px 30px 0;
	border-bottom:0;
}
.latest_reviews .directory_are_title h4{
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 25px;
}
.latest_reviews>ul>li {
	display: block;
	padding: 20px 30px;
}
.latest_reviews>ul>li:first-child{
	padding-top: 5px;
}
.latest_reviews>ul>li + li{
	border-top: 1px solid #e1e1e1;
}
.latest_rev_info .stars {
	display: block;
	margin-top: 6px;
}
.latest_rev_info {
	width: calc(100% - 54px);
	vertical-align: middle;
	display: inline-block;
}
.directory_wrapper{
	text-align: left;
}
.directory_wrapper ul{
	padding-left: 0;
	margin-left: 0;
}
.directory_wrapper .widget ul li{
	margin-left: 0;
}
.directory_wrapper ul li:before{
	display: none;
}
.latest_reviews{
	text-align: left;
}
.latest_reviews .reviewer_avatar{
	display: inline-block;
}
.latest_reviews .directory_title h4{
	padding-bottom: 20px;
}
.latest_rev_info a{
	font-size: 16px;
	line-height: 26px;
}


/* message form css */
.msg_form_btn{
	text-align: center;
	margin-bottom: 40px;
}
.msg_form_btn .directory_btn{
	margin-top: 0;
}



/* Add listing page */
.directorist .add_listing_title h2{
	font-size: 30px;
	line-height: 80px;
	
	font-weight: 300;
	color: #333333;
}
.directorist .add_listing_title {
	text-align: center;
	padding: 18px 0;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.10);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.10);
	box-shadow: 0 1px 4px rgba(0,0,0,0.10);
	margin-bottom: 48px;
}
/*.directorist .add_listing_form_wrapper {
	padding: 54px 42px 35px;
}*/
/*.directorist .add_listing_form_wrapper .directory_field{
	margin-bottom: 30px;
}*/
#always_open[type='radio'],
#particular_open[type='radio']{
	position: absolute;
	visibility: hidden;
}
.directorist .single_radio label span{
	height: 12px;
	position: relative;
	width: 12px;
	vertical-align: middle;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #676767;
}
.directorist .single_radio label p {
	display: inline-block;
	margin-left: 8px;
	vertical-align: middle;
	margin-bottom: 0;
	font-family: 'Roboto', sans-serif;
	color: #676767;
	font-weight: 400;
}
.directorist .single_radio input[type='radio']:checked + label span:before{
	opacity: 1;
	visibility: visible;
}
.directorist .single_radio input[type='radio']:checked + label span{
	border-color: #00bcd4;
}

.directorist .single_radio label span:before{
	content: '';
	height: 6px;
	visibility: hidden;
	opacity: 0;
	width: 6px;
	background: #00bcd4;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.directorist .listing_form_field_title{
	font-size: 16px;
	
	color: #333333;
	font-weight: 400;
	margin-bottom: 16px;
}
.directorist .open_hours_data {
	display: inline-block;
	vertical-align: top;
}
.directorist .days>p,
.directorist .days_time p{
	
	font-size: 14px;
	color: #333;
	font-weight: 400;
}
.directorist .day_selection .single_checkbox {
	display: inline-block;
	margin-right: 8px;
}
.directorist .single_checkbox input[type='checkbox']{
	visibility: hidden;
	position: absolute;
}
.directorist .day_selection {
	background: #f5f5f5;
	min-width: 405px;
	display: inline-block;
	padding: 38px 30px;
	margin-top: 38px;
	margin-left: 11px;
}
.directorist .single_checkbox label {
	line-height: 38px;
	width: 40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background: #fff;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #676767;
	font-weight: 400;
	cursor: pointer;
	font-size: 12px;
	border: 1px solid #cdcdcd;
	border-radius: 50%;
	box-shadow: inset 0px 0px 22px rgba(0,188,212,0.15);
}
.directorist .single_checkbox label.active {
	background: #00bcd4;
	color: #fff;
}
.directorist .single_checkbox label.selected{
	background: #00bcd4;
	color: #fff;
}
.days_time input[type='text'] {
	width: 148px;
	line-height: 42px;
	border: 0;
	
	padding: 0 10px;
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
	margin-right: 20px;
}
.days_time label{
	font-size: 14px;
	color: #676767;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}
.directorist .day_selection_btn button{
	line-height: 35px;
	padding: 0 23px;
	border: 0;
	background: #00bcd4;
	color: #fff;
	
	border-radius: 2px;
}
.directorist .day_selection .days {
	margin-bottom: 20px;
}
.directorist .single_selection{
	display: inline-block;
}
.directorist .single_selection label{
	display: block;
}
.days_time > span {
	color: #00bcd4;
	text-transform: lowercase;
	font-weight: 600;
	margin-right: 15px;
}
.directorist #close{
	opacity: 0;
	position: absolute;
	visibility: hidden;
}
.directorist #close+label span.cs{
	height: 16px;
	width:16px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #ddd;
	display: inline-block;
	position: relative;
	margin-right: 8px;
}
.directorist #close + label span.cs:before{
	content: '\f00c';
	position: absolute;
	color: #fff;
	font-size: 12px;
	top: 50%;
	left: 50%;
	font-family: 'FontAwesome',sans-serif;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
	visibility: hidden;
}
.directorist #close:checked + label span.cs{
	background: #00bcd4;
}
.directorist #close:checked + label span.cs:before{
	opacity: 1;
	visibility: visible;
}
.directorist #close + label span{
	display: inline-block;
	vertical-align: middle;
}
.directorist .day_selection_btn{
	margin-top: 20px;
}
.directorist .wickedpicker__controls__control-up:before,
.directorist .wickedpicker__controls__control-down:after{
	font-family:'FontAwesome',sans-serif;
}
.directorist .wickedpicker__controls__control-up:before{
	content: '\f077';
}
.directorist .wickedpicker__controls__control-down:after{
	content: '\f078';
}
.directorist .directorist .day_selection_btn button{
	width: 85px;
	line-height: 40px;
}
.directory_drag_drop label{
	font-weight: 400;
	
	color: #333;
}
.directorist .btn_wrap{
	text-align: center;
	margin-top: 80px;
}
/*.directorist .listing_submit_btn{
	line-height: 50px;
	width: 171px;
	background: #00bcd4;
	border: 0;
	color: #fff;
	-webkit-border-radius: 3px;
	
	-moz-border-radius: 3px;
	border-radius: 3px;
}*/
/*.directorist select.directory_field{
	height: 43px;
}*/
.directorist .expandable_fields{
	position: relative;
}
.directorist .expandable_fields input{
	width: calc(100% - 80px);
}
.directorist .expandable_fields button {
	position: absolute;
	background: #00bcd4;
	font-size: 12px;
	color: #fff;
	line-height: 41px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0 10px;
	border: 0;
	right: 0;
}
.directorist .expandable_fields button span{
	margin-left: 8px;
}
.directorist .expandable_fields button:focus{
	outline: 0;
}
.expandable_field_wrap .directory_field{
	margin-left: 0;
}
.directory_drag_drop input[type='file']{
	visibility: hidden;
	opacity: 0;
	position: absolute;
}
.directory_drag_drop{
	background: #f5f5f5;
	text-align: center;
	padding: 58px 0;
	border: 0;
}
.directory_drag_drop p{
	color: #919090;
	font-size: 14px;
	line-height: 26px;
	
	font-weight: 400;
}
.directory_drag_drop span.fa{
	font-size: 36px;
	color: #c1c1c1;
	display: block;
}
.directory_drag_drop p span{
	color: #00bcd4;
}
.dz-preview {
	display: inline-block;
}
.dz-progress{
	display: none!important;
}

/* Dashboard Page css */
.directorist .dashboard_wrapper{
	background: #ffffff;
}
.directorist .dashboard_wrapper .single_directory_post .content_upper{
	/*text-align: left;*/
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 13px;
}
.directorist .db_btn_area{
	text-align: center;
	margin-top: 15px;
}
.directorist .db_btn_area .btn {
	width: 110px;
	margin: 5px;
}
.directorist .db_btn_area button {
	width: 95px;
	line-height: 35px;
	text-align: center;
	border: 0;
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	color: #fff;
	display: inline-block;
}
.directorist .db_btn_area button.directory_edit_btn{
	background: #00bcd4;
	padding:0;/*added*/
}
.directorist .db_btn_area button.directory_remove_btn{
	background: #ff4030;
	padding:0;/*added*/

}
.directorist .dashboard_wrapper .single_directory_post .content_upper .post_title a{
	font-size: 18px;
}
.directorist .dashboard_nav .nav_button {
	float: right;
}
.tab-content.row {
	margin-top: 46px;
}
.directorist .dashboard_nav .nav_button button{
	padding: 0 24px;
}
.directorist .dashboard_nav .nav_button button.red{
	background: #ff4030;
}
.directorist .dashboard_nav .nav-tabs{
	display: inline-block;
	border-bottom: 0;
}
.directorist .dashboard_wrapper .nav-tabs>li>a{
	padding: 10px 20px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-webkit-border-radius: 0;
	margin: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-o-transition: 0.3s;
	transition: 0.3s;
	border: 1px solid #e0e0e0;
	position: relative;
}
.directorist .dashboard_wrapper .nav-tabs>li>a:before{
	content: '';
	height: 4px;
	width: 100%;
	background: #333333;
	left: 0;
	top: 0;
	opacity: 1;
	visibility: hidden;
	position: absolute;
}

.directorist .dashboard_wrapper .nav-tabs>li.active>a,
.directorist .nav-tabs>li.active>a:focus,
.directorist .nav-tabs>li.active>a:hover{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0;
}
.directorist .dashboard_wrapper .nav-tabs>li.active>a:before,
.directorist .dashboard_wrapper .nav-tabs>li.active>a:focus:before,
.directorist .dashboard_wrapper .nav-tabs>li.active>a:hover:before{
	opacity: 1;
	visibility: visible;
}
.directorist .dashboard_wrapper .single_directory_post{
	background: #f5f5f5;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	border: 0;
}
.directorist .dashboard_wrapper .single_directory_post:hover{
	background: #fff;
	-webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.10);
	-moz-box-shadow: 0 4px 10px rgba(0,0,0,0.10);
	box-shadow: 0 4px 10px rgba(0,0,0,0.10);
}
.directorist .choose_btn input[type='file']{
	position: absolute;
	opacity: 1;
	visibility: hidden;
}
.directorist .choose_btn > label{
	line-height: 38px;
	padding: 0 37px;
	display: inline-block;
	background: #333333;
	color: #fff;
	cursor: pointer;
	margin-bottom: 0;
}
.directorist .user_img .cross{
	line-height: 36px;
	width: 36px;
	display: inline-block;
	text-align: center;
	color: #fff;
	cursor: pointer;
	background: #ff4030;
}
.directorist .user_pro_img_area {
	background: #f5f5f5;
	padding: 10px
}
.directorist .user_img{
	position: relative;
}
.directorist .user_img .cross{
	top: 0;
	right: 0;
}
.directorist .user_img .cross,
.directorist .user_img .choose_btn{
	position: absolute;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.directorist .user_img:hover .cross,
.directorist .user_img:hover .choose_btn{
	opacity: 1;
	visibility: visible;
}
.directorist .user_img .choose_btn{
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.directorist .user_img img{
	width: 100%;
}
.directorist .user_pro_img_area .directory_btn{
	margin-top: 30px;
	width: 100%;
	line-height: 50px;
}
.directorist .user_info_wrap .directory_btn{
	margin-top: 30px;
	padding: 0 43px;
	line-height: 50px;
}
.directorist .user_info_wrap label {
	font-weight: 500;
	color: #333;
	
	margin-bottom: 12px;
}
.directorist .user_info_wrap .directory_field{
	margin-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
}
#favorite .directorist .db_btn_area button {
	width: auto;
	padding: 0 20px;
}

/* Register page css */
.directory_register_form_wrap{
	background: #fff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.10);
	padding: 65px 30px;
}
.directory_register_form_wrap .directory_field{
	margin-left: 0;
}
.directorist .directory_regi_btn{
	text-align: center;
	margin-top: 30px;
}
.directorist .directory_regi_btn button{
	line-height: 50px;
	border: 0;
	box-shadow: 0 0 0;
	padding: 0 61px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	
}
.directorist .profile_title h4{
	padding-bottom:25px;
}
.directorist .profile_title h4{
	color: #333333;
}


/*  font awesome star */
.directorist .br-theme-css-stars .br-widget {
	white-space: nowrap;
}
.directorist .br-theme-css-stars .br-widget a {
	text-decoration: none;
	width: 18px;
	float: left;
	font-size: 18px;
	/* margin-right: 5px; */
}
.directorist .br-theme-css-stars .br-widget a:after {
	content: "\2605";
	color: #d2d2d2;
}
.directorist .br-theme-css-stars .br-widget a.br-active:after {
	color: #ea5c09;
}
.directorist .br-theme-css-stars .br-widget a.br-selected:after {
	color: #ea5c09;
}
.directorist .br-theme-css-stars .br-widget .br-current-rating {
	display: none;
}
.directorist .br-theme-css-stars .br-readonly a {
	cursor: default;
}
@media print {
	.directorist .br-theme-css-stars .br-widget a:after {
		content: "\2606";
		color: black;
	}
	.directorist .br-theme-css-stars .br-widget a.br-active:after,
	.directorist .br-theme-css-stars .br-widget a.br-selected:after {
		content: "\2605";
		color: black;
	}
}

.directory_register_form_wrap{
	background: #fff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.10);
	padding: 65px 30px;
}
.directory_register_form_wrap .directory_field{
	margin-left: 0;
}
.directorist .directory_regi_btn{
	text-align: center;
	margin-top: 30px;
}

/**/
.directorist .br-theme-css-stars-static ul li{
	margin: 0;
	padding: 0;
}
.directorist .directory_wrapper ul li:before{
	list-style: none;

}
.directorist .post-date{
	display: block;
}

.directorist .current_rating .rating_label,
.directorist .update_rating .rating_label{
	min-width: 120px;
	font-size: 15px;
}
.directorist .current_rating{
	margin-bottom: 10px;
}
.directorist .update_rating{
	margin-bottom: 20px;
}
.directorist .update_rating .br-theme-css-stars .br-widget a{
	font-size: 16px;
	width: 16px;
}

/* FOR STATIC STARS*/
.directorist span.rate_disable:before{
	content: "\2605";
	color: #d2d2d2;
	font-size: 18px;
}
.directorist .br-theme-css-stars-static{
	display: inline-block;
}
.directorist .br-theme-css-stars-static ul{
	margin-left: 0;
	margin-bottom: 0;
}
.directory_tags{
	margin-left: 0;
}
.directorist .br-theme-css-stars-static ul li{
	display: inline-block;
}
.directorist span.rate_active:before {
	content: "\2605";
	color: #e96656;
	font-size: 18px;
}
#atbdp_review_form .rating{
	margin-bottom: 15px;
}
/*.directorist .cor-wrap{*/
	/*margin-top: 40px;*/
	/*margin-bottom: 20px;*/
	/*padding-top: 10px;*/
/*}*/
.directorist .cor-wrap input,
.directorist .cor-wrap label{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}
.directorist .cor-wrap input[type='checkbox']{
	margin: 0;
}
.directorist .cor-wrap label{
	width: calc(100% - 30px);
	margin-left: 10px;
}

.directorist .map_wrapper{
	margin-top: 30px;
}
.directorist .listing-img-container .single_attachment{
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 0 16px 15px 0;
}


.directorist .hide-if-no-js{
	text-align: center;
	margin-top: 20px;
}
.directorist .btn_wrap.list_submit{
	text-align: center;
}
.directorist .btn_wrap.list_submit .btn{
	display: inline-block;
}

/*
========================================
ADMIN SIDE STYLE
========================================
*/

.directorist .single_attachment {
	display: inline-block;
	width: 250px;
	height: 200px;
	margin: 0 20px 20px 0;
	position: relative;
}
.directorist span.remove_image {
	cursor: pointer;
	position: absolute;
	color: #ff0000;
	top: -15px;
	right: -2px;
	font-size: 35px;
}
.directorist .hide-it{
	display: none;
}

.directorist .client_reviews{
	text-align: left;
	border: 1px solid #ededed;
}
#gmap {
	width:100%;
	height:300px;
	z-index:50;
	margin-bottom: 30px;
	margin-top: 30px;
}
.directorist .map_wrapper{
	position: relative;
}
.directorist #floating-panel {
	position: absolute;
	top: 5px;
	right: 7px;
	z-index: 51;
	padding: 5px 5px 5px 10px;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
}

/*Info window*/

.directorist .map_info_window {
	text-align: center;
}
.directorist .map_info_window h3 {
	font-weight: 400;
	font-size: 25px;
}
/* Map area css front end map. NEEDS TO change to gmap later*/
#map{
	width: 100%;
	height: 300px;
}
.directorist .infoWindowWrap {
	padding: 20px;
}


.directorist span.removeSocialField.dashicons.dashicons-trash {
	color: #ff8282;
	font-size: 32px;
	line-height: 32px;
	cursor: pointer;
}
.directorist span.adl-move-icon.dashicons.dashicons-move {
	font-size: 32px;
	line-height: 32px;
	height: auto;
	width: auto;
	margin-left: 10px;
	cursor: move;
	color: #888888;
}
.directorist #addNewSocial{
	font-weight:700;
	font-size: 12px;
}
.directorist .plus-sign {
	font-weight:900;
	padding-right:5px;
}
.directorist .single_attachment {
	display: inline-block;
	width: 250px;
    height: 200px;
    margin: 0 20px 20px 0;
    position: relative;
}
span.remove_image {
    cursor: pointer;
    position: absolute;
    color: #ff0000;
    top: -15px;
    right: -2px;
    font-size: 35px;
}

.atbdp-warning {
	color: #001fff;
}

/*Ajax loading */
.atbdp_ajax_loading {
	background: url("../images/spinner-2x.gif") no-repeat center center;
	display: inline-block;
	background-size: cover;
	min-height: 35px;
	min-width: 35px;
	position: relative;
	top: 14px;
	left: 5px;
}

/* select 2 customize */
.directorist .select2-container .select2-search--inline .select2-search__field{
	margin-top: 0!important;
}
.directorist .single_search_field  .select2-container--default .select2-selection--single{
	border-radius: 0!important;
	height: 54px;
}
.directorist .select2-container--default .select2-selection--single,
.directorist .select2-container--default.select2-container--focus .select2-selection--single{
	/*border: none!important;*/
	border: 1px solid #ccc;
}
.directorist .single_search_field .select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 54px;
}
.directorist .single_search_field .select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.directorist .directory_btn.btn{
	display: inline-block!important;
}
.directorist .directory_btn.btn + .directory_btn{
	margin-left: 10px;
}
@media (max-width: 991px)   {
	.directorist .single_search_field{
		width: 100%!important;
		margin-bottom: 10px;
		border-radius: 4px;
	}
	.directorist .select2-container--default .select2-selection--single{
		border-radius: 4px!important;
	}
	.directorist .directory_main_content_area .submit_btn{
		display: block;
		width: 100%;
		text-align: center;

	}
	.directorist .directory_main_content_area .submit_btn button{
		border-radius: 4px;
	}
}
@media (max-width: 479px){
	.directorist .add_listing_form_wrapper{
		padding: 54px 20px;
	}
	.directorist .directorist .btn_wrap.list_submit{
		margin-top: 10px;
	}
}
@media (min-width: 380px ) and (max-width: 992px){
	.directorist .article_content .directory_edit_btn {
		margin-bottom:0;
	}
}
.add_listing_form_wrapper{

}

.single-at_biz_dir .entry-header{
	display: none;
}




/*RESPONSIVE CSS*/
@media  (max-width: 1199px){
	.directorist .single_image img{
		width: 100%;
	}
}

/*////////////// MEDIUM DEVICES //////////////*/
@media (min-width: 992px) and (max-width: 1199px){
	.directorist .header_form_wrapper > form{
		width: 87%;
	}
	.directorist .directory_user_area_form .directory_btn.btn_bordered{
		margin-right: 0;
	}
	.directorist .latest_reviews>ul>li {
		display: block;
		padding: 20px 25px;
	}
}

/*////////////// MEDIUM DEVICES //////////////*/
@media screen and (max-width: 991px){
	.directorist .directory_main_content_area .submit_btn {
		display: inline-block;
		width: 100%;
	}
	.directorist .directory_main_content_area .single_search_field.search_query{
		width: 56%;
	}
	.directorist .single_search_field  .select2-container--default .select2-selection--single{
		-webkit-border-radius: 4px!important;
		-moz-border-radius: 4px !important;
		border-radius: 4px !important;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.directorist .header_form_wrapper > form{
		width: 81%;
	}
}

@media (min-width: 768px){

}


/*////////////// TAB OR LARGE MOBILE PHONE //////////////*/
@media (min-width: 768px) and (max-width: 991px) {
	.directorist .directory_user_area_form .directory_btn.btn_bordered {
		margin-bottom: 20px;
	}

	.directorist .listings li .left_img {
		width: 100%;
		height: 100%;
	}

	.directorist .listings li .left_img img {
		width: 100%;
	}
	.directorist .review_time{
		margin-left: 0;
	}
	.directorist .right_content {
		width: 100%;
		padding-left: 0;
		margin-top: 20px;
	}
	.directorist .review_form .directory_field+.directory_field{
		margin-left: 0;
	}
	.directorist .review_form .directory_field[type='text'] {
		width: 281px;
	}
}


/*////////////// CUSTOM RESPONSIVE CSS //////////////*/
@media screen and (max-width: 767px){

	.directorist .directory_search_field+.directory_search_field{
		margin-left: 0;
		margin-top: 20px;
	}
	.directorist .header_form_wrapper{
		text-align: center;
	}
	.directorist .header_form_wrapper .directory_btn{
		margin: 0;
	}
	.directorist .header_form_wrapper .directory_btn{
		width: 100%;
		margin-top: 20px;
	}
	.directorist .header_form_wrapper .sorting{
		margin-left: 0;
		margin-top: 20px;
		float: none;
	}
	.directorist .header_form_wrapper > form{
		width: 100%;
	}
	.directorist .review_form .rating{
		width: 100%;
		text-align: left;
		margin-bottom: 20px;
	}
	.directorist .review_form .rating .rating_label{
		display: inline-block;
		margin-right: 6px;
	}

	/* review form */
	.directorist .review_form .directory_field[type='text']{
		margin-left: 0;
		width: 100%;
	}
	.directorist .sorting select{
		height: 43px;
		padding:0 15px;
	}

	.directorist .dashboard_nav .nav_button{
		float: none;
	}

	/* Directory search */
	.directorist .directory_search_area .menu_area .navbar-nav{
		float: none;
	}
	.directorist .directory_search_area .menu_area .navbar-nav>li>a{
		padding-top: 0;
		padding-bottom: 0;
		line-height: 38px;
	}
}


/*////////////// SMALL DEVICES( mobile phones ) //////////////*/
@media (min-width: 480px) and (max-width: 767px){
	/* container width */
	/*.container{*/
	/*width: 450px;*/
	/*}*/
	.directorist .directory_main_content_area .single_search_field.search_query{
		width: 55%;
	}
	.directorist .directory_main_content_area {
		padding: 125px 30px;
	}
	.directorist .directory_main_content_area .submit_btn{
		width: 10%;
	}
	.directorist .directory_main_content_area .search_area > .title_area h2.title{
		font-size: 52px;
	}

}

/*////////////// XTRA SMALL DEVICES( mobile phones ) //////////////*/
@media (min-width: 300px) and (max-width: 479px){
	/*.container{*/
	/*width: 300px;*/
	/*}*/
	.directorist .directory_title h1{
		font-size: 20px;
		line-height: 46px;
	}
	.directorist .listing_detail {
		padding: 29px 25px 25px;
	}
	.directorist .director_social_wrap ul{
		margin-left: 0;
		margin-top: 10px;
	}
	.directorist .directory_contact_area ul li .info_title{
		display: block;
		position: relative;
		width: 100%;
	}
	.directorist .directory_contact_area ul li .info_title:before{
		position: absolute;
		height: 1px;
		width: 50px;
		background: #ccc;
		content: '';
		bottom: 0;
		left: 0;
	}
	.directorist .directory_contact_area > ul li{
		margin-bottom: 12px;
	}
	.directorist .directory_contact_area .director_social_wrap p{
		width: 100%;
	}
	.directorist .review_top .stars li i {
		line-height: 21px;
	}
	.directorist .reviewer{
		margin-bottom: 10px;
	}
	.directorist .listing_title h2{
		font-size: 23px;
		line-height: 26px;
	}
	.directorist .review_time{
		margin-left: 0;
	}
	.directorist .directory_user_area_form .directory_btn.btn_bordered{
		margin-bottom: 20px;
	}
	.directorist .add_listing_form_wrapper {
		padding: 54px 22px 35px;
	}
	.directorist .directory_drag_drop{
		margin-bottom: 20px;
	}
	.directorist .dashboard_nav .nav-tabs{
		display: block;
		margin-bottom: 20px;
	}
	.directorist .dashboard_nav .nav-tabs li{
		display: block;
		float: none;
	}
}

.directorist input#atbdp_checkout_submit_btn {
	width: auto;
	margin: 0 0 0 5px;
}
.directorist span.directorist-ribbon{
	font-size: 12px;
	padding: 2px 5px;
	border-radius: 4px;
}
.directorist span.directorist-ribbon.featured-ribbon {
	background: #f8dc1b;
	color: #4d1c1c;
}
.directorist article.directorist-featured-listings {
	background: #f8fcf5;
}
.directorist .directorist .single_directory_post .listing-meta p{
	margin-bottom: 0;
}
.directorist .directorist .single_directory_post .listing-meta p span{
	font-weight: 500;
	color: #000;
	margin-right: 7px;
}
.directorist .atbdp_info_module{
	display: block;
	width: 100%;
}
.directorist .atbdp_info_module:before, .atbdp_info_module:after{
	content: '';
	clear: both;
	display: table;
}
.directorist .atbdp_info_module {
	display: block;
	padding-bottom: 30px;
	border-bottom: 1px solid #ededed;
	margin-bottom: 50px;
}
.directorist .directorist-contact-fields .directorist_contact_form_title{
	margin-bottom: 20px;
}
.directorist .gateway_list input {
	width: auto;
	margin-right: 10px;
}
.directorist .directorist-contact-fields .cor-wrap {
	margin-top: 25px;
	margin-bottom: 20px;
}
.directorist .cor-wrap.disable_open_hour{
	margin-bottom: 15px;
}
.directorist .enable247hour{
	margin-bottom: 20px;
}
.directorist  .listing-meta.db_btn_area p{
	margin: 0;
}
.directorist  .listing-meta.db_btn_area p span{
	font-weight: 500;
	color: #333;
	margin-right: 10px;
}


.directorist .dashboard_wrapper .single_directory_post.featured{
	background: #f8fcf5;
}
.directorist .single_directory_post .content_upper p.featured_ribbon {
	background: #f8dc1b;
	text-align: center;
	color: #333;
	border-radius: 3px;
	border-bottom: 1px solid #ccc;
	line-height: 30px;
	display: inline-block;
	padding: 0 20px;
	margin-top: 12px;
}
.directorist .directorist-contact-fields .form-check{
	margin-bottom: 30px;
}
.directorist .business-hour-title{
	margin-bottom: 30px;
}
.directorist .business-hour-title p{
	margin-bottom: 0;
}

/*fix problem with quick tags*/
#qt_listing_content_toolbar input{
	width:initial;
}
