/* All Listing Card */
.directorist-search-modal {
    display: none;
}
.directorist-content-active .directorist-listing-single {
    background-color: var(--directorist-color-white);
    border-radius: 12px;
}

.directorist-form-group.directorist-icon-left .location-name {
    padding-left: 0;
}
.listing-with-sidebar__searchform .directorist-search-form .directorist-filter-location-icon {
    left: unset;
    bottom: 13px;
}

.directorist-content-active .directorist-listing-single.directorist-listing-card .directorist-badge, 
.directorist-content-active .directorist-listing-single.directorist-listing-list .directorist-badge {
    width: auto;
    height: auto;
    padding: 0 5px;
    border-radius: 5px;
}
.directorist-content-active .directorist-listing-single .directorist-badge.directorist-badge-popular {
    background-color: var(--directorist-color-popular-badge) !important;
}
.directorist-content-active .directorist-listing-single .directorist-badge.directorist-badge-new {
    background-color: var(--directorist-color-new-badge) !important;
}
.directorist-content-active .directorist-listing-single .directorist-badge.directorist-badge-featured {
    background-color: var(--directorist-color-featured-badge) !important;
}
.directorist-content-active .directorist-listing-single .directorist-badge.directorist-badge-closed {
    background-color: var(--directorist-color-closed-badge) !important;
}
.directorist-content-active .directorist-listing-single .directorist-badge.directorist-badge-open {
    background-color: var(--directorist-color-open-badge) !important;
}

.directorist-listing-single__info--top {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.directorist-listing-single__info--list ul {
    display: flex;
    gap: 8px;
    flex-direction: column;
    margin-top: 10px;
}
.directorist-listing-single__info--list ul > div {
    display: flex;
    gap: 6px;
    align-items: center;
}
.leaflet-popup-content .media-body .directorist-icon-mask:after {
    width: 14px;
    height: 14px;
}



/* Single Listing */
.directorist-single-contents-area .directorist-signle-listing-top .directorist-return-back {
    display: flex;
    gap: 6px;
    align-items: center;
    text-decoration: unset;
}
.directorist-single-contents-area .directorist-single-listing-header {
    margin-top: 15px;
}

.directorist-single-contents-area .directorist-single-listing-header .directorist-card__header--title {
    margin: 0;
}

.directorist-single-contents-area .directorist-single-listing-header .directorist-single-listing-action {
    padding: 0 5px;
}

.directorist-single-listing-action .directorist-social-share-links {
    position: absolute;
    top: 25px;
    right: 0;
    min-width: 160px;
    padding: 10px 0;
    margin: 0;
    background: var(--directorist-color-white);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    overflow: hidden;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    height: 0;
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
.directorist-social-share:hover .directorist-social-share-links {
    opacity: 1;
    visibility: visible;
    height: auto;
    transform: translateY(0);
}
.directorist-single-listing-action .directorist-social-share-links .directorist-social-links__item a {
    display: flex;
    gap: 6px;
    align-items: center;
    text-decoration: none;
    padding: 8px 12px;
    background: var(--directorist-color-white);
}
.directorist-single-listing-action .directorist-social-share-links .directorist-social-links__item a:hover {
    background: var(--directorist-color-light);
}

.directorist-single-contents-area .directorist-single-listing-header .plasmaSlider .plasmaSliderTempImage {
    padding-top: 0 !important;
}

.directorist-single-contents-area .directorist-card .directorist-card__header .directorist-card__header--title {
    display: flex;
    gap: 6px;
    align-items: center;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.directorist-single-wrapper .directorist-review-container {
    background-color: var(--directorist-color-white);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    overflow: hidden;
}
.directorist-single-wrapper .directorist-review-content .directorist-review-content__header {
    border: none;
    padding: 20px 30px 0;
    border-radius: unset;
}
.directorist-single-wrapper .directorist-review-content .directorist-review-content__header h3,
.directorist-single-wrapper .directorist-review-submit .directorist-review-submit__header h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px;
}
.directorist-review-content .directorist-review-content__overview {
    padding-top: 0 30px 10px;
}
.directorist-single-wrapper .directorist-review-submit {
    border: none;
    border-radius: unset;
}
.directorist-single-wrapper .directorist-review-submit .directorist-review-submit__header,
.directorist-single-wrapper .directorist-review-submit .directorist-review-submit__form {
    padding: 0 30px;
}
.directorist-form-group textarea, .directorist-form-group textarea.directorist-form-element {
    min-height: 200px;
}

.directorist-details-info-wrap .directorist-single-info__label .directorist-single-info__label--text {
    margin-top: 5px;
}