.atbd_content_active #directorist.atbd_wrapper{
  .btn{
    font-size: 14px;
    text-transform: capitalize;
    &:hover{
      background-image: none;
    }
  }
  .atbd_upload_btn{
    line-height: 48px;
    display: inline-block;
    padding: 0 20px;
    span{
      @extend .atbd_color-primary;
      margin-right: 6px;
    }
    background: #f5f7fc;
    color: #9299b8;
  }
}
#directorist.atbd_wrapper{
  .btn-sm {
    font-size: 14px;
    padding: 4px 8px;
  }
  .btn-outline-primary:hover,
  .btn-outline-danger:hover{
    color: #fff !important;
  }
  .btn-bordered{
    background: none !important;
    border: 1px solid #e3e6ef !important;
    color: #7a82a6 !important;
  }
  .btn-bordered:hover{
    background: none !important;
    border-color: #444752 !important;
  }
}
// Directorist Checkbox
.directorist_checkbox{
  display: flex;
  align-items: center;

  label{
    position: relative;
    top: 1px;
    color: #605F74 !important;
    margin-left: 10px !important;
    margin-bottom: 0 !important;
  }

  input[type="checkbox"]{
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 2px solid #C6D0DC;

    &:checked{
      background-color: $dark !important;
      border-color: $dark !important;
      
      &:before{
        top: 0;
        left: 15px;
        color: #fff;
        content: '\f147';
        font: normal 14px/1 dashicons;
        margin: 0;
      }
      &+label{
        color: $dark;
      }
    }
    &:before{
      width: auto;
      height: auto;
      margin: 0;
      left: 12px;
      top: -2px;
    }
    &:focus{
      outline: 0 none;
      box-shadow: 0 0;
    }
  }
}

// Directorist Radio
.directorist_radio{

  label{
    position: relative;
    margin-left: 0;
    padding-left: 35px;
    &:before{
      position: absolute;
      left: 0;
      top: 3px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border-radius: 50%;
      border: 1px solid #C6D0DC;
      content: '';
    }
  }

  input[type="radio"]{
    display: none;
    position: relative;

    &:checked{
      &+label{
        &:before{
          border-color: $dark !important;
          border-width: 5px;
        }
      }
    }
    
    &:focus{
      outline: 0 none;
      box-shadow: 0 0;
    }
  }
}