// Directorist Dropdown Style
.directorist_dropdown{
    border: 1px solid #EFF1F6;
    border-radius: 5px;
    height: 40px;
    position: relative;
    .directorist_dropdown-toggle{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        width: 100%;
        height: 100%;
        position: relative;
        &:before{
            content: '\f347';
            font: normal 12px/1 dashicons;
        }
        .directorist_dropdown-toggle__text{
            order: -1;
        }
    }
    .directorist_dropdown-option{
        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        top: 44px;
        padding: 15px;
        background-color: #fff;
        box-shadow: 0 10px 40px rgba(134,142,174,.18823529411764706);
        border-radius: 5px;
        z-index: 99999;
        ul{
            li{
                a{
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    display: block;
                    padding: 9px 10px;
                    border-radius: 4px;
                    color: #5a5f7d;
                }
            }
        }
    }
}