// Form Element
.directorist-form-group {
    &.directorist-faq-group{
        margin-bottom: 1rem;
    }
    .directorist-form-element {
        height: 42px;
        padding: 15px 20px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 5px;
        width: 100%;
        border: 1px solid #dbdaf7;

        &:focus {
            outline: none;
            box-shadow: 0 0;
        }
    }
}

.directorist-btn {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: $dark;
    vertical-align: middle;
    text-align: center;
    user-select: none;
    cursor: pointer;
    padding: 0 26px;
    line-height: 2.95 !important;
    border-radius: 5px !important;
    background-color: #F2F3F5;
    border-color: transparent;
    text-decoration: none;
  
    &:focus {
      outline: 0 !important;
      text-decoration: none !important;
    }
}
  
// Button Type
#directorist.atbd_wrapper{
  .directorist-btn {
    &.directorist-btn-primary {
      background-color: $primary;
      color: #fff;
    }
  
    &.directorist-btn-secondary {
      background-color: $secondary;
      color: #fff;
    }
  
    &.directorist-btn-dark {
      background-color: $dark;
      color: #fff;
    }
  
    &.directorist-btn-success {
      background-color: $success;
      color: #fff;
    }
  
    &.directorist-btn-info {
      background-color: $info;
      color: #fff;
    }
  
    &.directorist-btn-warning {
      background-color: $warning;
      color: #fff;
    }
  
    &.directorist-btn-danger {
      background-color: $danger;
      color: #fff;
    }
  }
}


// Common Classes
.directorist-flex {
    display: flex;
}

.directorist-align-center {
    align-items: center;
}

.directorist-justify-content-center {
    justify-content: center;
}

.directorist-justify-content-between {
    justify-content: space-between;
}

.directorist-justify-content-around {
    justify-content: space-around;
}

.directorist-justify-content-start {
    justify-content: flex-start;
}

.directorist-justify-content-end {
    justify-content: flex-end;
}

.directorist-form-group textarea, .directorist-form-group textarea.directorist-form-element {
    min-height: 120px;
}

.directorist-mb-15{
  margin-bottom: 15px;
}

/* Modal Core Styles */
.directorist-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
    outline: 0;
}

.directorist-modal__dialog {
    position: relative;
    width: 500px;
    margin: 30px auto;
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 5rem);
    pointer-events: none;
}
.directorist-modal__dialog-lg{
  width: 900px;
}

.directorist-modal__content{
    width: 100%;
    background: #fff;
    pointer-events: auto;
    border-radius: 3px;
    position: relative;
    .directorist-modal__header{
        position: relative;
        padding: 15px;
        border-bottom: 1px solid #ececec;
        .directorist-modal__header--title{
            font-size: 16px;
            font-weight: 600 !important;
            margin: 0;
        }
        .directorist-modal-close{
            position: absolute;
            right: 15px;
            top: 10px;
            line-height: 1.45;
            padding: 6px;
            i{
                color: #cd2653;
            }
        }
    }
    .directorist-modal__body{
        padding: 20px 25px;
    }
    .directorist-modal__footer{
        border-top: 1px solid #ececec;
        padding: 18px;
        .directorist-modal__action{
            display: flex;
            justify-content: flex-end;
            margin: -7.5px;
            button{
                text-decoration: none;
                margin: 7.5px !important;
            }
        }
    }
}
.directorist-modal__dialog.directorist-modal--lg {
    width: 800px;
}

.directorist-modal__dialog.directorist-modal--xl {
    width: 1140px;
}

.directorist-modal__dialog.directorist-modal--sm {
    width: 300px;
}

.directorist-modal.directorist-fade {
    transition: .3s ease;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}

.directorist-modal.directorist-fade:not(.directorist-show) {
    opacity: 0;
    visibility: hidden;
}

.directorist-modal.directorist-show .directorist-modal__dialog {
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease;
}

/* Responsive CSS */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .at-modal-content.at-modal-xl,
    .at-modal-content.at-modal-lg,
    .at-modal-content.at-modal-md,
    .at-modal-content.at-modal-sm{
        width: calc(100% - 60px);
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .at-modal-content.at-modal-xl,
    .at-modal-content.at-modal-lg,
    .at-modal-content.at-modal-md,
    .at-modal-content.at-modal-sm{
        width: calc(100% - 60px);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .at-modal-content.at-modal-xl,
    .at-modal-content.at-modal-lg,
    .at-modal-content.at-modal-md,
    .at-modal-content.at-modal-sm{
        width: calc(100% - 60px);
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .at-modal-content.at-modal-xl,
    .at-modal-content.at-modal-lg,
    .at-modal-content.at-modal-md,
    .at-modal-content.at-modal-sm{
        width: calc(100% - 30px);
    }
}

/* Directorist Tooltip */
.directorist-tooltip {
    position: relative;

    &.directorist-tooltip-bottom{
      &[aria-label]:before {
        bottom: -8px;
        top: auto;
        border-top-color:#fff;
        border-bottom-color:rgba(0, 0, 0, 1);
      }
      &[aria-label]:after{
        transform: translate(-50%);
        top: 100%;
        margin-top: 8px;
      }
    }
    &[aria-label]:before,
    &[aria-label]:after {
      position: absolute !important;
      bottom: 100%;
      display: none;
      height: fit-content;
      animation: showTooltip 0.3s ease;
    }
  
    &[aria-label]:before {
      content: "";
      left: 50%;
      top: -6px;
      transform: translateX(-50%);
      border: 6px solid transparent;
      border-top-color: rgba(0, 0, 0, 1);
    }
  
    &[aria-label]:after {
      font-size: 14px;
      content: attr(aria-label);
      left: 50%;
      transform: translate(-50%, -6px);
      background: rgba(0, 0, 0, 1);
      padding: 4px 12px;
      border-radius: 0.2em;
      color: #fff;
      z-index: 9999;
      text-align: center;
      min-width: 140px;
      max-height: 200px;
      overflow-y: auto;
    }
  
    &[aria-label]:hover:before,
    &[aria-label]:hover:after {
      display: block;
    }
    .directorist-tooltip__label{
      font-size: 16px;
      color: $dark;
    }
}

// Directorist Tooltip Type
.directorist-tooltip {
    &.directorist-tooltip-primary{
      &[aria-label]:after {
        background-color: $primary;
      }
      &[aria-label]:before {
        border-top-color: $primary;
      }
    }
    &.directorist-tooltip-secondary{
      &[aria-label]:after {
        background-color: $secondary;
      }
      &[aria-label]:before {
        border-bottom-color: $secondary;
      }
    }
    &.directorist-tooltip-info{
      &[aria-label]:after {
        background-color: $info;
      }
      &[aria-label]:before {
        border-top-color: $info;
      }
    }
    &.directorist-tooltip-warning{
      &[aria-label]:after {
        background-color: $warning;
      }
      &[aria-label]:before {
        border-top-color: $warning;
      }
    }
    &.directorist-tooltip-success{
      &[aria-label]:after {
        background-color: $success;
      }
      &[aria-label]:before {
        border-top-color: $success;
      }
    }
    &.directorist-tooltip-danger{
      &[aria-label]:after {
        background-color: $danger;
      }
      &[aria-label]:before {
        border-top-color: $danger;
      }
    }
    &.directorist-tooltip-bottom{
      &.directorist-tooltip-primary{
        &[aria-label]:before {
          border-bottom-color: $primary;
        }
      }
      &.directorist-tooltip-secondary{
        &[aria-label]:before {
          border-bottom-color: $secondary;
        }
      }
      &.directorist-tooltip-info{
        &[aria-label]:before {
          border-bottom-color: $info;
        }
      }
      &.directorist-tooltip-warning{
        &[aria-label]:before {
          border-bottom-color: $warning;
        }
      }
      &.directorist-tooltip-success{
        &[aria-label]:before {
          border-bottom-color: $success;
        }
      }
      &.directorist-tooltip-danger{
        &[aria-label]:before {
          border-bottom-color: $danger;
        }
      }
    }
  }
    
  @keyframes showTooltip {
      from {
          opacity: 0;
      }
  }

  // Directorist Card Style
.directorist-card{
  border: 1px solid #e3e6ef;
  border-radius: 4px;
  background-color: #fff;
  .directorist-card__header{
      padding: 16px 20px;
      border-bottom: 1px solid #e3e6ef;
      border-radius: 4px 4px 0 0;
      .directorist-card__header--title{
          font-size: 18px;
          font-weight: 500;
          line-height: 1.2;
          color: $primary;
          letter-spacing: normal;
          display: flex;
          align-items: center;
          padding: 0;
          margin: 0;
          i,
          span.la,
          span.fa{
              font-size: 16px;
              margin-right: 10px;
              color: #444752;
          }
      }
  }
  .directorist-card__body{
      padding: 20px 25px;
      border-radius: 0 0 4px 4px;
      p{
          font-size: 15px;
          &:last-child{
              margin-bottom: 0;
          }
      }
  }
}

.directorist-compare-btn{
  i,
  span.la,
  span.las,
  span.fa,
  span.fas,
  span.lab,
  span.fab{
      color: #fff;
      top: 2px;
      right: 2px;
  }
}

// Faq Extension

.atbd_content_active{
  .directorist-faq-accordion{
    .directorist-faq-accordion__single{
      .directorist-faq-accordion__title{
        a{
          &:before{
            font-family: "LineAwesome";
            content: '\f2c2';
          }
          &.directorist-active{
            &:before{
              content: '\f28e'!important;
            }
          }
        }
      }
    }
  }
}
#directorist.atbd_wrapper {
  .directorist-gallery-grid-two {
    .directorist-grid-item{
      margin-bottom: 5px;
    }
    figure{
      figcaption{
        a{
          width: 2.5rem;
          height: 2.5rem;
          background: #f5f3f6;
          border-radius: 18.75rem;
          color: inherit;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1rem;
          transition: .3s;
          span.la,
          span.las,
          span.fa,
          span.fas{
            color: $dark;
          }

          &:hover{
            color: #fff;
            background: #f51957;
            span.la,
            span.las,
            span.fa,
            span.fas{
              color: #fff;
            }
          }

        }
      }
    }
  }
}

// Directorist Checkbox & Radio Components

.directorist-radio{
    display: flex;
    align-items: center;
  
    input[type="checkbox"],
    input[type="radio"]{
        display: none;

        & +.directorist-checkbox__label,
        & +.directorist-radio__label{
            font-size: 14px;
            display: flex;
            flex-flow: column;
            position: relative;
            display: inline-block;
            user-select: none;
            padding-left: 30px;
            margin-bottom: 0;
            line-height: 1.3;
            font-weight: 400;
            color: $body-color;

            &:after{
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border-radius: 3px;
                content: "";
                border: 1px solid #C6D0DC;
                background-color: #fff;
            }
        }

        &:checked {
            & +.directorist-checkbox__label,
            & +.directorist-radio__label{
                &:after{
                    background-color: $dark;
                    border-color: $dark;
                }

                &:before{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

// Directorist Radio Inner Element
.directorist-radio{
  input[type="radio"]{
      & +.directorist-radio__label{
          &:before{
              position: absolute;
              left: 6px;
              top: 6px;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: $dark !important;
              border: 0 none;
              opacity: 0;
              visibility: hidden;
              z-index: 2;
              content: '';
          }
      }
      &:checked{
          & +.directorist-radio__label{
              &:after{
                  background-color: #fff;
              }
          }
      }
  }
}

// Directorist Checkbox & Radio Circle
.directorist-checkbox.directorist-checkbox-circle,
.directorist-radio.directorist-radio-circle{
    input[type="checkbox"],
    input[type="radio"]{
        & +.directorist-checkbox__label,
        & +.directorist-radio__label{
            &:after{
                border-radius: 50%;
            }
        }
    }
}
#directorist.atbd_wrapper{
  .directorist-booking-content-inner {
    .directorist-booking-sortby-select{
      .atbd-drop-select .atbd-dropdown-toggle{
        &::after{
          position: absolute;
          top: 15px;
        }
      }
    }
  }
}

// Booking Extension Legacy Support
#directorist.atbd_wrapper{
  .directorist-booking-hour-selection{
    .diretorist-booking-hour-remove{
      margin: 10px;
    }
  }
}