/**
 * Plasma Slider
 * Company: Aazz Tech
 * Develoepr: Syed Galib Ahmed
 * Version: 1.0
 * Initial Release: 1 February, 2020
 * */

.plasmaSlider {
  position: relative;
  background-color: #000;
}

.plasmaSlider__body {
  padding-top: 52.25%;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #000;
}

.plasmaSlider__controlRight,
.plasmaSlider__controlLeft {
  position: absolute;
  top: 50%;
  z-index: 99;
  transform: translate(0, -50%);
}

.plasmaSlider__controlRight {
  right: 15px;
}
.plasmaSlider__controlLeft {
  left: 15px;
}

.plasmaSlider__arrowBtn {
  position: relative;
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0 25px -10px #000;
  background-color: rgba(0, 0, 0, 0.2);
}

.plasmaSlider__arrowBtn:focus {
  outline: 0;
}

.plasmaSlider__arrowBtn.arrowBtn--right {
  padding-left: 10px;
}

.plasmaSlider__arrowBtn.arrowBtn--left {
  padding-right: 10px;
}

.plasmaSlider__icon {
  color: #fff;
  font-size: 2rem;
}

.plasmaSlider__arrowBtn .plasmaSliderIcon {
  font-size: 2rem;
}

.plasmaSlider__contents {
  overflow: hidden;
  z-index: 88;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.plasmaSlider__contentsWrap {
  position: relative;
  transition: all ease-in-out 300ms;
  height: 100%;
  width: 0%;
  display: flex;
  position: relative;
  transition: all ease-in-out 300ms;
  left: 0;
}

.plasmaSlider__bg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: gainsboro;
}

.plasmaSlider__bgImg,
.plasmaSlider__bgImgBlur {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.plasmaSlider__bgImgBlur {
  z-index: 55;
  object-fit: cover;
  filter: blur(20px);
}
.plasmaSlider__bgImg {
  z-index: 88;
  object-fit: contain;
}

.plasmaSlider__sliderItem {
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.plasmaSliderSkin {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.plasmaSlider__footer {
  display: block;
}

.plasmaSlider__thumbnailList {
  display: flex;
  border: 1px solid #000;
  overflow-y: hidden;
  overflow-x: auto;
}
.plasmaSlider__thumbnailListItem {
  height: 100px;
  cursor: pointer;
  border: 2px solid #000;
}
.plasmaSlider__thumbnailListItem.active {
  border-color: #15bafb;
}
.plasmaSlider__thumbnailListItemImg {
  width: auto;
  height: 100%;
}

.plasmaSliderTempImage {
  padding-top: 52.25%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.plasmaSliderTempImage .plasmaSliderTempImgBlur,
.plasmaSliderTempImage .plasmaSliderTempImg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.plasmaSliderTempImage .plasmaSliderTempImgBlur {
  width: 100%;
  height: 100%;
  filter: blur(20px);
}

.plasmaSliderTempImage .plasmaSliderTempImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.plasmaSliderImages,
.plasmaSliderImageItem {
  display: none;
}

.plasmaSliderIcon {
  display: inline-block;
  font-size: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.plasmaSliderIcon::before {
  content: "G";
  display: inline-block;
  visibility: hidden;
}

.plasmaSliderIcon.psi-angle-right {
  background-image: url("../images/angle-right-solid.svg");
}

.plasmaSliderIcon.psi-angle-left {
  background-image: url("../images/angle-left-solid.svg");
}
