/* range slider */
.atbd_price-range{
  p{
    color: #fff;
  }
  .atbd_pr_amount{
    color: $secondary;
  }
  .ui-slider-horizontal{
    background: $border-color;
    height: 4px;
    border-radius: remy(25px);
    .ui-slider-range{
      background: $secondary;
    }
    .ui-slider-handle{
      background: #fff;
      border: remy(4px) solid $secondary;
      border-radius: remy(300px);
      cursor: pointer;
      outline: 0;
      top: -7px;
      margin-left: 0;
    }
  }
}
/* slider range */
.atbd_range-slider{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  p{
    flex: 0;
    margin:0;
    min-width: remy(70px);
  }
  .slider-range-min{
    flex: 1;
  }
  .ui-slider-horizontal{
    background: $border-color;
    height: 4px;
    border-radius: remy(25px);
    .ui-slider-range{
      background: $secondary;
    }
    .ui-slider-handle{
      background: #fff;
      border: remy(5px) solid $secondary;
      border-radius: remy(300px);
      cursor: pointer;
      outline: 0;
      top: remy(-7px);
      margin-left: remy(-18px);
      margin-right: remy(-18px);
    }
  }
}

/* range slider */
.atbd_price-range, .atbd_range-slider{
  &.rs-primary{
    .atbd_pr_amount{
      color: $primary;
    }
    .ui-slider-horizontal{
      .ui-slider-range{
        background: $primary;
      }
      .ui-slider-handle{
        border-color: $primary;
      }
    }
  }
}