// directorist_switch
.directorist_switch{
    position: relative;
    display: block;
    min-height: 1.7rem;
    input[type=checkbox]{
        &:before{
            display: none;
        }
    }
    .directorist_switch-input{
        position: absolute;
        left: 0;
        z-index: -1;
        width: 1.6rem;
        height: 1.65rem;
        opacity: 0;
        &:checked{
            &+.directorist_switch-label{
                color: #1A1B29;
                font-weight: 500;
                &:before{
                    background-color: $dark;
                }
                &:after{
                    transform: translateX(2rem);
                }
            }
        }
    }
    .directorist_switch-label{
        user-select: none;
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 1.6rem;
        font-size: 14px;
        font-weight: 400;
        padding-left: 65px;
        margin-left: 0;
        color: #51526E;
        &:before{
            position: absolute;
            top: 0.05rem;
            left: 4px;
            display: block;
            width: 44px;
            height: 24px;
            border-radius: 15px;
            pointer-events: all;
            content: "";
            background-color: #ECECEC;
        }
        &:after{
            position: absolute;
            display: block;
            content: "";
            background: no-repeat 50% / 50% 50%;
            top: calc(0.05rem + 4px);
            left: calc(0px + 8px);
            background-color: #fff !important;
            width: calc(24px - 8px);
            height: calc(24px - 8px);
            background-color: #fff;
            box-shadow: 0 0 4px rgba(#8F8E9F,.15);
            border-radius: 15px;
            transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        }
    }
}