@import "../../bootstrap/config.bs";
@import "../mixins/colors";

#directorist.atbd_wrapper .business-hour .business-hour-title {
  margin-bottom: 10px;
}

#directorist.atbd_wrapper .business-hour .business-hour-title .module_title {
  font-size: 15px;
}

#directorist.atbd_wrapper .business-hour .business-hour-title p {
  font-size: 13px;
}

#directorist.atbd_wrapper .enable247hour input, #directorist.atbd_wrapper .enable247hour label {
  display: inline;
  font-weight: 400;
}

#directorist.atbd_wrapper .atbd_day_label {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 15px;
}

#directorist.atbd_wrapper .atbd_row_bg label {
  font-size: 13px;
  margin-bottom: 5px;
  font-weight: 400;
}

#directorist.atbd_wrapper .enable247hour {
  margin-bottom: 15px;
}

#directorist.atbd_wrapper .atbd_backend_business_hour {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e3e6ef;
}

#directorist.atbd_wrapper .atbd_backend_business_hour .atbd_backend_area_title {
  margin-top: 0;
}

#directorist.atbd_wrapper .atbd_backend_business_hour .business-hour {
  margin-bottom: 20px;
}

#directorist.atbd_wrapper .atbd_directory_open_hours ul li {
  border-bottom: 1px solid #ededed;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 15px;
}

#directorist.atbd_wrapper .atbd_directory_open_hours ul li .atbd_day {
  font-weight: 500;
}

#directorist.atbd_wrapper .atbd_mark_as_closed {
  font-weight: 400;
  margin-top: 12px;
}

.directorist .atbd_widget_title .atbd_badge {
  margin-left: 5px;
}

