.atbd_content_active #directorist.atbd_wrapper{
  .select2-container--default.select2-container--focus .select2-selection--multiple,
  .select2-container--default .select2-selection--multiple{
    border-color: $border-color;
  }
  .select2-container--default .select2-selection{
    padding: 0 20px;
  }
  .atbd_add_listing_title{
    text-align: center;
    h3{
      margin: 0;
      font-size: 28px;
      padding-bottom: 27px;
    }
  }

  #gmap{
    height: 350px;
  }
  #hide_if_no_manual_cor{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .map_wrapper{
    position: relative;
    #floating-panel{
      position: absolute;
      top: 10px;
      right: 58px;
      z-index: 1;
    }
  }
  .atbd_plan_alert{
    a.btn{
      margin-left: 10px;
    }
    strong{
      display: inline-block;
      margin: 0 5px;
    }
  }

  .close{
    float: none;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 20px;
    &:hover{
      background: none;
    }
  }
  &.atbd_add_listing_wrapper{
    .atbd_plan_alert{
      margin-bottom: 30px;
    }
    .hide-if-no-js{
      text-align: center;
    }
    .listing-img-container{
      text-align: center;
      padding-bottom: 15px;
      .single_attachment{
        width: 205px;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        position: relative;
        .remove_image{
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          background: #d3d1ec;
          color: #fff;
          width: 20px;
          line-height: 20px;
          font-size: 13px;
          border-radius: 50%;
          &:hover{
            @extend  .atbd_color-danger;
          }
        }
      }
      p{
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
      }
      small{
        font-size: 13px;
      }
    }
    .atbd_term_and_condition_area{
      text-align: center;
      > label{
        display: inline-block;
      }
    }
    .btn_wrap.list_submit{
      text-align: center;
      .listing_submit_btn {
        line-height: 32px;
        padding: 9px 40px;
        font-size: 18px;
      }
    }
  }
  .atbd_listing_type{
    h4{
      margin-bottom: 25px;
    }
    padding-bottom: 20px;
    >label{
      display: inline-block;
      &+label{
        margin-left: 25px;
      }
    }
  }
}