.atbd_content_active
#directorist.atbd_wrapper {
  .atbd_category_wrapper {
    span.fa {
      cursor: pointer;
      margin-left: 7px;
      font-size: 12px;
    }
    .atbdp_child_category {
      padding-left: 15px;
    }
  }
  a.atbd_location_grid {
    border: 1px solid #ededed;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-radius: 3px;
    padding: 13px 17px;
    margin-bottom: 15px;
    background: #fafcfd;
  }
  span.expander {
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
    line-height: 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  .atbd_all_categories {
    text-align: center;
    li{
      display: inline-block;
    }
    a {
      display: block;
      padding: 20px 15px;
      border: 1px solid #ededed;
      margin: 0 5px 10px;
      &:hover {
        color: $primary;
        p {
          color: $primary;
        }
      }
      span {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

#directorist.atbd_wrapper .atbdp_child_category li {
  margin-bottom: 7px;
}
