#directorist.atbd_wrapper {
  .atbd_category_wrapper {
    span.fa {
      cursor: pointer;
      margin-left: 7px;
      font-size: 12px;
    }
    .atbdp_child_category {
      padding-left: 15px;
    }
  }
  span.expander{
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
    line-height: 15px;
    border-radius: 5px;
    cursor: pointer;
  }
}
#directorist.atbd_wrapper .atbdp_child_category li {
  margin-bottom: 7px;
}
