#directorist.atbd_wrapper{
  .atbd_search_result_header{
    background: #f6f9ff;
    padding: 30px 35px;
    margin-bottom: 35px;
    border-radius: 5px;
    .directory_title h3{
      span{
        @extend .atbd_color-badge-popular;
      }
      p{
        font-size: 14px;
      }
    }
  }
}