.atbd_content_active #directorist.atbd_wrapper{
  .atbd_user_dashboard_nav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  &.dashboard_area{
    .db_btn_area{
      padding: 20px;
      border-top: 1px solid $border-color;
    }
    .atbd_dashboard_tittle_metas{
      padding: 15px 20px;
    }
    .atbd_promote_btn_wrapper{
      margin-bottom: 10px;
    }
    .directory_edit_btn{
      margin-right: 6px;
    }
    .atbd_listing_bottom_content{
      .listing-meta p span{
        font-weight: 500;
        color: $primary;
      }
    }
    .atbd_single_listing .atbd_listing_info .atbd_content_upper{
      padding: 0;
    }
    .user_pro_img_area{
      .user_img{
        position: relative;
        #remove_pro_pic{
          position: absolute;
          z-index: 1;
          right: 0;
          background: #ff4949;
          color: #fff;
          padding: 3px 10px;
        }
        .choose_btn{
          position: absolute;
          width: 100%;
          bottom: 0;
          text-align: center;
          #upload_pro_pic{
            margin-bottom: 0;
            @extend .atbd_bg-primary;
            color: $light;
            padding: 8px 20px;
          }
        }
      }
    }
    #profile_pic_container{
      img{
        width: 100%;
      }
    }
    #pro_notice{
      display: block;
      margin-top: 25px;
      padding: 0!important;
    }
  }
  .atbd_saved_items_wrapper {
    .atbd_single_saved_item {
      border-bottom: 1px solid $border-color;
      padding: 20px 0;
    }
    .thumb_title {
      .img_wrapper {
        width: 72px;
        height: 72px;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      h4{
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        margin-left: 10px;
      }
    }
    td{
      vertical-align: middle;
      text-align: left;
    }
    .saved_item_category{
      vertical-align: middle;
      a{
        span{
          font-size: 16px;
          margin-right: 6px;
        }
      }
    }
  }
}