.atbd_content_active .widget.atbd_widget {
  background: $light;
  border: 1px solid $border-color;
  margin-bottom: 30px;
  .atbd_widget_title {
    border-bottom: 1px solid $border-color;
    h4 {
      margin: 0 !important;
      font-size: 18px;
      padding: 15px 30px;
      font-weight: 400 !important;
    }
  }
  .directorist {
    text-align: center;
  }
  .atbdp, .directorist {
    padding: 20px 30px 15px;
    &.atbdp-widget-tags {
      ul li {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px;
        a {
          border: 1px solid $border-color;
          color: #5d658c;
          border-radius: 3px;
          padding: 3px 10px;
          display: inline-block;
          font-size: 14px;
          transition: 0.3s;
          &:hover {
            @extend .atbd_bg-primary;
            color: $light;
          }
        }
      }
    }
  }
  .atbd_categorized_listings {
    padding: 0px 30px;
    .listings {
      > li {
        padding: 15px 0;
        & + li {
          border-top: 1px solid $border-color;
        }
        .atbd_left_img {
          height: 70px;
          width: 70px;
          display: inline-block;
          vertical-align: top;
          img {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
          }
        }
        .atbd_right_content {
          width: calc(100% - 75px);
          display: inline-block;
          vertical-align: top;
        }
        .atbd_left_img + .atbd_right_content {
          padding-left: 10px;
        }
      }
    }
  }
  .atbdp-widget-categories {
    ul li {
     &+li{
       margin-top: 10px;
     }
      a {
        span {
          font-size: 15px;
          display: inline-block;
          margin-right: 10px;
          line-height: 35px;
          width: 35px;
          text-align: center;
          color: #ffffff;
          @extend .atbd_bg-primary;
          border-radius: 50%;
        }
      }
    }
  }
  #loginform{
    text-align: left;
    p{
      &.login-username, &.login-password{
        margin-bottom: 12px;
      }
      input[type='text'], input[type='password']{
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 23px;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
    }
  }
  .embed-responsive-item{
    border: 0;
  }

  .directory_open_hours{
    ul{
      li{
        span{
          display: inline-block;
          margin-bottom: 7px;
          font-weight: 500;
        }
        .atbd_open_close_time{
          font-weight: 400;
        }
        border-bottom: 1px solid $border-color;
      }
    }
  }
}