.membership-section {
    font-family: "Inter", serif;
    padding: 21px 24px;
    gap: 48px;
    border-radius: 12px;
    background: var(--White-White, #FFF);
    /* shadow-lg */
    box-shadow: 0px 8px 16px 0px rgba(16, 24, 40, 0.10), 0px 6px 8px 2px rgba(16, 24, 40, 0.04);

    &.m-15 {
        margin: 15px;
    }
}

//Welcoming message

.membership-header {
    display: flex;
    padding: 8px 9px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 6px;
    background: var(--Gray-50, #F9FAFB);

    &-author {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        overflow: hidden;
        border: 1px solid var(--White-White, #FFF);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: lightgray;
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &-title {
        color: var(--Gray-900, #141921);
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }

    &-alert {
        color: var(--Gray-500, #747C89);
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        padding: 0;
        margin: 0;
    }
}

.membership-card {
    margin-top: 2px;
    display: flex;
    padding: 20px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    background: var(--Gray-50, #F9FAFB);

    &-title {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--Gray-500, #747C89);
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 17px;
        padding: 0;

        svg {
            height: 20px;
        }
    }

    &-price {
        .price-amount {
            color: var(--Gray-800, #2C3239);
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
        }

        .price-duration {
            color: var(--Gray-500, #747C89);
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
        }
    }

    &-discount {
        display: flex;
        flex-wrap: wrap;
        padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px);
        align-items: center;
        border-radius: 4px;
        border: 1px solid var(--Component-colors-Utility-Success-utility-success-200, #ABEFC6);
        background: var(--Component-colors-Utility-Success-utility-success-50, #ECFDF3);
        color: var(--Component-colors-Utility-Success-utility-success-700, #067647);
        text-align: center;
        font-size: var(--Font-size-text-xs, 12px);
        font-style: normal;
        font-weight: 500;
        line-height: var(--Line-height-text-xs, 18px);
        margin: 8px 0 0;

        strong {
            font-weight: 600;
            letter-spacing: 0.12px;
            margin: 0 4px;
        }
    }

    &-rating {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 2px;
        margin-top: 16px;
        margin-bottom: 32px;

        .rating-score {
            color: var(--Gray-700, #383F47);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
            display: inline-flex;
            align-items: center;
            gap: 8px;
        }

        .rating-reviews {
            color: var(--Gray-600, #4D5761);
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 14px;
            letter-spacing: 0.12px;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: none;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
        }
    }

    &-actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        width: 100%;
    }

    &-get {
        position: relative;
        display: flex;
        height: 40px;
        padding: 0 20px;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-md, 8px);
        align-self: stretch;
        border-radius: 8px;
        background: var(--Primary-500, #3E62F5);
        box-shadow: 0px 2px 4px 0px rgba(60, 41, 170, 0.12);
        color: var(--White-White, #FFF);
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        line-height: 16px;
        text-decoration: none;
        transition: all 0.35s ease;
        overflow: hidden;

        &:after {
            position: absolute;
            content: '';
            display: inline-block;
            top: -180px;
            left: 0;
            width: 30px;
            height: 100%;
            background-color: #fff;
            animation: shiny-btn1 3s ease-in-out infinite;
        }

        &:hover {
            color: #fff;
            opacity: 0.85;

            &:after {
                background-color: transparent;
            }
        }
    }

    &-signin {
        display: flex;
        height: 40px;
        padding: 0 20px;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-md, 8px);
        align-self: stretch;
        border-radius: 8px;
        background-color: white;
        border: 1px solid var(--Primary-500, #3E62F5);
        box-shadow: 0px 2px 4px 0px rgba(60, 41, 170, 0.12);
        color: var(--Primary-500, #3E62F5);
        font-size: 15px;
        font-weight: 600;
        line-height: 16px;
        padding: 0;
        margin: 0;
        cursor: pointer;
        @media screen and (max-width: 480.99px) {
           font-size: 12px;
        }

        a {
            color: inherit;
            text-decoration: none;
            transition: all 0.35s ease;

            &:hover {
                color: black;
            }
        }
    }
}

.membership-benefits {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 15px;

    &-img {
        width: 32px;
        min-width: 32px;

        svg,
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .title {
            color: var(--Gray-900, #141921);
            font-size: 19px;
            font-style: normal;
            font-weight: 600;
            line-height: 25px;
            margin: 0;
            padding: 0;
        }

        .title-details {
            color: var(--Gray-600, #4D5761);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            padding: 0;
            margin: 0;
        }
    }
}

//tabs
.directorist-nav-tab-wrapper {
    margin-top: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 4px;
    gap: 3px;
    border-radius: 8px;
    border: 1px solid var(--Gray-200, #E5E7EB);
    background: var(--Gray-200, #E5E7EB);
    position: relative;
    margin-bottom: 0;

    &:after {
        content: "";
        position: absolute;
        background: #ffffff;
        transform: translateX(0);
        width: 150px;
        height: 32px;
        border-radius: 6px;
        left: 4px;
        transition: all 0.3s ease-in-out;
        box-shadow: 0px 2px 8px 0px rgba(16, 24, 40, 0.08);
    }

    &.tab-2-active {
        &:after {
            left: 157px;
        }
    }

    li {
        padding: 0;
        margin: 0;

        .directorist-nav-tab {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            border-radius: 6px;
            background: transparent;
            color: var(--Gray-600, #4D5761);
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 14px;
            letter-spacing: 0.12px;
            width: 150px;
            height: 32px;
            text-decoration: none;
            box-shadow: none;
            border: none;
            position: relative;
            z-index: 1;
            cursor: pointer;

            svg {
                width: 20px;
                color: currentColor;
            }

            &.active {
                color: #2C3239;
                font-weight: 600;
            }
        }
    }
}

.directorist-tabs {
    &-content {
        min-height: 300px;
    }

    &-item {
        display: none;
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.3s ease, transform 0.3s ease;

        &.active {
            display: block;
            opacity: 1;
            transform: translateY(0);
        }
    }

    &-header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px 30px;
    }
}

.directorist-product-search {
    display: flex;
    height: 36px;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--White-White, #FFF);
    @media screen and (min-width: 1299.99px) {
        width: 468px;
    }

    &-icon {
        width: 20px;
        height: 20px;
    }

    &-input {
        &[type=text] {
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px;
            width: 100%;
            box-shadow: none !important;
            outline: none !important;
            border: none !important;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #141921;
            &::placeholder{
                color: #747C89;
            }
        }
    }
}



//Extension Items
.directorist-extension {
    &-item {
        border-radius: 8px;
        border: 1px solid var(--Gray-100, #F3F4F6);
        background: var(--White-White, #FFF);
        box-shadow: 0px 1px 2px 0px var(--Colors-Effects-Shadows-shadow-xs, rgba(16, 24, 40, 0.05));
        overflow: hidden;
        padding: 20px 24px 0;
        position: relative;
        height: 100%;
    }

    &-overlay {
        position: absolute;
        top: 35px;
        right: 24px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .badge {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            display: flex;
            padding: var(--spacing-xxs, 2px) 10px;
            align-items: center;
            border-radius: var(--radius-full, 9999px);
            border: 1px solid #E5E7EB;
            background: #E5E7EB;
            color: #747C89;
            font-size: var(--Font-size-text-sm, 14px);
            font-style: normal;
            font-weight: 500;
            line-height: var(--Line-height-text-sm, 20px);
            text-transform: capitalize;

            &-popular {
                color: var(--Component-colors-Utility-Warning-utility-warning-700, #B54708);
                border: 1px solid var(--Component-colors-Utility-Warning-utility-warning-200, #FEDF89);
                background: var(--Component-colors-Utility-Warning-utility-warning-50, #FFFAEB);
            }

            &-latest {
                color: var(--Component-colors-Utility-Warning-utility-warning-700, #067647);
                border: 1px solid var(--Component-colors-Utility-Warning-utility-warning-200, #ABEFC6);
                background: var(--Component-colors-Utility-Warning-utility-warning-50, #ECFDF3);
            }
        }
    }

    &-image {
        display: flex;
        width: 56px;
        height: 56px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        background: var(--Gray-50, #F9FAFB);
        overflow: hidden;
        margin: 0;
        padding: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-content {
        margin-top: 28px;
    }

    &-title {
        padding: 0;
        margin: 0 0 8px;
        color: var(--Gray-900, #141921);
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
    }

    &-description {
        color: var(--Gray-500, #747C89);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding: 0;
        margin: 0;
    }

    &-footer {
        margin-top: 30px;
        border-top: 1px solid #E5E7EB;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
        padding: 12px 0;
    }

    &-price {
        color: var(--Gray-900, #141921);
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
    }

    &-year {
        color: var(--Gray-500, #747C89);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0.12px;
    }

    &-btn {
        display: flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-md, 8px);
        border-radius: 4px;
        border: 1px solid var(--Primary-500, #3E62F5);
        box-shadow: 0px 2px 4px 0px rgba(60, 41, 170, 0.12);
        color: var(--Primary-500, #3E62F5);
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        text-decoration: none;
        transition: all 0.35s ease;
        position: relative;

        &:hover {
            color: white;
            background-color: #3E62F5;
        }
    }
}

//Themes items
.directorist-theme {
    &-item {
        border-radius: 8px;
        border: 1px solid var(--Gray-100, #F3F4F6);
        background: var(--White-White, #FFF);
        box-shadow: 0px 1px 2px 0px var(--Colors-Effects-Shadows-shadow-xs, rgba(16, 24, 40, 0.05));
        overflow: hidden;
        padding: 20px 24px 0;
        position: relative;
        height: 100%;
    }

    &-image {
        border-radius: 4px;
        background: var(--Gray-100, #F3F4F6);
        margin: 0 auto;
        height: 220px;
        padding: 12px 14.33px 0px 15px;
        overflow: hidden;

        img {
            -webkit-transition: transform 3s;
            -moz-transition: transform 3s;
            transition: transform 3s;
            width: 100%;
        }

        &:hover {
            img {
                transform: translateY(-71%);
            }
        }
    }

    &-content {
        margin-top: 28px;
    }

    &-title {
        padding: 0;
        margin: 0 0 8px;
        color: var(--Gray-900, #141921);
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
    }

    &-description {
        color: var(--Gray-500, #747C89);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding: 0;
        margin: 0;
    }

    &-footer {
        margin-top: 30px;
        border-top: 1px solid #E5E7EB;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 12px 0;
    }

    &-price {
        color: var(--Gray-900, #141921);
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
    }

    &-year {
        color: var(--Gray-500, #747C89);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0.12px;
    }

    &-cta {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 6px 12px;
    }

    &-get {
        display: flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-md, 8px);
        border-radius: 4px;
        color: white;
        background-color: #3E62F5;
        border: 1px solid var(--Primary-500, #3E62F5);
        box-shadow: 0px 2px 4px 0px rgba(60, 41, 170, 0.12);
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        text-decoration: none;
        transition: all 0.35s ease;
        position: relative;

        &:hover {
            opacity: 0.85;
            color: white;
        }
    }

    &-demo {
        display: flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-md, 8px);
        border-radius: 4px;
        border: 1px solid var(--Primary-500, #3E62F5);
        box-shadow: 0px 2px 4px 0px rgba(60, 41, 170, 0.12);
        color: var(--Primary-500, #3E62F5);
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        text-decoration: none;
        transition: all 0.35s ease;
        position: relative;

        &:hover {
            color: white;
            background-color: #3E62F5;
        }
    }
}

// Pagination Container
.directorist-pagination {
    // Pagination List
    .directorist-pagination-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px 8px;

        // Pagination Item
        .directorist-pagination-item {
            display: inline-block;
            margin: 0;

            // Pagination Link
            .directorist-pagination-link {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                text-decoration: none;
                color: #404040;
                font-size: 14px;
                font-weight: 400;
                border: 2px solid #E9E9E9;
                background-color: white;
                border-radius: 8px;
                transition: background-color 0.3s, color 0.3s;

                &:hover {
                    background-color: #f1f1f1;
                }
            }

            // Active State
            &.directorist-pagination-item-active {
                .directorist-pagination-link {
                    color: #141921;
                    border-color: #141921;
                }
            }

            // Current Page
            .directorist-pagination-link[aria-current="page"] {
                font-weight: bold;
            }
        }
    }
}