// Single Listing Style
.directorist-content-active {
  .directorist-listing-single {
    flex: 1;
    font-size: 15px;
    margin-bottom: 15px;

    @include m(bg) {
      border-radius: 12px;
      background-color: var(--directorist-color-white);
      box-shadow: var(--directorist-box-shadow);
    }

    // Single Listing Content
    @include e(content) {
      border-radius: 4px;
    }

    @include e(info) {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      position: relative;
      padding: 33px 20px 24px;
      &:empty {
        display: none;
      }
      @include e(top) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex: 1;
        gap: 6px;
        .directorist-badge.directorist-badge-close {
          background-color: transparent;
          color: var(--directorist-color-danger);
        }

        .directorist-badge.directorist-badge-open {
          background-color: transparent;
          color: var(--directorist-color-success);
        }

        .atbd_badge.atbd_badge_open {
          background-color: transparent;
          color: var(--directorist-color-success);
        }

        .directorist-info-item.directorist-rating-meta {
          display: inline-flex;
          align-items: center;
        }

        .directorist-listing-card-posted-on {
          display: inline-flex;
          align-items: center;
          flex: 0 0 100%;
          order: 1;
          margin: 0;
          font-size: 13px;
          color: var(--directorist-color-light-gray);
          i {
            display: none;
          }
        }
      }
      @include e(list) {
        display: flex;
        gap: 10px;
        flex-direction: column;
        margin: 10px 0 0;
        padding: 0;
        width: 100%;
        @media only screen and (max-width: 575px) {
          gap: 8px;
        }
        li,
        > div {
          display: flex;
          gap: 10px;
          margin: 0;
          font-size: 14px;
          line-height: 18px;
          color: var(--directorist-color-body);
          .directorist-icon-mask {
            position: relative;
            top: 2px;
            &:after {
              width: 16px;
              height: 16px;
              background-color: var(--directorist-color-light-gray);
            }
          }
          .directorist-listing-card-info-label {
            display: none;
          }
        }

        .directorist-icon {
          font-size: 17px;
          color: var(--directorist-color-body);
          margin-right: 8px;
        }

        a {
          text-decoration: none;
          color: var(--directorist-color-body);
          word-break: break-word;
          &:hover {
            color: var(--directorist-color-primary);
          }
        }

        .directorist-listing-card-location-list {
          display: block;
          margin: 0;
        }
        @include e(label) {
          display: inline-block;
          margin-right: 5px;
        }
      }
      @include m(right) {
        display: flex;
        align-items: center;
        gap: 20px;
        position: absolute;
        right: 20px;
        top: 20px;
        @media screen and (max-width: 991px) {
          gap: 15px;
        }
        @media screen and (max-width: 575px) {
          gap: 10px;
        }
      }
      @include e("excerpt") {
        margin: 10px 0 0;
        font-size: 14px;
        color: var(--directorist-color-body);
        line-height: 20px;
        text-align: left;
        a {
          color: var(--directorist-color-primary);
          text-decoration: underline;
          &:hover {
            color: var(--directorist-color-body);
          }
        }
      }

      @include e("top-right") {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
        @media screen and (max-width: 575px) {
          flex-wrap: wrap;
          gap: 5px;
          .directorist-mark-as-favorite {
            position: absolute;
            top: 20px;
            left: -30px;
          }
        }
        .directorist-listing-single__info--right {
          position: unset;
        }
      }

      a {
        text-decoration: none;
        box-shadow: none;
        color: var(--directorist-color-body);
        transition: color 0.3s ease;
        &:hover {
          color: var(--directorist-color-primary);
        }
      }

      .directorist-info-item {
        font-size: 14px;
        line-height: 18px;
        position: relative;
        display: inline-block;
        &:not(:last-of-type) {
          padding-right: 10px;
          &:after {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            width: 3px;
            height: 3px;
            content: "";
            background-color: #bcbcbc;
          }

          &.directorist-badge {
            margin-right: 8px;
            padding-right: 3px;

            &:after {
              right: -8px;
            }
          }
        }
        &.directorist-rating-meta {
          display: inline-flex;
          align-items: center;
          font-size: 14px;
          font-weight: 500;
          line-height: 1;
          color: var(--directorist-color-body);
          .directorist-icon-mask {
            margin-right: 4px;
          }
          .directorist-icon-mask:after {
            width: 12px;
            height: 12px;
          }
        }
        &.directorist-badge {
          display: flex;
          align-items: center;
          width: auto;
          height: 21px;
          line-height: 21px;
          margin: 0;
          border-radius: 4px;
          font-size: 10px;
          font-weight: 700;
        }
        .directorist-review {
          display: block;
          margin-left: 6px;
          font-size: 14px;
          color: var(--directorist-color-light-gray);
          text-decoration: underline;
        }
        &.directorist-listing-category,
        &.directorist-listing-location {
          display: inline-flex;
          align-items: flex-start;
          gap: 5px;
          .directorist-icon-mask {
            margin-top: 2px;
          }
          &:after {
            top: 10px;
            transform: unset;
          }
        }
      }

      .directorist-badge + .directorist-badge {
        margin-left: 3px;
      }
      .directorist-listing-tagline {
        flex: 0 0 100%;
        margin: 0;
        font-size: 14px;
        line-height: 18px;
        color: var(--directorist-color-light-gray);
      }

      .directorist-listing-title {
        font-size: 16px;
        font-weight: 500;
        padding: 0;
        text-transform: none;
        line-height: 20px;
        margin: 0;
        flex: 0 0 100%;

        a {
          text-decoration: none;
          color: var(--directorist-color-dark);
          &:hover {
            color: var(--directorist-color-primary);
          }
        }
      }

      .directorist-pricing-meta {
        .directorist-listing-price {
          font-size: 14px;
          font-weight: 700;
          padding: 0;
          background: transparent;
          color: var(--directorist-color-body);
          @media screen and (max-width: 575px) {
            font-weight: 700;
          }
        }
      }
    }

    @include e(meta) {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      position: relative;
      padding: 14px 20px;
      font-size: 14px;
      justify-content: space-between;
      border-top: 1px solid var(--directorist-color-border);
      @include e(left) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
      }
      @include e(right) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
      }

      .directorist-listing-category {
        a {
          text-decoration: none;
          font-size: 14px;
          color: var(--directorist-color-body);
          border-bottom: 0 none;
          box-shadow: none;
          display: flex;
          align-items: center;
          transition: color 0.3s ease;
          &:hover {
            color: var(--directorist-color-primary);
          }
        }
      }

      .directorist-view-count {
        font-size: 14px;
        color: var(--directorist-color-body);
        display: flex;
        align-items: center;
        gap: 5px;
        .directorist-icon-mask {
          &:after {
            width: 15px;
            height: 15px;
            background-color: var(--directorist-color-light-gray);
          }
        }

        /* Legacy Icon */
        > span {
          display: inline-block;
          margin-right: 5px;
        }
      }

      .directorist-thumb-listing-author {
        a {
          width: 38px;
          height: 38px;
          display: inline-block;
          vertical-align: middle;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      .directorist-mark-as-favorite__btn {
        width: auto;
        height: auto;
      }

      .directorist-listing-category {
        & > a {
          .directorist-icon-mask {
            height: 34px;
            width: 34px;
            border-radius: 50%;
            background-color: var(--directorist-color-light);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            &:after {
              background-color: var(--directorist-color-primary);
              width: 14px;
              height: 14px;
            }
          }

          /* Legacy Icon */
          > span {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: #f3f3f3;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            &:before {
              color: var(--directorist-color-body);
            }
          }
        }
        @include e("extran-count") {
          font-size: 14px;
          font-weight: 500;
        }
      }

      .directorist-rating-meta,
      .directorist-listing-card-phone {
        display: flex;
        align-items: center;
        font-size: 14px;
      }
      .directorist-listing-card-phone {
        gap: 5px;
        a {
          text-decoration: none;
        }
      }
    }

    @include e(thumb) {
      position: relative;
      margin: 0;

      .directorist-thumnail-card {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        overflow: hidden;
        z-index: 0;
        background-color: var(--directorist-color-bg-gray);
        
        .directorist-thumnail-card-front-wrap,
        .directorist-thumnail-card-back-wrap {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          overflow: hidden;
          z-index: 2;
          figure {
            width: 100%;
            height: 100%;
          }
        }

        &.directorist-card-contain {
          .directorist-thumnail-card-front-img {
            object-fit: contain;
          }
        }

        &.directorist-card-full {
          min-height: 300px;
        }
      }

      .directorist-thumnail-card-back-wrap {
        z-index: 1;
      }

      .directorist-thumnail-card-front-img,
      .directorist-thumnail-card-back-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0;
      }

      .directorist-thumnail-card-back-img {
        filter: blur(5px);
      }

      .directorist-thumb-top-left {
        left: 20px;
        top: 20px;
      }

      .directorist-thumb-top-right {
        top: 20px;
        right: 20px;
      }

      .directorist-thumb-bottom-left {
        left: 20px;
        bottom: 30px;
      }

      .directorist-thumb-bottom-right {
        right: 20px;
        bottom: 30px;
      }

      .directorist-thumb-top-right,
      .directorist-thumb-top-left,
      .directorist-thumb-bottom-left,
      .directorist-thumb-bottom-right {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 6px;

        .directorist-compare-btn {
          i,
          span.la,
          span.las,
          span.fa,
          span.fas,
          span.lab,
          span.fab {
            color: var(--directorist-color-white);
          }
        }
      }
    }

    @include e(header) {
      @include e(left) {
        .directorist-thumb-listing-author {
          position: unset !important;
          transform: unset !important;
        }
      }
    }

    figure{
      margin: 0;
    }

    .directorist-listing-single__header__left,
    .directorist-listing-single__header__right,
    .directorist-thumb-bottom-left,
    .directorist-thumb-bottom-right {
      .directorist-thumb-listing-author {
        position: unset !important;
        transform: unset !important;
      }
    }

    .directorist-badge {
      margin: 3px;

      &.directorist-badge-popular {
        background-color: #f51957;
      }

      &.directorist-badge-open {
        background-color: var(--directorist-color-success);
      }

      &.directorist-badge-close {
        background-color: var(--directorist-color-danger);
      }

      &.directorist-badge-new {
        background-color: var(--directorist-color-new-badge);
      }

      &.directorist-badge-featured {
        background-color: #fa8b0c;
      }

      &.directorist-badge-negotiation {
        background-color: var(--directorist-color-info);
      }

      &.directorist-badge-sold {
        background-color: var(--directorist-color-danger);
      }
    }

    .directorist_open_status_badge {
      display: flex;
    }

    .directorist-mark-as-favorite__btn .directorist-favorite-tooltip span {
      top: auto;
      bottom: 35px;
      &:before {
        top: auto;
        bottom: -7px;
        transform: rotate(180deg);
      }
    }

    // Single Listing Card
    &.directorist-listing-card {
      .directorist-listing-single__thumb {
        margin: 0;
        position: relative;
        padding: 10px 10px 0 10px;
        .directorist-pricing-meta {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 26px;
          margin: 0;
          border-radius: 3px;
          background: var(--directorist-color-white);
          padding: 0 8px;
          font-weight: 700;
          .directorist-listing-price {
            color: var(--directorist-color-danger);
          }
        }
      }
      .directorist-thumnail-card-front-img {
        border-radius: 12px;
      }
      .directorist-thumb-listing-author {
        position: absolute;
        bottom: 0;
        top: unset;
        transform: translateY(50%);
        display: flex;
        z-index: 1;

        &.directorist-alignment-left {
          left: 20px;
        }

        &.directorist-alignment-right {
          right: 20px;
        }

        &.directorist-alignment-center {
          left: 50%;
          transform: translate(-50%, 50%);
        }

        img {
          width: 100%;
          border-radius: 50%;
          height: auto;
          background-color: var(--directorist-color-bg-gray);
        }
        a {
          display: inline-flex;
          width: 100%;
          border-radius: 50%;
          width: 42px;
          height: 42px;
          border: 3px solid var(--directorist-color-border);
        }
      }
      .directorist-mark-as-favorite__btn {
        width: 30px;
        height: 30px;
        background-color: var(--directorist-color-white);
      }
    }

    // Single Listing List
    &.directorist-listing-list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
      @media screen and (max-width: 575px) {
        .directorist-rating-meta {
          i:not(:first-child) {
            display: none;
          }
          .directorist-icon-mask:after {
            width: 10px;
            height: 10px;
          }
          .directorist-rating-avg {
            margin-left: 0;
            font-size: 12px;
            font-weight: normal;
          }
          .directorist-total-review {
            font-size: 12px;
          }
        }
        .directorist-listing-price {
          font-size: 12px;
          font-weight: 600;
        }
        .directorist-listing-single__meta {
          font-size: 12px;
        }
        .directorist-icon-mask:after {
          width: 14px;
          height: 14px;
        }
        .directorist-listing-single__info__excerpt {
          font-size: 12px;
          line-height: 1.6;
        }
        .directorist-listing-single__info__list {
          > li,
          > div {
            font-size: 12px;
            line-height: 1.2;
            gap: 8px;
          }
        }
        .directorist-view-count,
        .directorist-listing-category a,
        .directorist-listing-category__extran-count {
          font-size: 12px;
        }
        .directorist-listing-category__popup {
          margin-left: 5px;
        }
        .directorist-thumb-listing-author a,
        .directorist-listing-category > a .directorist-icon-mask {
          width: 30px;
          height: 30px;
        }
        .directorist-listing-single__info__list .directorist-icon-mask {
          top: 0;
        }
        .directorist-listing-single__info__list .directorist-icon-mask:after {
          width: 12px;
          height: 14px;
        }
        .directorist-swiper__navigation,
        .directorist-swiper__pagination {
          display: none;
        }
      }
      .directorist-listing-single {
        @include e("thumb") {
          flex: 1;
          margin: 0;
          max-width: 320px;
          min-height: 240px;
          padding: 10px 0 10px 10px;
          @media only screen and (max-width: 575px) {
            flex: unset;
            width: 100px;
            .directorist-badge {
              width: 20px;
              height: 20px;
            }
            .directorist-favorite-icon:before,
            .directorist-badge .directorist-icon-mask:after {
              width: 10px;
              height: 10px;
            }
          }
          .directorist-thumnail-card {
            height: 100% !important;
          }
          .directorist-thumnail-card .directorist-thumnail-card-front-img {
            border-radius: 12px;
          }
        }
        @include e("content") {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 2;
          padding: 10px 0 10px;
          @media screen and (max-width: 575px) {
            padding: 0;
            .directorist-listing-single__meta {
              display: none;
            }
          }
        }
        @include e("mobile-view-meta") {
          flex: 0 0 100%;
          @media screen and (min-width: 575px) {
            display: none;
          }
        }
        @include e("info") {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 18px 20px 15px;
          &:empty {
            display: none;
          }
          @include e("list") {
            margin: 10px 0 0;
          }
          @include e("excerpt") {
            margin: 10px 0 0;
          }
          @media only screen and (max-width: 575px) {
            padding-top: 10px;
            .directorist-listing-title {
              margin: 0;
              font-size: 14px;
            }
          }
        }
        @include e("action") {
          display: flex;
          gap: 20px;
          align-items: center;
        }
      }

      .directorist-listing-single__info--right {
        .directorist-badge {
          margin: 0;
          &:after {
            display: none;
          }
        }
        @media only screen and (max-width: 575px) {
          right: unset;
          left: -30px;
          top: 20px;
          .directorist-favorite-icon {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: var(--directorist-color-white);
          }
          .directorist-favorite-icon:before {
            width: 10px;
            height: 10px;
          }
        }
      }

      .directorist-thumb-top-left {
        left: 20px;
        top: 20px;
      }

      .directorist-thumb-top-right {
        top: 20px;
        right: 10px;
        @media only screen and (max-width: 575px) {
          right: unset;
          left: 20px;
          flex-direction: column;
        }
      }

      .directorist-thumb-bottom-left {
        left: 20px;
        bottom: 20px;
      }

      .directorist-thumb-bottom-right {
        right: 10px;
        bottom: 20px;
      }
      .directorist-listing-single__info .directorist-badge {
        margin: 0;
        padding: 0;
        &:after {
          display: none;
        }
      }
      .directorist-listing-single__meta {
        padding: 14px 20px 7px;
      }
    }

    &.directorist-listing-card,
    &.directorist-listing-list {
      .directorist-badge {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        margin: 0;
        padding: 0;
        border-radius: 100%;
        color: var(--directorist-color-white);
        .directorist-icon-mask:after {
          width: 12px;
          height: 12px;
        }
        &.directorist-badge-open,
        &.directorist-badge-close {
          display: inline-flex;
          height: 21px;
          line-height: 21px;
          width: auto;
          padding: 0 5px;
          border-radius: 4px;
          @media screen and (max-width: 575px) {
            height: 18px;
            line-height: 18px;
            font-size: 8px;
          }
        }

        &.directorist-badge-popular {
          background-color: var(--directorist-color-white);
        }

        &.directorist-badge-new {
          background-color: var(--directorist-color-white);
        }

        &.directorist-badge-featured {
          background-color: var(--directorist-color-white);
        }
      }
    }

    // Featured Listing
    &.directorist-featured {
      border: 1px solid var(--directorist-color-warning);
    }

    // No Thumbnail
    &.directorist-listing-no-thumb {
      .directorist_open_status_badge {
        display: flex;
      }
      .directorist-listing-single__info{
        z-index: 1;
      }
      .directorist-listing-single__header {
        align-items: center;
        justify-content: space-between;
        figure {
          margin: 0;
          flex: none;
        }

        .directorist-listing-single__header__left,
        .directorist-listing-single__header__right {
          &:empty {
            display: none;
          }
        }
      }
      @media screen and (max-width: 991px) {
        .directorist-listing-single__header__title {
          order: 2;
          flex: 0 0 100%;
        }
      }

      .directorist-mark-as-favorite__btn {
        background: transparent;
        width: auto;
        height: auto;
      }

      &.directorist-listing-list {
        .directorist-listing-single__content {
          padding: 0;
        }
      }
      &.directorist-listing-no-thumb--fix {
        .directorist-listing-single__header {
          flex-wrap: wrap;

          .directorist-listing-single__header__left {
            flex: 0 0 100%;
            flex-wrap: wrap;
            padding-right: 0;
          }

          .directorist-listing-single__header__right {
            margin-top: 15px;
          }
        }
      }
    }
  }
}

// Rating Meta
.directorist-rating-meta {
  padding: 0;

  i.directorist-icon-mask {
    &:after {
      background-color: var(--directorist-color-warning);
    }
    &.star-empty:after {
      background-color: #d1d1d1;
    }
  }

  .directorist-rating-avg {
    font-size: 14px;
    color: var(--directorist-color-body);
    margin: 0 3px 0 6px;
  }
  .directorist-total-review {
    font-weight: 400;
    color: var(--directorist-color-light-gray);
  }

  &.directorist-info-item-rating {
    i,
    span.la,
    span.fa {
      margin-left: 4px;
    }
  }
}

/* mark as favorite btn */
.directorist-mark-as-favorite__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  padding: 0;
  font-weight: unset;
  line-height: unset;
  text-transform: unset;
  letter-spacing: unset;
  background: transparent;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
    .directorist-favorite-icon {
      &:before {
        background-color: var(--directorist-color-danger);
      }
    }
  }

  .directorist-favorite-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: "";
      mask-image: url("../../../../icons/line-awesome/svgs/heart.svg");
      mask-repeat: no-repeat;
      width: 15px;
      height: 15px;
      background-color: var(--directorist-color-danger);
      transition: 0.3s ease;
    }
  }

  &.directorist-added-to-favorite {
    .directorist-favorite-icon {
      &:before {
        mask-image: url("../../../../icons/line-awesome/svgs/heart-solid.svg");
        background-color: var(--directorist-color-danger);
      }
    }
  }

  .directorist-favorite-tooltip {
    span {
      position: absolute;
      min-width: 120px;
      right: 0;
      top: 35px;
      background-color: var(--directorist-color-dark);
      color: var(--directorist-color-white);
      font-size: 13px;
      border-radius: 3px;
      text-align: center;
      padding: 5px;
      z-index: 111;

      &::before {
        content: "";
        position: absolute;
        border-bottom: 8px solid var(--directorist-color-dark);
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        right: 8px;
        top: -7px;
      }
    }
  }
}

/* listing card without thumbnail */
.directorist-listing-single.directorist-listing-no-thumb
  .directorist-listing-single {
  @include e("header") {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    position: relative;
    align-items: flex-start;
    padding: 20px 22px 0 22px;

    @include e(left) {
      display: flex;
      flex: 1;
      gap: 12px;
      align-items: center;
      flex-wrap: wrap;
      .directorist-listing-single__badge {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
      }
      .directorist-badge {
        background-color: #f4f4f4;
      }
    }
    @include e(title) {
      // order: 1;
      // flex: 0 0 100%;
      flex: 1;
    }

    .directorist-thumb-listing-author {
      position: unset;
      transform: unset;
      a {
        display: flex;
      }

      img {
        height: 100%;
        width: 100%;
        max-width: none;
        border-radius: 50%;
      }
    }

    .directorist-listing-title {
      font-size: 18px;
      font-weight: 500;
      padding: 0;
      text-transform: none;
      line-height: 1.2;
      margin: 0;
      flex: 0 0 100%;
      @media screen and (max-width: 575px) {
        font-size: 16px;
      }

      a {
        text-decoration: none;
        color: var(--directorist-color-dark);
        &:hover {
          color: var(--directorist-color-primary);
        }
      }
    }

    .directorist-listing-tagline {
      margin-bottom: 0;
    }
  }

  @include e("info") {
    padding: 10px 22px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    &:empty {
      display: none;
    }
    @include e(list) {
      margin: 16px 0 10px;
      li {
        .directorist-icon-mask {
          position: relative;
          top: 4px;
        }
        .directorist-listing-card-info-label {
          display: none;
        }
        .directorist-icon {
          font-size: 17px;
          color: #444752;
          margin-right: 8px;
        }

        a,
        span {
          text-decoration: none;
          color: var(--directorist-color-body);
          border-bottom: 0 none;
          box-shadow: none;
          line-height: 1.7;
        }
      }
    }
    @include e("excerpt") {
      margin: 15px 0 0;
      font-size: 14px;
      color: var(--directorist-color-body);
      line-height: 24px;
      text-align: left;

      li {
        color: var(--directorist-color-body);
        margin: 0;
        &:not(:last-child) {
          margin: 0 0 10px;
        }

        > div {
          margin-bottom: 2px;
          font-size: 14px;
          display: flex;
          gap: 10px;
          .directorist-icon-mask {
            position: relative;
            top: 4px;
          }
          .directorist-listing-card-info-label {
            display: none;
          }
        }

        .directorist-icon {
          font-size: 17px;
          color: #444752;
          margin-right: 8px;
        }

        a {
          text-decoration: none;
          color: var(--directorist-color-body);
          border-bottom: 0 none;
          box-shadow: none;
          line-height: 1.7;
          &:hover {
            color: var(--directorist-color-primary);
          }
        }
      }
      a {
        color: var(--directorist-color-primary);
        text-decoration: underline;
        &:hover {
          color: var(--directorist-color-body);
        }
      }
    }
  }

  @include e(content) {
    border: 0 none;
    padding: 10px 22px 25px;
  }

  @include e("meta") {
    @include e(right) {
      .directorist-mark-as-favorite__btn {
        width: auto;
        height: auto;
      }
    }
  }

  @include e("action") {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

/* listing card without thumbnail list view */
.directorist-listing-single.directorist-listing-list {
  .directorist-listing-single__header {
    width: 100%;
    margin-bottom: 13px;

    .directorist-listing-single__info {
      padding: 0;
    }
  }
  &.directorist-listing-no-thumb {
    .directorist-info-item.directorist-badge {
      padding: 0;
      margin: 0;
      &:after {
        display: none;
      }
      &.directorist-badge-open,
      &.directorist-badge-close {
        padding: 0 5px;
      }
    }
    .directorist-mark-as-favorite__btn {
      width: auto;
      height: auto;
    }
  }
}

// Directorist Archive Grid Fix
.directorist-archive-grid-view {
  &.directorist-archive-grid--fix .directorist-all-listing-col {
    width: 50%;
    @media only screen and (max-width: 575px) {
      width: 100%;
    }
  }
}
