.directorist-listing-price-range {
    span {
        font-weight: 600;
        color: rgba(122, 130, 166, 0.3);

        &.directorist-price-active {
            color: var(--directorist-color-body);
        }
    }
}