
.directorist-content-active{
    #map {
        position: relative;
        width: 100%;
        height: 660px;
        border: none;
        z-index: 1;
    }
    
    #gmap_full_screen_button {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 999;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: var(--directorist-color-white);
        cursor: pointer;
        i::after {
          width: 22px;
          height: 22px;
          transition: all 0.3s ease-in-out;
          background-color: var(--directorist-color-dark);
        }
        .fullscreen-disable {
          display: none;
        }
    }
    
    #progress {
        display: none;
        position: absolute;
        z-index: 1000;
        left: 400px;
        top: 300px;
        width: 200px;
        height: 20px;
        margin-top: -20px;
        margin-left: -100px;
        background-color: var(--directorist-color-white);
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 4px;
        padding: 2px;
    }
    
    #progress-bar {
        width: 0;
        height: 100%;
        background-color: #76A6FC;
        border-radius: 4px;
    }
    
    .gm-fullscreen-control {
        width: 50px !important;
        height: 50px !important;
        margin: 20px !important;
        border-radius: 10px !important;
        box-shadow: 0px 2px 20px rgba(0,0,0,0.26) !important;
    }
    
    .gmnoprint{
        border-radius: 5px;
    }
    
    .gm-style-cc,
    .gm-style-mtc-bbw,
    button.gm-svpc{
        display: none;
    }
    
    .italic {
        font-style: italic;
    }
    
    .buttonsTable {
        border: 1px solid grey;
        border-collapse: collapse;
    }
    
    .buttonsTable td,
    .buttonsTable th {
        padding: 8px;
        border: 1px solid grey;
    }
    
    .version-disabled {
        text-decoration: line-through;
    }
    
}
