.directorist-user-dashboard {
  width: 100% !important;
  max-width: 100% !important;
  overflow: hidden;
  box-sizing: border-box;
  @include e(contents) {
    display: flex;
    padding-bottom: 20px;
  }

  @include e(toggle) {
    margin-bottom: 20px;

    @include e(link) {
      border: 1px solid #e3e6ef;
      padding: 6.5px 8px 6.5px;
      border-radius: 8px;
      display: inline-block;
      outline: 0;
      background-color: var(--directorist-color-white);
      line-height: 1;
      color: var(--directorist-color-primary);
    }
  }

  @include e("tab-content") {
    flex: 1;
    width: calc(100% - 250px);
  }

  .directorist-alert {
    margin-bottom: 15px;
  }
  #directorist-preference-notice .directorist-alert {
    margin-top: 15px;
    margin-bottom: 0;
  }
}

/* user dashboard loader */
#directorist-dashboard-preloader {
  height: 100%;
  left: 0;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
  display: none;
  background-color: rgba(var(--directorist-color-dark-rgb), 0.5);

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid var(--directorist-color-primary);
    border-radius: 50%;
    animation: rotate360 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--directorist-color-primary) transparent transparent transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

/* My listing tab */
.directorist-user-dashboard-tab {
  @include e("nav") {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 16px;
    background-color: var(--directorist-color-white);
    box-shadow: var(--directorist-box-shadow);
    border: 1px solid var(--directorist-color-border-light);
    @media screen and (max-width: 480px) {
      align-items: flex-start;
    }
  }

  ul {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    @media screen and (max-width: 480px) {
      flex-wrap: wrap;
      padding-left: 0;
    }
  }

  li {
    list-style: none;
    &:not(:last-child) {
      margin-right: 20px;
    }

    a {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      padding: 20px 0;
      text-decoration: none;
      color: var(--directorist-color-dark);
      position: relative;

      &:after {
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 2px;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        content: "";
        background-color: var(--directorist-color-primary);
      }

      &.directorist-tab__nav__active {
        color: var(--directorist-color-primary);
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
      @media screen and (max-width: 480px) {
        padding-bottom: 5px;
      }
    }
  }

  .directorist-user-dashboard-search {
    position: relative;
    border-radius: 16px;
    margin: 16px 0 16px 16px;

    @include e("icon") {
      position: absolute;
      left: 16px;
      top: 50%;
      line-height: 1;
      transform: translateY(-50%);

      i,
      span {
        font-size: 16px;
      }
      .directorist-icon-mask::after {
        width: 16px;
        height: 16px;
      }
    }

    input {
      border: 0 none;
      border-radius: 18px;
      font-size: 14px;
      font-weight: 400;
      color: #8f8e9f;
      padding: 10px 18px 10px 40px;
      min-width: 260px;
      height: 36px;
      background-color: #f6f7f9;
      margin-bottom: 0;
      box-sizing: border-box;
      &:focus {
        outline: none;
      }
      @media screen and (max-width: 375px) {
        min-width: unset;
      }
    }
  }
}

.directorist-user-dashboard-tabcontent {
  background-color: var(--directorist-color-white);
  box-shadow: var(--directorist-box-shadow);
  border: 1px solid var(--directorist-color-border-light);
  border-radius: 16px;
  margin-top: 15px;

  .directorist-listing-table {
    border-radius: 12px;

    .directorist-table {
      display: table;
      border: 0 none;
      border-collapse: collapse;
      border-spacing: 0;
      empty-cells: show;
      margin-bottom: 0;
      margin-top: 0;
      overflow: visible !important;
      width: 100%;
    }

    tr {
      background-color: var(--directorist-color-white);

      th {
        text-align: left;

        &.directorist-table-listing {
          min-width: 320px;

          @media (max-width: 1499px) {
            min-width: 260px;
          }

          @media (max-width: 1399px) {
            min-width: 230px;
          }
        }

        &.directorist-table-listing-type {
          min-width: 180px;

          @media (max-width: 1399px) {
            min-width: 160px;
          }
        }

        &.directorist-table-category {
          min-width: 180px;
        }

        &.directorist-table-ex-date {
          min-width: 250px;

          @media (max-width: 1499px) {
            min-width: 220px;
          }

          @media (max-width: 1399px) {
            min-width: 200px;
          }
        }

        &.directorist-table-status {
          min-width: 160px;

          @media (max-width: 1399px) {
            min-width: 130px;
          }
        }

        &.directorist_table-plan {
          min-width: 120px;

          @media (max-width: 1399px) {
            min-width: 100px;
          }
        }

        &.directorist-table-actions {
          min-width: 200px;

          @media (max-width: 1399px) {
            min-width: 150px;
          }
        }
      }
    }

    tr {
      &:first-child {
        th {
          padding-top: 22px;
        }
      }

      &:first-child {
        td {
          padding-top: 28px;
        }
      }

      &:last-child {
        td,
        th {
          padding-bottom: 22px;
        }

        .directorist-dropdown {
          .directorist-dropdown-menu {
            bottom: 100%;
            top: auto;
            transform: translateY(-15px);
          }
        }
      }

      &:first-child {
        .directorist-dropdown {
          .directorist-dropdown-menu {
            bottom: auto;
            top: 35px;
            transform: translateY(0);
          }
        }
      }

      td,
      th {
        font-size: 14px;
        font-weight: 400;
        color: var(--directorist-color-body);
        padding: 12.5px 22px;
        border: 0 none;
      }

      th {
        letter-spacing: 1.1px;
        font-size: 12px;
        font-weight: 500;
        color: #8f8e9f;
        text-transform: uppercase;
        border-bottom: 1px solid #eff1f6;
      }
    }

    .directorist-listing-table-listing-info {
      display: flex;
    }

    .directorist-listing-table-listing-info__img {
      margin-right: 12px;

      img {
        width: 44px;
        height: 44px;
        object-fit: cover;
        border-radius: 6px;
        max-width: inherit;
      }
    }

    .directorist-listing-table-listing-info__content {
      flex: 1;

      .directorist-title {
        margin: 0 0 5px;
        font-size: 15px;
        font-weight: 500;

        a {
          color: #0a0b1e;
          box-shadow: none;
          text-decoration: none;
        }
      }

      .directorist-price {
        font-size: 14px;
        font-weight: 500;
        color: var(--directorist-color-body);
      }
    }

    .directorist_badge {
      font-size: 12px;
      font-weight: 700;
      border-radius: 4px;
      padding: 3px 7px;

      &.primary {
        color: var(--directorist-color-primary);
        background-color: rgba(var(--directorist-color-primary), 0.15);
      }

      &.directorist_status_published {
        color: var(--directorist-color-success);
        background-color: rgba(var(--directorist-color-success-rgb), 0.15);
      }

			&.directorist_status_pending {
				color: var(--directorist-color-warning);
				background-color: rgba(var(--directorist-color-warning-rgb), 0.15);
			}

			&.directorist_status_private{
				color: var(--directorist-color-danger) ;
				background-color: rgba(var(--directorist-color-danger-rgb), 0.15);
			}

      &.danger {
        color: var(--directorist-color-danger);
        background-color: rgba(var(--directorist-color-danger), 0.15);
      }

      &.warning {
        color: var(--directorist-color-warning);
        background-color: rgba(var(--directorist-color-warning), 0.15);
      }
    }

    .directorist-actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      a {
        font-size: 13px;
        text-decoration: none;

        &.directorist-link-btn {
          color: var(--directorist-color-info);
          font-weight: 500;
          margin-right: 20px;
          display: flex;
          align-items: center;
          gap: 5px;

          .directorist-icon-mask::after {
            width: 16px;
            height: 16px;
            background-color: var(--directorist-color-info);
          }
        }
      }

      .directorist-btn-more {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: var(--directorist-color-white);
        font-weight: 500;
        color: var(--directorist-color-body);

        i,
        span,
        svg {
          position: relative;
          top: 1.5px;
          margin-right: 5px;
          font-size: 14px;
          color: var(--directorist-color-body);
        }
      }

      .directorist-checkbox {
        label {
          margin-bottom: 0;
          font-size: 14px;
          font-weight: 400;
          color: var(--directorist-color-body);
        }
      }
    }

    .directorist-dropdown {
      position: relative;
      border: 0 none;

      .directorist-dropdown-menu {
        position: absolute;
        right: 0;
        top: 35px;
        opacity: 0;
        visibility: hidden;
        background-color: var(--directorist-color-white);
        box-shadow: 0 5px 15px #8f8e9f20;

        &.active {
          opacity: 1;
          visibility: visible;
          z-index: 22;
        }
      }
    }

    .directorist-dropdown-menu {
      min-width: 230px;
      border: 1px solid #eff1f6;
      padding: 0 0 10px 0;
      border-radius: 6px;

      @include e("list") {
        position: relative;

        &:not(:last-child) {
          padding-bottom: 10px;

          &:after {
            position: absolute;
            left: 20px;
            bottom: 0;
            width: calc(100% - 40px);
            height: 1px;
            background-color: #eff1f6;
            content: "";
          }
        }

        .directorist-dropdown-item {
          padding: 10px 20px;
          font-size: 14px;
          color: var(--directorist-color-body);
          display: flex;
          text-decoration: none;
          flex-wrap: wrap;
          align-items: center;

          &:hover {
            background-color: #f6f7f9;
          }

          &:first-child {
            margin-top: 10px;
          }

          i {
            font-size: 15px;
            margin-right: 14px;
          }
        }

        .directorist_custom-checkbox {
          padding: 10px 20px;

          &:first-child {
            margin-top: 10px;
          }

          label {
            font-size: 14px;
            font-weight: 400;
            color: var(--directorist-color-body);
          }
        }
      }
    }
  }

  .directorist_dashboard_rating {
    li {
      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }

  .directorist_dashboard_category {
    ul {
      flex-direction: column;
      align-items: flex-start;
    }
    li {
      &:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 4px;
      }

      i,
      span.fas,
      span.fa,
      span.la {
        font-size: 15px;
        margin-right: 4px;
      }

      a {
        padding: 0;
      }
    }
  }

  .directorist-dashboard-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 2px 22px 0 22px;
    padding: 30px 0 40px;
    border-top: 1px solid #eff1f6;

    .page-numbers {
      margin: 4px;
      padding: 0;
      line-height: normal;
      height: 40px;
      min-height: 40px;
      width: 40px;
      min-width: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 2px solid var(--directorist-color-border);
      border-radius: 10px;
      background-color: var(--directorist-color-white);
      transition: 0.3s;
      color: var(--directorist-color-body);
      text-align: center;
      margin: 4px;
      right: auto;
      float: none;
      font-size: 15px;
      text-decoration: none;
      &:hover,
      &.current {
        border-color: var(--directorist-color-primary);
        color: var(--directorist-color-primary);
        .directorist-icon-mask:after {
          background-color: var(--directorist-color-primary);
        }
      }

      .directorist-icon-mask:after {
        width: 14px;
        height: 14px;
        background-color: var(--directorist-color-body);
      }
    }
  }
}

.directorist-user-dashboard__contents {
  &.directorist-tab-content-grid-fix {
    .directorist-user-dashboard-tabcontent {
      .directorist-listing-table {
        tr {
          th {
            &.directorist-table-listing {
              min-width: 218px;
            }
            &.directorist-table-listing-type {
              min-width: 95px;
            }
            &.directorist-table-ex-date {
              min-width: 140px;
            }
            &.directorist-table-status {
              min-width: 115px;
            }
            &.directorist_table-plan {
              min-width: 120px;
            }
            &.directorist-table-actions {
              min-width: 155px;
            }
          }
          td,
          th {
            padding: 12px;
          }
        }
        .directorist-actions {
          a {
            &.directorist-link-btn {
              margin-right: 15px;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

.directorist-table-responsive {
  display: block !important;
  width: 100%;
  overflow-x: auto;
  overflow-y: visible;
}

// Responsive Css
@media (max-width: 767px) {
  .directorist-user-dashboard-tab .directorist-user-dashboard-tab__nav {
    flex-flow: column;
    padding-bottom: 20px;
  }

  .directorist-user-dashboard-search {
    margin-top: 15px;
  }
}

.atbdp__draft {
  line-height: 24px;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  padding: 0 10px;
  border-radius: 12px;
  margin-top: 9px;
  color: var(--directorist-color-primary);
  background: rgba(var(--directorist-color-primary), 0.1);
}

/* become author modal */
.directorist-become-author-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(var(--directorist-color-dark-rgb), 0.5);
  left: 0;
  top: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  &.directorist-become-author-modal__show {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }

  @include e("content") {
    background-color: var(--directorist-color-white);
    border-radius: 5px;
    padding: 20px 30px 15px;
    text-align: center;
    position: relative;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    h3 {
      font-size: 20px;
    }

    .directorist-become-author-modal__approve {
      background-color: #3e62f5;
      display: inline-block;
      color: var(--directorist-color-white);
      text-align: center;
      margin: 10px 5px 0 5px;
      min-width: 100px;
      padding: 8px 0 !important;
      border-radius: 3px;

      &:focus {
        background-color: #3e62f5 !important;
      }
    }

    .directorist-become-author-modal__cancel {
      background-color: #eee;
      display: inline-block;
      text-align: center;
      margin: 10px 5px 0 5px;
      min-width: 100px;
      padding: 8px 0 !important;
      border-radius: 3px;
    }
  }

  span.directorist-become-author__loader {
    border: 2px solid var(--directorist-color-primary);
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    border-right: 2px solid var(--directorist-color-white);
    animation: rotate360 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    visibility: hidden;
    opacity: 0;

    &.active {
      visibility: visible;
      opacity: 1;
    }
  }
}

#directorist-become-author-success {
  color: #388e3c !important;
  margin-bottom: 15px !important;
}

.directorist-shade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  z-index: -1;
  background-color: var(--directorist-color-white);

  &.directorist-active {
    display: block;
    z-index: 21;
  }
}
.table.atbd_single_saved_item {
  margin: 0;
  background-color: var(--directorist-color-white);
  border-collapse: collapse;
  width: 100%;
  min-width: 240px;
  td,
  th,
  tr {
    border: 1px solid #ececec;
  }
  td {
    padding: 0 15px;
    p {
      margin: 5px 0;
    }
  }
  th {
    text-align: left;
    padding: 5px 15px;
  }
  .action {
    a.btn {
      text-decoration: none;
      font-size: 14px;
      padding: 8px 15px;
      border-radius: 8px;
      display: inline-block;
    }
  }
}
