.directorist-user-dashboard {
    width: 100% !important;
    max-width: 100% !important;

    @include e(contents) {
        display: flex;
    }

    @include e(toggle) {
        margin-bottom: 20px;

        @include e(link) {
            border: 1px solid #e3e6ef;
            padding: 5px 10px;
            border-radius: 4px;
            display: inline-block;
            outline: 0;
            background: #fff;
        }
    }

    @include e(tab-content) {
        flex: 1;
    }
}

/* user dashboard loader */
#directorist-dashboard-preloader {
    height: 100%;
    left: 0;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);

    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #222;
        border-radius: 50%;
        animation: rotate360 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #222 transparent transparent transparent;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        &:nth-child(1) {
            animation-delay: -0.45s;
        }

        &:nth-child(2) {
            animation-delay: -0.3s;
        }

        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }
}

/* My listing tab */
.directorist_userDashboard-tab {
    .directorist_userDashboard-tab__nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(#8F8E9F, .05);
        border-radius: 4px;
    }

    ul {
        padding: 0 0 0 22px;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;

        li {
            &:not(:last-child) {
                margin-right: 20px;
            }

            a {
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                padding: 20px 0;
                text-decoration: none;
                color: #0A0B1E;
                position: relative;

                &:after {
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    width: 100%;
                    height: 2px;
                    border-radius: 10px;
                    opacity: 0;
                    visibility: hidden;
                    content: '';
                    background-color: #0A0B1E;
                }

                &.tabItemActive {
                    &:after {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }

    .directorist_userDashboard-search {
        position: relative;
        border-radius: 18px;
        margin: 16px;

        .directorist_userDashboard-search__icon {
            position: absolute;
            left: 16px;
            top: 50%;
            line-height: 1;
            transform: translateY(-50%);

            i,
            span {
                font-size: 16px;
            }
        }

        input {
            border: 0 none;
            border-radius: 18px;
            font-size: 14px;
            font-weight: 400;
            color: #8F8E9F;
            padding: 10px 18px 10px 40px;
            min-width: 260px;
            height: 36px;
            background-color: #F6F7F9;

            &:focus {
                outline: none;
            }
        }
    }
}

.directorist_userDashboard-tabcontent {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(#8F8E9F, .05);
    border-radius: 4px;
    margin-top: 15px;

    // margin-bottom: 145px;
    .directorist_listing-table {
        border-radius: 6px;

        .directorist_table {
            display: table;
            border: 0 none;
            border-collapse: collapse;
            border-spacing: 0;
            empty-cells: show;
            margin-bottom: 0;
            margin-top: 0;
            overflow: visible !important;
        }

        tr {
            background-color: #fff;

            th {
                text-align: left;

                &.directorist_table-listing {
                    min-width: 320px;

                    @media (max-width: 1399px) {
                        min-width: 260px;
                    }
                }

                &.directorist_table-plan {
                    min-width: 180px;

                    @media (max-width: 1399px) {
                        min-width: 160px;
                    }
                }

                &.directorist_table-ex-date {
                    min-width: 250px;

                    @media (max-width: 1399px) {
                        min-width: 230px;
                    }
                }

                &.directorist_table-status {
                    min-width: 160px;

                    @media (max-width: 1399px) {
                        min-width: 150px;
                    }
                }

                &.directorist_table-actions {
                    min-width: 200px;

                    @media (max-width: 1399px) {
                        min-width: 170px;
                    }
                }
            }
        }

        tr {
            &:first-child {
                th {
                    padding-top: 22px;
                }
            }

            &:first-child {
                td {
                    padding-top: 28px;
                }
            }

            &:last-child {

                td,
                th {
                    padding-bottom: 22px;
                }
            }

            td,
            th {
                font-size: 14px;
                font-weight: 400;
                color: #51526E;
                padding: 12.5px 22px;
                border: 0 none;
            }

            th {
                letter-spacing: 1.1px;
                font-size: 12px;
                font-weight: 500;
                color: #8F8E9F;
                text-transform: uppercase;
                border-bottom: 1px solid #EFF1F6;
            }
        }

        .directorist_listing-info {
            display: flex;
        }

        .directorist_listing-info__img {
            margin-right: 12px;

            img {
                width: 44px;
                height: 44px;
                object-fit: cover;
                border-radius: 6px;
            }
        }

        .directorist_listing-info__content {
            flex: auto;

            .directorist_title {
                margin: 0 0 5px;
                font-size: 15px;
                font-weight: 500;
                color: #0A0B1E;
            }

            .directorist_price {
                font-size: 14px;
                font-weight: 500;
                color: #51526E;
            }
        }

        .directorist_badge {
            font-size: 12px;
            font-weight: 700;
            border-radius: 4px;
            padding: 3px 7px;

            &.primary {
                color: $primary;
                background-color: rgba($primary, .15);
            }

            &.directorist_status_published {
                color: #218A00;
                background-color: rgba(#218A00, .15);
            }

            &.danger {
                color: $danger;
                background-color: rgba($danger, .15);
            }

            &.warning {
                color: $warning;
                background-color: rgba($warning, .15);
            }
        }

        .directorist_actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            a {
                font-size: 13px;
                text-decoration: none;

                &.directorist_link-btn {
                    color: #2C99FF;
                    font-weight: 500;
                    margin-right: 20px;

                    i {
                        margin-right: 5px;
                    }
                }
            }

            .directorist_btn-more {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color: #fff;

                &.active {
                    background-color: #F2F2F2;

                    i,
                    span,
                    svg {
                        color: #0A0B1E;
                    }
                }

                &:hover {
                    background-color: #F2F2F2;

                    i,
                    span,
                    svg {
                        color: #0A0B1E;
                    }
                }

                i,
                span,
                svg {
                    font-size: 16px;
                    color: #8F8E9F;
                }
            }

            .directorist_checkbox {
                label {
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: 400;
                    color: #51526E;
                }
            }
        }

        .directorist_dropdown {
            position: relative;
            border: 0 none;

            .directorist_dropdown-menu {
                position: absolute;
                right: 0;
                top: 40px;
                opacity: 0;
                visibility: hidden;
                background-color: #fff;
                box-shadow: 0 5px 15px #8F8E9F20;

                &.active {
                    opacity: 1;
                    visibility: visible;
                    z-index: 22;
                }
            }
        }

        .directorist_dropdown-menu {
            min-width: 230px;
            border: 1px solid #EFF1F6;
            padding: 0 0 10px 0;
            border-radius: 6px;

            .directorist_dropdown-menu__list {
                position: relative;

                &:not(:last-child) {
                    padding-bottom: 10px;

                    &:after {
                        position: absolute;
                        left: 20px;
                        bottom: 0;
                        width: calc(100% - 40px);
                        height: 1px;
                        background-color: #EFF1F6;
                        content: '';
                    }
                }

                .directorist_dropdown-item {
                    padding: 10px 20px;
                    font-size: 14px;
                    color: #51526E;
                    display: block;
                    text-decoration: none;

                    &:hover {
                        background-color: #F6F7F9;
                    }

                    &:first-child {
                        margin-top: 10px;
                    }

                    i {
                        font-size: 15px;
                        margin-right: 14px;
                    }
                }

                .directorist_custom-checkbox {
                    padding: 10px 20px;

                    &:first-child {
                        margin-top: 10px;
                    }

                    label {
                        font-size: 14px;
                        font-weight: 400;
                        color: #51526E;
                    }
                }
            }
        }
    }

    .directorist-dashboard-pagination {
        display: flex;
        justify-content: flex-end;
        margin: 2px 22px 0 22px;
        padding: 25px 0 38px;
        border-top: 1px solid #EFF1F6;

        .pagination .nav-links {
            justify-content: flex-end;
            margin: -4px;

            .page-numbers {
                margin: 4px;

                &.current {
                    background-color: #fff !important;
                    color: #0A0B1E;
                }

                i.la,
                svg {
                    color: #0A0B1E;
                }
            }
        }
    }
}

.directorist_table-responsive {
    display: block !important;
    width: 100%;
    overflow-x: auto;
    overflow-y: visible;
}

// Responsive Css
@media (max-width: 767px) {
    .directorist_userDashboard-tab .directorist_userDashboard-tab__nav {
        flex-flow: column;
        padding-bottom: 20px;
    }

    .directorist_userDashboard-search {
        margin-top: 15px;
    }
}

.atbdp__draft {
    line-height: 24px;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    padding: 0 10px;
    border-radius: 12px;
    margin-top: 9px;
    color: $primary;
    background: rgba($primary, 0.1);
}