// Dashboard Grid
.atbd_tab-content--fix {
    .atbd_tab_inner .col-lg-4.col-sm-6 {
      max-width: 50% !important;
      flex: 0 0 50% !important;
  
      @media(max-width: 575px) {
        max-width: 100% !important;
        flex: 0 0 100% !important;
      }
    }
  
    #user_profile_form {
  
      .col-md-3,
      .col-md-9 {
        max-width: 100% !important;
        flex: 0 0 100% !important;
        margin-left: 0;
      }
  
      .atbd_user_profile_edit {
        margin-top: 15px;
      }
    }
  
    .atbd-message-sidebar,
    .atbd-message-list {
      flex: 0 0 100%;
    }
}

// Dashboard Size
#directorist.atbd_wrapper.size-xs {
.atbd_dashboard_wrapper {
    .atbd_user_dashboard_nav {
    width: 160px;

    @media (max-width: 767px) {
        width: 200px;
    }
    }
}

.atbd_tab-content--fix {
    .atbd_tab_inner .col-lg-4.col-sm-6 {
    max-width: 100% !important;
    flex: 0 0 100% !important;
    }
}
}