.directorist-user-dashboard__nav {
  min-width: 230px;
  padding: 20px 10px;
  margin-right: 30px;
  transition: 0.3s ease;
  position: relative;
  left: 0;
  border-radius: 16px;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--directorist-color-white);
  box-shadow: var(--directorist-box-shadow);
  border: 1px solid var(--directorist-color-border-light);
  @media only screen and (max-width: 1199px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: 100vh;
    background-color: var(--directorist-color-white);
    padding-top: 100px;
    box-shadow: 0 5px 10px rgb(143 142 159 / 10%);
    z-index: 2222;
  }

  @media only screen and (max-width: 600px) {
    right: 20px;
    top: 10px;
  }
  .directorist-dashboard__nav__close {
    display: none;
    position: absolute;
    right: 15px;
    top: 50px;

    @media only screen and (max-width: 1199px) {
      display: block;
    }

    @media only screen and (max-width: 600px) {
      right: 20px;
      top: 10px;
    }
  }

  &.directorist-dashboard-nav-collapsed {
    min-width: unset;
    width: 0 !important;
    height: 0;
    margin-right: 0;
    left: -230px;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    pointer-events: none;
    transition: 0.3s ease;
  }
}

.directorist-tab__nav__items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  a {
    text-decoration: none;
  }
  li {
    margin: 0;
    ul {
      display: none;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li a {
        padding-left: 25px;
        text-decoration: none;
      }
    }
  }
}

.directorist-tab__nav__link {
  font-size: 14px;
  border-radius: 4px;
  padding: 10px;
  outline: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--directorist-color-body);
  text-decoration: none;

  .directorist_menuItem-text {
    pointer-events: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    .directorist_menuItem-icon {
      line-height: 0;
    }
    i,
    span.fa {
      pointer-events: none;
      display: inline-block;
      margin-right: 10px;
    }
  }

  &.directorist-tab__nav__active,
  &:focus {
    font-weight: 700;
    background-color: var(--directorist-color-border);
    color: var(--directorist-color-primary);
    .directorist-icon-mask:after {
      background-color: var(--directorist-color-primary);
    }
    &.atbd-dash-nav-dropdown {
      background-color: transparent;
    }
  }
}

/* user dashboard sidebar nav action */
.directorist-tab__nav__action {
  margin-top: 15px;

  .directorist-btn {
    display: block;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
