.directorist-user-dashboard__nav {
    width: 230px;
    padding: 20px 10px;
    margin-right: 30px;
    transition: 0.3s ease;
    position: relative;
    left: 0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 5px 10px #8f8e9f05;

    @media only screen and (max-width: 1199px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 230px;
        height: 100vh;
        background-color: #fff;
        padding-top: 100px;
        box-shadow: 0 5px 10px rgb(143 142 159 / 2%);
        z-index: 22;
    }

    @media only screen and (max-width: 479px) {
        padding-top: 80px;
    }

    .directorist-dashboard__nav--close {
        display: none;
        position: absolute;
        right: 15px;
        top: 50px;

        @media only screen and (max-width: 1199px) {
            display: block;
        }

        @media only screen and (max-width: 479px) {
            right: 20px;
            top: 60px;
        }
    }

    &.directorist-dashboard-nav-collapsed {
        width: 0 !important;
        height: 0;
        margin-right: 0;
        left: -230px;
        visibility: hidden;
        opacity: 0;
        padding: 0;
        pointer-events: none;
        transition: 0.3s ease
    }

    .directorist-tab__nav__items {
        li {
            ul {
                display: none;

                li a {
                    padding-left: 25px;
                }
            }
        }
    }

    .directorist-tab__nav__link {
        font-size: 14px;
        border-radius: 4px;
        padding: 10px;
        outline: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #51526E;

        i,
        span.fa {
            pointer-events: none;
            display: inline-block;
            margin-right: 10px;
        }

        .directorist_menuItem-text {
            pointer-events: none;
        }

        &.directorist-tab__nav__active,
        &:focus {
            font-weight: 700;
            background-color: #E9E9E9 !important;
            color: #0A0B1E;
        }
    }

    /* user dashboard sidebar nav action */
    .directorist-tab__nav__action {
        margin-top: 15px;

        .directorist-btn {
            display: block;

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
}