// Dashboard Sidebar Toggler
#directorist.atbd_wrapper {
    .atbd-dashboard-nav-toggler {
        border: 1px solid $border-color;
        padding: 5px 10px;
        border-radius: 4px;
        display: inline-block;
        margin-bottom: 20px !important;
        outline: 0;
    
        @media(max-width: 767px) {
            margin-bottom: 0;
        }
    }
}

//Dashboard sidebar nav
#directorist.atbd_wrapper {
    .atbd_dashboard_wrapper {
      display: flex;
  
      .atbd_user_dashboard_nav {
        width: 230px;
        padding: 20px 10px;
        margin-right: 30px;
        transition: 0.3s ease;
        position: relative;
        left: 0;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 5px 10px #8F8E9F05;
  
        @media (max-width: 1199px) {
          margin-bottom: 50px;
        }
  
        &.atbd-dashboard-nav-collapsed {
          width: 0 !important;
          height: 0;
          margin-right: 0;
          left: -230px;
          visibility: hidden;
          opacity: 0;
          pointer-events: none;
          transition: 0.3s ease;
  
          .nav_button,
          ul li a {
            display: block;
            width: 215px;
          }
  
          &+.atbd_tab-content {
            margin-top: 0;
          }
        }
  
        &.atbd-dashboard-nav-collapsed--fixed {
          position: fixed;
          background: #fff;
          z-index: 9999;
          left: 0;
          top: 0;
          padding: 70px 30px 20px;
          height: 100%;
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        }
  
        .nav_button {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
  
          a {
            display: inline-block;
            margin-bottom: 15px;
            padding: 3px 12px;
            line-height: 25px;
          }
        }
  
        .nav_button {
          padding: 0 10px;
          margin-top: 20px;
  
          a {
            width: 100%;
            padding: 6.5px 12px;
            border-radius: 4px;
  
            &.btn-primary {
              background-color: #0A0B1E !important;
            }
          }
        }
      }
  
      .atbd_tab-content {
        flex: 1;
        transition: 0.3s ease;
        margin-top: -57px;
        width: calc(100% - 230px);
  
        .atbd-message-tabs {
          .atbd_tab-content {
            width: 100%;
          }
        }
  
        @media (max-width: 767px) {
          margin-top: 0;
        }
      }
  
      .atbdp_tab_nav--content {
        transition: 0.3s ease;
  
        li {
          margin: 0px;
  
          a {
            font-size: 14px;
            border-radius: 4px;
            padding: 10px;
            outline: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #51526E;
  
            &.tabItemActive {
              font-weight: 700;
              background-color: #E9E9E9;
              color: #0A0B1E;
            }
          }
  
          ul {
            // margin: 0px 0 0 15px;
            display: none;
  
            li {
              a {
                padding-left: 40px;
              }
            }
          }
        }
      }
    }
}