// Profile Responsive
#dashboard_profile #user_profile_form {
  &.directorist-profile-responsive {
    .directorist-col-lg-3 {
      width: 100%;
    }
    .directorist-col-lg-9 {
      width: 100%;
    }
  }
}

// User Profile Image
.directorist-image-profile-wrap {
  padding: 25px;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #ececec;

  .ezmu__upload-button-wrap .ezmu__btn {
    border-radius: 8px;
    padding: 10.5px 30px;
    background-color: #f6f7f9;
    box-shadow: 0 0;
    font-size: 14px;
    font-weight: 500;
    color: var(--directorist-color-primary);
  }

  .directorist-profile-uploader {
    border-radius: 16px;
    .ezmu__front-item__close-icon {
      background-image: none;
      .directorist-icon-mask::after {
        width: 16px;
        height: 16px;
      }
    }
  }

  .ezmu__thumbnail-list-item.ezmu__thumbnail_avater {
    max-width: 140px;
  }
}

// Userdashboard Profile Info
.directorist-user-profile-box {
  .directorist-card__header {
    padding: 18px 20px;
  }

  .directorist-card__body {
    padding: 25px 25px 30px 25px;
  }
}

.directorist-user-info-wrap {
  .directorist-form-group {
    margin-bottom: 25px;
    > label {
      display: inline-flex;
      margin-bottom: 5px;
    }
    .directorist-input-extra-info {
      color: var(--directorist-color-light-gray);
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      margin-top: 4px;
    }
  }

  .directorist-btn-profile-save {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
  }

  #directorist-profile-notice .directorist-alert {
    margin-top: 15px;
  }
}

// Users Social Info
.directorist-user-socials {
  .directorist-user-social-label {
    font-size: 18px;
    padding-bottom: 18px;
    margin-bottom: 28px !important;
    border-bottom: 1px solid #eff1f6;
  }

  label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .directorist-social-icon {
      margin-right: 6px;
      .directorist-icon-mask::after {
        width: 16px;
        height: 16px;
        background-color: #0a0b1e;
      }
    }
  }
}

// Profile Notice
#directorist-prifile-notice {
  .directorist-alert {
    width: 100%;
    display: inline-block;
    margin-top: 15px;
  }
}
