.directorist-signle-listing-top {
    margin-bottom: 15px;

    @include e(btn-edit) {
        &.directorist-btn.directorist-btn-outline-light {
            background-color: #fff;
        }
    }
}

// Directorist Single Listing Style
.directorist-single-wrapper {
    .directorist-card {
        margin-bottom: 35px;
    }

    .directorist-card__header {
        .directorist-card__header--title {
            font-size: 18px;
            font-weight: 500;
            color: $dark;
            margin: 0;

            #directorist-review-counter {
                margin-right: 10px;
            }
        }
    }

    .directorist-card__body {
        .directorist-details-info-wrap {
            ul {
                display: flex;
                flex-wrap: wrap;
                margin: -0.5rem 0 0 0;

                li {
                    flex: 33.333%;
                    margin: 0.5rem 0 0 0;

                    a {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

// Single Listing Actions
.directorist-single-listing-action {
    margin: -3px;

    .directorist-single-listing-action {
        border: 1px solid #ECECEC;
        height: 36px;
        width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #7a82a6;
        cursor: pointer;
        border-radius: 4px;
        margin: 3px;

        span.la,
        span.fa,
        i {
            font-size: 17px;
        }

        &.directorist-tooltip[aria-label]:after {
            line-height: 1.75;
        }

        a {
            box-shadow: none;
        }

        .atbdp-require-login,
        .directorist-action-report-not-loggedin{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            i,
            span.la,
            span.las,
            span.lab,
            span.fa,
            span.fas,
            span.fab{
                pointer-events: none;
            }
        }
    }

    .directorist-social-share {
        &:hover {
            .directorist-social-share-links {
                opacity: 1;
                visibility: visible;
                top: calc(100% + 10px);
            }
        }

        .directorist-social-share-links {
            position: absolute;
            transition: all 0.2s ease-in-out;
            z-index: 2;
            visibility: hidden;
            opacity: 0;
            right: 0;
            top: calc(100% + 30px);
            background: #ffffff;
            border-radius: 4px;
            width: 180px;
            box-shadow: 0 5px 20px rgb(167 178 199 / 30%);

            .directorist-social-links__item {
                a {
                    padding: 11px 20px;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid $border-color;

                    span.la,
                    span.fa,
                    i {
                        color: #444752;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

// Listing Details
.directorist-listing-details {
    .directorist-listing-single {
        margin: 10px 0 10px 0;

        .directorist-listing-single__info {
            padding: 0;
        }
    }

    .directorist-listing-details__listing-title {
        font-size: 30px;
        font-weight: 500;
        display: inline-block;
        margin: 0 15px 12px 0;
    }

    .directorist-listing-details-tagline {
        margin-bottom: 15px;
        color: #7a82a6;
    }

    .directorist-listing-details__text {
        p {
            margin: 0 0 15px;
            color: #7a82a6;
            line-height: 24px;
        }
    }
}

// Directorist Embaded Video
.directorist-single-wrapper {
    .directorist-embaded-video {
        width: 100%;
        height: 400px;
        border: 0 none;
    }
}

// Related Listing
.directorist-related-listing-header {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 18px;
        margin: 0 0 15px;
    }
}

.directorist-related-carousel {
    .slick-list {
        margin: 0 -15px 30px;
    }
    .slick-track{
        margin-left: 0;
        margin-right: 0;
    }
    .slick-slide {
        margin: 0 15px;
    }
}

#directorist-single-listing-slider{
    .plasmaSlider__footer{
        margin-left: -4px;
    }
    .plasmaSlider__thumbnailListItem {
        .plasmaSlider__thumbnailListItemImg{
            max-width: 120px;
        }
    }
    .plasmaSlider__thumbnailList{
        padding: 3px 0;
    }
}