.atbdp-icon {
    width: 25px;
    display: inline-block;
    text-align: center;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    margin-right: 3px;
    transition: all ease-in-out 300ms;
}

.atbdp-icon-fill {
    color: #222222;
    border-radius: 50%;
    background: #f2f2f2;
    &.icon-success {
        color: #fff;
        background: #4eca35;
    }    
    &.icon-error {
        color: #fff;
        background: #ca3535;
    }    
}