$settings-primary-color: #3e62f5;

.atbdp-settings-panel {
    .cptm-form-group{
        margin-bottom: 35px;
    }
    .cptm-tab-content {
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: unset;
    }

    .cptm-title {
        font-size: 18px;
        line-height: unset;
    }

    .cptm-menu-title {
        font-size: 20px;
        font-weight: 500;
        color: $dark;
        margin-bottom: 50px;
    }

    .cptm-section {
        border: 1px solid #E3E6EF;
        border-radius: 10px;
        margin-bottom: 50px !important;
        .cptm-title-area {
            border-bottom: 1px solid #E3E6EF;
            padding: 20px 25px;
            margin-bottom: 0;
            &.directorist-no-header{
                border-bottom: 0 none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            .cptm-title {
                font-size: 20px;
                font-weight: 500;
                color: #000000;
            }
        }
        .cptm-form-fields{
            padding: 20px 25px 0 25px;
            .cptm-form-group label{
                font-size: 15px;
            }
        }
        &.enable_multi_directory {
            z-index: 99;
        }
    }
}