.directorist-draggable-list-item {
    flex-grow: 1;
}

.directorist-draggable-list-item-wrapper {
    position: relative;
    height: 100%;
}

.directorist-droppable-area-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 888888888;
    display: none;
    flex-direction: column;
    margin-bottom: -20px;
}

.directorist-droppable-area {
    flex-grow: 1;
}

.directorist-droppable-area-top {
    // background-color: rgba(69, 154, 180, 0.5);
}
.directorist-droppable-area-bottom {
    // background-color: rgba(180, 69, 147, 0.5);
}

.directorist-droppable-item-preview {
    height: 52px;
    background-color: rgba(44, 153, 255, 0.1);
    margin-bottom: 20px;
    margin-right: 50px;
    border-radius: 4px;
}

.directorist-droppable-item-preview-before {
    margin-bottom: 20px;
}

.directorist-droppable-item-preview-after {
    margin-bottom: 20px;
}