/* settings panel css */
.atbdp-settings-manager {
    .directorist_builder-header {
        margin-bottom: 30px;
    }
    .atbdp-settings-manager__top{
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .directorist_builder-links{
            margin: 0 ;
            padding: 0;
            margin-top: 10px;
            li{
                display: inline-block;
                margin-bottom: 0;
                &:not(:last-child){
                    margin-right: 25px;
                }
                a{
                    font-size: 14px;
                    text-decoration: none;
                    color: #5A5F7D;
                }
            }
        }
    }
    .atbdp-settings-manager__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 24px;
        font-weight: 500;
        color: $dark;
        margin-bottom: 28px;
        .directorist_settings-trigger{
            display: none;
            margin: 8px 0 0 30px;
            @media only screen and (max-width: 575px) {
                display: block;
            }
        }
    }
}

.directorist_vertical-align-m{
    display: flex;
    align-items: center;
    .directorist_item{
        display: flex;
    }
}

// Settings Panel Buttons
.atbdp-settings-manager {
    .atbdp-tab-sub-contents{
        .directorist_btn-start{
            font-size: 14px;
            font-weight: 500;
            color: #2C99FF;
            border-radius: 18px;
            padding: 6px 13px;
            text-decoration: none;
            border-color: #2C99FF;
            margin-bottom: 0;
            margin-left: 20px;
        }
    }
}
// Settings Panle Grid
.atbdp-settings-manager {
    .settings-contents{
        .atbdp-row{
            .atbdp-col.atbdp-col-4{
                @media only screen and (max-width: 767px) {
                    width: 100%;
                    flex-basis: 100%;
                }
            }
        }
        .cptm-form-group label{

            @media only screen and (max-width: 767px) {
                margin-bottom: 15px;
            }
        }
        .directorist_dropdown{
            .directorist_dropdown-toggle{
                line-height: .8;
            }
        }
    }
}


// Setting Panle Sidebar Trigger
.directorist_settings-trigger{
    display: inline-block;
    cursor: pointer;
    span{
        display: block;
        width: 20px;
        height: 2px;
        background-color: #272B41;
        &:not(:last-child){
            margin-bottom: 4px;
        }
    }
}

.settings-wrapper {
    width: 100%;
    margin: 0 auto;
}

.atbdp-settings-panel {
    max-width: 1200px;
    margin: 0 !important;
}

.setting-top-bar {
    background-color: #272B41;
    padding: 15px 20px;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    @media only screen and (max-width: 767px) {
        flex-direction: column;
    }

    .atbdp-setting-top-bar-right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media only screen and (max-width: 767px) {
            margin-top: 15px;
        }
        @media only screen and (max-width: 575px) {
            flex-direction: column;
        }
        .setting-top-bar__search-field{
            margin-right: 5px;
            input{
                border-radius: 20px;
                color: #fff !important;
            }
        }
    }

    .directorist_setting-panel__pages{
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            margin-bottom: 0;
            .directorist_setting-panel__pages--link{
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;
                color: #ffffff50;
                &.active{
                    color: #fff;
                    &::before{
                        color: #ffffff50;
                    }
                }
                &:focus{
                    outline: 0 none;
                    box-shadow: 0 0;
                }
            }
        }
        
        li + li{
            .directorist_setting-panel__pages--link{
                &:before{
                    font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
                    content: '\f105';
                    margin: 0px 2px 0 5px;
                    font-weight: 900;
                    position: relative;
                    top: 1px;
                }
            }
        }
    }

    .search-suggestions-list {
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 10px 40px #868EAE30;
        height: 360px;
        overflow-y: auto;

        .search-suggestions-list--link {
            padding: 8px 10px;
            font-size: 14px;
            font-weight: 500;
            border-radius: 4px;
            color: #5A5F7D;

            &:hover {
                color: #fff;
                background-color: #3E62F5;
            }
        }
    }
}

.setting-top-bar__search-actions {
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width: 575px) {
        margin-top: 15px;
    }
    .setting-response-feedback{

        @media only screen and (max-width: 575px) {
            margin-left: 0 !important;
        }
    }
}

.setting-response-feedback {
    display: flex;
    margin: 0 10px;
    align-items: center;
    color: #fff;
}

.setting-search-suggestions {
    position: relative;
    z-index: 999;
}

.search-suggestions-list {
    margin: 5px auto 0;
    position: absolute;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 0 3px #ccc;
    background-color: #fff;
}

.search-suggestions-list--list-item {
    list-style: none;
}

.search-suggestions-list--link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    transition: all ease-in-out 200ms;

    &:hover {
        background-color: #f2f2f2;
    }
}

.setting-body {
    display: flex;
}

.settings-contents {
    flex-grow: 1;
    padding: 20px 20px 0;
    background-color: #fff;
}

.setting-search-field__input {
    height: 40px;
    padding: 0 16px !important;
    border: 0 none !important;
    background-color: #ffffff08 !important;
    border-radius: 4px;
    color: #ffffff50 !important;
    width: 250px;
    max-width: 250px;
    font-size: 14px;

    &:focus {
        outline: none;
        box-shadow: 0 0 !important;
    }
}

.settings-save-btn{
    display: inline-block;
    padding: 0 20px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #3E62F5;
    background-color: #3E62F5;
    transition: all ease-in-out 300ms;

    &:focus{
        color: #fff;
        outline: none;
    }

    &:hover {
        border-color: darken(#3E62F5, 5);
        background: darken(#3E62F5, 5);
        color: #fff;
    }

    &:disabled {
        opacity: 0.8;
        cursor: not-allowed;
    }
}

.setting-left-sibebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #F6F6F6;
    border-right: 1px solid #f6f6f6;
    @media only screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        background-color: #fff;
        transform: translateX(-250px);
        transition: .35s;
        z-index: 99999;
    }
    &.active{
        transform: translateX(0px);
    }
}

.directorist_settings-panel-shade{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #272B4130;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    &.active{
        z-index: 999;
        opacity: 1;
        visibility: visible;
    }
}

.settings-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.settings-nav li {
    list-style: none;
}

.settings-nav a {
    text-decoration: none;
}

.settings-nav__item.active {
    background-color: #fff;
}

.settings-nav__item ul {
    padding-left: 0;
    background-color: #fff;
    display: none;
}

.settings-nav__item.active ul {
    display: block;
}

.settings-nav__item__link {
    line-height: 50px;
    padding: 0 25px;
    font-size: 14px;
    font-weight: 500;
    color: #272B41;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
}

.settings-nav__item__link:hover {
    background-color: #fff;
}

.settings-nav__item.active .settings-nav__item__link {
    color: #3E62F5;
}

.settings-nav__item__icon {
    display: inline-block;
    width: 32px;

    i {
        font-size: 15px;
        &.directorist_Blue {
            color: #3E62F5
        }

        &.directorist_success {
            color: #08BF9C
        }

        &.directorist_pink {
            color: #FF408C
        }

        &.directorist_warning {
            color: #FA8B0C
        }

        &.directorist_info {
            color: #2C99FF
        }

        &.directorist_green {
            color: #00B158
        }

        &.directorist_danger {
            color: #FF272A
        }

        &.directorist_wordpress {
            color: #0073AA
        }
    }
}

/* .settings-nav__item ul li {
    margin-bottom: 25px;
} */

.settings-nav__item ul li a {
    line-height: 25px;
    padding: 10px 25px 10px 58px;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: #5A5F7D;
    transition: 0.3s ease;
    border-left: 2px solid transparent;
    &:focus{
        box-shadow: 0 0;
        outline: 0 none;
    }
}

.settings-nav__item ul li a.active {
    color: #3E62F5;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(161, 168, 198, 0.2);
    border-left-color: #3E62F5;
}

.settings-nav__item ul li a:hover {
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(161, 168, 198, 0.2);
}

span.drop-toggle-caret {
    width: 10px;
    height: 5px;
    margin-left: auto;
}

span.drop-toggle-caret:before {
    position: absolute;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #868EAE;
}

.settings-nav__item.active .settings-nav__item__link span.drop-toggle-caret:before {
    border-top: 0;
    border-bottom: 5px solid #3E62F5;
}

.highlight-field {
    padding: 10px;
    border: 2px solid #3e62f5;
}

.settings-footer {
    display: flex;
    margin: 0 -20px;
    padding: 15px 15px 15px;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #F8F9FB;

    .setting-response-feedback {
        color: #272b41;
    }
}

.settings-footer-actions {
    display: flex;
    flex-wrap: wrap;
    color: #272b41;
}

.atbdp-settings-panel{
    .cptm-form-control,
    .directorist_dropdown{
        max-width: 500px !important;
    }
}

#page_settings{
    .cptm-menu-title{
        display: none;
    }
}

#personalization{
    .cptm-menu-title{
        display: none;
    }
}

#import_export{
    .cptm-menu-title{
        display: none;
    }
}