@import "../vendor/bootstrap/config.bs";

//mixins
@import "../mixins/general";
//sweet alert
@import "./sweet-alert";

// add listing types
.directorist-add-listing-types {
  @include e(single) {
    margin-bottom: 15px;
    @include e(link) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: var(--directorist-color-white);
      color: var(--directorist-color-primary);
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      text-align: center;
      padding: 40px 0;
      border-radius: 16px;
      box-shadow: var(--directorist-box-shadow);
      .directorist-icon-mask {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        width: 70px;
        background-color: var(--directorist-color-primary);
        border-radius: 100%;
        margin-bottom: 20px;
        &:after{
          width: 23px;
          height: 23px;
          background-color: #fff;
        }
      }
      &:hover {
        background: var(--directorist-color-primary);
        color: var(--directorist-color-white);
        .directorist-icon-mask {
          background-color: var(--directorist-color-white);
          &::after {
            background-color: #000;
          }
        }
      }
      /* Legacy Icon */
      & > i:not(.directorist-icon-mask){
        display: inline-block;
        margin-bottom: 10px;
      }
    }
  }
}

.directorist-add-listing-form,
#directiost-listing-fields_wrapper {
  .directorist-content-module {
    background: #fff;
    margin-bottom: 35px;

    .directorist-form-group {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    .directorist-form-address-field {
      &.atbdp-form-fade {
        padding: 0;
        &:before {
          width: 15px;
          height: 15px;
          left: unset;
          right: 0; 
          top: 54px;       
        }
        &:after {
          height: 42px;
          top: 34px;
        }
      }
    }
  }
  .directorist-alert-required{
    display: block;
    margin-top: 5px;
    color: #E80000;
    font-size: 13px;
  }
}

/* ==========================
    add listing form fields
============================= */
/* listing label */
.directorist-form-label {
  display: block;
  color: #202428;
  margin-bottom: 10px;
  font-weight: 500;
}

/* listing type */
.directorist-form-listing-type {
  @include e(title) {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #272b41;
    letter-spacing: normal;
  }

  @include e(single) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .directorist-radio input[type="radio"] + .directorist-radio__label {
    font-size: 15px;
    color: #202428;
    padding-left: 23px;
    font-weight: 700;

    small {
      font-weight: normal;
      color: var(--directorist-color-success);
    }
  }
}

/* Pricing */
.directorist-form-pricing-field {
  @include e(options) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -5px 10px;

    .directorist-checkbox,
    .directorist-form-pricing-field__options__divider,
    .directorist-form-pricing-field__options__info {
      padding: 0 5px;
    }

    .directorist-checkbox
      input[type="checkbox"]
      + .directorist-checkbox__label {
      font-size: 15px;
      font-weight: 700;
      min-height: 18px;
    }
  }
  .directorist-form-element{
    min-width: 100%;
  }
  select.directorist-form-element {
    padding: 0 20px;
  }
}
.price-type-price_range,
.price-type-price_unit{
  .directorist-form-pricing-field__options{
    margin: 0;
  }
}

/* location */
.directorist-select-multi select {
  display: none;
}

#directorist-location-select {
  z-index: 113 !important;
}

/* tags */
#directorist-tag-select {
  z-index: 112 !important;
}

/* categories */
#directorist-category-select {
  z-index: 111 !important;
}

.directorist-form-group .select2-selection {
  border-color: #ececec;
}

.directorist-form-group .select2-container--default .select2-selection {
  min-height: 40px;
  padding-right: 15px;

  .select2-selection__rendered {
    line-height: 26px;
  }

  .select2-selection__clear {
    padding-right: 15px;
  }

  .select2-selection__arrow {
    right: 10px;
  }

  input {
    min-height: 26px;
  }
}

/* hide contact owner */
.directorist-hide-owner-field.directorist-checkbox
  input[type="checkbox"]
  + .directorist-checkbox__label {
  font-size: 15px;
  font-weight: 700;
}

/* social info */
.directorist-form-social-fields {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -10px;

  .directorist-form-group {
    flex: 1;
    padding: 0 10px;

    &.directorist-form-social-fields__action {
      flex: auto;
      margin-bottom: 15px;
    }

    select.directorist-form-element {
      padding: 0 20px;
    }
  }

  .directorist-form-social-fields__remove {
    color: #fff;
    height: 42px;
    background: #e23636;
    border-radius: 3px;
    padding: 0 20px 0 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

/* Map style */
.directorist-map-coordinate {
  margin-top: 15px;
}

.directorist-map-coordinates {
  padding: 0 0 15px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px -15px 0;

  .directorist-form-group {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 290px;
  }

  @include e(generate) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

.directorist-form-map-field__wrapper {
  margin-bottom: 10px;
}

.directorist-form-map-field__maps {
  #gmap {
    height: 400px;
  }
}

/* image upload */
.directorist-form-image-upload-field {
  .ezmu__btn.ezmu__input-label {
    background: #222222;
    color: #fff;
  }

  .ezmu__info-list-item {
    margin-right: 15px !important;
    &:empty{
      display: none;
    }
  }

  .ezmu__thumbnail-list-item {
    width: auto;
  }
}

//add listing image upload
.directorist-add-listing-wrapper {
  max-width: 750px !important;
  margin: 0 auto;
  .ezmu__thumbnail-list-item {
    max-width: 300px;
    flex-basis: 300px;
  }

  .ezmu__thumbnail-list-item_back {
    height: 200px;
    width: 100%;
  }

  .ezmu__media-picker-buttons {
    margin-top: 10px;
  }

  .ezmu__titles-area {
    .ezmu__title-1 {
      font-size: 30px;
    }

    .ezmu__title-3 {
      font-size: 20px;
      margin-bottom: 1rem;
    }
  }

  .ezmu__btn {
    margin-bottom: 25px;
    background-color: var(--directorist-color-primary);
    color: #fff;
  }

  .ezmu__info-list {
    .ezmu__info-list-item {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

/* form action */
.directorist-add-listing-form__action {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .directorist-form-submit {
    margin-top: 15px;

    @include e(btn) {
      &.atbd_loading {
        position: relative;

        &:after {
          content: "";
          border: 2px solid #f3f3f3;
          border-radius: 50%;
          border-top: 2px solid #656a7a;
          width: 20px;
          height: 20px;
          -webkit-animation: rotate360 2s linear infinite;
          animation: rotate360 2s linear infinite;
          display: inline-block;
          margin: 0 0 0 10px;
          position: relative;
          top: 4px;
        }
      }
    }
  }

  label{
    line-height: 1.25;
    margin-bottom: 0;
  }

  #listing_notifier {
    margin-top: 10px;
  }

  .directorist-form-group {
    text-align: center;
  }

  .directorist-form-required {
    padding-left: 5px;
  }
}

/* Custom Fields */
/* select */
.directorist-custom-field-select {
  select.directorist-form-element {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* file upload */
.plupload-upload-uic {
  width: 420px;
  margin: 0 auto !important;
  border: 1px dashed #dbdee9;
  padding: 30px;
  text-align: center;

  .directorist-dropbox-title {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 15px;
  }

  .directorist-dropbox-file-types {
    margin-top: 10px;
    color: #9299b8;
  }
}

/* quick login */
.directorist-modal-container {
  display: none;
  margin: 0 !important;
  max-width: 100% !important;
  height: 100vh !important;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999999999999;
}

.directorist-modal-container.show {
  display: block;
}

.directorist-modal-wrap {
  display: flex;
  background-color: #00000078;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.directorist-modals {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.directorist-modal-header {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
}

.directorist-modal-title-area {
  display: block;
}

.directorist-modal-header .directorist-modal-title {
  margin-bottom: 0 !important;
  font-size: 24px;
}

.directorist-modal-actions-area {
  display: block;
  padding: 0 10px;
}

.directorist-modal-body {
  display: block;
  padding: 20px;
}

.directorist-form-privacy {
  margin-bottom: 10px;
}

.directorist-form-privacy,
.directorist-form-terms {
  display: flex;
  a{
    text-decoration: none;
  }
}

/* =============================
    backend add listing form
================================*/
.add_listing_form_wrapper .hide-if-no-js {
  display: flex;
  justify-content: center;
}

.ez-media-uploader {
  text-align: center;
}

#listing_form_info {
  .directorist-bh-wrap {
    .directorist-select {
      select {
        width: calc(100% - 1px);
        min-height: 42px;
        display: block !important;
        border-color: #ececec !important;
        padding: 0 10px;
      }
    }
  }
}

.directorist-map-field {
  #floating-panel {
    margin-bottom: 20px;

    #delete_marker {
      background-color: var(--directorist-color-danger);
      border: 1px solid var(--directorist-color-danger);
      color: #fff;
    }
  }
}

#listing_form_info {
  .atbd_content_module {
    &.atbd-booking-information {
      .atbdb_content_module_contents {
        padding-top: 20px;
      }
    }
  }
}

// Custome Field Checkbox & Radio

.directorist-custom-field-radio,
.directorist-custom-field-checkbox {
  display: flex;
  flex-wrap: wrap;

  .directorist-form-label,
  .directorist-custom-field-btn-more {
    width: 100%;
    flex: 0 0 100%;
  }

  .directorist-checkbox,
  .directorist-radio {
    flex: 0 0 25%;

    @media only screen and (max-width: 1599px) {
      flex: 0 0 33.333%;
    }

    @media only screen and (max-width: 1199px) {
      flex: 0 0 50%;
    }

    @media only screen and (max-width: 767px) {
      flex: 0 0 100%;
    }
  }

  .directorist-custom-field-btn-more {
    margin-top: 5px;

    &:after {
      font-size: 14px;
      font-family: "Line Awesome Free";
      content: "ï„‡";
      font-weight: 900;
      padding-left: 5px;
    }

    &.active {
      &:after {
        content: "\f106";
      }
    }
  }
}

.directorist-add-listing-form .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  height: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    margin-left: 0;
    margin-top: 0;
    input{
      margin-top: 0;
    }
  }
}

// Multistep Wizard
.multistep-wizard {
  display: flex;
  gap: 30px;
  @include e(btn) {
    background-color: unset;
    border: none;
    outline: none;
    cursor: pointer;
  }
  @include e(nav) {
    display: flex;
    flex-direction: column;
    @include e(btn) {
      position: relative;
      display: flex;
      align-items: center;
      gap: 12px;
      width: 270px;
      padding: 7px 16px;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 12px;
      color: var(--directorist-color-light-gray);
      background-color: transparent;
      i {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: #ededed;
        &:after {
          width: 16px;
          height: 16px;
        }
      }
      &:before{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        mask-image: url("../../../icons/font-awesome/svgs/solid/arrow-right.svg");
        mask-repeat: no-repeat;
        width: 12px;
        height: 12px;
        background-color: #000;
        display: block;
        opacity: 0;
        transition: all 0.3s ease 0s;
        z-index: 2;
      }
      &.active,
      &:hover {
        color: var(--directorist-color-dark);
        background: var(--directorist-color-white);
        box-shadow: var(--directorist-box-shadow);
        &:before{
          opacity: 1;
        }
      }
      &.completed {
        color: var(--directorist-color-dark);
        &:before{
          mask-image: url("../../../icons/font-awesome/svgs/solid/check.svg");
          opacity: 1;
        }
      }
    }
  }
  @include e(content) {
    flex: 1;
  }
  @include e(single) {
    display: none;
    padding: 20px 15px;
    box-shadow: var(--directorist-box-shadow);
    &.active {
      display: block;
    }
    label {
      display: block;
    }
    span.required{
      color: var(--directorist-color-danger);
    }
  }
  @include e(progressbar) {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 50px;
    border-radius: 10px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--directorist-color-border);
      border-radius: 10px;
      transition: width 0.3s ease-in-out;
    }
    @include e(width) {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--directorist-color-primary);
        border-radius: 10px;
        transition: width 0.3s ease-in-out;
      }
    }
  }
  @include e(bottom) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }
  @include e(btn) {
    width: 200px;
    height: 54px;
    &[disabled="true"] {
      pointer-events: none;
    }
  }
  @include e(count) {
    font-size: 15px;
    font-weight: medium;
  }
}

