/* Advanced search filter float style  */
.directorist-search-float {
    position: relative;
    width: calc(100% - 15px);
    left: -25px;
    .directorist-advanced-filter {
        border: 1px solid var(--directorist-color-border);
        background: var(--directorist-color-white);
        padding: 20px 30px;
        z-index: 10000;
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: none;
        visibility: hidden;
        height: 0;
        max-height: 500px;
    }
}

// Advance Search Filter Basic
.directorist-advanced-filter{
    @include e(form) {
        
    }

    @include e(basic){
        display: flex;
        flex-direction: column;
        @include m(element){
            .directorist-search-field {
                flex-direction: column;
                align-items: flex-start;
                padding: 0;
                margin: 0 0 40px;
                > label {
                    display: inline-flex;
                    font-size: 16px;
                    font-weight: 500;
                    margin: 0 0 15px;
                    color: var(--directorist-color-primary);
                }
                .directorist-btn-ml{
                    display: inline-block;
                    margin-top: 20px;
                    font-size: 13px;
                    font-weight: 500;
                    color: var(--directorist-color-primary);
                }
            }
            .directorist-checkbox-wrapper,
            .directorist-search-tags {
                gap: 20px;
                margin: 0;
                .directorist-checkbox {
                    margin: 0;
                    flex: 0 0 48%;
                }
            }
            .directorist-form-group{
                .directorist-filter-location-icon{
                    margin-top: 1px;
                    z-index: 99;
                }
            }
            .form-group {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                padding: 0;
                margin: 0 0 40px;
                > label {
                    display: inline-flex;
                    font-size: 16px;
                    font-weight: 500;
                    margin: 0;
                    color: var(--directorist-color-primary);
                }
            }
        }
    }

    // Advance Search Filter Advance
    @include e(advanced){
        display: flex;
        flex-direction: column;
        @include m(element){
            .directorist-search-field {
                flex-direction: column;
                align-items: flex-start;
                padding: 0;
                margin: 0 0 40px;
                > label {
                    display: inline-flex;
                    font-size: 16px;
                    font-weight: 500;
                    margin: 0 0 15px;
                    color: var(--directorist-color-primary);
                }
                .directorist-btn-ml{
                    display: inline-block;
                    margin-top: 20px;
                    font-size: 13px;
                    font-weight: 500;
                    color: var(--directorist-color-primary);
                }
            }
            .directorist-checkbox-wrapper,
            .directorist-search-tags {
                gap: 20px;
                margin: 0;
                .directorist-checkbox {
                    margin: 0;
                    flex: 0 0 48%;
                }
            }
            .directorist-form-group{
                .directorist-filter-location-icon{
                    margin-top: 1px;
                    z-index: 99;
                }
            }
            .form-group {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                padding: 0;
                margin: 0 0 40px;
                > label {
                    display: inline-flex;
                    font-size: 16px;
                    font-weight: 500;
                    margin: 0;
                    color: var(--directorist-color-primary);
                }
            }
        }
    }

    // Advance Search Filter Action
    @include e(action){
        gap: 10px;
        padding: 17px 40px;
        margin: 0 -40px -30px;
        background-color: var(--directorist-color-light);
        .directorist-btn-reset-js {
            font-size: 14px;
            font-weight: 500;
            color: var(--directorist-color-primary);
            text-decoration: none;
        }
        .directorist-btn {
            font-size: 14px;
            border-radius: 10px;
            padding: 0 32px;
            height: 46px;
            text-transform: capitalize;
            text-decoration: none;
            letter-spacing: 0;
            font-weight: 400;
            @media only screen and (max-width: 375px){
                padding: 0 14.5px;
            }
        }
    }
}

.directorist-price-ranges{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @include e(item){
        flex: 0 0 48%;
        .directorist-form-element {
            border-bottom: 1px solid var(--directorist-color-border);
        }
        &.directorist-price-ranges__price-frequency{
            display: flex;
            gap: 6px;
            .directorist-price-ranges__price-frequency--btn{
                .directorist-pf-range{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--directorist-color-primary) !important;
                    background-color: var(--directorist-color-border);
                    border-radius: 8px;
                    width: 70px;
                    height: 36px;
                }
                input[type="radio"]{
                    display: none;
                    &:checked{
                        &+.directorist-pf-range{
                            background-color: var(--directorist-color-primary);
                            color: var(--directorist-color-white) !important;
                        }
                    }
                }
            }
        }
    }
}

// wp-color Picker
.directorist-search-field {
    font-size: 15px;
    .wp-picker-container{
        .wp-picker-clear,
        .wp-color-result{
            position: relative;
            height: 40px;
            border: 0 none;
            width: 140px;
            transition: all 0.2s ease-in-out;
            border-radius: 3px;
            text-decoration: none;
        }
        .wp-color-result{
            position: relative;
            height: 40px;
            border: 0 none;
            width: 140px;
            transition: all 0.2s ease-in-out;
            border-radius: 3px;
            .wp-color-result-text{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 100%;
                width: 102px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;
                line-height: 1;
            }
        }
    }
    .wp-picker-holder {
        position: absolute;
        z-index: 22;
    }
}

// Business Hour Open Close
.check-btn{
    display: flex;
    flex-wrap: wrap;
    label{
        display: inline-flex;
        input{
            display: none;
            &:checked{
                &+span:before {
                    opacity: 1;
                    visibility: visible;
                }
                &+span:after {
                    border-color: var(--directorist-color-primary);
                    background-color: var(--directorist-color-primary);
                }
            }
        }
        
        span{
            position: relative;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            transition: 0.3s ease;
            height: 42px;
            padding-right: 30px;
            padding-left: 45px;
            font-weight: 400;
            font-size: 14px;
            border-radius: 8px;
            background-color: var(--directorist-color-light);
            color: var(--directorist-color-primary);
            cursor: pointer;
            i{
                display: none;
            }
            &:before{
                position: absolute;
                left: 23px;
                top: 50%;
                transform: translateY(-50%);
                content: "";
                mask-image: url("../../../icons/font-awesome/svgs/solid/check.svg");
                mask-repeat: no-repeat;
                width: 10px;
                height: 10px;
                background-color: var(--directorist-color-white);
                display: block;
                opacity: 0;
                transition: all 0.3s ease 0s;
                z-index: 2;
            }
            &:after {
                position: absolute;
                left: 18px;
                top: 50%;
                transform: translateY(-50%);
                width: 16px;
                height: 16px;
                border-radius: 5px;
                content: "";
                border: 2px solid #d9d9d9;
                background-color: #fff;
            }
        }
    }
}

/* google map location suggestion container */
.pac-container {
    z-index: 99999 !important;
}