/* Advanced search filter styles */
.directorist-advanced-filter {
    border: 1px solid #e3e6ef;
    background: #fff;
    padding: 20px 30px;
}

.directorist-search-slide {
    .directorist-advanced-filter {
        display: none;

        @include m(show) {
            display: block !important;
        }
    }
}

/* Advanced search filter float style  */
.directorist-search-float {
    position: relative;

    .directorist-advanced-filter {
        border-radius: 3px;
        z-index: 10000;
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: none;
        visibility: hidden;
        height: 0;
    }
}

// Advance Search Filter Basic
.directorist-advanced-filter{
    @include e(basic){
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-bottom: 1px solid $border-color;
        @include m(element){
            flex: 0 0 33.33%;
            width: 33.33%;
            .directorist-search-field {
                flex-direction: column;
                align-items: flex-start;
                padding-left: 5px !important;
                padding-right: 5px !important;
                margin: 5px 0;
                .directorist-btn-ml{
                    display: inline-block;
                    margin-top: 4px;
                    font-size: 14px;
                    color: #7a82a6;
                    text-decoration: none;
                }
            }
            .directorist-form-group{
                .directorist-filter-location-icon{
                    margin-top: 1px;
                    z-index: 99;
                }
            }
            .directorist-search-tags {
                margin: 2.5px -5px;
                flex-wrap: wrap;
                .directorist-checkbox{
                    margin: 5px;
                }
            }
        }
    }
}

// Advance Search Filter Advance
.directorist-advanced-filter{
    @include e(advanced){
        @include m(element){
            border-bottom: 1px solid $border-color;
            padding-bottom: 15px;
            margin-bottom: 15px;
            .directorist-search-field{
                label{
                    min-width: 150px;
                }
                
                .directorist-btn-ml{
                    display: inline-block;
                    font-size: 14px;
                    color: #7a82a6;
                    text-decoration: none;
                    margin-top: 4px;
                }
            }
            &.directorist-advanced-filter__advanced--tag{
                .directorist-search-tags{
                    flex-wrap: wrap;
                    flex: 1;
                    margin: 5px -5px 5px -5px;
                    .directorist-checkbox{
                        margin: 5px;
                    }
                }
            }
        }
    }
}

.directorist-price-ranges{
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    @include e(item){
        margin: 5px;
        .directorist-form-element{
            max-width: 150px;
        }
        &.directorist-price-ranges__price-frequency{
            display: flex;
            border: 1px solid $border-color;
            border-radius: 3px;
            .directorist-price-ranges__price-frequency--btn{
                margin-bottom: 0;
                min-width: auto;
                &:first-child{
                    span{
                        border-radius: 3px 0 0 3px;
                    }
                }
                &:last-child{
                    span{
                        border-radius: 0px 3px 3px 0px;
                    }
                }
                &:not(:last-child){
                    border-right: 1px solid $border-color;
                }
                input[type="radio"]{
                    display: none;
                    &:checked{
                        &+.directorist-pf-range{
                            background-color: $dark;
                            color: #fff;
                        }
                    }
                }
                .directorist-pf-range{
                    cursor: pointer;
                    min-height: 42px;
                    display: flex;
                    align-items: center;
                    padding: 0 15px;
                }
            }
        }
    }
}

// wp-color Picker
.directorist-search-field {
    font-size: 15px;
    .wp-picker-container{
        .wp-picker-clear,
        .wp-color-result{
            position: relative;
            height: 40px;
            border: 0 none;
            width: 140px;
            transition: all 0.2s ease-in-out;
            border-radius: 3px;
            text-decoration: none;
        }
        .wp-color-result{
            position: relative;
            height: 40px;
            border: 0 none;
            width: 140px;
            transition: all 0.2s ease-in-out;
            border-radius: 3px;
            .wp-color-result-text{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 100%;
                width: 102px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;
                line-height: 1;
            }
        }
    }
    .wp-picker-holder {
        position: absolute;
        z-index: 22;
    }
}

// Advance Search Filter Action
.directorist-advanced-filter{
    @include e(action){
        margin: -5px;
        .directorist-btn {
            font-size: 14px;
            border-radius: 0.2rem;
            padding: 0 20.5px;
            margin: 5px;
            text-transform: capitalize;
            text-decoration: none;
            letter-spacing: 0;
            font-weight: 400;
        }
    }
}

// Business Hour Open Close

.directorist-form-group{
    .form-group{
        label{
            min-width: 150px;
        }
        .check-btn{
            display: flex;
            flex-wrap: wrap;
            .btn-checkbox{
                background-color: #fff;
                border-radius: 3px;
                overflow: hidden;
            }
            label{
                width: 100%;
                margin: 0;
                position: relative;
                input{
                    position: absolute;
                    appearance: none;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    outline: 0;
                    border: 0 none;
                    background: transparent !important;
                    &:checked{
                        &+span{
                            background-color: $primary;
                            border-color: $primary;
                            color: #fff;
                            i{
                                color: #fff;
                            }
                        }
                    }
                    &:before{
                        display: none;
                    }
                }
                span{
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s ease;
                    padding: 10px 18px;
                    font-weight: 500;
                    font-size: 14px;
                    border: 1px solid #ececec;
                    border-radius: 4px;
                    color: #767792;
                    i{
                        font-size: 15px;
                        color: #7a82a6;
                        margin-right: 5px;
                        margin-top: -1px;
                        width: auto;
                        height: auto;
                        top: 0;
                    }
                }
            }
        }
    }
}

// Custom Field Checkbox & Radio

.directorist-form-group {

    &.direcorist-search-field-checkbox,
    &.directorist-advanced-filter__advanced--checkbox,
    &.directorist-advanced-filter__advanced--radio,
    &.direcorist-search-field-radio{

        .directorist-search-field{
            display: flex;
            flex-wrap: wrap;
            margin: -7.5px;

            >label{
                
                margin: 7.5px;
                flex: 0 0 100%;
                width: 100%;
            }

            .directorist-checkbox__label{

                margin-left: 0;
            }

            .directorist-checkbox,
            .directorist-radio {

                margin: 7.5px;
            }
        }
    }
}