/* Alerts style */
.directorist-alert {
    font-size: 16px;

    border-radius: 3px;
    background: #f4f4f4;
    padding: 15px 20px;

    .directorist-alert__content {
        display: flex;
        align-items: flex-start;

        span.la,
        span.fa,
        i {
            margin-right: 12px;
            line-height: 1.65;
        }

        p {
            margin-bottom: 0;
        }
    }

    .directorist-alert__close {
        padding: 0 5px;
        font-size: 20px !important;
        background: none;
        text-decoration: none;
        margin-left: auto !important;
        border: 0 none;
        box-shadow: none;
        line-height: 1.2;

        .la,
        .fa,
        i,
        span {
            font-size: 16px;
            margin-left: 10px;
            color: $danger;
        }

        &:focus {
            background-color: transparent;
            outline: none;
        }
    }
}

// Alert Type
.directorist-alert {
    &.directorist-alert-primary {
        background: rgba($primary, .10);
        color: $primary;

        .directorist-alert__close {
            color: $primary;
        }
    }

    &.directorist-alert-info {
        background: #DCEBFE;
        color: #157CF6;

        .directorist-alert__close {
            color: #157CF6;
        }
    }

    &.directorist-alert-warning {
        background: #FEE9D9;
        color: #F56E00;

        .directorist-alert__close {
            color: #F56E00;
        }
    }

    &.directorist-alert-danger {
        background: #FCD9D9;
        color: #E80000;

        .directorist-alert__close {
            color: #E80000;
        }
    }

    &.directorist-alert-success {
        background: #D9EFDC;
        color: #009114;

        .directorist-alert__close {
            color: #009114;
        }
    }

}

//alert-danger in registration page
.alert-danger {
    background: rgba(#E80000, 0.3);
}