/* Alerts style */
.directorist-alert {
    font-size: 16px;
    
    border-radius: 3px;
    background: #f4f4f4;
    padding: 15px 20px;
    
    .directorist-alert__content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        p{
            margin-bottom: 0;
        }
    }
    .directorist-alert__close {
        padding: 0 5px;
        font-size: 20px !important;
        background: none;
        text-decoration: none;
        margin-left: auto !important;
        .la,
        .fa,
        i {
            font-size: 14px;
            margin-right: 5px;
        }
        &:focus{
            background-color: transparent;
            outline: none;
        }
    }
}

// Alert Type
.directorist-alert {
    &.directorist-alert-primary {
        background: rgba($primary,.10);
        color: $primary;
    
        .directorist-alert__close {
            color: $primary;
        }
    }
    &.directorist-alert-info {
        background: #DCEBFE;
        color: #157CF6;
    
        .directorist-alert__close {
            color: #157CF6;
        }
    }
    &.directorist-alert-warning {
        background: #FEE9D9;
        color: #F56E00;
    
        .directorist-alert__close {
            color: #F56E00;
        }
    }
    &.directorist-alert-danger {
        background: #FCD9D9;
        color: #E80000;
    
        .directorist-alert__close {
            color: #E80000;
        }
    }
    &.directorist-alert-success {
        background: #D9EFDC;
        color: #009114;
    
        .directorist-alert__close {
            color: #009114;
        }
    }   
        
}