/* Alerts style */
.directorist-alert {
    font-size: 15px;
    word-break: break-word;
    border-radius: 8px;
    background-color: #f4f4f4;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .directorist-icon-mask{
        margin-right: 5px;
    }
    > a{
        padding-left: 5px;
    }
    @include e('content') {
        display: flex;
        align-items: flex-start;

        span.la,
        span.fa,
        i {
            margin-right: 12px;
            line-height: 1.65;
        }

        p {
            margin-bottom: 0;
        }
    }

    @include e('close') {
        padding: 0 5px;
        font-size: 20px !important;
        background: none !important;
        text-decoration: none;
        margin-left: auto !important;
        border: 0 none;
        box-shadow: none;
        line-height: 1.2;
        display: flex;
        align-items: center;
        justify-content: center;

        .la,
        .fa,
        i,
        span {
            font-size: 16px;
            margin-left: 10px;
            color: var(--directorist-color-danger);
        }

        &:focus {
            background-color: transparent;
            outline: none;
        }
    }
    a{
        text-decoration: none;
    }
}

// Alert Type
.directorist-alert {
    &.directorist-alert-primary {
        background: rgba(var(--directorist-color-primary-rgb), .10);
        color: var(--directorist-color-primary);

        .directorist-alert__close {
            color: var(--directorist-color-primary);
        }
    }

    &.directorist-alert-info {
        background-color: #DCEBFE;
        color: #157CF6;

        .directorist-alert__close {
            color: #157CF6;
        }
    }

    &.directorist-alert-warning {
        background-color: #FEE9D9;
        color: #F56E00;

        .directorist-alert__close {
            color: #F56E00;
        }
    }

    &.directorist-alert-danger {
        background-color: #FCD9D9;
        color: #E80000;

        .directorist-alert__close {
            color: #E80000;
        }
    }

    &.directorist-alert-success {
        background-color: #D9EFDC;
        color: #009114;

        .directorist-alert__close {
            color: #009114;
        }
    }
    @include m(sm){
        padding: 10px 20px;
    }
}

//alert-danger in registration page
.alert-danger {
    background: rgba(#E80000, 0.3);
    &.directorist-register-error {
        background: #FCD9D9;
        color: #E80000;
        border-radius: 3px;
        .directorist-alert__close {
            color: #E80000;
        }
    }
}

/* Add listing notice alert */
.directorist-single-listing-notice{
    .directorist-alert__content{
        justify-content: space-between;
        width: 100%;
        button{
            cursor: pointer;
            span{
                font-size: 20px;
            }
        }
    }
}
.directorist-user-dashboard{
    .directorist-container-fluid{
        box-sizing: border-box;
    }
    .directorist-alert-info{
        .directorist-alert__close{
            cursor: pointer;
            padding-right: 0;
        }
    }
}