/* Directorist all authors card */
.directorist-authors-section {
    position: relative;
}

.directorist-content-active .directorist-authors {
    @include e(cards) {
        margin-top: -30px;

        .directorist-row>* {
            margin-top: 30px;
        }
    }

    @include e(nav) {
        margin-bottom: 30px;

        ul {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;

            a {
                display: block;
                line-height: 20px;
                padding: 0 17px 10px;
                border-bottom: 2px solid transparent;
                font-size: 15px;
                font-weight: 500;
                text-transform: capitalize;
                box-shadow: none;
                text-decoration: none;
                transition: 0.3s ease;

                &:hover {
                    border-bottom-color: var(--directorist-color-primary);
                    color: var(--directorist-color-primary);
                }
            }

            &.active {
                a {
                    border-bottom-color: var(--directorist-color-primary);
                    color: var(--directorist-color-primary);
                }
            }
        }
    }

    @include e(card) {
        padding: 20px;
        border-radius: 12px;
        background-color: var(--directorist-color-white);
        box-shadow: var(--directorist-box-shadow);
        border: 1px solid var(--directorist-color-border-light);

        @include e(img) {
            margin-bottom: 15px;
            text-align: center;

            img {
                border-radius: 50%;
                width: 150px;
                height: 150px;
                display: inline-block;
                object-fit: cover;
            }
        }

        @include e(details) {
            @include e(top) {
                text-align: center;
                border-bottom: 1px solid var(--directorist-color-border);
                margin: 5px 0 15px;
            }
        }

        h2 {
            font-size: 20px;
            font-weight: 500;
            margin: 0 0 16px 0 !important;
            line-height: normal;

            &:before {
                content: none;
            }
        }

        h3 {
            font-size: 14px;
            font-weight: 400;
            color: #8F8E9F;
            margin: 0 0 15px 0 !important;
            line-height: normal;
            text-transform: none;
            letter-spacing: normal;
        }

        @include e('info-list') {
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-bottom: 15px !important;

            li {
                font-size: 14px;
                color: #767792;
                list-style: none;
                word-wrap: break-word;
                word-break: break-all;
                display: flex;
                margin: 0;

                &:not(:last-child) {
                    margin-bottom: 5px;
                }

                a {
                    color: #767792;
                    border: 0 none;
                    box-shadow: none;
                    text-decoration: none;
                }

                .directorist-icon-mask {
                    margin-right: 5px;
                    margin-top: 3px;
                    &:after{
                        width: 16px;
                        height: 16px;
                    }
                }

                /* Legacy Icon */
                > i:not(.directorist-icon-mask){
                    display: inline-block;
                    margin-right: 5px;
                    margin-top: 5px;
                    font-size: 16px;
                }
            }
        }

        .directorist-author-social {
            margin: 0 0 15px;

            li {
                margin: 0;
            }

            a {
                border: 0 none;
                box-shadow: none;
                text-decoration: none;

                &:hover {
                    background-color: var(--directorist-color-primary);
                    /* Legacy Icon */
                    >span{
                        background: none;
                        color: var(--directorist-color-white);
                    }
                }
            }
        }

        p {
            font-size: 14px;
            color: #767792;
            margin-bottom: 20px;
        }

        .directorist-btn {
            border: 0 none;
            box-shadow: none;
            transition: 0.3s ease;

            &:hover {
                background-color: var(--directorist-color-primary);
                color: var(--directorist-color-white);
            }
        }
    }
}

/* Directorist All author Grid */
.directorist-authors {
    @include e(cards) {
        .directorist-col-6 {
            @media (max-width: 575px) {
                width: 100%;
            }
        }

        .directorist-col-4 {
            @media (max-width: 991px) {
                width: 50%;
            }

            @media (max-width: 575px) {
                width: 100%;
            }
        }

        .directorist-col-3 {
            @media (max-width: 1199px) {
                width: 33.33%;
            }

            @media (max-width: 991px) {
                width: 50%;
            }

            @media (max-width: 575px) {
                width: 100%;
            }
        }

        .directorist-col-2 {
            @media (max-width: 1199px) {
                width: 25%;
            }

            @media (max-width: 991px) {
                width: 33.33%;
            }

            @media (max-width: 767px) {
                width: 50%;
            }

            @media (max-width: 575px) {
                width: 100%;
            }
        }
    }

    @include e(pagination) {
        margin-top: 25px;
    }
}