/* All listing archive page styles */
.directorist-content-active {
	.directorist-archive-contents {
		width: 100%;
		max-width: 100% !important;
		.directorist-archive-items {
			.directorist-pagination {
				margin-top: 35px;
			}
		}
	}
}

/* Directory type nav */
.directorist-content-active .directorist-type-nav {
	@include e(list) {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 25px;
		padding: 0;
		margin: 0;
		list-style-type: none;
		overflow-x: auto;
		-ms-overflow-style: none;
		scrollbar-width: thin;

		@media only screen and (max-width: 767px) {
			flex-wrap: nowrap;
		}

		&::-webkit-scrollbar {
			display: none;
		}

		li {
			flex: none;
			padding: 5px 10px;
			margin: 0;
			list-style: none;
		}

		.current {
			.directorist-type-nav__link {
				font-weight: 400;
				color: var(--directorist-color-primary);
				.directorist-icon-mask{
					&::after{
					background-color: var(--directorist-color-primary);
					}
				}
				&::after {
					opacity: 1;
					visibility: visible;
				}
			}
		}

	}

	@include e(link) {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		font-size: 15px;
		font-weight: 500;
		text-decoration: none;
		white-space: nowrap;
		padding: 0 0 8px;
		color: var(--directorist-color-body);
		&:hover {
			color: var(--directorist-color-primary);
		}
		&:focus {
			background-color: transparent;
		}
		&::after {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			border-radius: 6px;
			content: "";
			opacity: 0;
			visibility: hidden;
			background-color: var(--directorist-color-primary);
		}
		.directorist-icon-mask{
			display: inline-block;
			margin: 0 0 7px;
			&::after{
				width: 20px;
				height: 20px;
				background-color: var(--directorist-color-body);
			}
		}
	}
}

/* Archive header bar contents */
.directorist-content-active {
	.directorist-header-bar {
		margin-bottom: 30px;
	}

	.directorist-listings-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		.directorist-dropdown .directorist-dropdown__links {
			top: 42px;
		}

		.directorist-header-found-title {
			margin: 0;
			padding: 0;
			font-size: 14px;
			font-weight: 400;
			color: var(--directorist-color-body);
		}

		@include e(left) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 15px;
			.directorist-filter-btn {
				display: flex;
				align-items: center;
				gap: 5px;
				font-size: 14px;
				font-weight: 400;
				color: var(--directorist-color-body);
				background-color: var(--directorist-color-light-gray);
				padding: 0 20px;
				border-radius: 8px;
				cursor: pointer;
				transition: all ease 0.3s;
				.directorist-icon-mask::after{
					width: 14px;
					height: 14px;
					margin-right: 2px;
				}
				&:hover {
					background-color: var(--directorist-color-gray);
				}
			}
		}

		@include e(right) {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;

			.directorist-dropdown {

				.directorist-dropdown__links--single {
					cursor: pointer;

					&:hover {
						background: var(--directorist-color-light-gray);
					}
				}
			}
		}
	}
}