/* All listing archive page styles */
.directorist-content-active {
	.directorist-archive-contents {
		width: 100%;
		max-width: 100%;
		.directorist-archive-items {
			.directorist-pagination {
				margin-top: 35px;
			}
		}
		.directorist-archive-map-view {
			.map-listing-card-single {
				position: relative;
				padding: 10px;
				border-radius: 10px;
				box-shadow: 0px 5px 20px rgba(0,0,0,0.33);
				background: var(--directorist-color-white);
				.directorist-mark-as-favorite__btn {
					position: absolute;
					top: 20px;
					right: 20px;
					width: 30px;
					height: 30px;
					border-radius: 100%;
					background: var(--directorist-color-white);
					.directorist-favorite-icon::before {
						width: 16px;
						height: 16px;
						background-color: var(--directorist-color-primary);
					}
				}
				@include e(img) {
					a {
						display: inline-flex;
					}
					img {
						max-width: 100%;
						border-radius: 10px;
					}
				}
				@include e(author) {
					a {
						width: 42px;
						height: 42px;
						display: inline-flex;
						border-radius: 100%;
						margin-top: -24px;
						margin-left: 18px;
						margin-bottom: 5px;
						border: 3px solid var(--directorist-color-white);
						img {
							width: 100%;
							height: 100%;
							border-radius: 100%;
						}
					}
				}
				@include e(content) {
					padding: 0 10px 10px;
					@include e(title) {
						font-size: 16px;
						font-weight: 500;
						margin: 0 0 5px;
						color: var(--directorist-color-primary);
						a {
							text-decoration: unset;
							color: var(--directorist-color-primary);
							&:hover {
								color: var(--directorist-color-primary);
							}
						}
					}

					@include e(meta) {
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						margin: 0 0 20px;
						.directorist-rating-meta {
							display: inline-flex;
							align-items: center;
							font-size: 14px;
							font-weight: 500;
							color: var(--directorist-color-body);
							padding: 0;
							.directorist-icon-mask{
								margin-right: 4px;
								&:after{
									width: 15px;
									height: 15px;
									background-color: var(--directorist-color-warning);
								}
								&.star-empty:after {
									background-color: #D1D1D1;
								}
							}
							.directorist-rating-avg {
								font-size: 14px;
								font-weight: 700;
								color: var(--directorist-color-body);
								margin: 0 3px 0 6px;
							}
						}
						.directorist-listing-price {
							font-size: 14px;
							font-weight: 600;
							color: var(--directorist-color-body);
						}
						.directorist-info-item  {
							position: relative;
							&:not(:last-child) {
								padding-right: 8px;
								margin-right: 8px;
								&:before {
									content: '';
									position: absolute;
									right: 0;
									top: 50%;
									transform: translateY(-50%);
									width: 3px;
									height: 3px;
									border-radius: 100%;
									background-color: var(--directorist-color-gray-hover);
								}
							}
						}
					}
					@include e(info) {
						display: flex;
						gap: 10px;
						flex-direction: column;
						.directorist-info-item {
							display: flex;
							gap: 12px;
							a {
								font-size: 14px;
								font-weight: 400;
								line-height: 1.3;
								text-decoration: unset;
								color: var(--directorist-color-body);
								&:hover {
									color: var(--directorist-color-primary);
								}
							}
							.directorist-icon-mask:after {
								width: 15px;
								height: 15px;
								margin-top: 3px;
								background-color: var(--directorist-color-gray-hover);
							}
						}
					}
					@include e(location) {
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						a {
							&:not(:first-child) {
								margin-left: 5px;
							}
						}
					}
				}
			}
			.gm-style-iw-t {
				bottom: 48px !important;
			}
			.gm-style-iw-tc {
				display: none;
			}
		}
	}
}

/* Directory type nav */
.directorist-type-nav {
	@include e(list) {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 25px;
		padding: 0;
		margin: 0;
		list-style-type: none;
		overflow-x: auto;
		-ms-overflow-style: none;
		scrollbar-width: thin;

		@media only screen and (max-width: 767px) {
			flex-wrap: nowrap;
		}

		&::-webkit-scrollbar {
			display: none;
		}

		li {
			flex: none;
			margin: 0;
			list-style: none;
		}

		@include e(current) {
			.directorist-type-nav__link {
				font-weight: 600;
				color: var(--directorist-color-primary);
				.directorist-icon-mask{
					&::after{
						background-color: var(--directorist-color-primary);
					}
				}
				&::after {
					opacity: 1;
					visibility: visible;
				}
			}
		}

	}

	@include e(link) {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		font-size: 15px;
		font-weight: 500;
		text-decoration: none;
		white-space: nowrap;
		padding: 0 0 8px;
		color: var(--directorist-color-body);
		&:hover {
			color: var(--directorist-color-primary);
		}
		&:focus {
			background-color: transparent;
		}
		&::after {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			border-radius: 6px;
			content: "";
			opacity: 0;
			visibility: hidden;
			background-color: var(--directorist-color-primary);
		}
		.directorist-icon-mask{
			display: inline-block;
			margin: 0 0 7px;
			&::after{
				width: 20px;
				height: 20px;
				background-color: var(--directorist-color-body);
			}
		}
	}
}

/* Archive header bar contents */
.directorist-content-active {
	.directorist-header-bar {
		margin-bottom: 30px;
	}

	.directorist-listings-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 15px;

		.directorist-dropdown .directorist-dropdown__links {
			top: 42px;
		}

		.directorist-header-found-title {
			margin: 0;
			padding: 0;
			font-size: 14px;
			font-weight: 400;
			color: var(--directorist-color-body);
		}

		@include e(left) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 15px;
			.directorist-filter-btn {
				display: flex;
				align-items: center;
				gap: 5px;
				font-size: 14px;
				font-weight: 400;
				color: var(--directorist-color-body);
				background-color: var(--directorist-color-light);
				padding: 0 20px;
				border-radius: 8px;
				cursor: pointer;
				transition: all ease 0.3s;
				.directorist-icon-mask::after{
					width: 14px;
					height: 14px;
					margin-right: 2px;
				}
				&:hover {
					background-color: var(--directorist-color-gray);
				}
			}
		}

		@include e(right) {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;

			.directorist-dropdown {
				.directorist-dropdown__links--single {
					cursor: pointer;
					&:hover {
						background: var(--directorist-color-light);
					}
				}
			}
		}
	}
}

.directorist-viewas {
	@include e(wrap) {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 8px;
	}
	@include e(item) {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 8px;
		background-color: var(--directorist-color-light);
		i::after {
			width: 16px;
			height: 16px;
			background-color: var(--directorist-color-body);
		}
		&.active {
			background-color: var(--directorist-color-primary);
			i::after {
				background-color: var(--directorist-color-white);
			}
		}
	}
}

// Listing with Sidebar
.listing-with-sidebar {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	@media only screen and (max-width: 991px) {
		flex-direction: column;
		.directorist-advanced-filter__form {
			width: 100%;
		}
	}
	@include e('type-nav') {
		flex: 0 0 100%;
		.directorist-type-nav__list {
			gap: 40px;
		}
	}
	@include e(searchform) {
		flex: 0 0 100%;
		.directorist-search-form__box {
			width: auto;
		}
		.directorist-advanced-filter__form {
			display: flex;
			width: 100%;
    		gap: 20px;
			@media only screen and (max-width: 767px) {
				flex-direction: column;
			}
		}

	}
	@include e(sidebar) {
		display: inline-flex;
		flex: 1;
		height: 100%;
		max-width: 350px;
		@media only screen and (max-width: 991px) {
			max-width: unset;
		}
		.directorist-search-form__box {
			padding: 0;
		}
		.directorist-advanced-filter__advanced {
			padding: 25px 30px;
		}
		.directorist-form-group:last-child .directorist-search-field {
			margin-bottom: 0;
		}
		.directorist-advanced-filter__action {
			flex-direction: column;
    		align-items: flex-start;
			padding: 25px 30px 30px;
			border-top: 1px solid var(--directorist-color-light);
		}
		.directorist-search-modal__contents__footer {
			position: relative;
			background-color: transparent;
		}
		.directorist-btn-reset-js {
			border-radius: 10px;
			width: 100%;
			height: 46px;
			line-height: 46px;
			text-align: center;
			text-decoration: none;
			background-color: var(--directorist-color-light);
		}
		.directorist-btn {
			width: 100%;
		}
		.directorist-price-ranges__price-frequency--btn .directorist-pf-range {
			width: 68px;
		}

	}
	@include e(listing) {
		display: inline-flex;
		flex: 1;
		flex-wrap: wrap;
		flex-direction: column;
		.directorist-header-bar,
		.directorist-archive-items {
			width: 100%;
			display: flex;
			.directorist-container-fluid {
				padding: 0;
			}
		}
		.directorist-archive-items {
			flex-direction: column;
		}
		.directorist-search-modal {
			display: none;
		}
	}
}