/* Authentication style */
.directorist-author {
    @include e(form) {
        padding: 50px 40px;
        border-radius: 16px;
        background-color: var(--directorist-color-white);
        box-shadow: var(--directorist-box-shadow);
        @media only screen and (max-width: 480px) {
            padding: 40px 25px;
        }
        @include e(btn) {
            width: 100%;
            height: 50px;
            border-radius: 12px;
        }
        @include e(actions) {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: space-between;
            padding: 28px 0 33px;
            a {
                font-size: 14px;
                font-weight: 400;
                color: var(--directorist-color-deep-gray);
                border-bottom: 1px dashed var(--directorist-color-deep-gray);
                &:hover {
                    color: var(--directorist-color-primary);
                    border-color: var(--directorist-color-primary);
                }
            }
            label {
                font-size: 14px;
                font-weight: 400;
                color: var(--directorist-color-body);
            }
        }
        @include e('toggle-area') {
            font-size: 14px;
            font-weight: 400;
            color: var(--directorist-color-body);
            a {
                margin-left: 5px;
                color: var(--directorist-color-info);
                &:hover {
                    color: var(--directorist-color-primary);
                }
            }
        }
        @include e('recover-pass-modal') {
            .directorist-form-group {
                padding: 25px;
            }
            p {
                font-size: 14px;
                font-weight: 400;
                color: var(--directorist-color-body);
                margin: 0 0 20px;
            }
        }
    }
    @include e(message) {
        @include e(text) {
            font-size: 14px;
            font-weight: 400;
            color: var(--directorist-color-body);
        }
    }
}