.directorist-content-active { 
    box-sizing: border-box;
    // Author Profile Style
    .directorist-author-profile {
        padding: 0;
        @include e(wrap) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            padding: 25px 30px;
            margin: 0 0 40px;
            @include e(body) {
                padding: 0;
            }
            @media only screen and (max-width: 991px){
                flex-direction: column;
            }
            @media only screen and (max-width: 575px){
                gap: 8px;
            }
        }
        @include e(avatar) {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            @media only screen and (max-width: 575px) {
                flex-direction: column;
                text-align: center;
                gap: 15px;
            }
            img {
                max-width: 100px !important;
                max-height: 100px;
                border-radius: 50%;
                background-color: var(--directorist-color-bg-gray);
                @media only screen and (max-width: 575px) {
                    max-width: 75px !important;
                    max-height: 75px !important;
                }
            }
            @include e(info) {
                .directorist-author-profile__avatar__info__name {
                    margin: 0 0 5px;
                }
                @include e(name) {
                    font-size: 20px;
                    font-weight: 500;
                    color: var(--directorist-color-dark);
                    margin: 0 0 5px;
                    @media only screen and (max-width: 991px){
                        margin: 0;
                    }
                }
                p {
                    margin: 0;
                    font-size: 14px;
                    color: var(--directorist-color-body);
                }
            }
        }
        @include e('meta-list') {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 15px;
            list-style-type: none;
            @media only screen and (max-width: 991px){
                gap: 5px 20px;
                justify-content: center;
            }
            @media only screen and (max-width: 575px){
                flex-direction: row-reverse;
            }
            @include e(item) {
                display: flex;
                align-items: center;
                gap: 15px;
                padding: 18px;
                margin: 0;
                padding-right: 75px;
                border-radius: 12px;
                background-color: var(--directorist-color-bg-gray);
                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 44px;
                    height: 44px;
                    background-color: var(--directorist-color-primary);
                    border-radius: 12px;
                    &:after {
                        width: 18px;
                        height: 18px;
                        background-color: var(--directorist-color-white);
                    }
                    @media only screen and (max-width: 575px) {
                        width: auto;
                        height: auto;
                        background-color: transparent;
                        &:after {
                            width: 12px;
                            height: 12px;
                            background-color: var(--directorist-color-warning);
                        }
                    }
                }
                span {
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    font-weight: 400;
                    color: var(--directorist-color-body);
                    span {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 1.1;
                        color: var(--directorist-color-primary);
                    }
                    @media only screen and (max-width: 575px) {
                        gap: 6px;
                        align-items: center;
                        flex-direction: unset;
                        span {
                            font-size: 15px;
                            line-height: 1;
                        }
                    }
                }
                @media only screen and (max-width: 767px) {
                    padding-right: 50px;
                }
                @media only screen and (max-width: 575px) {
                    padding: 0;
                    gap: 5px;
                    background: transparent;
                    border-radius: 0;
                    &:not(:first-child) i {
                        display: none;
                    }
                }
            }
        }
    }
    .directorist-author-profile-content {
        box-sizing: border-box;
        max-width: 100%;
        display: flex;
        .directorist-card__header__title {
            display: flex;
            gap: 12px;
            margin: 0;
            i {
                width: 34px;
                height: 34px;
                display: flex;
                border-radius: 100%;
                align-items: center;
                justify-content: center;
                background-color: var(--directorist-color-light);
                &:after {
                    width: 14px;
                    height: 14px;
                    background-color: var(--directorist-color-body);
                }
                @media screen and (min-width: 576px) {
                    display: none;
                }
            }
        }
    }

    // Directorist Author Widget
    .directorist-author-info-list {
        padding: 0;
        margin: 0;
        li{
            margin-left: 0;
        }
        @include e(item) {
            display: flex;
            align-items: flex-start;
            gap: 12px;
            font-size: 15px;
            color: var(--directorist-color-body);

            i {
                margin-top: 5px;
                @media screen and (max-width: 575px) {
                    margin-top: 0;
                    height: 34px;
                    width: 34px;
                    min-width: 34px;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--directorist-color-light);
                }
            }

            .directorist-label {
                display: none;
                min-width: 70px;
                padding-right: 10px;
                margin-right: 8px;
                margin-top: 5px;
                position: relative;
                &:before {
                    content: ':';
                    position: absolute;
                    right: 0;
                    top: 0;
                }
                @media screen and (max-width: 375px) {
                    min-width: 60px;
                }
            }

            .directorist-icon-mask::after {
                width: 15px;
                height: 15px;
                background-color: var(--directorist-color-deep-gray);
            }
            .directorist-info {
                word-break: break-all;
                @media screen and (max-width: 575px) {
                    margin-top: 5px;
                    word-break: break-all;
                }
            }
            a {
                color: var(--directorist-color-body);
                text-decoration: none;
                &:hover {
                    color: var(--directorist-color-primary);
                }
            }

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }

    .directorist-card__body .directorist-author-info-list {
        padding: 0;
        margin: 0;
    }

    .directorist-author-social {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0;
        margin: 22px 0 0;
        list-style: none;
        @include e(item) {
            margin: 0;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 36px;
                width: 36px;
                text-align: center;
                background-color: var(--directorist-color-light);
                border-radius: 8px;
                font-size: 15px;
                overflow: hidden;
                transition: 0.3s ease;
                text-decoration: none;
                .directorist-icon-mask::after{
                    background-color: #808080;
                    transition: 0.3s ease;
                }
                span{
                    transition: 0.3s ease;
                }
                &:hover{
                    background-color: var(--directorist-color-primary);
                    .directorist-icon-mask::after{
                        background-color: var(--directorist-color-white);
                    }

                    /* Legacy Icon */
                    span.la,
                    span.fa{
                        background: none;
                        color: var(--directorist-color-white);
                    }
                }
            }
        }
    }

    .directorist-author-contact .directorist-author-social {
        margin: 22px 0 0;
        li {
            margin: 0;
        }
    }

    .directorist-author-info-widget,
    .directorist-single-author-info,
    .directorist-authors-section,
    .directorist-author-social {    
        @include m(light){
            .directorist-author-social-item {
                display: inline-block;
                margin: 0;
                a {
                    font-size: 15px;
                    display: block;
                    line-height: 35px;
                    width: 36px;
                    height: 36px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--directorist-color-light);
                    border-radius: 4px;
                    color: var(--directorist-color-white);
                    overflow: hidden;
                    transition: all ease-in-out 300ms;
                    .directorist-icon-mask:after {
                        background-color: var(--directorist-color-body);
                    }
                    &:hover {
                        background-color: var(--directorist-color-primary);
                        .directorist-icon-mask:after {
                            background-color: var(--directorist-color-white);
                        }
                    }
                }
            }
        }
    }

    // Directorist Author Listings
    .directorist-author-listing-top {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        border-bottom: 1px solid var(--directorist-color-border);

        @include e(title) {
            font-size: 30px;
            font-weight: 400;
            margin: 0 0 52px;
            text-align: center;
        }
        @include e(filter) {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 30px;
            .directorist-dropdown__links {
                max-height: 300px;
                overflow-y: auto;
            }
        }


        .directorist-type-nav {
            display: flex;

            @include e(link) {
                flex-direction: row;
                gap: 7px;
                font-size: 14px;
                font-weight: 400;
                color: var(--directorist-color-deep-gray);
                i {
                    margin: 0;
                    &:after {
                        background-color: var(--directorist-color-deep-gray);
                    }
                }
                &:hover {
                    color: var(--directorist-color-primary);
                    i::after {
                        background-color: var(--directorist-color-primary);
                    }
                }
            }
            @include e(list) {
                display: inline-flex;
                li {
                    margin: 0;
                    padding: 0;
                }
                @include e(current) {
                    color: var(--directorist-color-primary);
                    i::after {
                        background-color: var(--directorist-color-primary);
                    }
                }
            }
        }

        .directorist-dropdown {
            @include e(toggle) {
                position: relative;
                top: -10px;
                gap: 10px;
                background: transparent;
                border: none;
                padding: 0;
                min-height: 30px;
                color: var(--directorist-color-body);
                @media screen and (max-width: 575px) {
                    font-size: 0;
                    top: -5px;
                    &:after {
                        mask-image: url("../../../icons/font-awesome/svgs/solid/sliders-h.svg");
                        mask-repeat: no-repeat;
                        width: 16px;
                        height: 12px;
                        background-color: var(--directorist-color-body);
                    }
                }
            }

        }

        @media screen and (max-width: 575px) {
            .directorist-type-nav .directorist-type-nav__link i {
                display: none;
            }
        }
    }

    // Author Content Fix
    .directorist-author-listing-content {
        padding: 0;
        &.directorist-author-listing-grid--fix{
            .directorist-col-lg-3{
                width: 33.3333333333%;
                @media only screen and (max-width: 767px) {
                    width: 50%;
                }
                @media only screen and (max-width: 575px) {
                    width: 100%;
                }
            }
            .directorist-col-4{
                @media only screen and (max-width: 767px) {
                    width: 50%;
                }
                @media only screen and (max-width: 575px) {
                    width: 100%;
                }
            }
            .directorist-col-3{
                @media only screen and (max-width: 991px) {
                    width: 33.33%;
                }
                @media only screen and (max-width: 767px) {
                    width: 50%;
                }
                @media only screen and (max-width: 575px) {
                    width: 100%;
                }
            }

            .directorist-col-2{
                @media only screen and (max-width: 1199px) {
                    width: 25%;
                }
                @media only screen and (max-width: 991px) {
                    width: 33.33%;
                }
                @media only screen and (max-width: 767px) {
                    width: 50%;
                }
                @media only screen and (max-width: 575px) {
                    width: 100%;
                }
            }
        }
        .directorist-pagination {
            padding-top: 35px;
        }
    }

    .directorist-author-listing-type {
        .directorist-type-nav{
            background: none;
        }
    }
}
