.atbd_content_active #directorist.atbd_wrapper{
  .btn{
    font-size: 14px;
    text-transform: capitalize;
    &:hover{
      background-image: none;
    }
  }
  .atbd_upload_btn{
    line-height: 48px;
    display: inline-block;
    padding: 0 20px;
    span{
      @extend .atbd_color-primary;
      margin-right: 6px;
    }
    background: #f5f7fc;
    color: #9299b8;
  }
}
#directorist.atbd_wrapper{
  .btn-sm {
    font-size: 14px;
    padding: 4px 8px;
  }
  .btn-outline-primary:hover,
  .btn-outline-danger:hover{
    color: #fff !important;
  }
  .btn-bordered{
    background: none !important;
    border: 1px solid #e3e6ef !important;
    color: #7a82a6 !important;
  }
  .btn-bordered:hover{
    background: none !important;
    border-color: #444752 !important;
  }
}

.directorist_btn{
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: $dark;
  vertical-align: middle;
  text-align: center;
  user-select: none;
  cursor: pointer;
  padding: 0  26px;
  line-height: 2.95;
  border-radius: 5px;
  background-color: $bg-light-gray;
}

// Button Type
.directorist_btn{
  &.directorist_btn-primary{
    background-color: $primary;
    color: #fff;
  }
  &.directorist_btn-dark{
    background-color: $dark;
    color: #fff;
  }
  &.directorist_btn-success{
    background-color: $success;
    color: #fff;
  }
  &.directorist_btn-info{
    background-color: $info;
    color: #fff;
  }
  &.directorist_btn-warning{
    background-color: $warning;
    color: #fff;
  }
  &.directorist_btn-danger{
    background-color: $danger;
    color: #fff;
  }
  &.directorist_btn-bg-normal{
    background-color: $bg-normal;
  }
  &.directorist_btn-bg-light{
    background-color: $bg-light;
  }
}

// Button Outline
.directorist_btn{
  &.directorist_btn-outline{
    background-color: transparent;
    border: 1px solid $border-color !important;
  }
  &.directorist_btn-outline-normal{
    background-color: transparent;
    border: 1px solid $border-color-normal !important;
  }
  &.directorist_btn-outline-light{
    background-color: transparent;
    border: 1px solid $border-color-light !important;
  }
}

// Button Size
.directorist_btn{
  &.directorist_btn-lg{
    line-height: 3.35;
  }
  &.directorist_btn-sm{
    line-height: 2.7;
  }
  &.directorist_btn-xs{
    line-height: 2.3;
  }
}