/* Directorist button styles */
@mixin btnFocusBg($btnFocusBg) {
  &:focus {
    background: $btnFocusBg !important;
  }
}

.directorist-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  vertical-align: middle;
  text-align: center;
  user-select: none;
  cursor: pointer;
  padding: 0 26px;
  min-height: 45px;
  line-height: 1.5;
  border-radius: 10px;
  border: 1px solid transparent;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--directorist-color-primary);

  &:focus {
    outline: 0 !important;
    text-decoration: none !important;
  }
}

// Button Type
.directorist-btn {
  &.directorist-btn-primary {
    background: var(--directorist-color-primary);
    color: #fff;
    @include btnFocusBg(var(--directorist-color-primary));
    &:hover{
      background: var(--directorist-color-primary-hover);
    }
  }

  &.directorist-btn-secondary {
    background: var(--directorist-color-secondary);
    color: #fff;
  }

  &.directorist-btn-dark {
    background: var(--directorist-color-primary);
    color: #fff;
  }

  &.directorist-btn-success {
    background: var(--directorist-color-success);
    color: #fff;
  }

  &.directorist-btn-info {
    background: var(--directorist-color-info);
    color: #fff;
  }

  &.directorist-btn-light {
    background: var(--directorist-color-light);
    &:hover{
      background: var(--directorist-color-light-hover);
    }
  }

  &.directorist-btn-lighter{
    background-color: #F6F7F9;
    color: var(--directorist-color-primary);
  }

  &.directorist-btn-warning {
    background: var(--directorist-color-warning);
    color: #fff;
  }

  &.directorist-btn-danger {
    background: var(--directorist-color-danger);
    color: #fff;
  }

  &.directorist-btn-bg-normal {
    background: $bg-normal;
  }
}

// Button Outline
.directorist-btn {
  &.directorist-btn-outline {
    background: transparent;
    border: 1px solid var(--directorist-color-border) !important;
  }

  &.directorist-btn-outline-normal {
    background: transparent;
    border: 1px solid var(--directorist-color-normal) !important;
  }

  &.directorist-btn-outline-light {
    background: transparent;
    border: 1px solid var(--directorist-color-bg-light) !important;
  }

  &.directorist-btn-outline-primary {
    background: transparent;
    border: 1px solid var(--directorist-color-primary) !important;
  }

  &.directorist-btn-outline-secondary {
    background: transparent;
    border: 1px solid var(--directorist-color-secondary) !important;
  }

  &.directorist-btn-outline-success {
    background: transparent;
    border: 1px solid var(--directorist-color-success) !important;
  }

  &.directorist-btn-outline-info {
    background: transparent;
    border: 1px solid var(--directorist-color-info) !important;
  }

  &.directorist-btn-outline-warning {
    background: transparent;
    border: 1px solid var(--directorist-color-warning) !important;
  }

  &.directorist-btn-outline-danger {
    background: transparent;
    border: 1px solid var(--directorist-color-danger) !important;
  }

  &.directorist-btn-outline-dark {
    background: transparent;
    border: 1px solid var(--directorist-color-primary) !important;
  }
}

// Button Size
.directorist-btn {
  &.directorist-btn-lg {
    min-height: 50px;
  }

  &.directorist-btn-md {
    min-height: 46px;
  }

  &.directorist-btn-sm {
    min-height: 40px;
  }

  &.directorist-btn-xs {
    min-height: 36px;
  }

  &.directorist-btn-px-15 {
    padding: 0 15px;
  }

  &.directorist-btn-block{
    display: flex;
  }
}