/* Directorist button styles */
.directorist-btn {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: $dark;
  vertical-align: middle;
  text-align: center;
  user-select: none;
  cursor: pointer;
  padding: 0 26px;
  line-height: 2.95;
  border-radius: 5px;
  background-color: $bg-light-gray;
  text-decoration: none;
}

// Button Type
.directorist-btn {
  &.directorist-btn-primary {
    background-color: $primary;
    color: #fff;
  }

  &.directorist-btn-dark {
    background-color: $dark;
    color: #fff;
  }

  &.directorist-btn-success {
    background-color: $success;
    color: #fff;
  }

  &.directorist-btn-info {
    background-color: $info;
    color: #fff;
  }

  &.directorist-btn-warning {
    background-color: $warning;
    color: #fff;
  }

  &.directorist-btn-danger {
    background-color: $danger;
    color: #fff;
  }

  &.directorist-btn-bg-normal {
    background-color: $bg-normal;
  }

  &.directorist-btn-bg-light {
    background-color: $bg-light;
  }
}

// Button Outline
.directorist-btn {
  &.directorist-btn-outline {
    background-color: transparent;
    border: 1px solid $border-color !important;
  }

  &.directorist-btn-outline-normal {
    background-color: transparent;
    border: 1px solid $border-color-normal !important;
  }

  &.directorist-btn-outline-light {
    background-color: transparent;
    border: 1px solid $border-color-light !important;
  }

  &.directorist-btn-outline-primary {
    background-color: transparent;
    border: 1px solid $primary !important;
  }

  &.directorist-btn-outline-secondary {
    background-color: transparent;
    border: 1px solid $secondary !important;
  }

  &.directorist-btn-outline-success {
    background-color: transparent;
    border: 1px solid $success !important;
  }

  &.directorist-btn-outline-info {
    background-color: transparent;
    border: 1px solid $info !important;
  }

  &.directorist-btn-outline-warning {
    background-color: transparent;
    border: 1px solid $warning !important;
  }

  &.directorist-btn-outline-danger {
    background-color: transparent;
    border: 1px solid $danger !important;
  }

  &.directorist-btn-outline-dark {
    background-color: transparent;
    border: 1px solid $dark !important;
  }
}

// Button Size
.directorist-btn {
  &.directorist-btn-lg {
    line-height: 3.35;
  }

  &.directorist-btn-sm {
    line-height: 2.7;
  }

  &.directorist-btn-xs {
    line-height: 2.3;
  }

  &.directorist-btn-px-15 {
    padding: 0 15px;
  }
}