#directorist.atbd_wrapper {
    .atbd_category_wrapper {
        span.fa {
            cursor: pointer;
            margin-left: 7px;
            font-size: 12px;
        }

        .atbdp_child_category {
            padding-left: 15px;
        }
    }

    .atbd_location_grid_wrap {
        .atbd_location_grid {
            position: relative;
            border-radius: 3px;
            overflow: hidden;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 35px 0 30px;
            min-height: 200px !important;
            max-height: 200px !important;
            margin-bottom: 30px;
            background-color: #fff;
            box-shadow: 0 5px 25px rgba(143, 142, 159, 0.15);
            border-radius: 6px;
            text-decoration: none;

            &:not(.atbd_location_grid-default) {
                figure {
                    margin: 0;

                    figcaption {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(0, 0, 0, .5);

                        h3,
                        p {
                            color: #fff;
                        }
                    }
                }
            }

            img {
                width: 100% !important;
                height: 100%;
                object-fit: cover;
                margin: 0 auto;
            }

            figure {
                width: 100%;
                height: 100%;
                margin-bottom: 0;
                position: relative;

                figcaption {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    min-height: auto !important;
                    background: #fff;
                    flex-wrap: wrap;
                    margin: 0;

                    h3,
                    p {
                        margin: 0;
                        text-align: center;
                        font-size: 18px;
                        padding: 0;
                    }

                    p {
                        margin-left: 4px;
                    }
                }
            }

            &.atbd_location_grid-default {
                img {
                    display: none;
                }

                figure {
                    position: relative;

                    figcaption {
                        background: #fff;
                        position: relative;

                        h3,
                        p {
                            color: $dark;
                        }
                    }
                }
            }
        }

        .directorist-col-1 {
            a.atbd_location_grid {
                padding: 5px;
                margin: 0;
                word-wrap: break-word;
            }
        }

        .directorist-col-2 {
            .atbd_location_grid {
                min-height: 100px;
                margin-bottom: 15px;

                figcaption {
                    min-height: 100px;
                }

                img {
                    width: 100%;
                }

                h3,
                p {
                    font-size: 14px;
                }
            }
        }

        .directorist-col-3 {
            .atbd_location_grid {
                min-height: 160px;
                margin-bottom: 15px;

                figcaption {
                    min-height: 160px;
                }

                img {
                    width: 100%;
                }
            }
        }

        .directorist-col-4 {
            .atbd_location_grid {
                min-height: 200px;

                figcaption {
                    min-height: 200px;
                }

                img {
                    width: 100%;
                }
            }
        }

        .directorist-col-6 {
            .atbd_location_grid {
                min-height: 350px;

                img {
                    width: 100%;
                }
            }
        }

        .directorist-col-12 {
            .atbd_location_grid {
                min-height: 600px;

                figcaption {
                    min-height: 600px;
                }

                img {
                    width: 100%;
                }
            }
        }

        .directorist-col-5 {
            .atbd_location_grid {
                min-height: 140px;

                figcaption {
                    min-height: 140px;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    span.expander {
        font-size: 18px;
        font-weight: 500;
        margin-left: 5px;
        line-height: 15px;
        border-radius: 5px;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #0A0B1E;
        color: #fff;
        margin-left: 18px;
        cursor: pointer;
    }

    .atbd_all_categories {
        text-align: center;

        li {
            display: inline-block;
        }

        a {
            display: block;
            border: 1px solid #e3e6ef;
            margin: 0 0 30px;
            color: #fff;

            &:hover {
                color: #fff;

                p {
                    color: #fff;
                }
            }

            span {
                font-size: 18px;
                display: block;
                margin-bottom: 7px;
                line-height: normal;
            }

            p {
                font-size: 14px;
                text-align: center;
                margin-top: 5px;
                color: #fff;
                word-break: break-all;
            }
        }

        .atbd_category_single {

            &.atbd_category_no_image {
                border: 0 none;
                box-shadow: 0 5px 25px rgba(#8F8E9F, .15);
                border-radius: 6px;
                height: 205px;

                figure {
                    position: relative;
                    height: 100%;

                    figcaption {
                        min-height: 100%;
                    }
                }

                img {
                    display: none;
                }

                .cat-box {
                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 70px;
                        width: 70px;
                        padding: 0;
                        border-radius: 50%;
                        background-color: $primary;
                        margin: auto auto 20px auto;

                        span,
                        i,
                        svg {
                            margin-bottom: 0;
                            color: #fff;
                        }
                    }
                }

                .cat-info {
                    flex-direction: column;
                }

                .cat-name {
                    font-size: 16px;
                    color: #0A0B1E;
                    font-weight: 500;
                    margin-bottom: 8px;
                    margin-top: 0;
                }

                .cat-count {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    font-weight: 400;
                    color: #8F8E9F;
                    margin-bottom: 0;

                    span {
                        font-size: 16px;
                        padding: 0 5px;
                        margin-bottom: 0;
                    }
                }

                figcaption {
                    position: relative;
                    background-color: #fff;
                    padding: 35px 0 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 0;
                    margin-top: 0;
                }
            }

            .cat-box {
                .icon {

                    span.la,
                    span.las,
                    span.lab,
                    span.fa,
                    span.fas,
                    span.fab {
                        font-size: 30px;
                    }
                }
            }
        }

        .atbd_category_single:not(.atbd_category_no_image) {
            height: 170px;

            figure {
                position: relative;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                figcaption {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    min-height: 100%;
                    background: rgba(0, 0, 0, .5);
                    left: 0;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                }
            }

            .icon {
                span {
                    color: #fff;
                }
            }

            .cat-info {
                display: block;

                .cat-name {
                    font-size: 18px;
                    margin-bottom: 8px;
                    margin-top: 12px;
                    color: #fff;
                }

                .cat-count {
                    margin-bottom: 0;

                    span {
                        font-size: 18px;
                        display: inline-block;
                        color: rgba(#fff, 0.8);
                    }
                }
            }
        }

        .directorist-col-2 {
            .atbd_category_single {
                min-height: 100px;
                margin-bottom: 15px;

                figcaption {
                    min-height: 100px;
                }

                img {
                    width: 100%;
                }

                span {
                    font-size: 18px;
                    margin-bottom: 0;
                }
            }
        }

        .directorist-col-3 {
            .atbd_category_single:not(.atbd_category_no_image) {
                min-height: 205px;
                margin-bottom: 15px;

                figcaption {
                    min-height: 150px;
                }

                img {
                    width: 100%;
                }
            }
        }

        .directorist-col-4 {
            .atbd_category_single:not(.atbd_category_no_image) {
                min-height: 200px;

                figcaption {
                    min-height: 200px;
                }

                img {
                    width: 100%;
                }
            }
        }

        .directorist-col-6 {
            .atbd_category_single:not(.atbd_category_no_image) {
                min-height: 350px;

                figcaption {
                    min-height: 350px;
                }

                img {
                    width: 100%;
                }
            }
        }

        .directorist-col-12 {
            .atbd_category_single:not(.atbd_category_no_image) {
                min-height: 600px;

                figcaption {
                    min-height: 600px;
                }

                img {
                    width: 100%;
                }
            }
        }

        .directorist-col-5 {
            .atbd_category_single:not(.atbd_category_no_image) {
                min-height: 140px;

                figcaption {
                    min-height: 140px;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

#directorist.atbd_wrapper {
    &.atbdp-categories {
        &.atbdp-text-list {
            .atbdp-no-margin {
                margin-bottom: -30px;
            }

            .atbd_category_wrapper {
                margin-bottom: 28px;
                text-align: center;

                li {
                    margin-bottom: 10px;

                    &:first-child {
                        margin-top: 10px;
                        ;
                    }
                }

                a {
                    font-size: 15px;
                    font-weight: 500;
                    color: #0A0B1E;
                    box-shadow: none;
                }

                .atbdp_child_category {
                    a {
                        font-size: 15px;
                        font-weight: 400;
                        color: #51526E;
                    }
                }
            }
        }
    }
}

#directorist.atbd_wrapper {
    .atbdp_child_category li {
        margin-bottom: 7px;
    }
}

.atbd_content_active #directorist.atbd_wrapper .atbd_category_single {
    position: relative;
    padding: 0;
    border-radius: 3px;
    overflow: hidden;
    width: 100%;

    img {
        height: 100%;
        object-fit: cover;
    }

    figure {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        margin-bottom: 0;

        figcaption {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(#000, 0.5);
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
        }

        .icon {
            padding-bottom: 15px;
        }

        .cat-info {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            &>span {
                margin: 0 3px;
                font-size: 18px;
            }
        }

        .cat-name {
            color: #fff;
            margin: 0 3px;
            line-height: normal;
            padding-bottom: 0;
        }
    }

    &.atbd_category-default {
        figure {
            position: relative;

            img {
                display: none;
            }

            figcaption {
                background: #fff;
                position: relative;

                .icon,
                .cat-name,
                .cat-info span {
                    color: #444752;
                }
            }
        }
    }
}

#directorist.atbd_wrapper .atbdp_col-5 {
    position: relative;
    width: 20%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


//responsive fix
@media (max-width: 991px) {

    .atbd_all_categories,
    .atbdp-categories,
    .atbd_location_grid_wrap {
        div[class^="directorist-col-"] {
            width: 33.33%;
        }
    }
}

@media (max-width: 767px) {

    .atbd_all_categories,
    .atbdp-categories,
    .atbd_location_grid_wrap {
        div[class^="directorist-col-"] {
            width: 50%;
        }
    }
}

@media (max-width: 575px) {

    .atbd_all_categories,
    .atbdp-categories,
    .atbd_location_grid_wrap {
        div[class^="directorist-col-"] {
            width: 100%;
        }
    }
}