// Directorist Dropdown Style
.directorist-dropdown {
    position: relative;

    .directorist-dropdown__toggle {
        text-decoration: none;
        color: $body-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &:focus {
            outline: 0 !important;
        }

        &.directorist-toggle-has-icon {
            &:after {
                content: '\f347';
                font: normal 12px/1 dashicons;
                padding-left: 5px;
            }
        }
    }

    .directorist-dropdown__links {
        @include m(right) {
            left: auto;
            right: 0;
        }

        display: none;
        position: absolute;
        width: 100%;
        min-width: 180px;
        max-height: 250px;
        overflow-y: auto;
        left: 0;
        top: 30px;
        padding: 10px 0;
        background-color: #fff;
        box-shadow: 0 10px 40px rgba(134, 142, 174, .18823529411764706);
        border-radius: 5px;
        z-index: 99999;

        &.directorist-dashboard-listing-actions-js{
            z-index: 9998;
        }

        a {
            display: block;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
            display: block;
            padding: 5px 20px;
            border-radius: 4px;
            color: #5a5f7d;

            &.active {
                background-color: #f2f2f2;
            }
        }
    }
}

/* custom dropdown with select */
.directorist-dropdown-select {
    position: relative;
}

.directorist-dropdown-select-toggle {
    display: inline-block;
    border: 1px solid #eee;
    padding: 7px 15px;
    position: relative;

    &:before {
        content: '';
        position: absolute !important;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}

.directorist-dropdown-select-items {
    position: absolute;
    width: 100%;
    left: 0;
    top: 40px;
    border: 1px solid #eee;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    background: #fff;
    z-index: 10;
}

.directorist-dropdown-select-items.directorist-dropdown-select-show {
    top: 30px;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

.directorist-dropdown-select-item {
    display: block;
}

// Dropdown Placement
.directorist-dropdown {
    &.directorist-dropdown-right{
        .directorist-dropdown__links{
            left: auto;
            right: 0;
        }
    }
}