// Directorist Dropdown Style
.directorist-dropdown {
    position: relative;

    .directorist-dropdown__toggle {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        font-weight: 400;
        color: var(--directorist-color-body);
        background-color: var(--directorist-color-light-gray);
        padding: 0 20px;
        border-radius: 8px;
        cursor: pointer;
        transition: all ease 0.3s;
        position: relative;
        &:hover {
            background-color: var(--directorist-color-gray);
        }
        &:focus {
            outline: 0 !important;
        }

        &.directorist-toggle-has-icon {
            &:after {
                content: '';
                mask-image: url("../../../icons/line-awesome/svgs/angle-down-solid.svg");
                mask-repeat: no-repeat;
                width: 12px;
                height: 12px;
                background-color: var(--directorist-color-body);
            }
        }
    }

    .directorist-dropdown__links {
        @include m(right) {
            left: auto;
            right: 0;
        }

        display: none;
        position: absolute;
        width: 100%;
        min-width: 190px;
        max-height: 250px;
        overflow-y: auto;
        left: 0;
        top: 30px;
        padding: 10px;
        border: none;
        border-radius: 12px;
        background-color: var(--directorist-color-white);
        filter: drop-shadow(var(--directorist-box-shadow));
        z-index: 99999;

        a {
            display: block;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            display: block;
            padding: 10px;
            border-radius: 8px;
            color: var(--directorist-color-body);

            &.active,
            &:hover {
                border-radius: 8px;
                color: var(--directorist-color-dark);
                background-color: var(--directorist-color-light);
            }
        }
    }
}

/* custom dropdown with select */
.directorist-dropdown-select {
    position: relative;
}

.directorist-dropdown-select-toggle {
    display: inline-block;
    border: 1px solid #eee;
    padding: 7px 15px;
    position: relative;

    &:before {
        content: '';
        position: absolute !important;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}

.directorist-dropdown-select-items {
    position: absolute;
    width: 100%;
    left: 0;
    top: 40px;
    border: 1px solid #eee;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    background: #fff;
    z-index: 10;
}

.directorist-dropdown-select-items.directorist-dropdown-select-show {
    top: 30px;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

.directorist-dropdown-select-item {
    display: block;
}