// Form Element Group
.directorist-form-group {
    position: relative;

    textarea,
    textarea.directorist-form-element {
        min-height: unset;
        height: auto;
    }
}

// Form Element
.directorist-form-group {
    .directorist-form-element {
        position: relative;
        height: 42px;
        padding: 15px 20px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 5px;
        width: 100%;
        border: 1px solid $border-color-normal;
        box-sizing: border-box;
        margin-bottom: 0;

        &:focus {
            outline: none;
            box-shadow: 0 0;
        }
    }
}

// Form Element Size
.directorist-form-element {
    &.directorist-form-element-lg {
        height: 50px;
    }

    &.directorist-form-element-sm {
        height: 30px;
    }
}

// Directorist Input With Icon
.directorist-form-group {
    &.directorist-icon-left {
        .directorist-form-element {
            padding-left: 35px;
        }

        .directorist-input-icon {
            left: 15px;
            margin-top: 0;
        }
    }

    &.directorist-icon-right {
        .directorist-form-element {
            padding-right: 35px;
        }

        .directorist-input-icon {
            right: 15px;
        }
    }

    .directorist-input-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        line-height: 1.45;
        margin-top: -2px;
        z-index: 99;
        i,
        span,
        svg {
            font-size: 14px;
        }
    }
}

.directorist-label {
    margin-bottom: 0;
}

input.directorist-toggle-input {
    display: none;
}

.directorist-toggle-input-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span.directorist-toggle-input-label-text {
    flex-grow: 1;
    padding-right: 10px;
}

span.directorist-toggle-input-label-icon {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    border-radius: 30px;
    background-color: #d9d9d9;
    transition: all ease-in-out 300ms;
}

span.directorist-toggle-input-label-icon::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    top: 50%;
    transform: translate( 0, -50% );
    transition: all ease-in-out 300ms;
}

input.directorist-toggle-input:checked +.directorist-toggle-input-label span.directorist-toggle-input-label-icon {
    background-color: #4353FF;
}

input.directorist-toggle-input:not(:checked) +.directorist-toggle-input-label span.directorist-toggle-input-label-icon::after {
    left: 5px;
}

input.directorist-toggle-input:checked +.directorist-toggle-input-label span.directorist-toggle-input-label-icon::after {
    left: calc( 100% - 20px );
}