// Form Element Group
.directorist-form-group {
    position: relative;

    textarea,
    textarea.directorist-form-element {
        min-height: 120px;
    }
}

// Form Element
.directorist-form-group {
    .directorist-form-element {
        position: relative;
        height: 42px;
        padding: 15px 20px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 5px;
        width: 100%;
        border: 1px solid $border-color-normal;
        box-sizing: border-box;
        margin-bottom: 0;

        &:focus {
            outline: none;
            box-shadow: 0 0;
        }
    }
}

// Form Element Size
.directorist-form-element {
    &.directorist-form-element-lg {
        height: 50px;
    }

    &.directorist-form-element-sm {
        height: 30px;
    }
}

// Directorist Input With Icon
.directorist-form-group {
    &.directorist-icon-left {
        .directorist-form-element {
            padding-left: 35px;
        }

        .directorist-input-icon {
            left: 15px;
            margin-top: 0;
        }
    }

    &.directorist-icon-right {
        .directorist-form-element {
            padding-right: 35px;
        }

        .directorist-input-icon {
            right: 15px;
        }
    }

    .directorist-input-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        line-height: 1.45;
        margin-top: -2px;
        z-index: 99;
        i,
        span,
        svg {
            font-size: 14px;
        }
    }
}