/* wp color picker */
.directorist-form-group .wp-picker-container {
  .button {
    position: relative;
    height: 40px;
    border: 0 none;
    width: 140px;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s ease;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      color: var(--directorist-color-white);
      background: rgba(var(--directorist-color-dark-rgb), 0.7);
    }

    .wp-color-result-text {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      width: auto;
      min-width: 100px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      font-size: 14px;
      text-transform: capitalize;
      background-color: #f7f7f7;
      color: var(--directorist-color-body);
    }
  }

  .wp-picker-input-wrap {
    label {
      width: 90px;

      input {
        height: 40px;
        padding: 0;
        text-align: center;
        border: none;
      }
    }
  }

  .hidden {
    display: none;
  }
  .wp-picker-open + .wp-picker-input-wrap {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  .wp-picker-container .wp-picker-input-wrap {
    padding: 15px 0;
    display: flex;
    align-items: center;
    &.hidden {
      display: none;
    }

    .screen-reader-text {
      display: none;
    }

    label {
      width: 90px;
      margin: 0;

      & + .button {
        margin-left: 10px;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 15px;
      }
    }
  }
}

.diectorist-show {
  display: block;
}

.diectorist-hide {
  display: none;
}

.directorist-d-none {
  display: none;
}

.directorist-text-center {
  text-align: center;
}

.entry-content {
  ul {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  .directorist-search-modal__contents__title {
    margin: 0;
    color: var(--directorist-color-dark);
  }
}

button[type="submit"] {
  display: flex;
  align-items: center;
}

/* Container within container spacing issue fix */
.directorist-container-fluid > .directorist-container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.directorist-announcement-wrapper {
  .directorist_not-found {
    p {
      margin-bottom: 0;
    }
  }
}

// Select2 CSS
.select2-container--open .select2-dropdown.select2-dropdown--below {
  top: 0;
  border-color: var(--directorist-color-border);
}

.logged-in {
  .select2-container--open .select2-dropdown.select2-dropdown--below {
    top: 32px;
  }
}

.directorist-select
  .select2.select2-container
  .select2-selection
  .select2-selection__rendered
  .select2-selection__clear {
  display: none;
}
.select2.select2-container {
  &.select2-container--default {
    width: 100% !important;
  }

  &.select2-container--default .select2-selection {
    min-height: 40px;
    border: none;
    padding: 5px 0;
    border-radius: 0;
    background: transparent;
    border-bottom: 1px solid var(--directorist-color-border-gray);
    &:focus {
      border-color: var(--directorist-color-primary);
      outline: none;
    }

    @include e("choice") {
      height: 28px;
      line-height: 28px;
      font-size: 12px;
      border: none;
      display: flex;
      gap: 5px;
      padding: 0 10px;
      border-radius: 8px;
      color: var(--directorist-color-white);
      background-color: var(--directorist-color-primary);
      @include e("remove") {
        position: relative;
        width: 12px;
        margin: 0;
        font-size: 0;
        color: var(--directorist-color-white);
        &:before {
          content: "";
          mask-image: url("../../../icons/line-awesome/svgs/times-solid.svg");
          mask-repeat: no-repeat;
          width: 12px;
          height: 12px;
          background-color: var(--directorist-color-white);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    @include e("rendered") {
      display: flex;
      gap: 5px;
      height: auto;
      line-height: 30px;
      font-size: 14px;
      overflow-y: auto;
      align-items: center;
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;  /* Firefox */
      &::-webkit-scrollbar {
          display: none;
      }
      .select2-selection__clear {
        padding-right: 25px;
      }
    }

    @include e("arrow") {
      b {
        display: none;
      }
    }
  }

  &.select2-container--focus {
    .select2-selection {
      border: none;
      border-bottom: 1px solid var(--directorist-color-primary);
    }
  }
}

.select2-container--default .select2-selection .select2-selection__arrow b {
  margin-top: 0;
}

.select2-container.select2-container--open {
  z-index: 99999;
  @media only screen and (max-width: 575px) {
    width: calc(100% - 40px);
  }
}

.select2-container .directorist-select2-addons-area {
  top: unset;
  bottom: 20px;
  right: 0;
  .directorist-select2-dropdown-toggle {
    position: absolute;
    right: 0;
    padding: 0;
    width: auto;
    pointer-events: none;
  }
  .directorist-select2-dropdown-close {
    position: absolute;
    right: 15px;
    padding: 0;
    display: none;
  }
}

/* Login/Signup Form CSS */
#recover-pass-modal {
  display: none;
}
.directorist-login-wrapper #recover-pass-modal .directorist-btn {
  margin-top: 15px;
  &:hover {
    text-decoration: none;
  }
}

// Modal Overlay
body.modal-overlay-enabled {
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(var(--directorist-color-dark-rgb), 0.05);
    z-index: 1;
  }
}

