/* wp color picker */
.directorist-form-group {
  .wp-picker-container {
    .button {
      position: relative;
      height: 40px;
      border: 0 none;
      width: 140px;
      transition: 0.3s ease;
      border-radius: 3px;

      &:hover {
        background: rgba(0, 0, 0, 0.7);
      }

      .wp-color-result-text {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        font-size: 14px;
        background: #f7f7f7;
        color: #222;
      }
    }

    .wp-picker-input-wrap {
      label {
        width: 90px;

        input {
          height: 40px;
          padding: 0;
          text-align: center;
        }
      }
    }

    .hidden {
      display: none;
    }
  }
  .wp-picker-open + .wp-picker-input-wrap {
    display: block;
  }
  .wp-picker-container .wp-picker-input-wrap {
    padding: 15px 0;
    display: flex;
    align-items: center;
    &.hidden {
      display: none;
    }

    .screen-reader-text {
      display: none;
    }

    label {
      width: 90px;
      margin: 0;

      & + .button {
        margin-left: 10px;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 15px;
      }
    }
  }
}

.diectorist-show {
  display: block !important;
}

.diectorist-hide {
  display: none !important;
}

.directorist-announcement-wrapper {
  .directorist_not-found {
    p {
      margin-bottom: 0;
    }
  }
}

.atbdp-range-slider-widget {
  .directorist-range-slider-current-value {
    margin-bottom: 10px;
  }
}

.select2-container--open .select2-dropdown.select2-dropdown--below {
  top: 0px;
  border-color: #eff1f6;
}

.logged-in {
  .select2-container--open .select2-dropdown.select2-dropdown--below {
    top: 30px;
  }
}

/* Container within container spacing issue fix */
.directorist-container-fluid > .directorist-container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.directorist-select
  .select2.select2-container
  .select2-selection--single
  .select2-selection__rendered
  .select2-selection__clear {
  display: none;
}
.select2.select2-container {
  &.select2-container--default {
    width: 100%;
  }

  .select2-selection--single {
    height: 42px;
    border-color: #ececec;

    &:focus {
      outline: none;
    }

    .select2-selection__rendered {
      height: 40px;
      padding: 0 15px;

      .select2-selection__clear {
        padding-right: 25px;
      }

      .select2-selection__placeholder {
        line-height: 2.6;
      }
    }

    .select2-selection__arrow {
      top: 8px;
      right: 14px;

      &:before {
        font-family: "Font Awesome 5 Free";
        content: "\f078";
        font-weight: 600;
      }

      b {
        display: none;
      }
    }
  }
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  margin-top: 0;
}

.directorist-d-none {
  display: none !important;
}

.directorist-text-center {
  text-align: center !important;
}

// Twitter Icon CSS
.directorist-social-links .twitter .directorist-icon-mask:after,
.directorist-social-links__item .la-twitter .directorist-icon-mask:after {
  width: 15px;
  height: 15px;
}

/* Login/Signup Form */
.directorist-login-wrapper {
  #recover-pass-modal {
    .directorist-btn {
      margin-top: 15px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.select2-container.select2-container--open {
  z-index: 99999;
}

.select2-container {
  .directorist-select2-addons-area {
    .directorist-select2-dropdown-toggle {
      position: absolute;
      right: 0;
      pointer-events: none;
    }
    .directorist-select2-dropdown-close {
      position: absolute;
      right: 25px;
    }
  }
}

// Loading CSS
.dir_loading {
  position: relative;

  &:after {
    content: "";
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #656a7a;
    width: 20px;
    height: 20px;
    animation: rotate360 2s linear infinite;
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 10px;
  }
}
