/* wp color picker */
.directorist-form-group .wp-picker-container {
  .button {
    position: relative;
    height: 40px;
    border: 0 none;
    width: 140px;
    transition: 0.3s ease;
    border-radius: 3px;

    &:hover {
      background: rgba(0, 0, 0, 0.7);
    }

    .wp-color-result-text {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      font-size: 14px;
      background: #f7f7f7;
      color: #222;
    }
  }

  .wp-picker-input-wrap {
    label {
      width: 90px;

      input {
        height: 40px;
        padding: 0;
        text-align: center;
      }
    }
  }

  .hidden {
    display: none;
  }
  .wp-picker-open + .wp-picker-input-wrap {
    display: block;
  }
  .wp-picker-container .wp-picker-input-wrap {
    padding: 15px 0;
    display: flex;
    align-items: center;
    &.hidden{
      display: none;
    }

    .screen-reader-text {
      display: none;
    }

    label {
      width: 90px;
      margin: 0;

      & + .button {
        margin-left: 10px;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 15px;
      }
    }
  }
}

.diectorist-show {
  display: block;
}

.diectorist-hide {
  display: none;
}

.directorist-d-none {
  display: none;
}

.directorist-text-center {
  text-align: center;
}

.entry-content {
  ul {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  .directorist-search-modal__contents__title {
    margin: 0;
  }
}

/* Container within container spacing issue fix */
.directorist-container-fluid > .directorist-container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.directorist-announcement-wrapper {
  .directorist_not-found {
    p {
      margin-bottom: 0;
    }
  }
}

.atbdp-range-slider-widget {
  .directorist-range-slider-current-value {
    margin-bottom: 10px;
  }
}

// Select2 CSS
.select2-container--open .select2-dropdown.select2-dropdown--below {
  top: 0;
  border-color: var(--directorist-color-border);
}

.logged-in {
  .select2-container--open .select2-dropdown.select2-dropdown--below {
    top: 32px;
  }
}

.directorist-select .select2.select2-container .select2-selection .select2-selection__rendered .select2-selection__clear{
  display: none;
}
.select2.select2-container {
  &.select2-container--default {
    width: 100% !important;
  }

  &.select2-container--default .select2-selection {
    height: 40px;
    border: none;
    border-radius: 0;
    background: transparent;
    border-bottom: 1px solid var(--directorist-color-border-gray);
    &:focus {
      border-color: var(--directorist-color-primary);
      outline: none;
    }

    @include e('choice') {
      height: 28px;
      line-height: 28px;
      font-size: 12px;
      border: none;
      display: flex;
      gap: 5px;
      padding: 0 10px;
      border-radius: 8px;
      color: var(--directorist-color-white);
      background-color: var(--directorist-color-primary);
      @include e('remove') {
        position: relative;
        width: 12px;
        margin: 0;
        font-size: 0;
        color: var(--directorist-color-white);
        &:before {
          content: '';
          mask-image: url("../../../icons/line-awesome/svgs/times-solid.svg");
          mask-repeat: no-repeat;
          width: 12px;
          height: 12px;
          background-color: var(--directorist-color-white);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    @include e('rendered') {
      display: flex;
      gap: 5px;
      height: 40px;
      line-height: 1;
      font-size: 14px;
      overflow-y: auto;
      align-items: center;
      padding-top: 12px;
      .select2-selection__clear {
        padding-right: 25px;
      }
    }

    @include e('arrow') {
      b {
        display: none;
      }
    }
  }

  &.select2-container--focus {
    .select2-selection {
      border: none;
      border-bottom: 1px solid var(--directorist-color-primary);
    }
  }
}

.select2-container--default .select2-selection .select2-selection__arrow b {
  margin-top: 0;
}

.select2-container.select2-container--open{
  z-index: 99999;
  @media only screen and (max-width: 575px) {
    width: calc(100% - 40px);
  }
}
.select2-dropdown {
  @media only screen and (max-width: 575px) {
    width: 100% !important;
    left: -20px !important;
  }
}

.select2-container .directorist-select2-addons-area {
  right: 0;
  .directorist-select2-dropdown-toggle {
    position: absolute;
    right: 0;
    padding: 0;
    width: auto;
    pointer-events: none;
  }
  .directorist-select2-dropdown-close {
    position: absolute;
    right: 15px;
    padding: 0;
  }
  .directorist-icon-mask:after {
    background-color: #404040;
  }
}

/* Login/Signup Form CSS */
.directorist-login-wrapper #recover-pass-modal .directorist-btn{
  margin-top: 15px;
  &:hover{
    text-decoration: none;
  }
}
