/* ATBD Tooltip */
.atbd_tooltip {
    position: relative;
  
    &[aria-label]:before,
    &[aria-label]:after {
      position: absolute !important;
      bottom: 100%;
      display: none;
      -webkit-animation: showTooltip 0.3s ease;
      -o-animation: showTooltip 0.3s ease;
      animation: showTooltip 0.3s ease;
    }
  
    &[aria-label]:before {
      content: "";
      left: 50%;
      transform: translate(-50%, 7px);
      border: 6px solid transparent;
      border-top-color: rgba(0, 0, 0, 0.8);
    }
  
    &[aria-label]:after {
      content: attr(aria-label);
      left: 50%;
      transform: translate(-50%, -5px);
      min-width: 150px;
      text-align: center;
      background: rgba(0, 0, 0, 0.8);
      padding: 5px 12px;
      border-radius: 0.2em;
      color: #fff;
    }
  
    &[aria-label]:hover:before,
    &[aria-label]:hover:after {
      display: block;
    }
}
  
@keyframes showTooltip {
  from {
    opacity: 0;
  }
}


/* custom dropdown */
.atbd-dropdown {
  font-size: 15px;
  position: relative;
}

.atbd-dropdown-toggle {
  display: inline-block;
  border: 1px solid #eee;
  padding: 7px 15px;
  position: relative;

  &:before {
    content: '';
    position: absolute !important;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.atbd-dropdown-items {
  position: absolute;
  width: 100%;
  left: 0;
  top: 40px;
  border: 1px solid #eee;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  background: #fff;
  z-index: 10;
}

.atbd-dropdown-items.atbd-show {
  top: 30px;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.atbd-dropdown-item {
  display: block;
}

.directorist-content-active{
  .atbd_generic_header {
    background: $light;
    padding: 20px 30px;
    border-radius: 5px;
    border: 1px solid $border-color;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .atbd_generic_header_title {
      display: flex;
      align-items: center;
      justify-content: center;

      .more-filter {
        margin-right: 15px;
      }

      h3 {
        font-weight: 500;
        color: #7a82a6;
        margin: 0;
        font-size: 15px;
        padding: 0;

        p {
          font-size: 14px;
        }
      }
    }

    .atbd_listing_action_btn {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
}

/* atbd dropdown */
.atbd_dropdown {
  font-size: 15px;
  margin-right: 10px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  .atbd_dropdown-toggle {
    border: 1px solid $primary !important;
    padding: 8px 15px;
    border-radius: $border-radius;
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.3s ease;

    .atbd_drop-caret {
      position: relative;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-left: 8px;
      pointer-events: none;

      &:before {
        content: '';
        width: 7px;
        height: 7px;
        /*rtl:begin:ignore*/
        border-left: 1px solid $primary;
        border-bottom: 1px solid $primary;
        /*rtl:end:ignore*/
        position: absolute;
        left: 0;
        top: 0;
        transform: rotate(-45deg);
        pointer-events: none;
        transition: 0.3s ease;
      }
    }
  }

  .atbd_dropdown-menu {
    background: #fff;
    box-shadow: 0 10px 15px rgba($dark, 0.15);
    padding: 5px 0;
    border-radius: 0 0 3px 3px;
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 999;
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;

    .atbd_dropdown-item {
      display: block;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      display: block;
      padding: 5px 20px;
      border-radius: 4px;
      color: #5a5f7d;
      cursor: pointer;

      &.active {
        background: #f2f2f2 !important;
      }
    }

    &.atbd_dropdown-menu--lg {
      min-width: 165px;
    }
  }

  &.atbd_drop--active {
    .atbd_dropdown-menu {
      opacity: 1;
      visibility: visible;

      #atbdp_sort {
        .atbd_dropdown-item {
          cursor: pointer;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

// Badge 

.atbd_badge{
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.7;
  padding: 0 3px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  &.atbd_badge_close{
    background-color: $danger;
    color: #fff;
  }
  &.atbd_badge_open{
    background-color: $success;
  }
}