// Swiper Slider
.directorist-swiper {
  height: 100%;
  overflow: hidden;
  position: relative;

  .swiper-slide {
    display: flex;
    > div,
    > a {
      width: 100%;
    }
  }
  @include e(nav) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    i {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      transition: all 0.3s ease;
      background-color: rgba(255, 255, 255, 0.9);
    }
    .directorist-icon-mask:after {
      width: 10px;
      height: 10px;
      background-color: var(--directorist-color-body);
    }
    &:hover {
      i {
        background-color: var(--directorist-color-white);
      }
    }
    @include m(prev) {
      left: 10px;
    }
    @include m(next) {
      right: 10px;
    }
    @include m("prev-related i") {
      left: 0;
      background-color: #f4f4f4;
      &:hover {
        background-color: var(--directorist-color-gray);
      }
    }
    @include m("next-related i") {
      right: 0;
      background-color: #f4f4f4;
      &:hover {
        background-color: var(--directorist-color-gray);
      }
    }
  }
  @include e(pagination) {
    position: absolute;
    text-align: center;
    z-index: 1;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    .swiper-pagination-bullet {
      margin: 0 !important;
      width: 5px;
      height: 5px;
      opacity: 0.6;
      background-color: var(--directorist-color-white);
      &.swiper-pagination-bullet-active {
        opacity: 1;
        transform: scale(1.4);
      }
    }
    @include m("related") {
      display: none;
    }
  }
  &:hover {
    > .directorist-swiper__navigation {
      .directorist-swiper__nav {
        opacity: 1;
      }
    }
  }
}

.directorist-single-listing-slider {
  width: var(--gallery-crop-width, 740px);
  height: var(--gallery-crop-height, 580px);
  max-width: 100%;
  margin: 0 auto;
  border-radius: 16px;
  @media screen and (max-width: 991px) {
    max-height: 450px !important;
  }
  @media screen and (max-width: 575px) {
    max-height: 400px !important;
  }
  @media screen and (max-width: 375px) {
    max-height: 350px !important;
  }
  .directorist-swiper {
    @include e(nav) {
      i {
        height: 40px;
        width: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        &:after {
          width: 14px;
          height: 14px;
          background-color: var(--directorist-color-white);
        }
      }
      @include m("prev-single-listing i") {
        left: 20px;
      }
      @include m("next-single-listing i") {
        right: 20px;
      }
      &:hover {
        i {
          background-color: var(--directorist-color-primary);
        }
      }
      @media screen and (max-width: 575px) {
        opacity: 1;
        i {
          width: 30px;
          height: 30px;
        }
      }
    }
    @include e(pagination) {
      display: none;
    }
  }
  .swiper-slide {
    img {
      width: 100%;
      height: 100%;
      max-width: var(--gallery-crop-width, 740px);
      object-fit: cover;
      border-radius: 16px;
    }
  }

  &.slider-has-one-item {
    .directorist-swiper__navigation,
    .directorist-swiper__pagination {
      display: none;
    }
  }
}

.directorist-single-listing-slider-thumb {
  width: var(--gallery-crop-width, 740px);
  max-width: 100%;
  margin: 10px auto 0;
  border-radius: 16px;
  overflow: auto;
  .swiper-wrapper{
    gap: 10px;
  }
  .directorist-swiper {
    @include e(navigation) {
      display: none;
    }
    @include e(pagination) {
      display: none;
    }
  }
  .swiper-slide {
    position: relative;
    min-width: 100px;
    max-width: 100px;
    height: 90px;
    cursor: pointer;
    margin: 0 !important;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 14px;
    }
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 14px;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
      transition: opacity 0.3s ease;
      opacity: 0;
      visibility: hidden;
    }
    &:hover,
    &.swiper-slide-thumb-active {
      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  @media screen and (max-width: 575px) {
    display: none;
  }
}

.directorist-swiper-related-listing {
  &.directorist-swiper {
    padding: 15px;
    margin: -15px;
    > .directorist-swiper__navigation .directorist-swiper__nav i {
      height: 40px;
      width: 40px;
      &:after {
        width: 14px;
        height: 14px;
      }
    }
  }
  &.slider-has-one-item,
  &.slider-has-less-items {
    > .directorist-swiper__navigation {
      display: none;
    }
  }
}
