.directorist-type-nav--listings-map {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  .directorist-type-nav__link {
    padding: 23px 0;
  }
}

.directorist-map-wrapper {

  .directorist-map-search {
    border: none;
    border-radius: 0;
    box-shadow: var(--directorist-box-shadow);
    form {
      padding-bottom: 0;
    }
    #directorist-search-area {
      padding: 25px 30px;
      margin: 0;
      border-radius: 0;
      background: transparent;
      box-sizing: border-box;
    }
    .directorist-advanced-filter__action {
      margin: 0 -30px;
      padding: 25px 30px 75px;
      border-top: 1px solid var(--directorist-color-light);
    }

    .directorist-form-group .directorist-form-element,
    .directorist-search-field-review .directorist-select .directorist-select__label {
      font-size: 14px;
      font-weight: 500;
      color: var(--directorist-color-primary);
    }
    .directorist-btn-submit {
      width: 100%;
    }
    .directorist-btn-reset-js {
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding: 0 32px;
      border: none;
      border-radius: 10px;
      text-align: center;
      text-transform: none;
      text-decoration: none;
      background-color: var(--directorist-color-light);
      cursor: pointer;
    }
    
    .directorist-search-field {

      > label:not(.directorist-search-field__label) {
        font-size: 15px;
        font-weight: 500;
        margin: 0;
      }

      &.directorist-search-field-radius_search > label {
        margin-bottom: 15px;
      }

      .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
        font-size: 14px;
        font-weight: 400;
        color: var(--directorist-color-body);
      }

      .directorist-search-tags {
        gap: 20px;
        margin: 10px 0 0;
        flex-wrap: wrap;
        flex-direction: column;
        .directorist-checkbox {
          margin: 0;
        }
      }

      .directorist-price-ranges__item .directorist-form-element {
        padding: 0;
        padding-bottom: 1px;
        padding-inline-start: 41px;
        padding-inline-end: 15px;
      }
      .directorist-price-ranges__price-frequency--btn {
        .directorist-pf-range {
          color: var(--directorist-color-dark);
        }
        input[type="radio"]{
          display: none;
          &:checked+.directorist-pf-range{
              background-color: var(--directorist-color-primary);
              color: var(--directorist-color-white);
          }
        }
      }
      input[type="radio"]{
        display: none;
        &:checked+.directorist-pf-range{
            background-color: var(--directorist-color-primary);
            color: var(--directorist-color-white);
        }
    }

      @include e(input) {
        padding-left: 0;
      }
      @include e(label) {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          font-size: 14px;
          font-weight: 400;
          color: var(--directorist-color-body);
          transition: opacity 0.3s ease, top 0.3s ease;
      }
      @include e(btn) {
          position: absolute;
          bottom: 10px;
          cursor: pointer;
          @include m(clear) {
              right: 0;
              i::after {
                  width: 16px;
                  height: 16px;
                  opacity: 0;
                  visibility: hidden;
                  background-color: #BCBCBC;
                  transition: background-color 0.3s ease;
              }
              &:hover {
                  i::after {
                      background-color: var(--directorist-color-primary);
                  }
              }
          }
      }

      &.input-is-focused {
        .directorist-search-field__input {
            &[type="number"] {
                appearance: none !important;
                -webkit-appearance: none !important;
                -moz-appearance: none !important;
            }
        }
        .directorist-search-field__label {
            top: 0;
            font-size: 13px;
        }
        .directorist-search-field__btn i::after {
            opacity: 1;
            visibility: visible;
        }

        .directorist-select,
        .directorist-search-field__input {
            position: relative;
            bottom: -5px;
        }
        .directorist-select {
            .directorist-search-field__label {
                opacity: 1;
            }
        }
        .directorist-location-js {
            padding-right: 45px;
        }

        .select2-selection--single .select2-selection__rendered,
        .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
            font-weight: 500;
            color: var(--directorist-color-primary);
        }
        .directorist-select2-addons-area .directorist-icon-mask:after {
            background-color: var(--directorist-color-primary);
        }

        &.atbdp-form-fade:after,
        .directorist-filter-location-icon {
            margin-top: 3px;
        }
      }

      .directorist-select {
          .directorist-search-field__label {
              opacity: 0;
          }
      }
      .directorist-select,
      .directorist-filter-location-icon {
          ~ .directorist-search-field__btn--clear {
              right: 25px;
              bottom: 8px;
          }
          .directorist-icon-mask:after {
              background-color: #808080;
          }
      }
      &.directorist-icon-right {
        .directorist-input-icon {
          right: 0;
        }
      }
      &.directorist-icon-left {
        .directorist-input-icon {
          left: 0;
        }
      }
    }
  }
  .directorist-map-listing {
    .directorist-listing {
      padding: 0;
      .directorist-container-fluid {
        padding: 0 35px;
      }

      &.bdmv-nolisting {
        .directorist-icon-mask:after {
          width: 35px;
          height: 35px;
        }
        h3 {
          margin: 0 0 15px;
          font-weight: 600;
        }
        p {
          margin: 0;
        }
      }
    }
    .directorist-map .directorist-container-fluid {
      padding: 0 !important;
    }
    #directorist.directorist-wrapper {
      padding-bottom: 40px;
      
      .directorist-header-bar {
        margin: 0;
      }
      .directorist-generic-header {
        padding: 30px 0 20px;
        background: transparent;
        border: none;
        .directorist-generic-header__title h3 {
          font-size: 14px;
          font-weight: 400;
          color: var(--directorist-color-body);
        }
        .directorist-dropdown__toggle {
          padding: 0 20px;
          border: none !important;
          color: var(--directorist-color-body) !important;
          background-color: var(--directorist-color-light) !important;
        }
        .directorist-dropdown__links a {
          border-radius: 8px;
        }
      }
    }

    #directorist .directorist-pagination {
      .nav-links {
        display: flex;
        gap: 8px;
        margin-top: 25px !important;
        .page-numbers {
          width: 40px;
          height: 40px;
          font-size: 14px;
          font-weight: 400;
          border-radius: 10px;
          margin: 0;
          background-color: transparent;
          color: var(--directorist-color-body);
          border: 2px solid var(--directorist-color-border);
          &.current,
          &:hover {
            background-color: transparent !important;
            color: var(--directorist-color-primary);
            border-color: var(--directorist-color-primary);
          }
        }
      }
    }
    
  }

  .directorist-map-listing .directorist-listing, 
  .directorist-ajax-search-result .directorist-listing {
    background: transparent;
    border-radius: 0;
  }

  .directorist-res-btns {
    .directorist-res-btn {
      .directorist-icon-mask:after {
        margin: 0 auto;
      }
    }
  }
}