@import '../base/variables';
/* Modal Core Styles */
.directorist-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    z-index: -1;
    overflow: auto;
    outline: 0;
}

.directorist-modal__dialog {
    position: relative;
    width: 500px;
    margin: 30px auto;
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 80px);
    pointer-events: none;
}

.directorist-modal__dialog-lg{
    width: 900px;
}

.directorist-modal__content{
    width: 100%;
    background: var(--directorist-color-white);
    pointer-events: auto;
    border-radius: 16px;
    position: relative;
    .directorist-modal {
        @include e(header) {
            position: relative;
            padding: 15px;
            border-bottom: 1px solid var(--directorist-color-border-gray);
            @include e(title) {
                font-size: 20px;
                font-weight: 500;
                margin: 0;
                color: var(--directorist-color-dark);
            }
            .directorist-modal-close{
                position: absolute;
                width: 28px;
                height: 28px;
                right: 25px;
                top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                line-height: 1.45;
                padding: 6px;
                text-decoration: none;
                transition: .2s background-color ease-in-out;
                background-color: var(--directorist-color-bg-light);
                &:hover{
                    background-color: var(--directorist-color-light-hover);
                }
            }
        }
        @include e(body) {
            padding: 25px 40px;
        }
        @include e(footer) {
            border-top: 1px solid var(--directorist-color-border-gray);
            padding: 18px;
            .directorist-modal__action{
                display: flex;
                justify-content: flex-end;
                margin: -7.5px;
                button{
                    margin: 7.5px;
                }
            }
        }
        .directorist-form-group{
            label{
                font-size: 16px;
            }
            .directorist-form-element{
                resize: none;
            }
        }
    }
    
}
.directorist-modal__dialog.directorist-modal--lg {
    width: 800px;
}

.directorist-modal__dialog.directorist-modal--xl {
    width: 1140px;
}

.directorist-modal__dialog.directorist-modal--sm {
    width: 300px;
}

.directorist-modal.directorist-fade {
    transition: .3s ease;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}

.directorist-modal.directorist-fade:not(.directorist-show) {
    opacity: 0;
    visibility: hidden;
}

.directorist-modal.directorist-show .directorist-modal__dialog {
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease;
}

// Search Modal CSS
.directorist-search-modal {
    @include e(overlay) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            opacity: 1;
            transition: all ease 0.4s;
        }
    }
    @include e(contents) {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: -100%;
        width: 90%;
        max-width: 600px;
        margin-bottom: 100px;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
        border-radius: 16px;
        transition: all ease 0.3s;
        background-color: var(--directorist-color-white);
        @media only screen and (max-width: 575px) {
            width: 100%;
            margin-bottom: 0;
            border-radius: 16px 16px 0 0;
        }
        @include e(header) {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 25px 15px 40px;
            border-radius: 16px 16px 0 0;
            background-color: var(--directorist-color-white);
            border-bottom: 1px solid var(--directorist-color-border);
            z-index: 999;
            @media only screen and (max-width: 575px) {
                padding-left: 30px;
                padding-right: 20px;
            }
        }
        @include e(body) {
            height: calc(100vh - 380px);
            padding: 30px 40px 0;
            overflow: auto;
            margin-top: 70px;
            margin-bottom: 80px;
            @media only screen and (max-width: 575px) {
                margin-top: 55px;
                margin-bottom: 75px;
                padding: 30px 30px 0;
                height: calc(100vh - 220px);
            }
        }
        @include e(footer) {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 0 0 16px 16px;
            background-color: var(--directorist-color-light);
            z-index: 9;
            @media only screen and (max-width: 575px) {
                border-radius: 0;
                .directorist-advanced-filter__action {
                    padding: 15px 30px;
                }
            }
        }
        @include e(title) {
            font-size: 20px;
            font-weight: 500;
            margin: 0;
            @media only screen and (max-width: 575px) {
                font-size: 18px;
            }
        }
        @include e(btn) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            padding: 0;
            background-color: var(--directorist-color-light);
            border-radius: 100%;
            border: none;
            cursor: pointer;
            transition: all ease 0.3s;
            i::after {
                width: 10px;
                height: 10px;
            }
            &:hover {
                i::after {
                    background-color: var(--directorist-color-danger);
                }
            }
            @media only screen and (max-width: 575px) {
                width: auto;
                height: auto;
                background: transparent;
                i::after {
                    width: 12px;
                    height: 12px;
                }
            }
        }

        .select2-container--default .select2-selection--single .select2-selection__placeholder {
            line-height: 40px;
        }
    }
    .directorist-advanced-filter {
        @include e(form) {
            .directorist-search-modal__contents__body {
                height: calc(100vh - 350px);
                @media only screen and (max-width: 575px) {
                    height: calc(100vh - 200px);
                }
            }
        }
    }
    @include e(minimizer) {
        content: '';
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 5px;
        border-radius: 10px;
        background-color: var(--directorist-color-border);
        opacity: 0;
        visibility: hidden;
        @media only screen and (max-width: 575px) {
            opacity: 1;
            visibility: visible;
        }
    }

    @include m(basic) {
        .directorist-search-modal__contents__body {
            margin: 0;
            padding: 30px;
            height: calc(100vh - 260px);
            @media only screen and (max-width: 575px) {
                height: calc(100vh - 110px);
            }
        }
        .directorist-search-modal__contents {
            @media only screen and (max-width: 575px) {
                margin: 0;
                border-radius: 16px 16px 0 0;
            }
        }
        .directorist-search-query {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: all ease 0.3s;
                width: 16px;
                height: 16px;
                mask-position: center;
                mask-repeat: no-repeat;
                background: var(--directorist-color-body);
                mask-image: url("../../../icons/font-awesome/svgs/solid/search.svg");
            }
        }
        .directorist-search-form-action__modal__btn-search {
            border-radius: 10px;
            color: var(--directorist-color-white);
            background-color: var(--directorist-color-primary);
            i::after {
                background-color: var(--directorist-color-white);
            }
        }
        @media screen and (max-width: 575px) {
            .directorist-search-modal__input {
                height: 42px;
                border-radius: 8px;
            }
        }

    }

    @include e(input) {
        display: flex;
        align-items: center;
        border: 1px solid var(--directorist-color-border);
        border-radius: 10px;
        height: 40px;
        margin: 0 0 15px;
        transition: all ease 0.3s;
        .directorist-search-field,
        .directorist-select {
            display: inline-flex;
            flex: 1;
            label {
                display: none;
            }
        }
        .directorist-select2-dropdown-close {
            display: none;
        }
        .select2.select2-container .select2-selection,
        .directorist-form-group .directorist-form-element,
        .directorist-form-group .directorist-form-element:focus {
            border: 0 none;
        }
        @include e(btn) {
            width: 0;
            padding: 0 10px;
            transition: all ease 0.3s;
            .directorist-icon-mask::after {
                width: 14px;
                height: 14px;
                opacity: 0;
                visibility: hidden;
                transition: all ease 0.3s;
                background-color: var(--directorist-color-body);
            }
        }

        &:focus,
        &:focus-within {
            .directorist-search-modal__input__btn {
                width: auto;
                padding: 0 20px;
                .directorist-icon-mask::after {
                    opacity: 1;
                    visibility: visible;
                }
            }
            .directorist-search-query::after,
            .directorist-select2-dropdown-toggle,
            .directorist-search-field .directorist-input-icon {
                display: none;
            }
        }
        &.input-has-value {
            .directorist-search-modal__input__btn--clear {
                width: auto;
                padding: 0 20px;
                .directorist-icon-mask::after {
                    opacity: 1;
                    visibility: visible;
                }
            }
            .directorist-search-query::after,
            .directorist-select2-dropdown-toggle,
            .directorist-search-field .directorist-input-icon {
                display: none;
            }
        }
    }

    .directorist-checkbox-wrapper,
    .directorist-radio-wrapper,
    .directorist-search-tags {
        padding: 0;
        gap: 12px;
        flex-wrap: wrap;
    }
}

/* Responsive CSS */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .at-modal-content.at-modal-xl,
    .at-modal-content.at-modal-lg,
    .at-modal-content.at-modal-md,
    .at-modal-content.at-modal-sm{
        width: calc(100% - 60px);
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .at-modal-content.at-modal-xl,
    .at-modal-content.at-modal-lg,
    .at-modal-content.at-modal-md,
    .at-modal-content.at-modal-sm{
        width: calc(100% - 60px);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .at-modal-content.at-modal-xl,
    .at-modal-content.at-modal-lg,
    .at-modal-content.at-modal-md,
    .at-modal-content.at-modal-sm{
        width: calc(100% - 60px);
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .at-modal-content.at-modal-xl,
    .at-modal-content.at-modal-lg,
    .at-modal-content.at-modal-md,
    .at-modal-content.at-modal-sm{
        width: calc(100% - 30px);
    }
}
