@import '../base/variables';
/* Modal Core Styles */
.directorist-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    z-index: -1;
    overflow: auto;
    outline: 0;
}

.directorist-modal__dialog {
    position: relative;
    width: 500px;
    margin: 30px auto;
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 5rem);
    pointer-events: none;
}

.directorist-modal__dialog-lg{
    width: 900px;
}

.directorist-modal__content{
    width: 100%;
    background: var(--directorist-color-white);
    pointer-events: auto;
    border-radius: 16px;
    position: relative;
    .directorist-modal {
        @include e(header) {
            position: relative;
            padding: 15px;
            border-bottom: 1px solid var(--directorist-color-border-gray);
            @include e(title) {
                font-size: 20px;
                font-weight: 500;
                margin: 0;
                color: var(--directorist-color-dark);
            }
            .directorist-modal-close{
                position: absolute;
                width: 28px;
                height: 28px;
                right: 25px;
                top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                line-height: 1.45;
                padding: 6px;
                text-decoration: none;
                transition: .2s background-color ease-in-out;
                background-color: var(--directorist-color-bg-light);
                &:hover{
                    background-color: var(--directorist-color-light-hover);
                }
            }
        }
        @include e(body) {
            padding: 25px 40px;
        }
        @include e(footer) {
            border-top: 1px solid var(--directorist-color-border-gray);
            padding: 18px;
            .directorist-modal__action{
                display: flex;
                justify-content: flex-end;
                margin: -7.5px;
                button{
                    margin: 7.5px;
                }
            }
        }
        .directorist-form-group{
            label{
                font-size: 16px;
            }
            .directorist-form-element{
                resize: none;
            }
        }
    }
    
}
.directorist-modal__dialog.directorist-modal--lg {
    width: 800px;
}

.directorist-modal__dialog.directorist-modal--xl {
    width: 1140px;
}

.directorist-modal__dialog.directorist-modal--sm {
    width: 300px;
}

.directorist-modal.directorist-fade {
    transition: .3s ease;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}

.directorist-modal.directorist-fade:not(.directorist-show) {
    opacity: 0;
    visibility: hidden;
}

.directorist-modal.directorist-show .directorist-modal__dialog {
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease;
}

// Search Modal CSS
.directorist-search-modal {
    @include e(overlay) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            opacity: 1;
            transition: all ease 0.4s;
        }
    }
    @include e(contents) {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: -100%;
        width: 90%;
        max-width: 600px;
        height: calc(100% - 200px);
        margin-bottom: 100px;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
        border-radius: 16px;
        background-color: var(--directorist-color-white);
        @media only screen and (max-width: 480px) {
            width: 100%;
            margin-bottom: 0;
            height: calc(100% - 50px);
        }
        @include e(header) {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 25px 15px 40px;
            border-radius: 16px 16px 0 0;
            background-color: var(--directorist-color-white);
            border-bottom: 1px solid var(--directorist-color-border);
            z-index: 9;
            @media only screen and (max-width: 480px) {
                padding-left: 30px;
                padding-right: 20px;
            }
        }
        @include e(body) {
            height: calc(100vh - 370px);
            padding: 30px 40px 0;
            overflow: auto;
            margin-top: 70px;
            margin-bottom: 50px;
            @media only screen and (max-width: 575px) {
                height: calc(100vh - 350px);
            }
            @media only screen and (max-width: 480px) {
                padding: 30px 30px 0;
                height: calc(100vh - 200px);
            }
        }
        @include e(footer) {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 0 0 16px 16px;
            background-color: var(--directorist-color-light);
            z-index: 9;
        }
        @include e(title) {
            font-size: 20px;
            font-weight: 500;
            margin: 0;
        }
        @include e(btn) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            padding: 0;
            background-color: var(--directorist-color-light);
            border-radius: 100%;
            border: none;
            cursor: pointer;
            transition: all ease 0.3s;
            i::after {
                width: 10px;
                height: 10px;
            }
            &:hover {
                i::after {
                    background-color: var(--directorist-color-danger);
                }
            }
        }
    }
    .directorist-advanced-filter {
        @include e(form) {
            .directorist-search-modal__contents__body {
                height: calc(100vh - 380px);
                @media only screen and (max-width: 480px) {
                    height: calc(100vh - 230px);
                }
            }
        }
    }
}

/* Responsive CSS */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .at-modal-content.at-modal-xl,
    .at-modal-content.at-modal-lg,
    .at-modal-content.at-modal-md,
    .at-modal-content.at-modal-sm{
        width: calc(100% - 60px);
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .at-modal-content.at-modal-xl,
    .at-modal-content.at-modal-lg,
    .at-modal-content.at-modal-md,
    .at-modal-content.at-modal-sm{
        width: calc(100% - 60px);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .at-modal-content.at-modal-xl,
    .at-modal-content.at-modal-lg,
    .at-modal-content.at-modal-md,
    .at-modal-content.at-modal-sm{
        width: calc(100% - 60px);
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .at-modal-content.at-modal-xl,
    .at-modal-content.at-modal-lg,
    .at-modal-content.at-modal-md,
    .at-modal-content.at-modal-sm{
        width: calc(100% - 30px);
    }
}
