// Modal
// -------------------------------------
.directorist-primary-modal {
    display: none;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99999;
    &.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.directorist-primary-modal-container {
    margin: 10px;
    min-width: 250px;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}

.directorist-primary-modal-body {
    padding: 20px;
    background-color: #fff;
}