@import '../base/variables';
/* Modal Core Styles */
.directorist-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
    outline: 0;
}

.directorist-modal__dialog {
    position: relative;
    width: 500px;
    margin: 30px auto;
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 5rem);
    pointer-events: none;
}

.directorist-modal__dialog-lg{
    width: 900px;
}

.directorist-modal__content{
    width: 100%;
    background: #fff;
    pointer-events: auto;
    border-radius: 3px;
    position: relative;
    .directorist-modal__header{
        position: relative;
        padding: 15px;
        border-bottom: 1px solid $border-color-normal;
        .directorist-modal__header--title{
            font-size: 16px;
            margin: 0;
        }
        .directorist-modal-close{
            position: absolute;
            right: 15px;
            top: 10px;
            line-height: 1.45;
            padding: 6px;
        }
    }
    .directorist-modal__body{
        padding: 20px 25px;
    }
    .directorist-modal__footer{
        border-top: 1px solid $border-color-normal;
        padding: 18px;
        .directorist-modal__action{
            display: flex;
            justify-content: flex-end;
            margin: -7.5px;
            button{
                margin: 7.5px;
            }
        }
    }
}
.directorist-modal__dialog.directorist-modal--lg {
    width: 800px;
}

.directorist-modal__dialog.directorist-modal--xl {
    width: 1140px;
}

.directorist-modal__dialog.directorist-modal--sm {
    width: 300px;
}

.directorist-modal.directorist-fade {
    transition: .3s ease;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}

.directorist-modal.directorist-fade:not(.directorist-show) {
    opacity: 0;
    visibility: hidden;
}

.directorist-modal.directorist-show .directorist-modal__dialog {
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease;
}

// Modal Alert
.directorist-modal-alert{
    .directorist-modal__content{
        .directorist-modal__body{
            padding: 40px 25px;
        
            &.directorist-modal-alert-error{
                .directorist-modal-alert-icon{
                    border-color: $danger;
                    i{
                        color: $danger;
                    }
                }
            }

            &.directorist-modal-alert-success{
                .directorist-modal-alert-icon{
                    border-color: $success;
                    i{
                        color: $success;
                    }
                }
            }

            .directorist-modal-alert-icon{
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 2px solid $warning;
                margin: 0 auto 15px;
                color: $warning;
                i{
                    font-size: 24px;
                }
            }
            .directorist-modal-alert-text{
                text-align: center;
                h3{
                    font-size: 30px;
                    font-weight: 500;
                    margin: 0 0 15px;
                    &:empty{
                        display: none;
                    }
                }
                p{
                    font-size: 18px;
                    margin-bottom: 0;
                    color: $body-color;
                    &:empty{
                        display: none;
                    }
                }
            }
        }

        .directorist-modal__footer{
            display: none;
            &.directorist-modal-alert-action{
                display: flex;
                justify-content: center;
                .directorist-btn{
                    &+.directorist-btn{
                        margin-left: 15px;
                    }
                }
            }
            .directorist-btn{
                border: 1px solid;
                &.directorist-btn-info{
                    background-color: $info;
                    border-color: $info;
                }
            }
        }
    }
}

/* Responsive CSS */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .at-modal-content.at-modal-xl,
    .at-modal-content.at-modal-lg,
    .at-modal-content.at-modal-md,
    .at-modal-content.at-modal-sm{
        width: calc(100% - 60px);
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .at-modal-content.at-modal-xl,
    .at-modal-content.at-modal-lg,
    .at-modal-content.at-modal-md,
    .at-modal-content.at-modal-sm{
        width: calc(100% - 60px);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .at-modal-content.at-modal-xl,
    .at-modal-content.at-modal-lg,
    .at-modal-content.at-modal-md,
    .at-modal-content.at-modal-sm{
        width: calc(100% - 60px);
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .at-modal-content.at-modal-xl,
    .at-modal-content.at-modal-lg,
    .at-modal-content.at-modal-md,
    .at-modal-content.at-modal-sm{
        width: calc(100% - 30px);
    }
}

