// Directorist Pagination

.directorist-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  .page-numbers {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    color: var(--directorist-color-body);
    background-color: var(--directorist-color-white);
    border: 2px solid var(--directorist-color-border);
    transition: border 0.3s ease, color 0.3s ease;
    .directorist-icon-mask{
      &:after{
        width: 14px;
        height: 14px;
        background-color: var(--directorist-color-body);
      }
    }
  
    span{
      border: 0 none;
      min-width: auto;
      margin: 0;
    }

    &:hover,
    &.current {
      border-color: var(--directorist-color-primary);
      color: var(--directorist-color-primary);
      .directorist-icon-mask{
        &:after{
          background-color: var(--directorist-color-primary);
        }
      }
    }
  }
}
