// Directorist Pagination

.directorist-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  .page-numbers {
    font-size: 14px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 38px;
    width: 38px;
    background-color: var(--directorist-color-white);
    color: var(--directorist-color-body);
    border: 1px solid var(--directorist-color-border);
    border-radius: 10px;
    .directorist-icon-mask{
      &:after{
        width: 14px;
        height: 14px;
        background-color: var(--directorist-color-body);
      }
    }
    &.current {
      height: 36px;
      width: 36px;
      border-width: 2px;
      border-color: var(--directorist-color-primary);
      color: var(--directorist-color-primary);
    }
  }
  a.page-numbers {
    span{
      border: 0 none;
      min-width: auto;
      margin: 0;
    }
  }
}
