body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider {
  position: relative;
  background-color: gainsboro;
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__body {
  padding-top: 52.25%;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: gainsboro;
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__controlRight,
body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__controlLeft {
  position: absolute;
  top: 50%;
  z-index: 99;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
/*rtl:begin:ignore*/
body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__controlRight {
  left: unset;
  right: 15px;
}
body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__controlLeft {
  right: unset;
  left: 15px;
}
/*rtl:end:ignore*/

body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__arrowBtn {
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 13px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__arrowBtn:hover,
body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__arrowBtn:active,
body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__arrowBtn:visited,
body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__arrowBtn:focus  {
  border: none;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__icon {
  color: #fff;
  font-size: 13px;
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__arrowBtn .plasmaSliderIcon {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 12px;
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__contents {
  overflow: hidden;
  z-index: 88;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__contentsWrap {
  position: relative;
  -webkit-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  height: 100%;
  width: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  transition: all ease-in-out 300ms;
  left: 0;
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__bg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: gainsboro;
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__bgImg,
body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__bgImgBlur {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__bgImgBlur {
  z-index: 55;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__bgImg {
  z-index: 88;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}
body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__bgImg.plasmaSlider__contain {
  z-index: 88;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}
body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__bgImg.plasmaSlider__cover  {
  z-index: 88;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__sliderItem {
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSliderSkin {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__footer {
  display: block;
  overflow-y: hidden;
  overflow-x: auto;
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__thumbnailList {
  display: block;
  padding: 3px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}
body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__thumbnailListItem {
  position: relative;
  display: inline-block;
  margin: 2px;
  height: 80px;
  cursor: pointer;
  border: 2px solid transparent;
}
body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__thumbnailListItem.active::before {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0, 0.6);
}
body.atbd_content_active #directorist.atbd_wrapper .plasmaSlider__thumbnailListItemImg {
  width: auto;
  height: 100%;
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSliderTempImage {
  padding-top: 52.25%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSliderTempImage .plasmaSliderTempImgBlur,
body.atbd_content_active #directorist.atbd_wrapper .plasmaSliderTempImage .plasmaSliderTempImg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
body.atbd_content_active #directorist.atbd_wrapper .plasmaSliderTempImage .plasmaSliderTempImgBlur {
  width: 100%;
  height: 100%;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSliderTempImage .plasmaSliderTempImg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSliderTempImage .plasmaSliderTempImg.plasmaSlider__cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSliderImages,
body.atbd_content_active #directorist.atbd_wrapper .plasmaSliderImageItem {
  display: none;
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSliderIcon {
  display: inline-block;
  font-size: 1rem;
  background-repeat: no-repeat;
  background-size: contain !important;
  background-position: center;
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSliderIcon.psi-angle-right {
  background-image: url('../../../images/angle-right-solid.svg');
}

body.atbd_content_active #directorist.atbd_wrapper .plasmaSliderIcon.psi-angle-left {
  background-image: url('../../../images/angle-left-solid.svg');
}
