/**
 * Plasma Slider
 * Company: Aazz Tech
 * Develoepr: Syed Galib Ahmed
 * Version: 1.0
 * Initial Release: 1 February, 2020
 * */

.plasmaSlider {
  position: relative;
  background-color: gainsboro;
}

.plasmaSlider__body {
  padding-top: 52.25%;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: gainsboro;
}

.plasmaSlider__controlRight,
.plasmaSlider__controlLeft {
  position: absolute;
  top: 50%;
  z-index: 99;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/*rtl:begin:ignore*/
.plasmaSlider__controlRight {
  left: unset;
  right: 15px;
}

.plasmaSlider__controlLeft {
  right: unset;
  left: 15px;
}

/*rtl:end:ignore*/

.plasmaSlider__arrowBtn {
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 13px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
}

.plasmaSlider__arrowBtn:hover,
.plasmaSlider__arrowBtn:active,
.plasmaSlider__arrowBtn:visited,
.plasmaSlider__arrowBtn:focus {
  border: none;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.plasmaSlider__icon {
  color: #fff;
  font-size: 13px;
}

.plasmaSlider__arrowBtn .plasmaSliderIcon {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 12px;
}

.plasmaSlider__contents {
  overflow: hidden;
  z-index: 88;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.plasmaSlider__contentsWrap {
  position: relative;
  -webkit-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  height: 100%;
  width: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  transition: all ease-in-out 300ms;
  left: 0;
}

.plasmaSlider__bg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: gainsboro;
}

img.plasmaSlider__bgImg,
img.plasmaSlider__bgImgBlur {
  display: block;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.plasmaSlider__bgImgBlur {
  z-index: 55;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -webkit-animation: plasmaSliderZoomIn linear infinite 20s;
  animation: plasmaSliderZoomIn linear infinite 20s;
}

.plasmaSlider__bgImg {
  z-index: 88;
  -o-object-fit: contain;
  object-fit: contain;
}

.plasmaSlider__bgImg.plasmaSlider__contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.plasmaSlider__bgImg.plasmaSlider__cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.plasmaSlider__sliderItem {
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.plasmaSliderSkin {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.plasmaSlider__footer {
  display: block;
  overflow-y: hidden;
  overflow-x: auto;
}

.plasmaSlider__thumbnailList {
  display: block;
  padding: 3px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

.plasmaSlider__thumbnailListItem {
  position: relative;
  display: inline-block;
  margin: 2px;
  height: 80px;
  cursor: pointer;
  border: 2px solid transparent;
}

.plasmaSlider__thumbnailListItem.active::before {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.plasmaSlider__thumbnailListItemImg {
  width: auto;
  height: 100%;
}

.plasmaSliderTempImage {
  padding-top: 52.25%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.plasmaSliderTempImage .plasmaSliderTempImgBlur,
.plasmaSliderTempImage .plasmaSliderTempImg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.plasmaSliderTempImage .plasmaSliderTempImgBlur {
  width: 100%;
  height: 100%;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -webkit-animation: plasmaSliderZoomIn linear infinite 20s;
  animation: plasmaSliderZoomIn linear infinite 20s;
}

.plasmaSliderTempImage .plasmaSliderTempImg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.plasmaSliderTempImage .plasmaSliderTempImg.plasmaSlider__cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.plasmaSliderImages,
.plasmaSliderImageItem {
  display: none;
}

.plasmaSliderIcon {
  display: inline-block;
  font-size: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.plasmaSliderIcon.psi-angle-right {
  background-image: url('../../images/angle-right-solid.svg');
}

.plasmaSliderIcon.psi-angle-left {
  background-image: url('../../images/angle-left-solid.svg');
}

@keyframes plasmaSliderZoomIn {
  0% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1.2);
  }
}