// Search Home Styles
.directorist-search-top{
    text-align: center;
    margin-bottom: 34px;
    @include e(title){
        color: #51526E;
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 18px;
    }
    @include e(subtitle){
        color: #51526E;
        font-size: 18px;
        opacity: .80;
        text-align: center;
    }
}

.directorist-search-home-contents{
    background-size: cover;
    padding: 230px 0 265px;
    z-index: 2;
}

// Directorist Search form top
.directorist-search-home-contents{
    .directorist-search-form-top{
        background-color: #fff;
        border-radius: 6px;
        padding: 10px 20px 10px 0;
        flex-wrap: wrap;
        margin: -5px 0;
        .directorist-search-field{
            flex: auto;
            flex-direction: column;
            min-width: 200px;
            margin: 5px 0;
            &:not(:last-child){
                border-right: 1px solid $border-color;
            }
            .directorist-form-element{
                border: 0 none;
            }
            .directorist-select .directorist-select__label{
                border: 0 none;
            }
            >label{
                display: none;
            }
            .wp-picker-container{
                .wp-picker-input-wrap{
                    label{
                        display: none;
                    }
                }
            }
            .directorist-search-tags {
                flex-direction: column;
                .directorist-checkbox{
                    margin-bottom: 10px;
                }
            }
        }
        .directorist-search-form-action{
            display: flex;
            .directorist-btn.directorist-btn-lg{
                border-radius: 6px;
                font-weight: 400;
                line-height: 1.75;
                padding: 11px 15px;
            }
            button{
                text-decoration: none;
                text-transform: capitalize;
            }
            @include e(filter){
                .directorist-filter-btn{
                    background-color: #fff;
                }
            }
        }
    }
}