// Search Home Styles
.directorist-search-top {
  text-align: center;
  margin-bottom: 34px;

  @include e(title) {
    color: var(--directorist-color-primary);
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 18px;
  }

  @include e(subtitle) {
    color: var(--directorist-color-body);
    font-size: 18px;
    opacity: 0.8;
    text-align: center;
  }
}

.directorist-search-contents {
  background-size: cover;
  padding: 100px 0 120px;
  z-index: 2;
}

// Search Form
.directorist-search-form {
  @include e('box-wrap') {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
  @include e('box') {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border: none;
    border-radius: 12px;
    padding: 22px 22px 22px 25px;
    background-color: var(--directorist-color-white);
    box-shadow: var(--directorist-box-shadow);
    @media screen and (max-width: 767px) {
      gap: 15px;
      flex-direction: column;
    }
    @media only screen and (max-width: 575px) {
      padding: 0;
      box-shadow: unset;
    }
  }
  @include e('top') {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 18px;
    margin-top: 5px;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    @media screen and (min-width: 576px) {
      .directorist-search-modal__contents {
        border-radius: 0;
      }

      .directorist-search-query:after {
        display: none;
      }

      .directorist-search-modal__input {
        flex: 30%;
        margin: 0;
        border: none;
        border-radius: 0;
        .directorist-search-modal__input__btn {
          display: none;
        }
        .directorist-form-group .directorist-form-element:focus {
          border-bottom: 2px solid var(--directorist-color-primary);
        }
      }

      .directorist-search-modal__contents__body .directorist-search-modal__input .directorist-search-field {
        border: 0 none;
      }
      
      .directorist-search-modal__input:not(:nth-last-child(2)) .directorist-search-field {
        border-right: 1px solid var(--directorist-color-border);
      }
      
      .directorist-search-adv-filter.directorist-advanced-filter.directorist-search-modal__contents {
          position: unset;
          opacity: 1 !important;
          visibility: visible !important;
          transform: unset;
          width: 100%;
          margin: 0;
          max-width: unset;
      }
      
      .directorist-search-modal__contents__body {
          height: auto;
          padding: 0;
          display: flex;
          gap: 18px;
          margin: 0;
      }
      .directorist-advanced-filter .directorist-form-group.directorist-icon-left .directorist-input-icon {
        left: 15px;
      }
      .directorist-advanced-filter .directorist-form-group.directorist-icon-right .directorist-input-icon,
      .select2-container[dir="ltr"] .directorist-select2-addons-area .directorist-select2-dropdown-toggle {
        right: 15px;
      }
      .select2-container[dir="ltr"] .directorist-select2-addons-area .directorist-select2-dropdown-close {
        right: 30px;
      }
      .directorist-search-modal__input:focus .directorist-select2-dropdown-toggle, 
      .directorist-search-modal__input:focus .directorist-search-field .directorist-input-icon, 
      .directorist-search-modal__input:focus-within .directorist-select2-dropdown-toggle, 
      .directorist-search-modal__input:focus-within .directorist-search-field .directorist-input-icon {
        display: block;
      }
    }

    .directorist-search-category {
      width: calc(100% + 15px);
    }

    .directorist-search-field {
      flex: 30%;
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
      padding-bottom: 0;
      padding-right: 15px;
      box-sizing: border-box;
      &:not(:last-child) {
        border-right: 1px solid var(--directorist-color-border);
      }

      @media screen and (max-width: 767px) {
        flex: 44%;
      }

      @media screen and (max-width: 575px) {
        flex: 100%;
        border: none !important;
      }

      .directorist-form-element {
        border: 0 none;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
        border-bottom: 2px solid transparent;
        &:focus {
          border-color: var(--directorist-color-primary);
        }
      }

      .directorist-year-ranges__item,
      .directorist-price-ranges__item {
        .directorist-form-element {
          border-bottom: 2px solid var(--directorist-color-border);
          &:focus {
            border-color: var(--directorist-color-primary);
          }
        }
      }
      .directorist-select select,
      .directorist-select .directorist-select__label {
        border: 0 none;
      }

      > label {
        display: none;
      }

      .wp-picker-container .wp-picker-input-wrap label {
        display: none;
      }

      .directorist-checkbox-wrapper,
      .directorist-radio-wrapper,
      .directorist-search-tags {
        padding: 0;
        gap: 20px;
        flex-wrap: wrap;
      }

      .directorist-btn-ml {
        font-size: 13px;
        font-weight: 500;
        color: var(--directorist-color-body);
      }
    }

    .select2-container {
        width: 100%;

        &.select2-container--default .select2-selection--single {
          border: 0 none;
        }
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button{
      appearance: none;
      margin: 0;
    }
  }
}
.directorist-search-form-action {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 10px;
  @media only screen and (max-width: 767px) {
    margin-left: 0;
  }
  @media only screen and (max-width: 575px) {
    width: 100%;
  }

  button {
    text-decoration: none;
    text-transform: capitalize;
  }

  @include e(filter) {
    .directorist-filter-btn {
      height: 50px;
      padding: 0 18px;
      background-color: var(--directorist-color-white);
      gap: 6px;
      .directorist-icon-mask::after {
        height: 12px;
        width: 14px;
        background-color: var(--directorist-color-body);
      }
      @media only screen and (max-width: 767px) {
        padding-left: 0;
      }
    }
    @media only screen and (max-width: 575px) {
      display: none;
    }
  }
  @include e(submit) {
    .directorist-btn-search {
      height: 50px;
      padding: 0 25px;
      border-radius: 10px;
      gap: 8px;
      .directorist-icon-mask::after {
        height: 16px;
        width: 16px;
        background-color: var(--directorist-color-white);
        transform: rotate(270deg);
      }
    }
    @media only screen and (max-width: 575px) {
     display: none;
    }
  }
  @include e(modal) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media only screen and (max-width: 575px) {
      flex: 0 0 100%;
    }
    @media only screen and (min-width: 576px) {
      display: none;
    }
    @include e('btn-search') {
      gap: 8px;
      width: 100%;
      height: 44px;
      padding: 0 25px;
      font-weight: 600;
      border-radius: 22px;
      flex: 1;
      i::after {
        width: 16px;
        height: 16px;
        transform: rotate(270deg);
      }
    }
    @include e('btn-advanced') {
      display: flex;
      align-items: center;
      justify-content: center;
      .directorist-icon-mask:after {
        height: 16px;
        width: 16px;
      }
    }
  }
}

/* loading effect */
.atbdp-form-fade {
  position: relative;
  border-radius: 8px;
  overflow: visible;
  &.directorist-search-form-box  {
    padding: 15px;
    border-radius: 12px;
    &:after {
      border-radius: 12px;
    }
  }
  &.directorist-search-field input[type="text"] {
    padding-left: 15px;
  }

  &:before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border: 2px solid var(--directorist-color-primary);
    border-top-color: transparent;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: atbd_spin2 2s linear infinite;
    z-index: 9999;
  }

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9998;
  }
}

// Directorist Listing Type Selection
.directorist-listing-type-selection {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  list-style-type: none;

  @media only screen and (max-width: 767px) {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  @media only screen and (max-width: 575px) {
    max-width: fit-content;
    justify-content: flex-start;
  }

  @include e(item) {
    margin-bottom: 25px;
    list-style: none;
    @media screen and (max-width: 575px){
      margin-bottom: 15px;
    }
    &:not(:last-child) {
      margin-right: 25px;
      @media screen and (max-width: 575px){
        margin-right: 20px;
      }
    }
    a {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 15px;
      font-weight: 500;
      text-decoration: none;
      white-space: nowrap;
      padding: 0 0 8px;
      color: var(--directorist-color-body);
      &:hover {
        color: var(--directorist-color-primary);
      }
      &:focus {
        background-color: transparent;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        border-radius: 6px;
        opacity: 0;
        visibility: hidden;
        background-color: var(--directorist-color-primary);
      }
      .directorist-icon-mask{
        display: inline-block;
        margin: 0 0 7px;
        &:after{
          width: 20px;
          height: 20px;
          background-color: var(--directorist-color-body);
        }
      }
    }

    .directorist-listing-type-selection__link--current {
      font-weight: 400;
      color: var(--directorist-color-primary);
      .directorist-icon-mask::after{
        background-color: var(--directorist-color-primary);
      }
      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.directorist-search-form-wrap .directorist-listing-type-selection {
  padding: 0;
  margin: 0;
  @media only screen and (max-width: 575px) {
    margin: 0 auto;
  }
}

// Search Home Advance Filter
.directorist-search-contents {
  .directorist-btn-ml {
    &:after {
      content: "";
      display: inline-block;
      margin-left: 5px;
      mask-image: url(../../../icons/line-awesome/svgs/angle-down-solid.svg);
      width: 12px;
      height: 12px;
      background-color: var(--directorist-color-body);
    }

    &.active {
      &:after {
        mask-image: url(../../../icons/line-awesome/svgs/angle-up-solid.svg);
      }
    }
  }
}

// Directorist listing Category
.directorist-listing-category-top {
  text-align: center;
  margin-top: 35px;
  @media screen and (max-width: 575px){
    margin-top: 20px;
  }
  h3 {
    font-size: 18px;
    font-weight: 400;
    color: var(--directorist-color-body);
    margin-bottom: 0;
    display: none;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px 35px;
    margin: 0;
    list-style: none;
    @media only screen and (max-width: 575px) {
      gap: 12px;
      overflow-x: auto;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }
  li a {
    color: var(--directorist-color-body);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    width: max-content;
    gap: 10px;
    i,
    span,
    span.las,
    span.lar,
    span.lab,
    span.fab,
    span.fas,
    span.la {
      font-size: 15px;
      color: var(--directorist-color-body);
    }
    .directorist-icon-mask::after {
      position: relative;
      height: 15px;
      width: 15px;
      background-color: var(--directorist-color-body);
    }

    p {
      font-size: 14px;
      line-height: 1;
      font-weight: 400;
      margin: 0;
      color: var(--directorist-color-body);
    }
    @media screen and (max-width: 575px){
      i {
        display: none;
      }
    }
  }
}

.directorist-search-field .directorist-location-js +.address_result {
  position: absolute;
  width: 100%;
  left: 0;
  top: 45px;
  z-index: 1;
  max-height: 345px;
  overflow-y: scroll;
  border-radius: 10px;
  background-color: var(--directorist-color-white);
  box-shadow: var(--directorist-box-shadow);
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 7px;
    margin: 0 0 15px;
    list-style-type: none;
    a {
      display: flex;
      align-items: flex-start;
      gap: 15px;
      font-size: 14px;
      margin: 0 13px;
      color: var(--directorist-color-body);
      background-color: var(--directorist-color-white);
      border-radius: 10px;
      text-decoration: none;
      .location-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 36px;
        max-width: 36px;
        height: 36px;
        border-radius: 10px;
        background-color: var(--directorist-color-bg-gray);
        i:after {
          width: 16px;
          height: 16px;
        }
      }
      &.current-location {
        height: 50px;
        margin: 0 0 13px;
        padding: 0 8px;
        align-items: center;
        color: var(--directorist-color-primary);
        background-color: var(--directorist-color-bg-gray);
        .location-address {
          position: relative;
          &:before {
            content: 'Current Location';
          }
        }
      }
      &:hover {
        color: var(--directorist-color-primary);
      }
    }
    li {
      border: none;
      padding: 0;
      margin: 0;
    }
  }
}

/* Zipcode Search */
.directorist-zipcode-search .directorist-search-country {
  position: absolute;
  width: 100%;
  left: 0;
  top: 45px;
  background: var(--directorist-color-white);
  box-shadow: 0 5px 10px rgb(145 146 163 / 20%);
  border-radius: 3px;
  z-index: 1;
  max-height: 300px;
  overflow-y: scroll;

  ul {
    list-style: none;
    padding: 0;
    a {
      font-size: 14px;
      color: var(--directorist-color-gray);
      line-height: 22px;
      display: block;
    }
    li {
      border-bottom: 1px solid var(--directorist-color-border);
      padding: 10px 15px 10px;
      margin: 0;
    }
  }
}

.directorist-search-contents .directorist-search-form-top .form-group.open_now {
  flex: 30.8%;
  border-right: 1px solid var(--directorist-color-border);
}

