.select2-selection__arrow,
.select2-selection__clear {
    display: none !important;
}

.directorist-select2-addons-area {
    position: absolute;
    right: 5px;
    top: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translate(0, -50%);
    z-index: 8;
}

.directorist-select2-addon {
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.directorist-select2-dropdown-toggle {
    height: auto;
    width: 25px;
}

.directorist-select2-dropdown-close {
    height: auto;
    width: 25px;
    .directorist-icon-mask::after{
        width: 15px;
        height: 15px;
    }
}

.directorist-select2-addon .directorist-icon-mask::after{
    width: 13px;
    height: 13px;
}