// Navigation
.directorist-tab-navigation {
    padding: 0;
    margin: 0 -10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.directorist-tab-navigation-list-item {
    position: relative;
    list-style: none;
    flex-grow: 1;
    text-align: center;
    margin: 10px;
    padding: 15px 20px;
    border-radius: 4px;
    flex-basis: 50%;
    background-color: var(--directorist-color-bg-light);

    &.--is-active {
        color: var(--directorist-color-white);
        background-color: var(--directorist-color-primary);
    }

    &.--is-active::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid var(--directorist-color-primary);
        transform: translate(-50%, 0);
        
    }

    .directorist-tab-navigation-list-item-link {
        margin: -15px -20px;
    }
}

.directorist-tab-navigation-list-item-link {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 4px;
    color: var(--directorist-color-body);
    background-color: var(--directorist-color-bg-light);

    &:active, &:visited, &:focus {
        outline: none;
        box-shadow: none;
        color: var(--directorist-color-body);
    }

    &.--is-active {
        cursor: default;
        color: var(--directorist-color-white);
        background-color: var(--directorist-color-primary);
    }

    &.--is-active::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid var(--directorist-color-primary);
        transform: translate(-50%, 0);
    }
}

// Content
.directorist-tab-content {
    display: none;

    &.--is-active {
        display: block;
    }
}