// Widget Style
.directorist-widget {
  margin-bottom: 25px;
  .directorist-card__header.directorist-widget__header {
    padding: 15px 25px;

    .directorist-widget__header--title {
      flex-wrap: wrap;
    }
  }

  .directorist-card__body.directorist-weidget__body {
    padding: 20px 30px;
  }
}

// Owner Contact Widget
.directorist-widget__listing-contact{
  .directorist-form-group {
    margin-bottom: 20px;
    .directorist-form-element{
      height: 46px;
      padding: 8px 16px;
      border-radius: 10px;
      border: 1px solid var(--directorist-color-border);
      &:focus{
        border: 1px solid var(--directorist-color-dark);
      }
    }
  }
  textarea{
    min-height: 130px;
    resize: none;
  }
  .directorist-btn{
    width: 100%;
  }
}

//Submit Listing Widget
.directorist-widget__submit-listing{
  .directorist-btn{
    width: 100%;
  }
}

// Directorist author info
.directorist-widget__author-info .diretorist-view-profile-btn{
  width: 100%;
  margin-top: 25px;
}

// Widget map
.directorist-single-map{
  &.directorist-widget__map.leaflet-container{
    margin-bottom: 0;
    border-radius: 16px;
  }
}

// Directorist widget Listing
.directorist-widget-listing__single{
  display: flex;
  &:not(:last-child){
    margin-bottom: 25px;
  }
}
.directorist-widget-listing__image{
  width: 70px;
  height: 70px;
  margin-right: 15px;
  a{
    &:focus{
      outline: none;
    }
  }
  img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
}
.directorist-widget-listing__content{
  display: flex;
  flex-direction: column;
  .directorist-widget-listing__title{
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    color: var(--directorist-color-dark);
  }
  a{
    text-decoration: none;
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--directorist-color-dark);
    &:focus{
      outline: none;
    }
  }
  .directorist-widget-listing__meta{
    display: flex;
    align-items: center;
    margin-top: 2px;
  }
  .directorist-widget-listing__rating{
    display: flex;
  }
  .directorist-widget-listing__rating-point{
    font-size: .93rem;
    font-weight: 600;
    display: inline-block;
    margin: 0 8px;
    color: var(--directorist-color-body);
  }
  .directorist-icon-mask{
    line-height: 1;
    &:after{
      width: 12px;
      height: 12px;
      background-color: var(--directorist-color-warning);
    }
  }
  .directorist-widget-listing__reviews{
    font-size: 13px;
    text-decoration: underline;
    color: var(--directorist-color-body);
  }
  .directorist-widget-listing__price{
    font-size: 1rem;
    font-weight: 600;
    color: var(--directorist-color-dark);
  }
}

// Widget Video
.directorist-widget__video{
  .directorist-embaded-item{
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
}

// Widget List
.directorist-widget .directorist-widget-list {
  li {
    &:hover {
      .directorist-widget-list__icon {
        background-color: var(--directorist-color-primary);
        color: #fff;
      }
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    span.la,
    span.fa {
      cursor: pointer;
      margin: 0 5px 0 0;
    }
  }

  .directorist-widget-list__icon {
    font-size: 12px;
    display: inline-block;
    margin-right: 10px;
    line-height: 28px;
    width: 28px;
    text-align: center;
    background: #f1f3f8;
    color: #9299b8;
    border-radius: 50%;
  }

  .directorist-child-category {
    padding-left: 44px;
    margin-top: 2px;

    li {
      a {
        position: relative;

        &:before {
          position: absolute;
          content: '-';
          left: -12px;
          top: 50%;
          font-size: 20px;
          transform: translateY(-50%);
        }
      }
    }
  }
}

//Widget Category/Location
.directorist-widget-taxonomy{
  .directorist-taxonomy-list-one{
    margin-block-end: 10px;
    .directorist-taxonomy-list{
      @include e('card'){
        background: none;
        padding: 0;
        min-height: auto;
        span{
          font-weight: var(--directorist-fw-normal);
        }
      }
      @include e('icon'){
        .directorist-icon-mask{
          background: var(--directorist-color-light);
        }
      }
    }
    .directorist-taxonomy-list__icon-default{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: var(--directorist-color-light);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &::after{
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--directorist-color-primary);
        display: block;
      }
    }
    .directorist-taxonomy-list__toggle--open + .directorist-taxonomy-list__sub-item{
      background: none;
      padding-bottom: 0;
      padding-inline-start: 52px;
    }
    .directorist-taxonomy-list__toggle--open:not(.directorist-taxonomy-list__card--icon) + .directorist-taxonomy-list__sub-item{
      padding-inline-start: 25px;
    }
  }
}
.directorist-widget-location .directorist-taxonomy-list-one{
  &:last-child{
    margin-bottom: 0;
  }
  .directorist-taxonomy-list__toggle--open + .directorist-taxonomy-list__sub-item {
    padding-inline-start: 25px;
  }
}

// Widget Tags
.directorist-widget-tags{
  ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  li{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a{
    text-decoration: none;
    border: 1px solid var(--directorist-color-border);
    padding: 5px 15px;
    border-radius: var(--directorist-border-radius-xs);
    display: block;
    font-size: 15px;
    font-weight: var(--directorist-fw-normal);
  }
}

// Widget Advanced Search
.directorist-widget-advanced-search{
  .directorist-search-field-review{
    .directorist-checkbox,
    .directorist-radio {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 15px;
      flex-direction: column;
    }
    .directorist-checkbox__label{
      i{
        display: inline-block;
      }
    }
  }
  .directorist-btn-reset-js{
    background: var(--directorist-color-light);
    font-size: 14px;
    border-radius: 10px;
    padding: 0 32px;
    height: 46px;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 0;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .directorist-advanced-filter__action{
    justify-content: center;
    padding: 0 0;
  }
}

// Widget Authentication
.directorist-widget-authentication{
  form{
    margin-bottom: 15px;
  }
  p{
    label,
    input:not(input[type="checkbox"]){
      display: block;
    }
    label{
      padding-bottom: 10px;
    }
    input:not(input[type="checkbox"]){
      height: 46px;
      padding: 8px 16px;
      border-radius: 10px;
      border: 1px solid var(--directorist-color-border);
      width: 100%;
      box-sizing: border-box;
    }
  }
  .login-submit{
    button{
      cursor: pointer;
    }
  }
}
