@import "../vendor/bootstrap/config.bs";
//mixins
@import "../mixins/general";

// add listing types
.directorist-add-listing-types {
    @include e(single) {

        @include e(link) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: #202428 !important;
            padding: 30px 0;
            border-radius: 4px;
            color: #fff !important;
            font-size: 17px !important;
            min-height: 118px;

            i {
                display: inline-block;
                margin-bottom: 10px;
            }
        }
    }
}

.directorist-add-listing-form,
#directiost-listing-fields_wrapper {
    .directorist-content-module {
        background: #fff;
        margin-bottom: 35px;

        .directorist-form-group {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
}


/* ==========================
    add listing form fields
============================= */
/* listing label */
.directorist-form-label {
    display: block;
    color: #202428;
    margin-bottom: 10px;
    font-weight: 500;
}

/* listing type */
.directorist-form-listing-type {
    @include e(title) {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        color: #272b41;
        letter-spacing: normal;
    }

    @include e(single) {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .directorist-radio input[type=radio]+.directorist-radio__label {
        font-size: 15px;
        color: #202428;
        padding-left: 23px;
        font-weight: 700;

        small {
            font-weight: normal;
            color: $success;
        }
    }
}

/* Pricing */
.directorist-form-pricing-field {
    @include e(options) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 -5px 10px;

        .directorist-checkbox,
        .directorist-form-pricing-field__options__divider,
        .directorist-form-pricing-field__options__info {
            padding: 0 5px;
        }

        .directorist-checkbox input[type=checkbox]+.directorist-checkbox__label {
            font-size: 15px;
            font-weight: 700;
        }
    }

    select.directorist-form-element {
        padding: 0 20px;
    }
}

/* location */
.directorist-select-multi select {
    display: none;
}

#directorist-location-select {
    z-index: 113 !important;
}

/* tags */
#directorist-tag-select {
    z-index: 112 !important;
}

/* categories */
#directorist-category-select {
    z-index: 111 !important;
}

.directorist-form-group .select2-selection {
    border-color: #ececec;
}

.directorist-form-group .select2-container--default .select2-selection {
    min-height: 40px;
    padding: 0 15px;

    .select2-selection__rendered {
        line-height: 26px;
    }

    .select2-selection__clear {
        padding-right: 15px;
    }

    .select2-selection__arrow {
        right: 10px;
    }

    input {
        min-height: 26px;
    }
}

.select2-container--open .select2-dropdown.select2-dropdown--below {
    top: 30px;
}



/* hide contact owner */
.directorist-hide-owner-field.directorist-checkbox input[type=checkbox]+.directorist-checkbox__label {
    font-size: 15px;
    font-weight: 700;
}

/* social info */
.directorist-form-social-fields {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -10px;

    .directorist-form-group {
        flex: 1;
        padding: 0 10px;

        &.directorist-form-social-fields__action {
            flex: auto;
            margin-bottom: 15px;
        }

        select.directorist-form-element {
            padding: 0 20px;
        }
    }

    @include e(remove) {
        color: #fff;
        height: 42px;
        background: #e23636;
        border-radius: 3px;
        padding: 0 20px 0 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

/* Map style */
.directorist-map-coordinate {
    margin-top: 15px;
}

.directorist-map-coordinates {
    padding: 0 0 15px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px -15px 0;

    .directorist-form-group {
        flex: 1;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 290px;
    }

    @include e(generate) {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

.directorist-form-map-field__wrapper {
    margin-bottom: 10px;
}

.directorist-form-map-field__maps {
    #gmap {
        height: 400px;
    }
}

/* image upload */
.directorist-form-image-upload-field {
    .ezmu__btn.ezmu__input-label {
        background: #222222;
        color: #fff;
    }

    .ezmu__info-list-item {
        margin-right: 15px !important;
    }

    .ezmu__thumbnail-list-item {
        width: auto;
    }
}

//add listing image upload
.directorist-add-listing-wrapper {
    .ezmu__thumbnail-list-item {
        max-width: 300px;
        flex-basis: 300px;
    }

    .ezmu__thumbnail-list-item_back {
        height: 200px;
        width: 100%;
    }

    .ezmu__media-picker-buttons {
        margin-top: 10px;
    }

    .ezmu__titles-area {
        .ezmu__title-1 {
            font-size: 30px;
        }

        .ezmu__title-3 {
            font-size: 20px;
            margin-bottom: 1rem;
        }
    }

    .ezmu__btn {
        margin-bottom: 25px;
        background-color: $dark;
        color: #fff;
    }

    .ezmu__info-list {
        .ezmu__info-list-item {
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
}

/* form action */
.directorist-add-listing-form__action {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .directorist-form-submit {
        margin-top: 15px;

        @include e(btn) {
            &.atbd_loading {
                position: relative;

                &:after {
                    content: "";
                    border: 2px solid #f3f3f3;
                    border-radius: 50%;
                    border-top: 2px solid #656a7a;
                    width: 20px;
                    height: 20px;
                    -webkit-animation: rotate360 2s linear infinite;
                    animation: rotate360 2s linear infinite;
                    display: inline-block;
                    margin: 0 0 0 10px;
                    position: relative;
                    top: 4px;
                }
            }
        }
    }

    #listing_notifier {
        margin-top: 10px;
    }

    .directorist-form-group {
        text-align: center;
    }

    .directorist-form-required {
        padding-left: 5px;
    }
}

/* Custom Fields */
/* select */
.directorist-custom-field-select {
    select.directorist-form-element {
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* file upload */
.plupload-upload-uic {
    width: 420px;
    margin: 0 auto !important;
    border: 1px dashed #dbdee9;
    padding: 30px;
    text-align: center;

    .directorist-dropbox-title {
        font-weight: 500;
        margin-bottom: 15px;
        font-size: 15px;
    }

    .directorist-dropbox-file-types {
        margin-top: 10px;
        color: #9299b8;
    }
}

/* quick login */
.directorist-modal-container {
    display: none;
    margin: 0 !important;
    max-width: 100% !important;
    height: 100vh !important;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999999999999;
}

.directorist-modal-container.show {
    display: block;
}

.directorist-modal-wrap {
    display: flex;
    background-color: #00000078;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.directorist-modals {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.directorist-modal-header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
}

.directorist-modal-title-area {
    display: block;
}

.directorist-modal-header .directorist-modal-title {
    margin: 0;
    font-size: 24px;
}

.directorist-modal-actions-area {
    display: block;
    padding: 0 10px;
}

.directorist-modal-body {
    display: block;
    padding: 20px;
}

.directorist-form-privacy {
    margin-bottom: 10px;
}


/* =============================
    backend add listing form
================================*/
.add_listing_form_wrapper .hide-if-no-js {
    display: flex;
    justify-content: center;
}

#_listing_gallery {
    text-align: center;
}

#listing_form_info {
    .directorist-bh-wrap {
        .directorist-select {
            select {
                width: calc(100% - 1px);
                min-height: 42px;
                display: block !important;
                border-color: #ececec !important;
                padding: 0 10px;
            }
        }
    }
}

.directorist-map-field {
    #floating-panel {
        margin-bottom: 20px;

        #delete_marker {
            background-color: $danger;
            border: 1px solid $danger;
            color: #fff;
        }
    }
}

#listing_form_info {
    .atbd_content_module {
        &.atbd-booking-information {
            .atbdb_content_module_contents {
                padding-top: 20px;
            }
        }
    }
}

// Custome Field Checkbox & Radio

.directorist-custom-field-radio,
.directorist-custom-field-checkbox {
    display: flex;
    flex-wrap: wrap;

    .directorist-form-label,
    .directorist-custom-field-btn-more {
        width: 100%;
        flex: 0 0 100%;
    }

    .directorist-checkbox,
    .directorist-radio {
        flex: 0 0 25%;

        @media only screen and (max-width: 1599px) {
            flex: 0 0 33.333%;
        }

        @media only screen and (max-width: 1199px) {
            flex: 0 0 50%;
        }

        @media only screen and (max-width: 767px) {
            flex: 0 0 100%;
        }
    }

    .directorist-custom-field-btn-more {
        margin-top: 5px;

        &:after {
            font-size: 14px;
            font-family: "Line Awesome Free";
            content: "ï„‡";
            font-weight: 900;
            padding-left: 5px;
        }

        &.active {
            &:after {
                content: '\f106';
            }
        }
    }
}