@import "../vendor/bootstrap/config.bs";
//mixins
@import "../mixins/colors";
@import "../mixins/general";


/*  Plugin: PureScriptSearchSelect
    Author: SovWare
    URI: https://github.com/woadudakand/pureScriptSelect
*/

// Directorist Select Style
.directorist-select {
    min-height: 42px;
    width: 100%;

    &.directorist-select-active-js {
        z-index: 222 !important;
    }

    .directorist-select__label {
        font-size: 16px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-radius: 4px;
        min-height: 42px;
        padding: 0 15px;
        color: #7a82a6;
        background-color: #fff;
        border: 1px solid $border-color-normal;
        box-sizing: border-box;

        .directorist-select__label--icon,
        .directorist-select__label--text {
            pointer-events: none;
        }

        i,
        span.fa,
        span.la {
            font-size: 14px;
        }
    }

    select {
        padding: 0;
    }
}

.directorist-select__container {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    min-width: auto;
    background: #fff;
    cursor: pointer;
}

.directorist-select__container button,
.directorist-select__dropdown,
.directorist-select__dropdown input {
    width: 100%;
    margin: 0;
    padding: 0;
}

.directorist-select__dropdown {
    background: #fff;
    box-shadow: 0 10px 40px rgba(#868EAE, .30);
    padding: 15px;
    box-sizing: border-box;
    display: none;
    margin-top: 4px;
    max-height: 400px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 6px;
        background-color: rgb(241, 241, 241);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ddd;
    }

    &::-moz-scrollbar {
        width: 6px;
        background-color: rgb(241, 241, 241);
    }

    &::-moz-scrollbar-thumb {
        background-color: #ddd;
    }

    .directorist-select__search {
        font-size: 14px;
        box-shadow: 0 4px 15px rgba(#868EAE, .15);
        padding: 12px 15px;
        border: 1px solid #ececec;

        &:focus {
            outline: none;
            border-color: #ececec !important;
        }
    }

    .directorist-select__dropdown--inner {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                font-size: 14px;
                padding: 5px 10px;
                cursor: pointer;

                &:hover {
                    color: #2C99FF;
                }

                img {
                    width: 20px;
                    float: right;
                }
            }
        }
    }
}

.directorist-select__dropdown.directorist-select__dropdown-open {
    display: block;
}

.directorist-select__dropdown ul li b {
    float: right;
}

.directorist-select__container button .item {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.directorist-select__container button .item img {
    width: 100%;
}

.directorist-select__search--show {
    display: block;
}

.directorist-select__search--hide {
    display: none !important;
}

.directorist-select-item-show {
    background-color: #efefef;
    border-radius: 3px;
}

.items {
    display: inline-block;
    background: #ddd;
    padding: 5px;
    margin: 0 3px;
}

.hideListItem {
    background-color: #fff;
}

.showListItem {
    background-color: rgb(199, 6, 6);
}

// Directorist Multi Select
.directorist-select {
    &.directorist-select-multi {
        .directorist-select__container {
            .directorist-select__label {
                display: flex;
                flex-wrap: wrap;
                border: 1px solid #ddd;
                align-items: center;
                padding: 2.5px 10px;
                border-radius: 4px;

                input {
                    font-size: 14px;
                    border: 0 none;
                    width: auto;
                    padding: 5px;

                    &:focus {
                        outline: none;
                        border: 0 none;
                    }
                }

                .directorist-select__selected-list {
                    display: flex;
                    flex-wrap: wrap;
                    margin: -4px 6px -4px -4px;

                    .directorist-select__selected-list--item {
                        display: inline-block;
                        font-size: 12px;
                        font-weight: 600;
                        color: #fff;
                        padding: 5px 8px;
                        background-color: #3C3D58;
                        border-radius: 4px;
                        min-height: 17px;
                        margin: 4px;

                        .directorist-item-remove {
                            text-decoration: none;
                            position: relative;
                            top: 2px;

                            i,
                            span.fa,
                            span.la {
                                font-size: 12px;
                                pointer-events: none;
                                color: #fff;
                            }
                        }

                    }
                }

                .directorist-select__search {
                    flex: auto;
                }

                .directorist-select__selected-list,
                .directorist-select__search {
                    margin: 0;
                }
            }

            .directorist-select__dropdown {
                display: none;
                background: #fff;
                box-shadow: 0 10px 40px rgb(134 142 174 / 30%);
                padding: 15px;
                box-sizing: border-box;
                margin-top: 2px;
                max-height: 400px;
                overflow-y: auto;

                &.directorist-select__dropdown-open {
                    display: block;
                }

                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;

                    li {
                        font-size: 14px;
                        padding: 5px 10px;
                        cursor: pointer;
                        transition: 0.3s ease;

                        &.showListItem {
                            background-color: #F4F5F7;
                            border-radius: 4px;
                        }
                    }
                }
            }

            .directorist-error__msg {
                display: inline-block;
                margin-top: 12px;
            }

            &.directorist-error {
                .directorist-select__label {
                    border-color: #EF0000;
                }
            }
        }
    }
}