@import "../../bootstrap/config.bs";
@import "../mixins/colors";

#directorist.atbd_wrapper {
  .business-hour {
    .business-hour-title {
      margin-bottom: 10px;
      .module_title {
        font-size: 15px;
      }
      p {
        font-size: 13px;
      }
    }
  }
  .enable247hour {
    input, label {
      display: inline-block;
      font-weight: 400;
    }
  }
  .atbd_day_label {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .atbd_row_bg label {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .enable247hour{
    margin-bottom: 15px;
  }
  .atbd_backend_business_hour{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid $border-color;
    .atbd_backend_area_title{
      margin-top: 0;
    }
    .business-hour{
      margin-bottom: 20px;
    }
  }
  .atbd_directory_open_hours{
    ul li{
      border-bottom: 1px solid #ededed;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      font-size: 15px;
      .atbd_day{
        font-weight: 500;
      }
      &.atbd_closed{
        @extend .atbd_color-danger;
      }
      &.atbd_today{
        @extend .atbd_color-success;
      }
    }
  }
  .atbd_mark_as_closed{
    font-weight: 400;
    margin-top: 12px;
  }
}
